Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

chore: remove duplicate scripts in build.sh
  build.sh
Owners: @taosdata/merge

fix: remove unnecessary blank line in new framework test workflow
  .github/workflows/new-framework-test.yml
Owners: @feici02

temp
  .github/workflows/new-framework-test.yml
Owners: @feici02

temp
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix: remove unnecessary blank line in new framework test workflow
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix(taos): semphore is not destroy
  source/os/src/osSemaphore.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: add new error code to docs
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen

chore: fix markdown lint style
  conan/CMAKE_INTEGRATION.md
  conan/README.md
  conan/cppstub/README.md
  conan/cppstub/SUMMARY.md
  conan/fast-lzma2/README.md
  conan/fast-lzma2/USAGE.md
Owners: @taosdata/merge

chore: add conan-test like comman test command in build.sh
  build.sh
Owners: @taosdata/merge

Update new-framework-test.yml
  .github/workflows/new-framework-test.yml
Owners: @feici02

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

docs(jdbc): release 3.8.1 and update demo (#34433)
  .gitignore
  docs/en/07-develop/01-connect.md
  docs/en/14-reference/05-connector/14-java.md
  docs/examples/JDBC/JDBCDemo/README-jdbc-windows.md
  docs/examples/JDBC/JDBCDemo/pom.xml
  docs/examples/JDBC/SpringJdbcTemplate/pom.xml
  docs/examples/JDBC/connectionPools/pom.xml
  docs/examples/JDBC/consumer-demo/pom.xml
  docs/examples/JDBC/highvolume/pom.xml
  docs/examples/JDBC/mybatisplus-demo/pom.xml
  docs/examples/JDBC/springbootdemo/pom.xml
  docs/examples/JDBC/taosdemo/pom.xml
  docs/examples/java/pom.xml
  docs/examples/java/src/main/java/com/taos/example/WSParameterBindingFullDemo.java
  docs/zh/07-develop/01-connect/index.md
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix(xnode): increase the length of parser column and config column (#34491)
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  include/util/tdef.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
  test/cases/42-Xnode/test_xnode.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix: join error msg and placeholder primary key issue
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stream primary key issue
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: aggregate requirement check issue
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: enhance test utility functions to return default values if environment variables are not set
  tools/keeper/testutil/testutil.go
  tools/keeper/testutil/testutil_test.go
Owners: @guanshengliang, @zitsen

enh(rbac): return specific permission error
  include/libs/catalog/catalog.h
  include/util/taoserror.h
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parInsertSql.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): return specific permission error
  include/libs/catalog/catalog.h
  include/libs/nodes/plannodes.h
  include/libs/parser/parser.h
  source/libs/catalog/src/ctgUtil.c
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/sysscanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ci case results depend on sorting, with probability of error
  test/cases/11-Functions/03-Selection/test_fun_select_cols.py
Owners: @taosdata/merge

Deployed 82e548f25f to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/DataSubscription/Consume/index.html
  main/case_list_docs/ShowCommands/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

refactor(build): use conan to handle dependencies and vulnerability check (#34489)
  .gitignore
  CMakeLists.txt
  build.sh
  cmake/conan.cmake
  cmake/options.cmake
  conan/CMAKE_INTEGRATION.md
  conan/README.md
  conan/avro-c/conanfile.py
  conan/avro-c/test_package/CMakeLists.txt
  conan/avro-c/test_package/conanfile.py
  conan/avro-c/test_package/test_package.c
  conan/cppstub/README.md
  conan/cppstub/SUMMARY.md
  conan/cppstub/conanfile.py
  conan/cppstub/cppstub/LICENSE
  conan/cppstub/cppstub/src/stub.h
  conan/cppstub/cppstub/src_darwin/addr_any.h
  conan/cppstub/cppstub/src_linux/addr_any.h
  conan/cppstub/cppstub/src_win/addr_any.h
  conan/cppstub/test_package/CMakeLists.txt
  conan/cppstub/test_package/conanfile.py
  conan/cppstub/test_package/test_package.cpp
  conan/fast-lzma2/README.md
  conan/fast-lzma2/USAGE.md
  conan/fast-lzma2/conanfile.py
  conan/fast-lzma2/test_package/CMakeLists.txt
  conan/fast-lzma2/test_package/conanfile.py
  conan/fast-lzma2/test_package/test_package.c
  conanfile.py
  include/util/tpcre2.h
  source/util/src/tpcre2.c
  tools/shell/CMakeLists.txt
  tools/taos-tools/inc/bench.h
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix(tmq): cases error if split vnode not completed (#34487)
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_column.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_db.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_db_no_wal.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_dup_no_wal.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_duplicate.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_no_remove.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_ntb.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_select_no_wal.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_stb.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_stb_no_wal.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_split_stb_select.py
Owners: @taosdata/merge

fix: set max value of supportVnodes from 4096 to 1024.
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
  source/common/src/tglobal.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: parse error while use NUL without quote. (#34474)
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

fix: add test case
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @taosdata/merge

enh(rbac): refact audit table insert
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parInsertSql.c
  test/cases/81-Tools/01-Check/test_check_error_code.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: test desc
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @taosdata/merge

fix: ci case results depend on sorting, with probability of error (#34496)
  test/cases/11-Functions/03-Selection/test_fun_select_cols.py
Owners: @taosdata/merge

Deployed f133bb69b6 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/DataSubscription/Consume/index.html
  main/case_list_docs/ShowCommands/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

fix(stream): core dump in the interface of getting last ts if there is a varchar in primary key
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  test/cases/18-StreamProcessing/20-UseCase/test_6771200393.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: enhance FILL and SURROUND clause documentation for clarity and accuracy
  docs/en/14-reference/03-taos-sql/20-select.md
  docs/en/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/20-select.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
Owners: @guanshengliang, @zitsen

chore: correct punctuation in SURROUND clause documentation for consistency
  docs/zh/14-reference/03-taos-sql/20-select.md
Owners: @guanshengliang, @zitsen

fix(merge): compile error
  tools/taos-tools/inc/toolsdef.h
Owners: @guanshengliang, @zitsen

fix: ci test errors.
  tests/system-test/0-others/show.py
Owners: @guanshengliang, @zitsen

enh: [6690002267] Add test cases.
  source/libs/parser/src/parTranslater.c
  test/cases/05-VirtualTables/ans/test_vctable_select_test_event.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_state.ans
  test/cases/05-VirtualTables/ans/test_vtable_plan_replace_tbname.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_event.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_state.ans
  test/cases/05-VirtualTables/in/test_vctable_select_test_event.in
  test/cases/05-VirtualTables/in/test_vctable_select_test_state.in
  test/cases/05-VirtualTables/in/test_vtable_plan_replace_tbname.in
  test/cases/05-VirtualTables/in/test_vtable_select_test_event.in
  test/cases/05-VirtualTables/in/test_vtable_select_test_state.in
  test/cases/05-VirtualTables/test_vtable_plan_replace_tbname.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: [6747163479] Push down time range condition in virtual table query.
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/scalar/src/filter.c
  test/cases/05-VirtualTables/ans/test_vtable_plan_eliminate_virtual_scan.ans
  test/cases/05-VirtualTables/ans/test_vtable_plan_pushdown_timerange.ans
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Update container_build.sh
  test/ci/container_build.sh
Owners: @taosdata/merge

bug3 select * from view cause core
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
