Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

clean code
  docs/en/14-reference/03-taos-sql/94-datain.md
  include/common/tmsg.h
  include/dnode/xnode/xnode.h
  include/libs/txnode/txnode.h
  source/dnode/xnode/inc/xndInt.h
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

Deployed e0784aebed to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/DataQuerying/Explain/index.html
  main/case_list_docs/DataQuerying/SubQuery/index.html
  main/case_list_docs/Functions/Scalar/index.html
  main/case_list_docs/Functions/Selection/index.html
  main/case_list_docs/JoinQueries/index.html
  main/case_list_docs/MetaData/index.html
  main/case_list_docs/Privileges/index.html
  main/case_list_docs/StreamProcessing/Stream/index.html
  main/case_list_docs/StreamProcessing/UseCase/index.html
  main/case_list_docs/Tools/Taos/index.html
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

enh: drop multi-stream (#33962)
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStream.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  test/cases/18-StreamProcessing/02-Stream/stream_drop.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(gpt): dynamic set the TDgpt version.
  tools/tdgpt/taosanalytics/__init__.py
  tools/tdgpt/taosanalytics/app.py
Owners: @guanshengliang, @zitsen

refactor: add the last blank
  tools/tdgpt/script/release.sh
  tools/tdgpt/taosanalytics/__init__.py
Owners: @guanshengliang, @zitsen

chore: try to fix gtest/gtest.h not found
  source/dnode/mnode/impl/test/xnode/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: return if failed to find the __init__.py file.
  tools/tdgpt/script/release.sh
Owners: @guanshengliang, @zitsen

chore: fix markdown files
  docs/en/14-reference/03-taos-sql/94-datain.md
Owners: @guanshengliang, @zitsen

feat(pi): support PIServerUser, PIServerPasword, PIServerDomain #6617668600 (#3498)
  explorer/taos-ui/components/dataIn/config/en/03-pi.ts
  explorer/taos-ui/components/dataIn/config/en/04-pibackfill.ts
  explorer/taos-ui/components/dataIn/config/zh/03-pi.ts
  explorer/taos-ui/components/dataIn/config/zh/04-pibackfill.ts
  plugins/pi/src/TDPIConnector/TDPIConnector.Core/AppService.cs
  plugins/pi/src/TDPIConnector/TDPIConnector.Service/Program.cs
  taosx-core/src/plugins/runners/pi/config.rs
Owners: @taosdata/merge

fix build error
  source/libs/executor/src/dataInserter.c
  test/cases/06-DataIngestion/05-Others/test_insert_select.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: update english doc for duplicate cases
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

chore: fix markdown in zh
  docs/zh/14-reference/03-taos-sql/94-datain.md
Owners: @guanshengliang, @zitsen

fix(opcua): download csv file #6617668600 (#3499)
  explorer/taos-ui/components/dataIn/components/dataset.vue
Owners: @taosdata/merge

docs: del duplicate blank line
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

chore: fix enum issue and add ci
  include/common/tmsg.h
  include/common/tmsgdef.h
  source/dnode/mgmt/mgmt_xnode/src/xmInt.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: update component in release notes to use DocCardList
  docs/zh/28-releases/03-notes/index.md
Owners: @guanshengliang, @zitsen

fix: update component in release notes to use DocCardList (#34133)
  docs/zh/28-releases/03-notes/index.md
Owners: @guanshengliang, @zitsen

chore: fix test case problem
  include/util/taoserror.h
  test/cases/42-Xnode/test_xnode.py
  test/cases/42-Xnode/test_xnode_lifecycle.py
  test/cases/42-Xnode/test_xnode_systables.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: windows compile error
  source/libs/nodes/src/nodesCodeFuncs.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: windows compile error (#34134)
  source/libs/nodes/src/nodesCodeFuncs.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix pKeyVal overflow
  include/common/tmsg.h
  source/libs/parser/src/parAstCreater.c
  test/cases/42-Xnode/test_xnode_systables.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: rename to 排空节点
  docs/zh/14-reference/03-taos-sql/94-datain.md
Owners: @guanshengliang, @zitsen

chore: external cmake remove parallel
  cmake/external.cmake
Owners: @guanshengliang

test: trigger ci
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: add DEP_ext_gtest for xnode test
  source/dnode/mnode/impl/test/xnode/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix gtest errors
  source/dnode/mnode/impl/test/xnode/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: remove gtest pthread lib
  source/dnode/mnode/impl/test/xnode/CMakeLists.txt
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix data type not match
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix some lint errors
  source/dnode/mnode/impl/CMakeLists.txt
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/mnode/impl/test/xnode/CMakeLists.txt
  source/libs/parser/src/parTranslater.c
  source/libs/txnode/src/txnodeMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: unexpected rowSize when virtual table scan return NULL.
  source/libs/executor/src/virtualtablescanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(gpt): dynamically set the TDgpt version number when building a install package. (#34129)
  tools/tdgpt/script/release.sh
  tools/tdgpt/taosanalytics/__init__.py
  tools/tdgpt/taosanalytics/app.py
Owners: @guanshengliang, @zitsen

docs: update taos-ws-py version to 0.6.5 and add TOTP/token authentication support in documentation
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
  test/cases/83-DocTest/python.sh
  test/ci/run_case.sh
  test/pyproject.toml
  test/requirements.txt
  test/uv.lock
  tests/ci/Dockerfile
  tests/ci/dockerfile_ci
  tests/parallel_test/run_case.sh
Owners: @guanshengliang, @zitsen, @taosdata/merge

docs: supplement version for english doc
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

chore: fix void unlink
  source/libs/txnode/src/txnodeMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(jdbc): supports token Closes: TD-38463
  docs/en/14-reference/05-connector/14-java.md
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

docs: update taos-ws-py version to 0.6.5 and add TOTP/token authentication support in documentation (#34136)
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
  test/cases/83-DocTest/python.sh
  test/ci/run_case.sh
  test/pyproject.toml
  test/requirements.txt
  test/uv.lock
  tests/ci/Dockerfile
  tests/ci/dockerfile_ci
  tests/parallel_test/run_case.sh
Owners: @guanshengliang, @zitsen, @taosdata/merge

docs: 3.4.0.0 new add config item and supplement old item (#34122)
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

feat: add case for storage encrypt.
  test/cases/02-Databases/01-Create/test_db_create_encrypt.py
  test/conftest.py
  test/new_test_framework/taostest/components/taosd.py
  test/new_test_framework/utils/__init__.py
  test/new_test_framework/utils/encryptUtil.py
  test/new_test_framework/utils/server/dnode.py
Owners: @taosdata/merge

feat(jdbc): supports token (#34130)
  docs/en/14-reference/05-connector/14-java.md
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

fix: update documentation and version format
  docs/en/assets/resources/_linux_install.mdx
  docs/en/assets/resources/_macos_install.mdx
  docs/en/assets/resources/_windows_install.mdx
  docs/zh/14-reference/05-connector/_linux_install.mdx
  docs/zh/14-reference/05-connector/_macos_install.mdx
  docs/zh/14-reference/05-connector/_windows_install.mdx
  source/util/src/version.c.in
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
