Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(cluster): handle "Dnode is starting up" error gracefully in checkDnodes method (#34783)
  test/new_test_framework/utils/clusterCommonCheck.py
Owners: @taosdata/merge

enh(test): improve random database creation with customizable row count and batch inserts (#34790)
  test/cases/06-DataIngestion/01-SQL/test_write_basic.py
  test/cases/06-DataIngestion/01-SQL/test_write_null_none.py
  test/cases/09-DataQuerying/08-SubQuery/test_nestedQuery.py
  test/cases/09-DataQuerying/08-SubQuery/test_nestedQuery_time.py
  test/cases/09-DataQuerying/13-CaseWhen/test_query_case_when.py
  test/cases/09-DataQuerying/18-Stability/test_query_stability.py
  test/cases/09-DataQuerying/18-Stability/test_query_stability26.py
  test/cases/11-Functions/02-Aggregate/test_agg_bugs.py
  test/cases/14-JoinQueries/test_join_func.py
  test/cases/14-JoinQueries/test_join_func_cursor.py
  test/cases/uncatalog/system-test/2-query/test_max_min_data.py
  test/cases/uncatalog/system-test/2-query/test_nestedQuery.py
  test/cases/uncatalog/system-test/2-query/test_para_tms.py
  test/cases/uncatalog/system-test/2-query/test_para_tms2.py
Owners: @taosdata/merge

feat(xnode): support xnode feature on Windows platform (#34776)
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/xnode/src/xnode.c
  source/libs/txnode/src/txnodeMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update config-file behavior after 3.4.0.0. (#34747)
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/27-train-faq/index.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

feat: Multi-function support
  tests/pytest/crash_gen/crash_gen_main.py
  tests/pytest/crash_gen/enhanced_schema.py
Owners: @guanshengliang, @zitsen

fix(stream): handle const boundary in external window range (#34669)
  source/libs/executor/src/externalwindowoperator.c
  source/libs/scalar/src/scalar.c
  test/cases/18-StreamProcessing/03-TriggerMode/test_interval_const_filter_twstart.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(cmake): add CMAKE_INSTALL_LIBDIR for ext_gtest to fix lib64 path on aarch64 (#34793)
  cmake/external.cmake
Owners: @guanshengliang

enh(count): optimize data insertion with batch processing to avoid exceeding maxSQLLength (#34784)
  test/cases/11-Functions/02-Aggregate/test_fun_agg_count.py
Owners: @taosdata/merge

fix: test_user_token failed on windows (#34775)
  test/cases/24-Users/test_user_token.py
Owners: @taosdata/merge

feat: add execute:waiting phase for scan-to-merge transition
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/libs/scheduler/src/schTask.c
  test/cases/24-Users/test_query_phase_tracking.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed e1ac9b89f0 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/StreamProcessing/Stream/index.html
  3.0/case_list_docs/StreamProcessing/TriggerMode/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

Deployed e29fadda2e to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/DataDeletion/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

revert doc
  docs/zh/14-reference/03-taos-sql/51-perf.md
Owners: @guanshengliang, @zitsen

enh: adjust volatile
  cmake/define.cmake
  cmake/external.cmake
  cmake/options.cmake
  cmake/platform.cmake
  source/common/CMakeLists.txt
  source/dnode/vnode/src/tq/tqStreamNotify.c
  source/libs/executor/src/streamclient.c
  source/libs/transport/src/transComm.c
  source/os/src/osSysinfo.c
  source/util/src/thash.c
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

tests(explorer): enhance UI test cases except data in (#3691)
  explorer/tests/_utils/auth.ts
  explorer/tests/_utils/linkValidator.ts
  explorer/tests/_utils/routes.ts
  explorer/tests/dashboard.spec.ts
  explorer/tests/explorer-export.spec.ts
  explorer/tests/explorer-favorites.spec.ts
  explorer/tests/explorer-features.spec.ts
  explorer/tests/header-footer.spec.ts
  explorer/tests/idmp.spec.ts
  explorer/tests/link-validation.spec.ts
  explorer/tests/programming.spec.ts
  explorer/tests/stream-crud.spec.ts
  explorer/tests/tools.spec.ts
  explorer/tests/topic-crud.spec.ts
Owners: @taosdata/merge

fix: update version number in packaging scripts and documentation to 3.4.0.11
  tools/tdgpt/packaging/README-CN.md
  tools/tdgpt/packaging/README.md
  tools/tdgpt/packaging/win_release.py
Owners: @guanshengliang, @zitsen

fix(taosd): refactor Windows process management for taosd startup and shutdown
  test/new_test_framework/taostest/components/taosd.py
  test/new_test_framework/utils/server/dnode.py
  test/new_test_framework/utils/server/win_process.py
Owners: @taosdata/merge

update query track
  source/common/src/systable.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: only update phaseStartTime when phase actually changes
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schRemote.c
  source/libs/scheduler/src/scheduler.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: refine sub_status and add branch design notes
  docs/zh/14-reference/03-taos-sql/52-show-queries-phase-tracking-branch-notes.md
  source/libs/scheduler/src/scheduler.c
  test/cases/24-Users/test_query_phase_tracking.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

revert: remove branch design notes document
  docs/zh/14-reference/03-taos-sql/52-show-queries-phase-tracking-branch-notes.md
Owners: @guanshengliang, @zitsen

refactor: unify phase sub-state format to slash style
  source/common/src/msg/tmsg.c
  test/cases/24-Users/test_query_phase_tracking.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: meta update support trans
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndUserTxn.h
  source/dnode/mnode/impl/src/mndUserTxn.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(taosd): case error
  source/dnode/vnode/src/tq/tqRead.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_batch_alter_tag.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: split cases for windows ci
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a3.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a4.py
Owners: @taosdata/merge

Merge remote-tracking branch 'origin/3.0' into feat/addShowQuery
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(taosd): compile error
  source/dnode/vnode/src/tq/tqRead.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: compare of index (#34772)
  source/libs/index/src/indexFstRegex.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Potential fix for pull request finding
  docs/zh/14-reference/03-taos-sql/51-perf.md
Owners: @guanshengliang, @zitsen

fix(taosd): code problems reviewed by gemini
  source/client/src/clientRawBlockWrite.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/catalog/src/ctgUtil.c
  utils/test/c/tmq_batch_alter_tag.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 24ced0dd6e to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/DataSubscription/Consume/index.html
  3.0/case_list_docs/Tables/SubTables/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

feat: add test case
  source/libs/executor/src/externalwindowoperator.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/complex_agg_and_filter.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/complex_partition_and_having.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/cross_mix_and_join.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/function_matrix.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/orderby_and_alias.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/path_regression.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/window_boundary.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/complex_agg_and_filter.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/complex_partition_and_having.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/cross_mix_and_join.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/function_matrix.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/orderby_and_alias.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/path_regression.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/window_boundary.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
  test/new_test_framework/utils/sql.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: [6915844635] Fix mem leak.
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

fix: add cases to ci
  test/ci/cases.task
Owners: @taosdata/merge

Potential fix for pull request finding
  source/os/src/osTime.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Potential fix for pull request finding
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

feat: lag/lead function
  include/libs/function/functionMgt.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/projectoperator.c
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  source/libs/function/src/functionMgt.c
  source/libs/parser/src/parTranslater.c
  test/cases/11-Functions/03-Selection/test_fun_select_lag_lead.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: lag use cross block data
  source/libs/executor/src/projectoperator.c
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  test/cases/11-Functions/03-Selection/test_fun_select_lag_lead.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: add test case
  test/cases/11-Functions/03-Selection/test_fun_select_lag_lead.py
Owners: @taosdata/merge

fix: mem leak
  source/libs/executor/src/operator.c
  source/libs/executor/src/projectoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
