Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

docs: add end anchor
  docs/examples/python/develop_tutorial.py
Owners: @guanshengliang, @zitsen

complete with option feature
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  source/common/src/msg/xnode.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix crash
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix case error
  source/client/test/CMakeLists.txt
  source/client/test/session.cpp
  test/cases/73-TLS/test_tls.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: remove unused imports from frame.py and main.py
  test/new_test_framework/taostest/frame.py
  test/new_test_framework/taostest/main.py
Owners: @taosdata/merge

chore: sort and tidy up Python requirements (#33884)
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_taosdShell.py
  test/cases/70-Cluster/test_5dnode_3mnode_add_1dnode.py
  test/cases/70-Cluster/test_5dnode_3mnode_stop.py
  test/cases/uncatalog/system-test/6-cluster/test_5dnode3mnode_stop_connect.py
  test/ci/cases.task
  test/new_test_framework/taostest/frame.py
  test/new_test_framework/taostest/main.py
  test/requirements.txt
Owners: @taosdata/merge

Deployed e9e840c302 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/Stream/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

issue: use after free, when insert statement is mixing both parameter markers and literal values
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test_idmp_vehicle.py DEL operator comment, wait 3.0 merge to fix
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_vehicle.py
Owners: @taosdata/merge

fix mem leak (#33891)
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: mem leak (#33888)
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): show tsmas/create tsma privilege check
  source/dnode/mnode/impl/src/mndSma.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: remove invalid anchors (#33898)
  docs/en/07-develop/05-stmt.md
  docs/en/07-develop/07-tmq.md
Owners: @guanshengliang, @zitsen

fix dead lock
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add isAudit field and related error handling for audit databases
  include/util/taoserror.h
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDb.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

set C:/TDengine in PATH
  packaging/tools/tdengine.iss
Owners: @feici02

fix: fix error
  tools/tdgpt/requirements_ess.txt
  tools/tdgpt/taosanalytics/servicemgmt.py
Owners: @guanshengliang, @zitsen

feat: add error code for disallowing changes to audit databases
  include/util/taoserror.h
  source/dnode/mnode/impl/inc/mndDb.h
  source/dnode/mnode/impl/src/mndDb.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(interp): fill(prev/next/linear) can be confiured by ignoreNull param
  include/libs/executor/storageapi.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/tsdb/tsdbReadUtil.h
  source/dnode/vnode/src/vnd/vnodeInitApi.c
  source/libs/executor/inc/operator.h
  source/libs/executor/src/operator.c
  source/libs/executor/src/timesliceoperator.c
  test/cases/07-DataQuerying/11-Interp/ans/interp_fill_ignore_null.csv
  test/cases/07-DataQuerying/11-Interp/in/interp_fill_ignore_null.in
  test/cases/07-DataQuerying/11-Interp/test_interp2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 5d74e9836c to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/DataQuerying/Interp/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix test build
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): add test cases
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @taosdata/merge

fix: adjust test case for Python3.12
  tools/tdgpt/taosanalytics/test/anomaly_test.py
Owners: @guanshengliang, @zitsen

Change workflow reference to main branch
  .github/workflows/new-framework-test.yml
Owners: @feici02

case: 2-query 4->2
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_basic.py
  test/cases/14-JoinQueries/test_join.py
  test/cases/14-JoinQueries/test_join_func.py
  test/cases/14-JoinQueries/test_join_func_cursor.py
  test/cases/uncatalog/system-test/2-query/test_interval_limit_opt_2.py
  test/cases/uncatalog/system-test/2-query/test_interval_unit.py
  test/ci/cases.task
Owners: @taosdata/merge

set C:/TDengine in PATH (#2431)
  enterprise/packaging/tools/tdengine.iss
  enterprise/packaging/windows/tdengine.iss
Owners: @taosdata/merge

fix: adjust test case for Python3.12
  tools/tdgpt/taosanalytics/test/anomaly_test.py
Owners: @guanshengliang, @zitsen

set C:/TDengine in PATH (#33904)
  packaging/tools/tdengine.iss
Owners: @feici02

Update workflow to use new branch for tests
  .github/workflows/new-framework-test.yml
Owners: @feici02

Update new-framework-test.yml
  .github/workflows/new-framework-test.yml
Owners: @feici02

test: change workflow reference to main branch (#33906)
  .github/workflows/new-framework-test.yml
Owners: @feici02

feat(rbac): show create rsma privilege check
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix trace stmt log
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix trace stmt log (#33910)
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Fix: Add missing newline at end of file in interp_fill_ignore_null.in and ensure consistent formatting for linear fill query
  test/cases/07-DataQuerying/11-Interp/ans/interp_fill_ignore_null.csv
  test/cases/07-DataQuerying/11-Interp/in/interp_fill_ignore_null.in
Owners: @taosdata/merge

audit log for alter user
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/nodes/src/nodesUtilFuncs.c
Owners: @guanshengliang, @hzcheng, @dapan1121

create and show token
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/sdb/src/sdbHash.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

alter token and drop token
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

sql grammar to manage token
  include/common/systable.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndToken.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndShow.c
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/sdb/inc/sdb.h
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix invalid read
  source/client/inc/clientInt.h
  source/client/src/clientEnv.c
  source/client/src/clientImpl.c
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
