Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix compile error
  include/os/osString.h
  source/common/src/tmisce.c
  source/common/src/tpriv.c
  source/libs/monitorfw/src/taos_metric_formatter.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parInsertUtil.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/parser/src/parser.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/sync/src/syncMain.c
  source/libs/tss/src/s3.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update TDengine TSDB MCP reference manual for clarity and formatting
  docs/en/14-reference/02-tools/12-mcp-tdengine-tsdb.md
  docs/zh/14-reference/02-tools/12-mcp-tdengine-tsdb.md
Owners: @guanshengliang, @zitsen

test: enhance interp/interval fill surround tests with new queries and data scenarios
  test/cases/09-DataQuerying/12-Interp/ans/interp_fill_surround.csv
  test/cases/09-DataQuerying/12-Interp/in/interp_fill_surround.in
  test/cases/13-TimeSeriesExt/03-TimeWindow/in/test_surround.csv
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_basic.py
Owners: @taosdata/merge

fix: remove hardcoded path in start-all.sh during installation
  packaging/tools/install.sh
Owners: @feici02

feat: add functionality to create snode and xnode if they do not exist (#2492)
  enterprise/packaging/start-all.sh
Owners: @taosdata/merge

fix(json): skip control char in json value (#3553)
  taosx-core/src/plugins/transform/parse/json.rs
Owners: @taosdata/merge

fix(explorer): csv tasks cannot edit mapping rules due to the undefined error (#3554)
  explorer/taos-ui/components/dataIn/components/commonTransformer/index.vue
Owners: @taosdata/merge

Update tdengine-build.yml
  .github/workflows/tdengine-build.yml
Owners: @feici02

Add CMAKE_BUILD_TYPE variable to build.bat
  build.bat
Owners: @taosdata/merge

enh: update installation script to correctly handle start-all.sh file (#34395)
  packaging/tools/install.sh
Owners: @feici02

fix compile err on windows (#34399)
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.4.0.1
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix: asan invalid read issue
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add cmake build type parameter in build.bat (#34412)
  build.bat
Owners: @taosdata/merge

fix compile error
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix compile error
  source/dnode/mnode/impl/src/mndProfile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix compile error
  UNSAFE_FUNCTIONS_REPORT.md
  include/util/tjson.h
  source/common/src/msg/streamJson.c
  source/dnode/mgmt/mgmt_mnode/src/mmFile.c
  source/dnode/mgmt/mgmt_snode/src/smHandle.c
  source/dnode/mgmt/mgmt_vnode/src/vmFile.c
  source/dnode/mgmt/node_util/src/dmEps.c
  source/dnode/mnode/impl/src/mndDump.c
  source/dnode/vnode/src/vnd/vnodeCfg.c
  source/libs/executor/src/executil.c
  source/libs/monitorfw/src/taos_metric_formatter_custom.c
  source/libs/monitorfw/src/taos_monitor_util.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/sync/src/syncRaftCfg.c
  source/util/src/tjson.c
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

rm file
  AGENTS.md
  UNSAFE_FUNCTIONS_REPORT.md
Owners: @taosdata/merge

fix compile error on win
  source/os/src/osString.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  test/cases/24-Users/test_user_control.py
  test/ci/cases.task
Owners: @taosdata/merge

chore: fix ci problem
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

use safe func
  source/libs/index/src/indexTfile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

use safe func
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: mndLogRetention global param test (#899)
  cases/bug_regression/improve_td22981.py
Owners: @taosdata/merge

enh(rbac): priv objects limit for single user or role
  include/util/taoserror.h
  include/util/tdef.h
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/util/src/terror.c
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_stream.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: accurate termination of string
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: accurate termination of string
  source/dnode/mnode/impl/src/mndRole.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

enh(tmq): optimize update tablelist for topic of stable with filterwhen alter tag
  include/libs/executor/executor.h
  source/client/src/clientTmq.c
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/meta/metaQuery.c
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

enh(tmq): optimize update tablelist for topic of stable with filterwhen alter tag
  source/dnode/vnode/src/meta/metaQuery.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [6710694996] Eliminate virtual table scan operator.
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/05-VirtualTables/ans/test_vtable_plan_eliminate_virtual_scan.ans
  test/cases/05-VirtualTables/in/test_vtable_plan_eliminate_virtual_scan.in
  test/cases/05-VirtualTables/test_vtable_plan_eliminate_virtual_scan.py
  test/cases/05-VirtualTables/test_vtable_query_eliminate_virtual_scan.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: ci tests errors
  include/common/tcommon.h
  source/libs/executor/src/tfill.c
  test/cases/09-DataQuerying/06-Limit/test_query_limit_offset.py
  test/cases/11-Functions/04-Timeseries/test_fun_ts_interp.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(rbac): priv objects limit for single user or role
  include/util/taoserror.h
  include/util/tpriv.h
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndShow.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

use safe func
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(tmq): fix case error
  test/cases/17-DataSubscription/02-Consume/test_subscribe_stb3.py
  utils/test/c/tmqSim.c
Owners: @taosdata/merge, @guanshengliang

enh: add executor processing
  include/libs/function/function.h
  include/libs/nodes/querynodes.h
  source/libs/executor/src/executil.c
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesEqualFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesToSQLFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/scalar/src/scalar.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: rename lag function (#34405)
  docs/en/14-reference/03-taos-sql/22-function.md
  docs/zh/14-reference/03-taos-sql/22-function.md
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/inc/functionResInfoInt.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  source/libs/scalar/src/sclfunc.c
  test/cases/11-Functions/08-Window/test_fun_win_fill_forward.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed 6daf1d664ef to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge
