Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

docs: update roadmap
  docs/en/29-roadmap/index.md
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

Update workflow file to include all workflows
  .github/workflows/tdengine-build.yml
Owners: @feici02

enh: add new-framework-test.yml to workflow exclusions (#34750)
  .github/workflows/tdengine-build.yml
Owners: @feici02

docs: update TSDB repair strategies and documentation
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
  include/common/dmRepair.h
  source/dnode/mgmt/exe/dmMain.c
  source/dnode/vnode/src/tsdb/tsdbDataFileRW.c
  source/dnode/vnode/src/tsdb/tsdbFS2.c
  source/dnode/vnode/src/tsdb/tsdbFS2.h
  source/dnode/vnode/src/tsdb/tsdbRepair.c
  source/dnode/vnode/src/tsdb/tsdbSttFileRW.c
  source/dnode/vnode/test/CMakeLists.txt
  source/dnode/vnode/test/tsdbRepairTest.cpp
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat: TDinsight compatible Grafana version changed from 7.5 to 8.0 Closes: https://project.feishu.cn/taosdata_td/feature/detail/6877052658
  docs/en/04-get-started/_get_started.mdx
  docs/en/10-third-party/03-visual/01-grafana.md
  docs/en/14-reference/01-components/12-tdinsight.md
  docs/zh/04-get-started/_get_started.mdx
  docs/zh/10-third-party/03-visual/01-grafana.mdx
  docs/zh/14-reference/01-components/12-tdinsight/assets/Alert-Used-Only.webp
  docs/zh/14-reference/01-components/12-tdinsight/index.mdx
Owners: @guanshengliang, @zitsen

fix review
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add backup progress
  tools/taosBackup/inc/bckArgs.h
  tools/taosBackup/inc/bckPool.h
  tools/taosBackup/inc/bckProgress.h
  tools/taosBackup/src/CMakeLists.txt
  tools/taosBackup/src/backup.c
  tools/taosBackup/src/backupData.c
  tools/taosBackup/src/backupMeta.c
  tools/taosBackup/src/bckArgs.c
  tools/taosBackup/src/bckDb.c
  tools/taosBackup/src/bckFile.c
  tools/taosBackup/src/bckLog.c
  tools/taosBackup/src/bckPool.c
  tools/taosBackup/src/bckProgress.c
  tools/taosBackup/src/bckUtil.c
  tools/taosBackup/src/main.c
  tools/taosBackup/src/restoreData.c
  tools/taosBackup/src/restoreMeta.c
Owners: @guanshengliang, @zitsen

docs: clarify TSDB repair strategy behavior and limitations
  docs/en/08-operation/04-maintenance.md
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/08-operation/05-maintenance.md
  docs/zh/14-reference/01-components/01-taosd.md
  source/common/CMakeLists.txt
  source/common/src/dmRepair.c
  source/common/test/commonTests.cpp
  source/dnode/vnode/CMakeLists.txt
  source/dnode/vnode/src/tsdb/tsdbRepair.c
  source/dnode/vnode/test/tsdbRepairTest.cpp
  test/cases/80-Components/01-Taosd/test_com_cmdline.py
  test/cases/80-Components/01-Taosd/test_tsdb_force_repair.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

improve test cases
  test/cases/03-Tables/02-SubTables/test_subtable_batch_set_tag_vals.py
  test/cases/05-VirtualTables/test_vtable_batch_set_tag_vals.py
Owners: @taosdata/merge

docs: plan tsdb force repair test redesign
  docs/plans/2026-03-11-tsdb-force-repair-test-redesign-design.md
  docs/plans/2026-03-11-tsdb-force-repair-test-redesign.md
Owners: @guanshengliang, @zitsen

fix: delete the lua sample for FOSSeye (#34748)
  examples/lua/OpenResty/conf/nginx.conf
  examples/lua/OpenResty/logs/.gitignore
  examples/lua/OpenResty/rest/config.lua
  examples/lua/OpenResty/rest/tdpool/init.lua
  examples/lua/OpenResty/rest/test.lua
  examples/lua/OpenResty/so/luaconnector51.so
  examples/lua/README.md
  examples/lua/benchmark.lua
  examples/lua/build.sh
  examples/lua/lua51/build.sh
  examples/lua/lua51/lauxlib.h
  examples/lua/lua51/lua.h
  examples/lua/lua51/lua_connector51.c
  examples/lua/lua51/luaconf.h
  examples/lua/lua51/luajit.h
  examples/lua/lua51/lualib.h
  examples/lua/lua_connector.c
  examples/lua/test.lua
Owners: @guanshengliang, @zitsen

feat: TDinsight compatible Grafana version changed from 7.5 to 8.0 (#34749)
  docs/en/04-get-started/_get_started.mdx
  docs/en/10-third-party/03-visual/01-grafana.md
  docs/en/14-reference/01-components/12-tdinsight.md
  docs/zh/04-get-started/_get_started.mdx
  docs/zh/10-third-party/03-visual/01-grafana.mdx
  docs/zh/14-reference/01-components/12-tdinsight/assets/Alert-Used-Only.webp
  docs/zh/14-reference/01-components/12-tdinsight/index.mdx
Owners: @guanshengliang, @zitsen

fix compile error
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

change test ci
  test/cases/10-Operators/04-Set/test_union_bugs.py
  test/cases/21-MetaData/test_meta_information_schema.py
  test/cases/21-MetaData/test_meta_ins_tables.py
Owners: @taosdata/merge

fix ci problem
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: prevent buffer overflow in vectorConvertFromVarData when vtable column length < actual data length
  source/libs/scalar/src/sclvector.c
  test/cases/05-VirtualTables/test_vtable_nchar_length.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix cases for vtable in stream
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @taosdata/merge

opti(stream): remove old logic of stream (#34642)
  include/common/streamMsg.h
  include/common/tcommon.h
  include/common/tdatablock.h
  include/common/tmsg.h
  include/libs/executor/storageapi.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/streamMsg.c
  source/common/src/tdatablock.c
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/mnode/impl/test/stream/stream.cpp
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/querytask.h
  source/libs/executor/inc/streamexecutorInt.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/anomalywindowoperator.c
  source/libs/executor/src/countwindowoperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/groupoperator.c
  source/libs/executor/src/operator.c
  source/libs/executor/src/projectoperator.c
  source/libs/executor/src/querytask.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/streamNotify.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/executor/test/joinTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: upgrade taos (#3681)
  Cargo.lock
  Cargo.toml
Owners: @taosdata/merge

feat(test): add comprehensive force repair test suite for TSDB
  test/cases/80-Components/01-Taosd/test_tsdb_force_repair.py
Owners: @taosdata/merge

docs: update roadmap (#34751)
  docs/en/29-roadmap/index.md
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

Deployed aea979dee6 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/Components/Taosd/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

docs(taosx): update SQL Server TLS version requirements
  docs/en/06-advanced/05-data-in/16-mssql.md
  docs/zh/06-advanced/05-data-in/16-mssql.mdx
Owners: @guanshengliang, @zitsen

feat:sql firewall
  include/common/tglobal.h
  source/client/inc/clientInt.h
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/client/src/sqlSecurity.c
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci problem
  test/cases/21-MetaData/test_meta_ins_tables.py
Owners: @taosdata/merge

fix ci problem
  test/cases/21-MetaData/test_meta_information_schema.py
Owners: @taosdata/merge

fix(tsdb): ensure semaphore release on force repair commit
  source/dnode/vnode/src/tsdb/tsdbFS2.c
  source/dnode/vnode/test/tsdbRepairTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci problem
  test/cases/21-MetaData/test_meta_information_schema.py
Owners: @taosdata/merge

fix ci problem
  test/cases/05-VirtualTables/test_vtable_alter.py
  test/cases/21-MetaData/test_meta_ins_tables.py
Owners: @taosdata/merge

feat(dnode): refactor argument cleanup and add testing utilities
  source/dnode/mgmt/exe/dmMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: correct file paths in make_install.bat for DLL copies
  packaging/tools/make_install.bat
Owners: @feici02

remove useless files
  docs/plans/2026-03-11-tsdb-force-repair-test-redesign-design.md
  docs/plans/2026-03-11-tsdb-force-repair-test-redesign.md
Owners: @guanshengliang, @zitsen

test: add docstrings to TSDB force repair test methods
  test/cases/80-Components/01-Taosd/test_tsdb_force_repair.py
Owners: @taosdata/merge

fix(opcda): remove opc_points_mode filter for opcda #6872050476
  .github/workflows/pr-ci.yaml
  taosx-core/src/plugins/runners/opc/config/mod.rs
  taosx-core/src/plugins/runners/opc/mod.rs
  tests/td2td.rs
Owners: @feici02, @taosdata/merge, @guanshengliang, @zitsen

Deployed fe1ea82839 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/Components/Taosd/index.html
  3.0/case_list_docs/Users/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

enh:add Windows packaging script and service management scripts for TDGPT
  tools/tdgpt/packaging/README.md
  tools/tdgpt/packaging/win_release.py
  tools/tdgpt/packaging/windows/bin/install-service.bat
  tools/tdgpt/packaging/windows/bin/start-taosanode.bat
  tools/tdgpt/packaging/windows/bin/stop-taosanode.bat
  tools/tdgpt/packaging/windows/bin/uninstall-service.bat
  tools/tdgpt/packaging/windows/tdgpt.iss
Owners: @guanshengliang, @zitsen

feat(test): add external dmNotifyHdl variable for test environment
  source/dnode/vnode/test/tsdbRepairTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(test): wrap global variable in extern "C" block
  source/dnode/vnode/test/tsdbRepairTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(xnode): support xnode feature on Windows platform
  .github/workflows/tdengine-build.yml
Owners: @feici02

fix: show progress tidy up
  tools/taosBackup/inc/bck.h
  tools/taosBackup/inc/bckProgress.h
  tools/taosBackup/src/backup.c
  tools/taosBackup/src/backupData.c
  tools/taosBackup/src/backupMeta.c
  tools/taosBackup/src/bckDb.c
  tools/taosBackup/src/bckFile.c
  tools/taosBackup/src/bckProgress.c
  tools/taosBackup/src/main.c
  tools/taosBackup/src/restore.c
  tools/taosBackup/src/restoreData.c
  tools/taosBackup/src/restoreMeta.c
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
