Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

docs: more
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/01-components/02-taosc.md
Owners: @guanshengliang, @zitsen

fix: enhance error handling for blob retrieval and add null blob test (#34671)
  source/dnode/vnode/src/bse/bseTable.c
  source/dnode/vnode/src/tsdb/tsdbCacheRead.c
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  test/cases/11-Functions/03-Selection/test_select_last_and_last_row.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: enhance error handling for blob retrieval and add null blob test (#34673)
  source/dnode/vnode/src/bse/bseTable.c
  source/dnode/vnode/src/tsdb/tsdbCacheRead.c
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  test/cases/11-Functions/03-Selection/test_select_last_and_last_row.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed c9f7b561d8 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Functions/Selection/index.html
  main/case_list_docs/RSMAs/index.html
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

fix: column privileges with condition
  include/libs/nodes/querynodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove redundant safe_rmtree function implementation
  test/ci/run_win_cases.py
Owners: @taosdata/merge

submit test_priv_control.py case (#34597)
  test/cases/25-Privileges/test_priv_control.py
  test/ci/cases.task
Owners: @taosdata/merge

docs: update config parameters (#34679)
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/02-taosc.md
Owners: @guanshengliang, @zitsen

Deployed 061a2e4246 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Privileges/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

fix(docs): update links for built-in forecasting algorithms
  docs/zh/06-advanced/08-Advanced-Analysis/02-forecast/index.md
Owners: @guanshengliang, @zitsen

fix(docs): update links for built-in forecasting algorithms (#34683)
  docs/zh/06-advanced/08-Advanced-Analysis/02-forecast/index.md
Owners: @guanshengliang, @zitsen

chore: fix ci problem
  source/dnode/vnode/src/tsdb/tsdbMigrate.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: taos exit crash issue
  source/libs/executor/src/querytask.c
  source/util/src/tworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: enable stream support on windows
  source/dnode/mnode/impl/src/mndStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add timeout to SSH commands and enhance server alive options
  test/ci/run.sh
Owners: @taosdata/merge

extwin: partition
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

extwin: test case
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @taosdata/merge

fix(repair): make resume step-aware and harden copy shell inputs
  include/common/trepair.h
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: rowsize
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add configurable timeout value for SSH commands
  test/ci/run.sh
Owners: @taosdata/merge

extwin: test case
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/externalwindowoperator.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

tests(ui): add MQTT UI tests and update UI test plan (#3649)
  docs/dev/UI_TEST_CASES_PLAN.md
  explorer/tests/mqtt-task.spec.ts
Owners: @guanshengliang, @zitsen, @taosdata/merge

doc: refactor
  docs/zh/06-advanced/08-Advanced-Analysis/index.md
Owners: @guanshengliang, @zitsen

feat(tmq): add doc for vtable in tmq
  docs/en/06-advanced/01-subscription/01-topic.md
  docs/en/14-reference/03-taos-sql/40-tmq.md
  docs/zh/06-advanced/01-subscription/01-topic.md
  docs/zh/14-reference/03-taos-sql/40-tmq.md
Owners: @guanshengliang, @zitsen

case: test_taosbackup_datatypes.py passed
  test/cases/81-Tools/06-TaosBackup/test_taosbackup_basic.py
  test/cases/81-Tools/06-TaosBackup/test_taosbackup_datatypes.py
  tools/taosBackup/inc/colCompress.h
  tools/taosBackup/src/colCompress.c
  tools/taosBackup/src/restoreData.c
  tools/taosBackup/src/restoreMeta.c
  tools/taosBackup/src/storageTaos.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

feat: enable stream support on windows (#34681)
  source/dnode/mnode/impl/src/mndStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc: refactor (#34684)
  docs/zh/06-advanced/08-Advanced-Analysis/index.md
Owners: @guanshengliang, @zitsen

docs: update python docs
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
Owners: @guanshengliang, @zitsen

extwin: timerange
  source/libs/executor/src/externalwindowoperator.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: test case desc
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @taosdata/merge

feat(tmq): code review
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor(dnode): unify repair long-option parsing and remove magic lengths
  include/common/trepair.h
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc: update advanced analysis user manual.
  docs/zh/06-advanced/06-TDgpt/06-dev/02-algo/02-forecast.md
  docs/zh/06-advanced/06-TDgpt/06-dev/02-algo/03-ad.md
  docs/zh/06-advanced/06-TDgpt/06-dev/02-algo/index.md
  docs/zh/06-advanced/06-TDgpt/06-dev/03-ml/index.md
  docs/zh/06-advanced/06-TDgpt/06-dev/04-tsfm/index.md
  docs/zh/06-advanced/06-TDgpt/06-dev/index.md
  docs/zh/06-advanced/06-TDgpt/07-faq.md
  docs/zh/06-advanced/06-TDgpt/09-dev/03-ml/index.md
  docs/zh/06-advanced/06-TDgpt/09-dev/index.md
  docs/zh/06-advanced/08-Advanced-Analysis/index.md
Owners: @guanshengliang, @zitsen

enh: timerange
  source/libs/executor/src/externalwindowoperator.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs(explorer): add login captcha feature support (#34678)
  docs/en/14-reference/01-components/07-explorer.md
  docs/zh/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

chore: fix copilot review problem
  source/libs/catalog/src/catalog.c
  source/libs/catalog/src/ctgCache.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: update taospy and taos-ws-py version
  docs/en/07-develop/01-connect.md
  docs/zh/07-develop/01-connect/index.md
  test/cases/83-DocTest/python.sh
  test/ci/container_build_newmachine.sh
  test/ci/run_case.sh
  test/pyproject.toml
  test/requirements.txt
  test/uv.lock
  tests/ci/Dockerfile
  tests/ci/container_build_newmachine.sh
  tests/ci/dockerfile_ci
  tests/parallel_test/run_case.sh
Owners: @guanshengliang, @zitsen, @taosdata/merge

fix: refine file copying logic in run_thread function to exclude non-UnitTest files
  test/ci/run.sh
Owners: @taosdata/merge

docs: correct typo in 'taospy' reference in version history section
  docs/en/14-reference/05-connector/30-python.md
Owners: @guanshengliang, @zitsen

add event case.
  source/libs/executor/src/dynqueryctrloperator.c
  test/cases/05-VirtualTables/test_vtable_query_boundary.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge
