Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(tmq): race condition in tmq snapshot for data transformation
  source/dnode/vnode/src/meta/metaSnapshot.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: tdgpt dockerfile
  packaging/docker/DockerfileTDgpt
Owners: @feici02

docs: improve clarity in FAQ regarding dynamic library loading issues
  docs/zh/27-train-faq/01-faq.md
Owners: @guanshengliang, @zitsen

fix ci issues
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/test/parAlterToBalanceTest.cpp
  test/cases/24-Users/test_user_basic.py
  test/cases/24-Users/test_user_control.py
  test/cases/24-Users/test_user_password.py
  test/cases/24-Users/test_user_whitelist.py
  test/new_test_framework/script/api/passwdTest.c
  tests/ci/func.txt
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

feat:add client config maxSQLLength (#33709)
  include/common/tglobal.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/client/src/clientImpl.c
  source/client/src/clientSml.c
  source/common/src/tglobal.c
  test/cases/30-NameLimits/test_boundary.py
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

fix: order by abs(col) column not found if col not in table
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add ci test
  test/cases/07-DataQuerying/04-OrderBy/test_order_by_select_list.py
Owners: @taosdata/merge

Deployed 652f0ad40e to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/NameLimits/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix/TD-38741-fix-audit-case
  tests/system-test/0-others/taosd_audit.py
Owners: @guanshengliang, @zitsen

add docs of maxSQLLength
  docs/en/07-develop/15-high.md
  docs/en/14-reference/01-components/02-taosc.md
  docs/en/14-reference/03-taos-sql/19-limit.md
  docs/zh/07-develop/15-high.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/19-limit.md
Owners: @guanshengliang, @zitsen

feat 1.0
  include/common/tglobal.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/client/src/clientImpl.c
  source/client/src/clientSml.c
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add test
  include/common/tglobal.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/client/src/clientImpl.c
  source/client/src/clientSml.c
  source/common/src/tglobal.c
  tests/system-test/1-insert/boundary.py
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix CI
  tests/system-test/1-insert/boundary.py
Owners: @guanshengliang, @zitsen

update rpc log
  source/libs/transport/src/trans.c
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: fix formatting and clarify notes in query documentation
  docs/zh/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

fix review
  source/common/src/tglobal.c
  tests/system-test/1-insert/boundary.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

add docs of maxSQLLength
  docs/en/07-develop/15-high.md
  docs/en/14-reference/01-components/02-taosc.md
  docs/en/14-reference/03-taos-sql/91-limit.md
  docs/zh/07-develop/15-high.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/91-limit.md
Owners: @guanshengliang, @zitsen

fix ai review
  docs/en/14-reference/03-taos-sql/91-limit.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/91-limit.md
Owners: @guanshengliang, @zitsen

fix ai review
  docs/en/14-reference/03-taos-sql/19-limit.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/19-limit.md
Owners: @guanshengliang, @zitsen

test: sleep before check status while exec compatilibility cases. (#33695)
  test/new_test_framework/utils/compatibilityUtil.py
Owners: @taosdata/merge

chore(taosBenchmark): delete invalid comment
  tools/taos-tools/src/benchTmq.c
Owners: @guanshengliang, @zitsen

enh(test): wait revoke clause to take effect
  test/cases/16-Views/test_view_basic.py
Owners: @taosdata/merge

fix(explorer): get file list error after upload csv files (#3414)
  explorer/taos-ui/components/dataIn/components/csv/csvTransformer.vue
Owners: @taosdata/merge

docs: fix formatting issues in time range examples for clarity
  docs/en/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

docs: enhance CI workflow with clearer step names and improved markdownlint configuration
  .github/workflows/tdengine-docs-ci.yml
Owners: @feici02

update all time unit to second
  include/util/tdef.h
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: change back runner replica number
  source/dnode/mnode/impl/inc/mndStream.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): skip history calculation if it is finished before
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add status protection
  source/dnode/mnode/impl/src/mndStreamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): skip history calculation if it is finished before
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): print history finished flag in checkpoint with INFO level
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): split set table list to readers in trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): boost merge of recalculation request
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): downgrade memory usage report of recalculation to DEBUG
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): ignore window open when trigger is recovering from checkpoint
  include/common/streamMsg.h
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: modify log level
  source/dnode/vnode/src/meta/metaCache.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: enhance CI workflow with autocorrect step and failure reporting
  .github/workflows/tdengine-docs-ci.yml
  docs/zh/05-basic/03-query.md
Owners: @feici02, @guanshengliang, @zitsen

fix(explorer): remove new json field in extract/split options (#3416)
  explorer/taos-ui/components/dataIn/components/commonTransformer/extractSplit.vue
  explorer/taos-ui/components/dataIn/components/commonTransformer/index.vue
Owners: @taosdata/merge

feat(taosdump): supports retry mechanism when dumping out data (#33706)
  test/cases/81-Tools/04-Taosdump/test_taosdump_except.py
  test/new_test_framework/utils/etool.py
  tools/taos-tools/inc/dumpUtil.h
  tools/taos-tools/src/dumpUtil.c
  tools/taos-tools/src/taosdump.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

feat: add Delay check D1 scene
  tools/tsbs-tdengine/resource/config/cases_delay.yaml
  tools/tsbs-tdengine/resource/config/json/stbd1.json
  tools/tsbs-tdengine/resource/config/stbd1.sql
  tools/tsbs-tdengine/resource/config/stbd1.yaml
  tools/tsbs-tdengine/src/cmdLine.py
  tools/tsbs-tdengine/src/doTest.py
  tools/tsbs-tdengine/src/scene.py
  tools/tsbs-tdengine/src/writeData.py
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
