Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

enh: window query without agg function support (#33759)
  docs/en/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  source/common/src/tdatablock.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planSpliter.c
  test/cases/09-DataQuerying/14-Tags/test_tag_basic.py
  test/cases/11-Functions/03-Selection/test_fun_select_cols.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_basic.py
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window.py
  test/cases/13-TimeSeriesExt/05-EventWindow/test_event.py
  test/cases/13-TimeSeriesExt/06-SessionWindow/test_session.py
  test/cases/13-TimeSeriesExt/07-CountWindow/test_count.py
  test/cases/18-StreamProcessing/02-Stream/test_stream_window_query.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed 59094366e2 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/StreamProcessing/Stream/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

docs(taosgen): use a standard apostrophe
  docs/en/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

docs: update nodejs docs (#33807)
  docs/en/14-reference/05-connector/35-node.md
  docs/zh/14-reference/05-connector/35-node.mdx
Owners: @guanshengliang, @zitsen

modify status type as char
  include/common/tgrant.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/common/src/msg/xnode.c
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privilege of alter stb/ctb
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(TS-7676): sub query with window main test (#33790)
  include/common/tcommon.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/function/src/builtinsimpl.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planUtil.c
  test/cases/09-DataQuerying/14-Tags/test_tag_basic.py
  test/cases/11-Functions/03-Selection/test_fun_select_last.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bug_ts5400.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 1c36431227 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix mem release with var data type
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: aggFunc only exists in orderBy support in window query
  source/libs/parser/src/parTranslater.c
  test/cases/uncatalog/system-test/2-query/test_normal.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: increase retry times in checkstatus to avoid dnodes readiness issues
  test/cases/18-StreamProcessing/23-Compatibility/test_new_stream_compatibility.py
Owners: @taosdata/merge

fix: change TOTP code tips
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

add flag to session control
  include/common/tglobal.h
  source/client/inc/clientInt.h
  source/client/inc/clientSession.h
  source/client/src/clientEnv.c
  source/client/src/clientHb.c
  source/client/src/clientImpl.c
  source/client/src/clientSession.c
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: simplify
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add pip3 install pyopt to run_case.sh
  test/ci/run_case.sh
Owners: @taosdata/merge

fix: simplify
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

submit: split test_idmp_vehicle.py stream6 disorder write operator
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_vehicle.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

fix: check return code
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove indefinite class
  source/libs/function/src/builtins.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:retry with table meta change
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: build error
  include/libs/nodes/plannodes.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [6589381451] Add virtual table datatype check when query.
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/common/tmsg.h
  include/util/taoserror.h
  source/libs/executor/src/scanoperator.c
  source/util/src/terror.c
  tests/army/vtable/test_vtable_alter.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: add more cases
  source/util/src/tqueue.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3a.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3b.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3c.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3d.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4b.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4c.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4d.py
  test/ci/cases.task
  test/new_test_framework/utils/common.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: [6589381451] Add virtual table datatype check when query.
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/common/tmsg.h
  include/util/taoserror.h
  source/libs/executor/src/scanoperator.c
  source/util/src/terror.c
  test/cases/05-VirtualTables/test_vtable_alter.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix CI
  source/dnode/mnode/impl/src/mndStream.c
  test/cases/18-StreamProcessing/02-Stream/stream_drop.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(grant): support data source Pulsar
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
Owners: @taosdata/merge

enh(grant): support data source Pulsar
  tests/system-test/0-others/information_schema.py
Owners: @guanshengliang, @zitsen

add checksum to transport
  source/libs/transport/inc/transComm.h
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update 02-concept.md
  docs/zh/02-concept.md
Owners: @guanshengliang, @zitsen

refactor: update installation paths and add customizable installation directory support for tdgpt
  tools/tdgpt/cfg/taosanode.ini
  tools/tdgpt/cfg/taosanoded.service
  tools/tdgpt/script/ini_utils.sh
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/release.sh
  tools/tdgpt/script/start-tdtsfm.sh
  tools/tdgpt/script/start-time-moe.sh
  tools/tdgpt/script/start.sh
  tools/tdgpt/script/stop.sh
  tools/tdgpt/script/uninstall.sh
  tools/tdgpt/taosanalytics/tsfmservice/tdtsfm-server.py
Owners: @guanshengliang, @zitsen

docs: add error handling for connection failure in example code
  docs/examples/c-ws-new/taos_connect_with_example.c
  docs/examples/c/taos_connect_with_example.c
Owners: @guanshengliang, @zitsen

docs(explorer): add oauth2.0/oidc sso docs
  docs/en/14-reference/01-components/07-explorer.md
  docs/zh/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

chore: update docs/zh/14-reference/01-components/07-explorer.md
  docs/zh/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

chore: update github username typo
  docs/en/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/07-explorer.md
  docs/zh/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/01-components/07-explorer.md
  docs/en/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/01-components/07-explorer.md
  docs/en/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/07-explorer.md
  docs/zh/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/07-explorer.md
  docs/zh/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/01-components/07-explorer.md
  docs/en/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen
