Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

chore: fix memory leak
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/mnode/impl/test/xnode/CMakeLists.txt
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: update taosx docs
  docs/en/14-reference/01-components/04-taosx.md
  docs/zh/14-reference/01-components/04-taosx.md
Owners: @guanshengliang, @zitsen

chore: update taosx docs
  docs/en/14-reference/01-components/04-taosx.md
Owners: @guanshengliang, @zitsen

chore: add role priviledge table
  test/cases/21-MetaData/test_meta_information_schema.py
Owners: @taosdata/merge

docs: add bearerToken and totpCode for authentication in go connection documentation (#34141)
  docs/en/07-develop/01-connect.md
  docs/en/14-reference/05-connector/20-go.md
  docs/zh/07-develop/01-connect/index.md
  docs/zh/14-reference/05-connector/20-go.mdx
Owners: @guanshengliang, @zitsen

docs(explorer): add oauth2.0/oidc sso docs (#33983)
  docs/en/14-reference/01-components/07-explorer.md
  docs/zh/14-reference/01-components/07-explorer.md
Owners: @guanshengliang, @zitsen

chore: fix error code doc
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  source/util/src/terror.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

chore: fix test_xnode.py
  test/cases/42-Xnode/test_xnode.py
Owners: @taosdata/merge

chore: fix doc typo
  docs/en/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen

fix: ci error while run test_user_privilege_sysinfo.py
  include/util/tdef.h
  source/dnode/mnode/impl/src/mndInfoSchema.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add support for xnode in installation scripts
  packaging/tools/install.sh
  packaging/tools/make_install.sh
  packaging/tools/makepkg.sh
  packaging/tools/post.sh
  packaging/tools/preun.sh
  packaging/tools/remove.sh
Owners: @feici02

fix: remove xnoded references from installation and uninstallation scripts
  packaging/tools/make_install.sh
  packaging/tools/preun.sh
Owners: @feici02

feat: add xnode support to installation and removal scripts for forward compatibility
  packaging/tools/install.sh
  packaging/tools/make_install.sh
  packaging/tools/remove.sh
Owners: @feici02

stage: backup meta flow is ok
  tools/taosBackup/inc/backup.h
  tools/taosBackup/inc/backupMeta.h
  tools/taosBackup/inc/bck.h
  tools/taosBackup/inc/bckArgs.h
  tools/taosBackup/inc/bckFile.h
  tools/taosBackup/inc/bckUtil.h
  tools/taosBackup/src/backup.c
  tools/taosBackup/src/backupData.c
  tools/taosBackup/src/backupMeta .c
  tools/taosBackup/src/bckFile.c
  tools/taosBackup/src/bckUtil.c
Owners: @guanshengliang, @zitsen

feat: add support for xnode in installation scripts (#34146)
  packaging/tools/install.sh
  packaging/tools/makepkg.sh
  packaging/tools/post.sh
  packaging/tools/remove.sh
Owners: @feici02

Deployed 2c62466aa0 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

test: trigger ci
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update tglobal.c
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add xnoded.exe to installation sources for OEM and Windows packaging (#2460)
  enterprise/packaging/oem_release_cfg/server_oem.iss
  enterprise/packaging/windows/tdengine.iss
Owners: @taosdata/merge

fix: remove xnoded references from makepkg.sh and ensure proper service management in install.sh
  packaging/tools/install.sh
  packaging/tools/makepkg.sh
Owners: @feici02

feat: update installation scripts to support xnode service management
  packaging/tools/install.sh
  packaging/tools/makepkg.sh
Owners: @feici02

feat: remove xnode references from installation scripts
  packaging/tools/install.sh
  packaging/tools/post.sh
Owners: @feici02

feat: update installation scripts to support xnode service management (#34149)
  packaging/tools/install.sh
  packaging/tools/makepkg.sh
  packaging/tools/post.sh
Owners: @feici02

feat: add xnode support to installation tools for forward compatibility
  packaging/tools/install.sh
Owners: @feici02

feat: add xnode to tools list for forward compatibility with lite mode
  packaging/tools/install.sh
Owners: @feici02

feat: add support for xnode in installation scripts (#34150)
  packaging/tools/install.sh
Owners: @feici02

fix: improve error logging for TMQ subscription failures (#34117)
  test/new_test_framework/utils/compatibilityUtil.py
Owners: @taosdata/merge

Deployed a2e4411add to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

feat:stmt2 query free result by adapter
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(windows): windows build error for xnoded (#3507)
  xnoded/src/api.rs
  xnoded/src/utils/signal.rs
Owners: @taosdata/merge

test: commit out 2 case and todo confirm
  cases/bug_regression/improve_td22981.py
  cases/taosc_insert/create_tables_by_csv.py
Owners: @taosdata/merge

chore: mem leak
  cmake/define.cmake
  cmake/external.cmake
  include/util/tref.h
  source/client/src/clientEnv.c
  source/client/src/clientTmq.c
  source/dnode/vnode/src/sma/smaEnv.c
  source/libs/catalog/src/catalog.c
  source/libs/catalog/src/ctgAsync.c
  source/libs/catalog/src/ctgRemote.c
  source/libs/executor/src/executor.c
  source/libs/index/src/index.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/qworker/src/qwUtil.c
  source/libs/scheduler/src/scheduler.c
  source/libs/sync/src/syncEnv.c
  source/libs/transport/src/thttp.c
  source/libs/transport/src/transComm.c
  source/libs/wal/src/walMgmt.c
  source/os/src/osMemory.c
  source/util/CMakeLists.txt
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: mem leak
  cmake/define.cmake
  include/util/tref.h
  source/client/src/clientEnv.c
  source/client/src/clientTmq.c
  source/dnode/vnode/src/sma/smaEnv.c
  source/libs/catalog/src/catalog.c
  source/libs/executor/src/executor.c
  source/libs/index/src/index.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/qworker/src/qwUtil.c
  source/libs/scheduler/src/scheduler.c
  source/libs/sync/src/syncEnv.c
  source/libs/transport/src/thttp.c
  source/libs/transport/src/transComm.c
  source/libs/wal/src/walMgmt.c
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: fix windows packaging error for xnoded [ci skip] (#3508)
  packaging/release.py
Owners: @feici02

build: release ver-3.4.0.0
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix: exception handle and memory leak
  source/libs/catalog/src/ctgAsync.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: main login is ok
  tools/taosBackup/inc/backupData.h
  tools/taosBackup/inc/bck.h
  tools/taosBackup/src/backupData.c
  tools/taosBackup/src/backupMeta .c
Owners: @guanshengliang, @zitsen

fix: catalog tasks management
  source/libs/catalog/src/ctgAsync.c
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: catalog tasks management
  source/libs/catalog/src/ctgAsync.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ready impl storage
  tools/taosBackup/inc/bckArgs.h
  tools/taosBackup/inc/storageParquet.h
  tools/taosBackup/inc/storageTaos.h
  tools/taosBackup/src/backupData.c
  tools/taosBackup/src/storageParquet.c
  tools/taosBackup/src/storageTaos.c
  tools/taosBackup/src/test/showRawBlock.c
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
