Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

enh(stream): optimize indexHash for datablock
  include/common/streamMsg.h
  include/libs/new-stream/streamReader.h
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: modify owner to Platform TSDB Test
  scripts/feishu.py
  scripts/feishuTalk.py
  scripts/run.sh
  scripts/taosBenchmark_feishu.py
Owners: @taosdata/merge

fix: add test case
  test/cases/11-Functions/04-Timeseries/test_fun_ts_derivative.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: modify owner
  scripts/feishu.py
  scripts/feishuTalk.py
  scripts/feishuTalk_bak.py
  scripts/run.sh
Owners: @taosdata/merge

fix:[TD-38544] Fix error when using const condition like 'where 1=0' in union query.
  source/libs/scalar/src/filter.c
  test/cases/10-Operators/04-Set/test_union.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix recalc scan range
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:[TD-38550] Fix mem leak in exchagne operator.
  source/common/src/msg/streamMsg.c
  source/libs/executor/src/exchangeoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(query): Check the type of the subclause before treating it as a DELETE statement. (#33558)
  source/libs/parser/src/parTranslater.c
  test/cases/07-DataDeletion/test_delete_data.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(stream): send groupVal with first/last ts
  include/common/streamMsg.h
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

avoid dead lock
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

avoid dead lock
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

avoid dead lock
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): fix compile error in mac
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore(build-docker-dev): fix manifest list error on macos (#3390)
  Makefile.toml
Owners: @taosdata/merge

fix: review errors.
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:migrate stream case to 100 priority ci failed (#33552)
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_meters.py
  test/ci/cases.task
Owners: @taosdata/merge

enh(stream): fix block error
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix dead lock
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix dead lock
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix dead lock
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): fix meta block error
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix dead lock
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): send block batch in interface of tsdbTriggerData
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): process tsdb trigger data block in batch
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): fix coredump in interface of tsdbTriggerData
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix block array serialization in reader
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): core dump
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): core dump
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [TD-38520] Add test case.
  source/libs/planner/src/planOptimizer.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_group.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_projection.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_group.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_projection.in
  tests/army/vtable/ans/test_vstable_select_test_group.ans
  tests/army/vtable/in/test_vstable_select_test_group.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

fix: [TD-38520] Fix select tbname/tags tbname from virtual super table get wrong ans.
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: Add timerange expr type check and Relax the criteria for determining external windows. (#33480)
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/scalar/src/scalar.c
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed e6222c65d3 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix:[TD-38550] Fix mem leak in exchagne operator. (#33561)
  source/common/src/msg/streamMsg.c
  source/libs/executor/src/exchangeoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: tsbs_tdengine proj init
  tools/stream-perf/streamPerf.py
  tools/tsbs-tdengine/resource/config/default_cases.yaml
  tools/tsbs-tdengine/resource/config/default_readings.taosx.json
  tools/tsbs-tdengine/resource/config/default_readings.yaml
  tools/tsbs-tdengine/resource/data/default_diagnostics.csv
  tools/tsbs-tdengine/resource/data/default_readings.csv
  tools/tsbs-tdengine/resource/data/default_readings.prepare.sql
  tools/tsbs-tdengine/run.sh
  tools/tsbs-tdengine/src/baseStep.py
  tools/tsbs-tdengine/src/cmdLine.py
  tools/tsbs-tdengine/src/deployCluster.py
  tools/tsbs-tdengine/src/doTest.py
  tools/tsbs-tdengine/src/main.py
  tools/tsbs-tdengine/src/outLog.py
  tools/tsbs-tdengine/src/outMetrics.py
  tools/tsbs-tdengine/src/prepareEnv.py
  tools/tsbs-tdengine/src/scene.py
  tools/tsbs-tdengine/src/tdengine.py
  tools/tsbs-tdengine/src/util.py
  tools/tsbs-tdengine/src/writeData.py
Owners: @guanshengliang, @zitsen

fix: building error on Windows
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stable tagFilterCache checker handle placeHolderFunc error
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: curOutIdx
  include/common/streamMsg.h
  source/libs/executor/src/externalwindowoperator.c
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): fix sizeof error for vtable
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(query): retrieve first/last for the child table in a given uid list.
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:[TD-38544] Fix error when using const condition like 'where 1=0' in union query.
  source/libs/scalar/src/filter.c
  test/cases/07-DataQuerying/10-Union/test_union.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge
