Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

feat: [TS-6665] Change TSDB_MAX_BYTES_PER_ROW from 65531 to 524283.
  docs/en/14-reference/01-components/02-taosc.md
  docs/en/14-reference/03-taos-sql/91-limit.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/91-limit.md
  include/util/tdef.h
  source/client/src/clientSml.c
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndSma.c
  source/libs/function/src/builtins.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTranslater.c
  test/cases/04-SuperTables/01-Create/test_stable_create_rowlength64k.py
  test/cases/04-SuperTables/03-Alter/test_stable_alter_basic.py
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
  test/cases/30-NameLimits/test_boundary.py
  tools/taos-tools/inc/toolsdef.h
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

wip
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  include/util/tdef.h
  include/util/totp.h
  include/util/tutil.h
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/function/src/builtins.c
  source/libs/parser/src/parAstCreater.c
  source/libs/scalar/src/sclfunc.c
  source/util/src/totp.c
  source/util/src/tutil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

tmp
  source/libs/executor/src/timesliceoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support concurrent write csv file
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/src/outMetrics.py
  tools/tsbs-tdengine/src/writeData.py
Owners: @guanshengliang, @zitsen

fix: remove duplicate crash issue description for taosd in release notes
  docs/zh/28-releases/03-notes/3.3.5.0.md
Owners: @guanshengliang, @zitsen

fix(stream): fix output table schema check
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  test/cases/18-StreamProcessing/02-Stream/test_stream_output_table.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix tsdb version for user recalc request
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/31-OldTsimCases/test_oldcase_count.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: remove duplicate crash issue description for taosd in release notes (#33836)
  docs/zh/28-releases/03-notes/3.3.5.0.md
Owners: @guanshengliang, @zitsen

fix: window sort
  source/libs/executor/src/timewindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: solve CI problem
  include/util/tdef.h
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: merge 3.0
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: stmt2 support vtable query (#33825)
  source/client/test/stmt2Test.cpp
  source/libs/catalog/src/ctgCache.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: solve CI problem
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privileges for db operations
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix merge error
  source/dnode/mnode/impl/src/mndDnode.c
  source/libs/transport/src/trans.c
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSvr.c
  source/libs/transport/src/transTLS.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.3.6.35
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

support reload tls/ssl config
  source/libs/transport/inc/transTLS.h
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSvr.c
  source/libs/transport/src/transTLS.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check system privilege of create database
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add func to write encrypt file header.
  include/os/osFile.h
  source/os/src/osFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privileges of create db
  include/common/tname.h
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parUtil.c
  tools/shell/src/shellAuto.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

feat: encrypt some config file.
  include/common/tencrypt.h
  include/os/osFile.h
  source/common/CMakeLists.txt
  source/common/src/tencrypt.c
  source/dnode/mgmt/mgmt_mnode/src/mmFile.c
  source/dnode/mgmt/mgmt_vnode/src/vmFile.c
  source/dnode/mgmt/node_util/src/dmEps.c
  source/dnode/mgmt/node_util/src/dmFile.c
  source/dnode/vnode/src/tsdb/tsdbFS2.c
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/libs/sync/src/syncRaftCfg.c
  source/libs/sync/src/syncRaftStore.c
  source/libs/wal/src/walMeta.c
  source/os/src/osFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: fix config udf enabled default value. (#33827)
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

feat(rbac): check privileges of alter/drop db
  include/util/tdef.h
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privileges of alter/drop db
  include/common/tname.h
  source/common/src/tname.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAstParser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privileges of alter/drop db
  source/libs/parser/inc/sql.y.bak
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privileges of alter/drop db
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(jdbc): add health check and rebalance parameters. (#33728)
  docs/.markdownlint-cli2.jsonc
  docs/en/14-reference/05-connector/14-java.md
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

fix: disable disk usage in partition
  source/util/src/tpagedbuf.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: refactor build_package_for_ci function and integrate into pipeline
  scripts/202-insert.groovy
Owners: @taosdata/merge

enh: streamline artifact cleanup in build_package_for_ci function
  scripts/202-insert.groovy
Owners: @taosdata/merge

feat: write logic to raw_block_write
  tools/taosBackup/inc/bckError.h
  tools/taosBackup/inc/bckLog.h
  tools/taosBackup/src/bckBackup.c
  tools/taosBackup/src/bckLog.c
  tools/taosBackup/test/showRawBlock.c
Owners: @guanshengliang, @zitsen

enh: simplify artifact cleanup in build_package_for_ci function
  scripts/202-insert.groovy
Owners: @taosdata/merge

feat: showRawBlock.c show successfully
  tools/taosBackup/test/showRawBlock.c
Owners: @guanshengliang, @zitsen

feat(stream): support sub event in event window trigger
  include/util/tobjpool.h
  source/libs/new-stream/inc/streamInt.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/new-stream/src/streamUtil.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTranslater.c
  source/util/src/tobjpool.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: initialize driver environment using taosDriverEnvInit
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

stage: bckBackup.c basic logic finished
  tools/taosBackup/inc/bckArgs.h
  tools/taosBackup/inc/bckBackup.h
  tools/taosBackup/inc/bckBackupImpl.h
  tools/taosBackup/src/bckBackup.c
  tools/taosBackup/src/bckBackupImpl.c
  tools/taosBackup/src/util.c
Owners: @guanshengliang, @zitsen

feat(rbac): fix roles hash function type
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update trademark symbol
  docs/en/01-index.md
Owners: @guanshengliang, @zitsen

docs: correct anchor in sqlalchemy example
  docs/examples/python/connect_websocket_sqlalchemy_examples.py
Owners: @guanshengliang, @zitsen

docs: update taosbenchmark example includes
  docs/en/14-reference/02-tools/10-taosbenchmark.md
Owners: @guanshengliang, @zitsen
