Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

enh: opParam memory safety especially on merge scan, add more tests
  source/common/src/msg/tmsg.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/qworker/src/qworker.c
  test/cases/09-DataQuerying/12-Interp/in/insert_config.json
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

dmchen/self-audit-112
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/libs/audit/src/auditMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:stmt2 memleak (#34169)
  include/common/tdataformat.h
  include/libs/parser/parser.h
  include/libs/qcom/query.h
  source/client/inc/clientStmt.h
  source/client/src/clientStmt.c
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/inc/parInsertUtil.h
  source/libs/parser/src/parInsertSml.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parInsertUtil.c
  source/libs/qcom/src/queryUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support encrypty bse.
  source/dnode/vnode/src/bse/bseMgt.c
  source/dnode/vnode/src/vnd/vnodeOpen.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check select privilege for star
  include/libs/nodes/querynodes.h
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Adjust virtual table's max ref table num.
  source/dnode/vnode/src/meta/metaTable.c
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): add trigger time in notification for period trigger
  source/libs/new-stream/src/streamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): support stream placeholder in ORDER BY clause
  include/libs/planner/planner.h
  source/libs/parser/src/parTranslater.c
  source/libs/parser/test/parStreamTest.cpp
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check select privilege for star if select column privileges set for table
  include/libs/parser/parser.h
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Fix code logic
  include/common/tmsg.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/mergeoperator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: SValue init error
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check select privilege for star if select column privileges set for table
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: change the order of QUERY_NODE_ALTER_XNODE_AGENT_STMT
  include/common/tmsg.h
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check select privilege for star if select column privileges set for table
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: improve error handling during server startup in taoskeeper
  tools/keeper/system/program.go
Owners: @guanshengliang, @zitsen

fix: improve error handling during server startup in taoskeeper
  tools/keeper/system/program.go
Owners: @guanshengliang, @zitsen

cases: test_user_manager.py test_tool_taos_cli.py improve
  test/cases/24-Users/test_user_manager.py
  test/cases/81-Tools/02-Taos/test_tool_taos_cli.py
Owners: @taosdata/merge

feat: support encrypt stream checkpoint file.
  source/libs/new-stream/src/streamCheckpoint.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: add test_user_totp.py
  test/cases/24-Users/test_user_totp.py
  test/ci/cases.task
  test/new_test_framework/utils/eos.py
Owners: @taosdata/merge

feat: add rate limiting module with implementation and tests
  source/libs/rate_limit/CMakeLists.txt
  source/libs/rate_limit/README.md
  source/libs/rate_limit/inc/rateLimit.h
  source/libs/rate_limit/inc/rateLimitMgr.h
  source/libs/rate_limit/src/rateLimit.c
  source/libs/rate_limit/src/rateLimitMgr.c
  source/libs/rate_limit/test/CMakeLists.txt
  source/libs/rate_limit/test/rateLimitTest.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: update CMakeLists.txt for rate limit integration
  source/libs/CMakeLists.txt
  source/libs/transport/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: integrate rate limiting into transport and heartbeat mechanisms
  source/client/src/clientHb.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add test cases
  include/libs/nodes/querynodes.h
  source/libs/executor/src/executil.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parUtil.c
  source/libs/scalar/src/scalar.c
  source/util/src/terror.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_in_sub_query1.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_in_sub_query1.1.csv
  test/cases/09-DataQuerying/08-SubQuery/test_in_subq1.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(mysql): consumer and produce block #6655452149 (#3518)
  crates/source-mysql/src/lib.rs
  crates/source-mysql/src/worker/consumer.rs
  crates/source-mysql/src/worker/mod.rs
  crates/source-mysql/src/worker/producer.rs
Owners: @taosdata/merge

dmchen/add-encrypt-audit-case
  test/cases/02-Databases/01-Create/test_db_create_encrypt.py
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
Owners: @taosdata/merge

Deployed 6da84a1a5d to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataQuerying/Interp/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

docs: cpp subscribe correction
  docs/en/14-reference/05-connector/10-cpp.md
  docs/zh/14-reference/05-connector/10-cpp.mdx
Owners: @guanshengliang, @zitsen

docs: mqtt data subscription link
  docs/en/14-reference/03-taos-sql/40-tmq.md
Owners: @guanshengliang, @zitsen

fix(stream): fix true for check in history calculation
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_window_true_for.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed ecc3e2a5bd to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

Deployed 4ba634cf3a to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataQuerying/Interp/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/02-Stream/stream_drop_table.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix Select->pOrderByList heap use after free
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check select privilege for star
  include/libs/parser/parser.h
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: eos.py output run result
  test/cases/24-Users/test_user_totp.py
  test/new_test_framework/utils/eos.py
Owners: @taosdata/merge

build: release ver-3.3.8.12
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix: test_user_manager.py connect timeout 60s timeout
  test/cases/24-Users/test_user_manager.py
Owners: @taosdata/merge

fix: stream issues (#34254)
  include/libs/planner/planner.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/new-stream/src/streamUtil.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/test/parStreamTest.cpp
  source/libs/planner/src/planLogicCreater.c
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_window_true_for.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(rbac): column mask process
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121
