Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh: update Go version from 1.24.0 to 1.24.10 (#2402)
  enterprise/src/plugins/taosainternal/go.mod
Owners: @taosdata/merge

wip
  include/common/tmsg.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/terror.c
  source/util/test/errorCodeTable.ini
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: new stream compatibility
  include/common/streamMsg.h
  include/libs/nodes/plannodes.h
  include/util/tjson.h
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/inc/mndStream.h
  source/util/src/tjson.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): implement grant/revoke with alter role
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add JSON data writing support for TDengine TSDB via RESTful interface (#33491)
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

build: release ver-3.3.6.32
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix memleak
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support join operator
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/diagnostics.sql
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/resource/data/diagnostics.csv
  tools/tsbs-tdengine/resource/data/diagnostics.taosx.json
  tools/tsbs-tdengine/resource/data/readings.csv
  tools/tsbs-tdengine/src/doTest.py
Owners: @guanshengliang, @zitsen

wip2
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add notify result test framework
  test/cases/18-StreamProcessing/05-Notify/notify_check.py
  test/cases/18-StreamProcessing/05-Notify/stream_notify_server.py
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
Owners: @taosdata/merge

feat(rbac): implement grant/revoke with alter role
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): use objpool for calc params in history calculation
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix memleak
  source/common/src/msg/streamMsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): grant/revoke privileges/role to/from user/role
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add triggerPrec to json
  source/common/src/msg/streamJson.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): optimize first/las ts interface
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/20-UseCase/idmp_manager_bug8.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(stream): optimize first/las ts interface
  include/libs/new-stream/streamReader.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add retry when check notify result
  test/cases/18-StreamProcessing/05-Notify/notify_check.py
Owners: @taosdata/merge

fix: modify title
  scripts/feishuTalk.py
  scripts/run.sh
Owners: @taosdata/merge

docs: fix errors
  docs/zh/14-reference/03-taos-sql/02-database.md
Owners: @guanshengliang, @zitsen

merge: from 3.3.6 to main
  docs/zh/14-reference/03-taos-sql/02-database.md
  source/common/src/tglobal.c
  source/libs/planner/src/planLogicCreater.c
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed 222b3e0c79 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

avoid cpu problem
  source/libs/transport/inc/transComm.h
  source/libs/transport/src/trans.c
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

avoid cpu problem
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: merge errors
  docs/zh/14-reference/03-taos-sql/50-meta.md
  test/cases/21-MetaData/test_meta_sysdb2.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @taosdata/merge

avoid cpu problem
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: merge errors (#33603)
  docs/zh/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/50-meta.md
  source/common/src/tglobal.c
  source/libs/planner/src/planLogicCreater.c
  test/cases/21-MetaData/test_meta_sysdb2.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed b04e1b8b40 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/MetaData/index.html
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: invalid read issue
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix oom of history calculation
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix history calculation log
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): add log & fix indexHash error in reader
  source/dnode/vnode/src/vnd/vnodeQuery.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.3.8.6
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix: compile errors
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update the description of the automatic table creation
  docs/zh/14-reference/03-taos-sql/06-insert.md
Owners: @guanshengliang, @zitsen

enh(stream): add log
  source/dnode/vnode/src/vnd/vnodeQuery.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): add log
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc:s: fix ci errors
  docs/zh/14-reference/03-taos-sql/06-insert.md
Owners: @guanshengliang, @zitsen

fix(gpt): update the requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

fix: fix disorder data count verification logic and support setting tolerance
  test/cases/81-Tools/03-Benchmark/test_benchmark_sml.py
  test/cases/81-Tools/03-Benchmark/test_benchmark_website.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
