Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix failed test cases
  source/client/test/clientTests.cpp
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_recalc.py
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_systable.py
  test/cases/24-Users/test_user_privilege_create_db.py
  test/cases/24-Users/test_user_privilege_db.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(client): format code & fix compile error
  source/client/src/clientMonitor.c
  source/client/test/clientMonitorTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:clientHbReq deserialize problem (#34198)
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: explain with no aggregate function window crash issue (#34201)
  source/libs/command/src/explain.c
  source/libs/nodes/src/nodesUtilFuncs.c
  test/cases/09-DataQuerying/15-Explain/test_explain.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: wrong default value for password reuse time
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stable query issues
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/qworker/inc/qwInt.h
  source/libs/qworker/src/qwMsg.c
  source/libs/qworker/src/qwUtil.c
  source/libs/qworker/src/qworker.c
  source/util/src/tarray.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat:stmt2 query free result by adapter
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(log): modify doc of monitor
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix review
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat:stmt2 query free result by adapter (#34155)
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh:stmt2 query free result by adapter (#34214)
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

feat:stmt2 query free result by adapter (#34200)
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

feat:stmt2 query free result by adapter (#34202)
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

update document
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
Owners: @guanshengliang, @zitsen

not log error when ssl disabled
  source/libs/transport/inc/transportInt.h
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(monitor): compile error
  source/client/test/clientMonitorTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: mem use heap overflow while use encrypt sdb.
  source/common/src/tencrypt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: create user 15 options
  test/cases/24-Users/test_user_security.py
  tools/shell/src/shellAuto.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

enh(rbac): add allow_drop for db
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  include/util/tpriv.h
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/common/src/tpriv.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/vnd/vnodeCfg.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: typo
  test/new_test_framework/utils/tmqUtil.py
Owners: @taosdata/merge

fix wrong allow_token_num minimal value
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): refactor database and table creation queries for improved readability and consistency
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/tmqUtil.py
Owners: @taosdata/merge

Implement feature X to enhance user experience and optimize performance
  test/new_test_framework/utils/tmqUtil.py
Owners: @taosdata/merge

Implement feature X to enhance user experience and optimize performance
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

test case for stream interval result
  test/cases/18-StreamProcessing/02-Stream/stream_fetch.py
  test/ci/cases.task
Owners: @taosdata/merge

test case for stream interval result
  test/cases/18-StreamProcessing/02-Stream/stream_fetch.py
  test/ci/cases.task
Owners: @taosdata/merge

refactor code
  source/libs/transport/CMakeLists.txt
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): add allow_drop for db
  include/util/taoserror.h
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/parser/src/parAstCreater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: wrong default value for upgraded user
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: show tokens statements cannot be parsed
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: do not encrypt dnode.info.
  source/common/src/tencrypt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update SQL string construction to handle empty database parameters
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

enh: table scan and exchange operator notification logic for stream
  include/common/tcommon.h
  include/common/tmsg.h
  include/libs/executor/executor.h
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/operator.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/operator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/planner/src/planSpliter.c
  source/libs/qworker/src/qworker.c
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: ensure proper spacing in SQL string construction for database creation
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

update document for host format
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
Owners: @guanshengliang, @zitsen

fix(monitor): compile error
  source/client/test/clientMonitorTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check audit privilege
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
