Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

minor issues
  docs/en/06-advanced/01-subscription/01-topic.md
  docs/en/06-advanced/01-subscription/02-native.md
Owners: @guanshengliang, @zitsen

test: put unit test run first
  test/ci/cases.task
Owners: @taosdata/merge

test: put unit test run first
  test/ci/run.sh
Owners: @taosdata/merge

fix: explore-sys metric's sub table name (#33441)
  tools/keeper/api/gen_metric.go
  tools/keeper/api/gen_metric_test.go
Owners: @guanshengliang, @zitsen

fix(influxdb): enable multi stable breakpoints within lush stream module (#3361)
  taosx-core/src/plugins/sink/mod.rs
Owners: @taosdata/merge

fix: Fix Docker command port mapping in documentation
  docs/zh/04-get-started/01-docker.mdx
Owners: @guanshengliang, @zitsen

fix: Fix Docker command port mapping in documentation (#33449)
  docs/zh/04-get-started/01-docker.mdx
Owners: @guanshengliang, @zitsen

fix(docker): Re-add openjdk-17-jre-headless to Dockerfile.base
  packaging/docker/Dockerfile.base
Owners: @feici02

case: submit system-test/6-cluster
  test/cases/70-Cluster/test_4dnode1mnode_basic_create_db_replica1.py
  test/cases/70-Cluster/test_4dnode1mnode_basic_replica1_insertdatas.py
  test/cases/70-Cluster/test_4dnode1mnode_basic_replica1_insertdatas_querys.py
  test/cases/70-Cluster/test_4dnode1mnode_basic_replica3_insertdatas.py
  test/cases/70-Cluster/test_4dnode1mnode_basic_replica3_insertdatas_querys.py
  test/cases/70-Cluster/test_4dnode1mnode_basic_replica3_vgroups.py
  test/cases/70-Cluster/test_5dnode1mnode.py
  test/cases/70-Cluster/test_5dnode2mnode.py
  test/cases/70-Cluster/test_5dnode3mnode_add_1dnode.py
  test/cases/70-Cluster/test_5dnode3mnode_recreate_mnode.py
  test/cases/70-Cluster/test_5dnode3mnode_restart_dnode_insert_data.py
  test/cases/70-Cluster/test_5dnode3mnode_restart_dnode_insert_data_async.py
  test/cases/70-Cluster/test_5dnode3mnode_sep1_vnode_stop_dnode_create_db.py
  test/cases/70-Cluster/test_5dnode3mnode_sep1_vnode_stop_dnode_create_stb.py
  test/cases/70-Cluster/test_5dnode3mnode_sep1_vnode_stop_dnode_modify_meta.py
  test/cases/70-Cluster/test_5dnode3mnode_sep1_vnode_stop_mnode_create_db.py
  test/cases/70-Cluster/test_5dnode3mnode_sep1_vnode_stop_mnode_create_stb.py
  test/cases/70-Cluster/test_5dnode3mnode_sep1_vnode_stop_mnode_modify_meta.py
  test/cases/70-Cluster/test_5dnode3mnode_sep1_vnode_stop_vnode_create_db.py
  test/cases/70-Cluster/test_5dnode3mnode_sep1_vnode_stop_vnode_create_stb.py
  test/cases/70-Cluster/test_5dnode3mnode_stop.py
  test/cases/70-Cluster/test_5dnode3mnode_stop_2follower.py
  test/cases/70-Cluster/test_5dnode3mnode_stop_follower_leader.py
  test/cases/70-Cluster/test_5dnode3mnode_stop_loop.py
  test/cases/70-Cluster/test_6dnode3mnode_insert_less_data_alter_rep3to1to3.py
  test/cases/70-Cluster/test_compact_db_conflict.py
  test/cases/70-Cluster/test_mnode_encrypt.py
  test/cases/uncatalog/system-test/6-cluster/test_5dnode3mnode_add_1dnode.py
  test/ci/cases.task
Owners: @taosdata/merge

case: fix some case failed
  test/cases/09-DataQuerying/03-GroupBy/test_query_groupby_bugs.py
  test/cases/09-DataQuerying/12-Interp/test_query_interp_bugs.py
  test/cases/11-Functions/02-Aggregate/test_agg_bugs.py
  test/cases/11-Functions/03-Selection/test_select_bugs.py
  test/cases/21-MetaData/test_meta_bugs.py
  test/cases/24-Users/test_user_privilege_sysinfo.py
  test/ci/win_cases.task
Owners: @taosdata/merge

Add container name on docker tutorial
  docs/en/04-get-started/01-docker.md
  docs/zh/04-get-started/_03-docker.md
Owners: @guanshengliang, @zitsen

case: add cluster_common_check.py and cluster_common_create.py
  test/cases/11-Functions/03-Selection/test_select_bugs.py
  test/cases/70-Cluster/cluster_common_check.py
  test/cases/70-Cluster/cluster_common_create.py
  test/ci/cases.task
Owners: @taosdata/merge

case: submit system-test/0-others/ udf
  test/cases/uncatalog/system-test/0-others/test_udf_cfg1.py
  test/cases/uncatalog/system-test/0-others/test_udf_cfg2.py
  test/cases/uncatalog/system-test/0-others/test_udf_create.py
  test/cases/uncatalog/system-test/0-others/test_udf_restart_taosd.py
  test/cases/uncatalog/system-test/0-others/test_udf_test.py
  test/cases/uncatalog/system-test/0-others/test_udfpy_main.py
  test/cases/uncatalog/system-test/0-others/udfpy/af_count.py
  test/cases/uncatalog/system-test/0-others/udfpy/af_min.py
  test/cases/uncatalog/system-test/0-others/udfpy/af_null.py
  test/cases/uncatalog/system-test/0-others/udfpy/af_sum.py
  test/cases/uncatalog/system-test/0-others/udfpy/sf_concat_nch.py
  test/cases/uncatalog/system-test/0-others/udfpy/sf_concat_var.py
  test/cases/uncatalog/system-test/0-others/udfpy/sf_multi_args.py
  test/cases/uncatalog/system-test/0-others/udfpy/sf_null.py
  test/cases/uncatalog/system-test/0-others/udfpy/sf_origin.py
  test/cases/uncatalog/system-test/eco-system/manager/test_schema_change.py
  test/ci/cases.task
Owners: @taosdata/merge

case: submit 12-UDFs/
  test/cases/12-UDFs/test_udf_cfg1.py
  test/cases/12-UDFs/test_udf_cfg2.py
  test/cases/12-UDFs/test_udf_create.py
  test/cases/12-UDFs/test_udf_main.py
  test/cases/12-UDFs/test_udf_restart_taosd.py
  test/cases/12-UDFs/test_udf_test.py
  test/cases/12-UDFs/udfpy/af_count.py
  test/cases/12-UDFs/udfpy/af_min.py
  test/cases/12-UDFs/udfpy/af_null.py
  test/cases/12-UDFs/udfpy/af_sum.py
  test/cases/12-UDFs/udfpy/sf_concat_nch.py
  test/cases/12-UDFs/udfpy/sf_concat_var.py
  test/cases/12-UDFs/udfpy/sf_multi_args.py
  test/cases/12-UDFs/udfpy/sf_null.py
  test/cases/12-UDFs/udfpy/sf_origin.py
  test/cases/21-MetaData/test_meta_change.py
Owners: @taosdata/merge

fix tests
  tools/keeper/api/adapter2_test.go
  tools/keeper/api/audit_test.go
  tools/keeper/api/common.go
  tools/keeper/api/exporter_test.go
  tools/keeper/api/gen_metric_test.go
  tools/keeper/api/https_test.go
  tools/keeper/api/report.go
  tools/keeper/api/report_sql_test.go
  tools/keeper/api/tables_test.go
  tools/keeper/cmd/command_test.go
  tools/keeper/db/connector_test.go
  tools/keeper/infrastructure/log/log.go
  tools/keeper/monitor/monitor.go
  tools/keeper/monitor/monitor_test.go
  tools/keeper/system/program_test.go
Owners: @guanshengliang, @zitsen

feat(stream): support schema evolution of virtual table
  include/common/streamMsg.h
  source/common/src/msg/streamMsg.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

process all-null block and cache unfinished block
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/timewindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add ci test
  test/cases/13-TimeSeriesExt/04-StateWindow/data/data1.csv
  test/cases/13-TimeSeriesExt/04-StateWindow/data/data2.csv
  test/cases/13-TimeSeriesExt/04-StateWindow/data/data3.csv
  test/cases/13-TimeSeriesExt/04-StateWindow/data/data4.csv
  test/cases/13-TimeSeriesExt/04-StateWindow/data/data5.csv
  test/cases/13-TimeSeriesExt/04-StateWindow/data/data6.csv
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_null_block.py
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: reduce logic in doStateWindowAggImpl
  source/libs/executor/src/timewindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update 3.3.8.4 release notes in office web
  cmake/version.cmake
  docs/en/04-get-started/03-package.md
  docs/en/28-releases/03-notes/3.3.8.4.md
  docs/zh/04-get-started/03-package.mdx
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
  docs/zh/08-operation/03-install.md
  docs/zh/28-releases/03-notes/3.3.8.4.md
Owners: @guanshengliang, @zitsen

Fix formatting issues in release notes for 3.3.8.4
  docs/zh/28-releases/03-notes/3.3.8.4.md
Owners: @guanshengliang, @zitsen

case: submit 0-others user and privileges
  test/cases/24-Users/test_user_basic.py
  test/cases/24-Users/test_user_control.py
  test/cases/25-Privileges/test_priv_basic.py
  test/cases/uncatalog/system-test/0-others/test_user_manage.py
  test/cases/uncatalog/system-test/0-others/test_user_privilege.py
  test/cases/uncatalog/system-test/0-others/test_user_privilege_all.py
  test/cases/uncatalog/system-test/0-others/test_user_privilege_multi_users.py
  test/cases/uncatalog/system-test/0-others/test_user_privilege_show.py
  test/ci/cases.task
Owners: @taosdata/merge

feat: optimize the usage instructions of taosdump
  docs/en/14-reference/02-tools/09-taosdump.md
  docs/zh/14-reference/02-tools/09-taosdump.md
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(sha2): new sha funcs
  include/common/tcommon.h
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  include/util/tsha.h
  include/util/tutil.h
  source/libs/function/src/builtins.c
  source/libs/parser/src/parInsertSql.c
  source/libs/scalar/src/sclfunc.c
  source/util/src/tsha.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: delete repetitive and unnecessary text
  docs/zh/05-basic/01-model.md
Owners: @guanshengliang, @zitsen

docs: update 3.3.8.4 release notes in office web
  cmake/version.cmake
  docs/en/04-get-started/03-package.md
  docs/en/28-releases/03-notes/3.3.8.4.md
  docs/zh/04-get-started/03-package.mdx
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
  docs/zh/08-operation/03-install.md
  docs/zh/28-releases/03-notes/3.3.8.4.md
Owners: @guanshengliang, @zitsen

fix string format printing
  include/util/tutil.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix func name in error logs
  source/libs/scalar/src/sclfunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(stream): support meta change in virtual table
  include/common/streamMsg.h
  include/libs/new-stream/streamReader.h
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix char type conversions
  include/util/tutil.h
Owners: @guanshengliang, @hzcheng, @dapan1121

enh/TD-38474-modify-sdb-data
  include/dnode/mnode/mnode.h
  source/dnode/mgmt/exe/dmMain.c
  source/dnode/mnode/impl/src/mndDump.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/mnode/sdb/inc/sdb.h
  source/dnode/mnode/sdb/src/sdbFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update cases.task
  test/ci/cases.task
Owners: @taosdata/merge

enh: adjust readme
  docs/en/28-releases/03-notes/3.3.8.4.md
  docs/zh/28-releases/03-notes/3.3.8.4.md
Owners: @guanshengliang, @zitsen

feat: optimize the usage instructions of taosdump and fix typos
  docs/en/14-reference/02-tools/09-taosdump.md
  docs/zh/14-reference/02-tools/09-taosdump.md
  tools/inc/pub.h
  tools/taos-tools/deps/emfisis.physics.uiowa.edu/Software/C/libargp/argp/argp-parse.c
  tools/taos-tools/deps/libargp/src/argp-parse.c
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

Update 3.3.8.4.md
  docs/en/28-releases/03-notes/3.3.8.4.md
Owners: @guanshengliang, @zitsen

case: migrate 0-others/ test_show_ 6 cases
  test/cases/23-ShowCommands/test_show_basic.py
  test/cases/23-ShowCommands/test_show_diskinfo.py
  test/cases/23-ShowCommands/test_show_table_distributed.py
  test/cases/23-ShowCommands/test_show_tables.py
  test/cases/23-ShowCommands/test_show_transaction.py
  test/cases/25-Privileges/test_priv_basic.py
  test/cases/uncatalog/system-test/0-others/test_show_disk_usage.py
  test/cases/uncatalog/system-test/0-others/test_show_disk_usage_multilevel.py
  test/cases/uncatalog/system-test/0-others/test_show_table_distributed.py
  test/cases/uncatalog/system-test/0-others/test_show_tag_index.py
  test/ci/cases.task
Owners: @taosdata/merge

fix format strings
  include/util/tutil.h
Owners: @guanshengliang, @hzcheng, @dapan1121

Update 3.3.8.4.md
  docs/zh/28-releases/03-notes/3.3.8.4.md
Owners: @guanshengliang, @zitsen

fix format string
  include/util/tutil.h
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taos): add version for perf_connections
  include/common/tmsg.h
  source/client/src/clientHb.c
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndProfile.c
  tests/system-test/0-others/information_schema.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen
