Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(stream): remove trigger periodically pulling vtable info
  source/dnode/mnode/impl/src/mndStreamUtil.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stream datainserter hash get core (#33886)
  source/libs/executor/src/dataInserter.c
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

f4 stream sql
  tools/tsbs-tdengine/resource/config/cases.yaml
Owners: @guanshengliang, @zitsen

support show long create table
  source/libs/parser/src/parTranslater.c
  test/cases/23-ShowCommands/test_show_wide_table.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(audit): remove unused audit error code and update related logic
  include/util/taoserror.h
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/libs/audit/inc/auditInt.h
  source/libs/audit/src/auditMain.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support show long create table
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

fix: improve python_taos_error filtering in checkAsan.sh
  test/ci/checkAsan.sh
Owners: @taosdata/merge

fix: initialize SWalCfg in WalSkipLevel test setup
  source/libs/wal/test/walMetaTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: refine python taos error filtering in checkAsan.sh
  test/ci/checkAsan.sh
Owners: @taosdata/merge

fix: initialize SCryptOpts in taosSm4Encrypt and taosSm4Decrypt functions
  source/libs/crypt/src/crypt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add integral calculation description
  docs/en/05-basic/03-query.md
  docs/zh/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

fix fetch_rows_a core
  source/client/src/clientImpl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: correct markdown docs
  docs/en/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

Update docs/zh/05-basic/03-query.md
  docs/zh/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

docs: remove taostools and old links
  docs/en/28-releases/01-tdengine.md
  docs/en/28-releases/02-tools.md
  docs/en/28-releases/index.md
Owners: @guanshengliang, @zitsen

docs: add integral calculation description (#33925)
  docs/en/05-basic/03-query.md
  docs/zh/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

docs: reorganize release page
  docs/en/28-releases/index.md
Owners: @guanshengliang, @zitsen

fix: f4 1d -> 1h
  tools/tsbs-tdengine/resource/config/cases.yaml
Owners: @guanshengliang, @zitsen

Deployed 79a5c48ffa to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

feat: [TS-6665] Support 32767 cols.
  docs/en/14-reference/01-components/02-taosc.md
  docs/en/14-reference/03-taos-sql/04-stable.md
  docs/en/14-reference/03-taos-sql/05-virtualtable.md
  docs/en/14-reference/03-taos-sql/91-limit.md
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/04-stable.md
  docs/zh/14-reference/03-taos-sql/05-virtualtable.md
  docs/zh/14-reference/03-taos-sql/91-limit.md
  docs/zh/14-reference/09-error-code.md
  include/libs/qcom/query.h
  include/util/taoserror.h
  include/util/tdef.h
  source/client/src/clientSml.c
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/qcom/inc/queryInt.h
  source/libs/qcom/src/queryUtil.c
  source/libs/qcom/src/querymsg.c
  source/util/src/terror.c
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
  test/cases/30-NameLimits/test_boundary.py
  test/cases/uncatalog/system-test/2-query/test_out_of_order.py
  test/ci/cases.task
  tools/taos-tools/inc/toolsdef.h
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

cases: test_vtable_max_column_num.py spends 249s -> 156s
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
Owners: @taosdata/merge

fix: [TS-6665] fix invalid value in client.
  source/dnode/vnode/src/vnd/vnodeQuery.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: benchmark support 32767 max column set MAX_SQL_LEN from 1M to 4M
  tools/taos-tools/inc/toolsdef.h
  tools/taos-tools/src/benchCommandOpt.c
  tools/taos-tools/src/benchUtil.c
Owners: @guanshengliang, @zitsen

fix: [TS-6665] Add limitation for max column reference table of virtual table.
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  source/dnode/vnode/src/meta/metaTable.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/util/src/terror.c
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix: enhance python taos error filtering in checkAsan.sh
  tests/script/sh/checkAsan.sh
Owners: @guanshengliang, @zitsen

fix: refine runtime error filtering in checkAsan.sh
  tests/script/sh/checkAsan.sh
Owners: @guanshengliang, @zitsen

feat: [TS-6665] support 32767 cols for virtual table. (#33743)
  docs/en/14-reference/01-components/02-taosc.md
  docs/en/14-reference/03-taos-sql/04-stable.md
  docs/en/14-reference/03-taos-sql/05-virtualtable.md
  docs/en/14-reference/03-taos-sql/91-limit.md
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/04-stable.md
  docs/zh/14-reference/03-taos-sql/05-virtualtable.md
  docs/zh/14-reference/03-taos-sql/91-limit.md
  docs/zh/14-reference/09-error-code.md
  include/libs/qcom/query.h
  include/util/taoserror.h
  include/util/tdef.h
  source/client/src/clientSml.c
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/vnode/src/meta/metaTable.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeQuery.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/qcom/inc/queryInt.h
  source/libs/qcom/src/queryUtil.c
  source/libs/qcom/src/querymsg.c
  source/util/src/terror.c
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
  test/cases/30-NameLimits/test_boundary.py
  test/cases/uncatalog/system-test/2-query/test_out_of_order.py
  test/ci/cases.task
  tools/taos-tools/inc/toolsdef.h
  tools/taos-tools/src/benchCommandOpt.c
  tools/taos-tools/src/benchUtil.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed 982999def0 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

sm4: fix heap buffer overflow
  source/libs/scalar/src/sclfunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: scene A2 A3 with equalSQL
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/readings.yaml
Owners: @guanshengliang, @zitsen

feat: move status to last
  tools/tsbs-tdengine/src/outMetrics.py
Owners: @guanshengliang, @zitsen

fix: memory leak issue
  include/common/tmsg.h
  source/libs/command/src/explain.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: head status column move to last
  tools/tsbs-tdengine/src/outMetrics.py
Owners: @guanshengliang, @zitsen

fix: data of group do not affect numOfRows of agg/window results
  source/libs/executor/src/executorInt.c
  source/libs/parser/src/parTranslater.c
  test/cases/11-Functions/03-Selection/test_fun_select_cols.py
  test/cases/13-TimeSeriesExt/06-SessionWindow/test_session.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

update test case
  source/client/src/clientSession.c
  source/client/test/session.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

update test case
  source/client/test/session.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(audit): add new audit error codes and update related test cases
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  test/cases/02-Databases/03-Alter/test_db_alter_database.py
  test/cases/23-ShowCommands/test_show_create_db.py
  test/cases/uncatalog/system-test/0-others/test_taosd_audit.py
Owners: @guanshengliang, @zitsen, @taosdata/merge

remove ralloc to fix heap overflow
  source/libs/scalar/src/sclfunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: initialize SWalCfg in WalSkipLevel test setup (#33923)
  source/libs/crypt/src/crypt.c
  source/libs/wal/test/walMetaTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(audit): enhance topic creation, reload, and drop auditing with duration tracking
  source/dnode/mnode/impl/src/mndTopic.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
