Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

support rebalance all without where condition
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memory leak issue
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(kill_process): update kill_process function to use function keyword and improve error handling in remove script
  packaging/tools/install.sh
  packaging/tools/remove.sh
Owners: @feici02

fix: compile issues
  include/common/tmsg.h
  include/libs/nodes/nodes.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  include/libs/qworker/qworker.h
  include/libs/scalar/scalar.h
  source/common/src/msg/tmsg.c
  source/libs/executor/src/executil.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parCalcConst.c
  source/libs/planner/src/planner.c
  source/libs/qworker/inc/qwInt.h
  source/libs/qworker/src/qwMsg.c
  source/libs/qworker/src/qworker.c
  source/libs/scalar/inc/sclvector.h
  source/libs/scalar/src/scalar.c
  source/libs/scalar/src/sclvector.c
  source/libs/scheduler/src/schRemote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(remove): improve process termination logic in kill_service_of function (#34100)
  packaging/tools/install.sh
  packaging/tools/remove.sh
Owners: @feici02

fix compile error
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: dead lock on error path
  source/libs/qworker/src/qworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix compile error
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix compile error
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: fresh new group key
  source/libs/executor/src/groupoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: fresh new group key
  source/libs/executor/src/groupoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: cacheload may bigger than int_32. (#34101)
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: timestamp out of date
  tests/system-test/2-query/tsbsQuery.py
Owners: @guanshengliang, @zitsen

fix: ci errors
  test/cases/11-Functions/06-System/test_fun_sys_info.py
Owners: @taosdata/merge

feat(rbac): access control (#2418)
  enterprise/src/plugins/privilege/src/privilege.c
  enterprise/src/plugins/view/src/mndView.c
  enterprise/src/plugins/view/src/parserView.c
Owners: @taosdata/merge

feat: refactor database name handling in audit initialization
  tools/keeper/api/audit.go
Owners: @guanshengliang, @zitsen

Deployed 31126ab2b6 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/Privileges/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

fix: timestamp out of date (#34105)
  tests/system-test/2-query/tsbsQuery.py
Owners: @guanshengliang, @zitsen

support alter task by name
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/xnode.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(start-scripts): update launchctl commands to remove domain prefix for service management (#2455)
  enterprise/packaging/start-all.sh
  enterprise/packaging/stop-all.sh
Owners: @taosdata/merge

test: add audit test case
  tools/keeper/api/audit_test.go
Owners: @guanshengliang, @zitsen

chore: fix ci problem
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

style: format code
  tools/keeper/api/exporter_test.go
Owners: @guanshengliang, @zitsen

fix invalid check
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: setup tmate
  .github/workflows/taoskeeper-build.yml
Owners: @feici02

fix invalid check
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: remove tmate
  .github/workflows/taoskeeper-build.yml
  tools/keeper/api/audit_test.go
Owners: @feici02, @guanshengliang, @zitsen

fix invalid check
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add backticks to role column in CreateMnodeSql
  tools/keeper/api/tables.go
Owners: @guanshengliang, @zitsen

enh: sign connect request (#34067)
  cmake/version.cmake
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/common/tglobal.h
  include/common/tmsg.h
  include/util/taoserror.h
  include/util/tencode.h
  include/util/version.h
  source/client/src/clientImpl.c
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/test/profile/profile.cpp
  source/dnode/mnode/impl/test/show/show.cpp
  source/util/src/terror.c
  source/util/src/tversion.c
  source/util/src/version.c.in
  test/cases/11-Functions/06-System/test_fun_sys_info.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix invalid check
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix invalid check
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(stream): support sub event in event window trigger
  include/libs/nodes/querynodes.h
  include/util/tlist.h
  source/libs/new-stream/inc/streamInt.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/new-stream/src/streamUtil.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): fix test result for stream recalculation
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_extend.py
  test/cases/18-StreamProcessing/03-TriggerMode/test_state_new.py
  test/cases/18-StreamProcessing/04-Options/test_meta_change_table.py
Owners: @taosdata/merge

test(stream): test sub event in event window trigger
  test/cases/18-StreamProcessing/03-TriggerMode/test_event_new.py
Owners: @taosdata/merge

doc(stream): add description for sub event in event window trigger
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

doc(stream): fix description for show streams
  docs/en/14-reference/03-taos-sql/52-show.md
  docs/zh/14-reference/03-taos-sql/52-show.md
Owners: @guanshengliang, @zitsen

fix invalid check
  include/util/tdef.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: scalar subquery calc constant issue (#34097)
  source/libs/executor/src/executil.c
  source/libs/parser/src/parCalcConst.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [6570595001] Add correct error handling logic.
  source/dnode/vnode/src/meta/metaTable2.c
Owners: @guanshengliang, @hzcheng, @dapan1121
