Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: enhance process check after stopping taosd to ensure it terminates within a timeout
  test/new_test_framework/utils/server/dnode.py
Owners: @taosdata/merge

fix: update logging to use tdSql attributes in scalar function tests
  test/cases/11-Functions/01-Scalar/test_scalar_all.py
Owners: @taosdata/merge

feat(taosx): support xnode agent management sql
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/msg/xnode.c
  source/common/src/systable.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/mnode/impl/test/xnode/CMakeLists.txt
  source/dnode/mnode/impl/test/xnode/xnodeAgentTest.cpp
  source/dnode/mnode/impl/test/xnode/xnodeMemoryTest.cpp
  source/dnode/mnode/impl/test/xnode/xnodeSdbTest.cpp
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/txnode/src/txnodeMgmt.c
  source/util/src/terror.c
  test/cases/42-Xnode/test_xnode.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: add cargo clean command to rust.sh examples
  test/cases/83-DocTest/rust.sh
Owners: @taosdata/merge

fix(run.sh): improve task preparation and execution handling for multi-threading
  test/ci/run.sh
Owners: @taosdata/merge

enh(rbac): error code optimization when grant/revoke system roles
  include/util/taoserror.h
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add DBUILD_SECURITY to control security feat.
  cmake/define.cmake
Owners: @guanshengliang

fix: ci review problems.
  cmake/define.cmake
Owners: @guanshengliang

feat: set TD_BUILD_SECURITY default value false.
  cmake/define.cmake
Owners: @guanshengliang

enh: SValue
  include/common/tdataformat.h
  include/util/tarray.h
  source/util/src/tarray.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: remove install for taosk. (#2464)
  enterprise/src/plugins/crypt/cryptImpl.c
  enterprise/src/plugins/taosk/CMakeLists.txt
Owners: @taosdata/merge

feat: add generate encrypt key at test framework. (#34182)
  packaging/tools/make_install.sh
  packaging/tools/post.sh
  source/common/src/tencrypt.c
  source/dnode/mnode/sdb/src/sdbFile.c
  test/cases/02-Databases/01-Create/test_db_create_encrypt.py
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
  test/ci/cases.task
  test/conftest.py
  test/new_test_framework/taostest/components/taosd.py
  test/new_test_framework/utils/before_test.py
Owners: @feici02, @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: allow_datetime cannot be set during create user (#34226)
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(client): refactor logic of slow log
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(client): refactor logic of slow log
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: test_user_security.py show/alter/drop user finished
  test/cases/24-Users/test_user_security.py
Owners: @taosdata/merge

cases: test_user_security.py rename test_user_manager.py
  test/cases/24-Users/test_user_manager.py
  test/ci/cases.task
Owners: @taosdata/merge

Deployed cc11e8bd3f to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataQuerying/Interp/index.html
  3.0/case_list_docs/StreamProcessing/Stream/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

dmchen/self-audit-19
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(meta entry cache): cache switch and size control (#34014)
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
  include/common/tglobal.h
  include/util/tdef.h
  source/common/src/tglobal.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/virtualtablescanoperator.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

wip
  include/client/taos.h
  include/common/tmsg.h
  source/client/inc/clientInt.h
  source/client/src/clientHb.c
  source/client/src/clientMain.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndToken.h
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: add ALLOW_DATETIME and NOT_ALLOW_DATETIME case
  test/cases/24-Users/test_user_manager.py
Owners: @taosdata/merge

fix(query): init the stt block reader when returning the clean stt/datablock. (#34076)
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: null compare result error
  include/libs/function/function.h
  include/libs/scalar/scalar.h
  source/dnode/qnode/src/qnode.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/qworker/src/qwMsg.c
  source/libs/qworker/src/qworker.c
  source/libs/scalar/inc/sclInt.h
  source/libs/scalar/src/filter.c
  source/libs/scalar/src/scalar.c
  source/libs/scalar/src/sclvector.c
  test/cases/09-DataQuerying/08-SubQuery/test_in_subq1.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix some memory leak
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/xnode.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  test/cases/42-Xnode/test_xnode_systables.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: enhance installation script for improved taosd detection and silent mode handling
  packaging/tools/install.sh
Owners: @feici02

enh: memPool
  include/os/osAtomic.h
  source/os/src/osAtomic.c
  source/util/inc/tmempoolInt.h
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.3.6.38
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

chore: fix windows can't find openssl header file
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/mnode/impl/test/xnode/xnodeAgentTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check column privileges
  include/libs/catalog/catalog.h
  include/libs/nodes/querynodes.h
  include/util/taoserror.h
  source/libs/catalog/src/ctgUtil.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parInsertSql.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check column privileges
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: remove udf links from headings
  docs/en/07-develop/09-udf.md
Owners: @guanshengliang, @zitsen

docs: update branch in github links
  docs/en/14-reference/05-connector/10-cpp.md
Owners: @guanshengliang, @zitsen

Deployed 6ea6284d6a to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

enh(rbac): check column privileges
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): primary key column must be included for insert/update column privileges
  include/libs/nodes/querynodes.h
  include/util/taoserror.h
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check column privileges for insert
  source/libs/parser/inc/parInsertUtil.h
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parInsertUtil.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check column privileges for insert
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check column privileges for insert
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check column privileges for insert
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
