Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix: use orderby agg that does not exist in select within group
  source/libs/parser/src/parTranslater.c
  test/cases/uncatalog/system-test/2-query/test_group_partition.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Update README.md
  README.md
Owners: @taosdata/merge

docs(go): add v3.7.7 release notes for WebSocket connection crash fix
  docs/en/14-reference/05-connector/20-go.md
  docs/zh/14-reference/05-connector/20-go.mdx
Owners: @guanshengliang, @zitsen

docs: unify codeblock languages (#34001)
  docs/en/06-advanced/06-tdgpt/03-management.md
  docs/en/06-advanced/06-tdgpt/05-forecast/04-tsfm.md
  docs/en/06-advanced/06-tdgpt/05-forecast/index.md
  docs/en/06-advanced/06-tdgpt/06-anomaly-detection/02-statistics-approach.md
  docs/en/06-advanced/06-tdgpt/06-anomaly-detection/03-data-density.md
  docs/en/06-advanced/06-tdgpt/06-anomaly-detection/04-machine-learning.md
  docs/en/06-advanced/06-tdgpt/06-anomaly-detection/index.md
  docs/en/06-advanced/06-tdgpt/09-dev/02-algo/02-forecast.md
  docs/en/06-advanced/06-tdgpt/09-dev/02-algo/03-ad.md
  docs/en/06-advanced/06-tdgpt/09-dev/03-ml/index.md
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
  docs/en/06-advanced/06-tdgpt/09-dev/index.md
  docs/en/07-develop/01-connect.md
  docs/en/07-develop/02-sql.md
  docs/en/10-third-party/01-collection/11-kafka.md
  docs/en/10-third-party/03-visual/02-perspective.md
  docs/en/10-third-party/05-bi/09-seeq.md
  docs/en/10-third-party/05-bi/15-spark.md
  docs/en/10-third-party/09-iot/01-Node-RED.md
  docs/en/14-reference/02-tools/09-taosdump.md
  docs/en/14-reference/02-tools/10-taosbenchmark.md
  docs/en/14-reference/03-taos-sql/07-select.md
  docs/en/14-reference/03-taos-sql/index.md
  docs/en/14-reference/05-connector/30-python.md
  docs/en/14-reference/05-connector/index.md
  docs/en/27-train-faq/index.md
  docs/en/28-releases/03-notes/index.md
  docs/en/28-releases/index.md
Owners: @guanshengliang, @zitsen

docs: remove some invalid characters (#34005)
  docs/en/10-third-party/09-iot/01-Node-RED.md
  docs/en/14-reference/01-components/04-taosx.md
  docs/en/14-reference/02-tools/08-taos-cli.md
  docs/en/14-reference/02-tools/10-taosbenchmark.md
  docs/en/29-roadmap/index.md
  docs/en/assets/resources/_macos_install.mdx
Owners: @guanshengliang, @zitsen

docs(go): add v3.7.7 release notes for WebSocket connection crash fix (#34008)
  docs/en/14-reference/05-connector/20-go.md
  docs/zh/14-reference/05-connector/20-go.mdx
Owners: @guanshengliang, @zitsen

docs: update table of contents and improve installation instructions in README
  README-CN.md
  README.md
Owners: @taosdata/merge

add token info
  include/libs/transport/trpc.h
  source/client/inc/clientInt.h
  source/client/src/clientEnv.c
  source/client/src/clientImpl.c
  source/libs/transport/inc/transComm.h
  source/libs/transport/inc/transportInt.h
  source/libs/transport/src/trans.c
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

retrieve xnode status from xnoded
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: improve comments and logging messages for clarity in installation and configuration scripts
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/release.sh
  tools/tdgpt/taosanalytics/conf.py
  tools/tdgpt/taosanalytics/tsfmservice/moment-server.py
Owners: @guanshengliang, @zitsen

add token info
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: adjust words
  README-CN.md
  README.md
Owners: @taosdata/merge

docs: update taosadapter figure
  docs/zh/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/taosAdapter-architecture.png
  docs/zh/14-reference/01-components/taosAdapter-architecture.webp
Owners: @guanshengliang, @zitsen

fix(uninstall): update clean_venv function to prompt for manual deletion of Python virtual environments
  tools/tdgpt/script/uninstall.sh
Owners: @guanshengliang, @zitsen

fix minor issues
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/dnode/mnode/impl/inc/mndToken.h
  source/dnode/mnode/impl/src/mndToken.c
Owners: @guanshengliang, @hzcheng, @dapan1121

func-lag: new func lag for all types (#33968)
  docs/en/14-reference/03-taos-sql/22-function.md
  docs/zh/14-reference/03-taos-sql/22-function.md
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/inc/functionResInfoInt.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  source/libs/scalar/src/sclfunc.c
  test/cases/11-Functions/08-Window/test_fun_win_lag.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(install): modify install_main_path to only delete non-data/log/cfg files
  tools/tdgpt/script/install.sh
Owners: @guanshengliang, @zitsen

Update README.md (#34007)
  README-CN.md
  README.md
Owners: @taosdata/merge

fix: error code confict
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

refactor code
  source/libs/transport/inc/transComm.h
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update taosadapter figure (#34009)
  docs/zh/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/taosAdapter-architecture.png
  docs/zh/14-reference/01-components/taosAdapter-architecture.webp
Owners: @guanshengliang, @zitsen

feat(strea): fix col bytes error
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor code
  source/libs/transport/inc/transComm.h
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(test): update anode creation and expected row counts in TDgpt tests
  test/cases/80-Components/10-TDgpt/test_tdgpt.py
Owners: @taosdata/merge

fix/6604279540-add-more-log-for-save-raft-config
  source/dnode/mgmt/mgmt_mnode/src/mmInt.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndSync.c
  source/libs/sync/inc/syncRaftCfg.h
  source/libs/sync/src/syncMain.c
  source/libs/sync/src/syncRaftCfg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): optimize tablelist in tmq when alter tag & modify tag if ne… (#33988)
  include/libs/executor/executor.h
  include/util/taoserror.h
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/tq/tqRead.c
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/scheduler/src/schRemote.c
  tests/army/whole/checkErrorCode.py
  tests/system-test/7-tmq/tmq_alter_tag.py
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_alter_tag.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

chore: fix coverage threshold check error (#3476)
  .github/workflows/pr-ci.yaml
Owners: @feici02

fix(install): update service file handling to use a temporary file during installation
  packaging/tools/install.sh
Owners: @feici02

fix: enhance logging for Raft configuration changes and update function parameter types
  source/dnode/mnode/impl/src/mndMain.c
  source/libs/sync/inc/syncRaftCfg.h
  source/libs/sync/src/syncMain.c
  source/libs/sync/src/syncRaftCfg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

pass integer as double to cjson
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh:[TS-7591] Optimize virtual super table agg query.
  include/common/tdataformat.h
  include/common/tmsg.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  source/common/src/msg/tmsg.c
  source/common/src/tdatablock.c
  source/common/src/tdataformat.c
  source/libs/executor/inc/dynqueryctrl.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/scanoperator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planScaleOut.c
  source/libs/planner/src/planSpliter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [TS-7591] Add explain info and add plan test.
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/planner/src/planLogicCreater.c
  test/cases/05-VirtualTables/ans/test_vstable_plan_test_agg.ans
  test/cases/05-VirtualTables/in/test_vstable_plan_test_agg.in
  test/cases/05-VirtualTables/test_vtable_query_plan.py
  test/cases/05-VirtualTables/test_vtable_util.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh:[TS-7591] Add test cases.
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_partition_expr.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_tag_cond.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_time_cond.ans
  test/cases/05-VirtualTables/data/genData.json
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_partition_expr.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_tag_cond.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_time_cond.in
  test/cases/05-VirtualTables/test_vtable_query_cross_db_stb_agg.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_ctb.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_agg.py
  test/cases/05-VirtualTables/test_vtable_util.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: [TS-7591] Forbid vstb agg optimize when having select value and group const value.
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [TS-7591] A tricky optimization, which find a proper time to set FUNC_DATA_REQUIRED_NOT_LOAD and avoid loading more block.
  include/libs/function/function.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): support common privilege type, e.g. alter/drop/show/show create
  include/libs/catalog/catalog.h
  include/util/tpriv.h
  source/client/src/clientSml.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndScan.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/inc/parUtil.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): support common privilege type, e.g. alter/drop/show/show create
  source/libs/catalog/test/catalogTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): support common privilege type, e.g. alter/drop/show/show create
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @hzcheng, @dapan1121

add some debug log
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): support common privilege type, e.g. alter/drop/show/show create
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @hzcheng, @dapan1121
