Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

Deployed e1121f3106 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

enh: decimal case cost time (#33418)
  test/cases/01-DataTypes/test_datatype_decimal1.py
  test/cases/01-DataTypes/test_datatype_decimal2.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

Deployed 85c7aa0e7d to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

fix(explorer): remove CSV header column name checks (#3354)
  explorer/taos-ui/components/dataIn/components/csv/csvTransformer.vue
  explorer/taos-ui/locales/en/dataIn.ts
  explorer/taos-ui/locales/zh/dataIn.ts
Owners: @taosdata/merge

fix(gpt): check function params.
  source/libs/executor/src/imputationoperator.c
  source/libs/function/src/builtins.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add libsasl to taosd
  cmake/external.cmake
Owners: @guanshengliang

fix: change sdb config before send req to dnode. (#33408)
  source/dnode/mnode/impl/src/mndConfig.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(explorer): enable keep_processed_files option in csv dir tab (#3353)
  .github/workflows/pr-ci.yaml
  explorer/taos-ui/components/dataIn/components/csv/csvTransformer.vue
  explorer/taos-ui/locales/en/dataIn.ts
  explorer/taos-ui/locales/zh/dataIn.ts
  explorer/taos-ui/pnpm-lock.yaml
Owners: @feici02, @taosdata/merge

fix(stream): [TD-38380] error if tag == %%1 with tagcache open (#33346)
  include/common/streamMsg.h
  include/libs/function/functionMgt.h
  include/libs/new-stream/streamReader.h
  source/common/src/tglobal.c
  source/dnode/vnode/src/meta/metaCache.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/function/src/functionMgt.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/02-Stream/stream_place_holder_column.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: time type compare
  test/cases/13-TimeSeriesExt/02-Fill/test_ts_fill.py
  test/cases/20-RSMAs/test_rsma.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

refactor: do some internal refactor.
  include/common/tmsg.h
  include/libs/nodes/plannodes.h
  source/libs/executor/inc/operator.h
  source/libs/executor/src/imputationoperator.c
  source/libs/executor/src/operator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(gpt): update the requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

test: support multi vm run CI
  .github/workflows/new-framework-test.yml
  test/ci/run.sh
Owners: @feici02, @taosdata/merge

not retry timeout msg (#33411)
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

sync: not retry timeout msg (#33412)
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taos): add connector info for perf_connections
  docs/en/14-reference/05-connector/10-cpp.md
  docs/zh/14-reference/05-connector/10-cpp.mdx
  include/client/taos.h
  include/common/tmsg.h
  include/util/tdef.h
  source/client/inc/clientInt.h
  source/client/src/clientHb.c
  source/client/src/clientMain.c
  source/client/test/connectOptionsTest.cpp
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndProfile.c
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

feat(taos): fix conflicts from 3.0
  source/dnode/mnode/impl/src/mndProfile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add case
  test/cases/18-StreamProcessing/22-Performance/process_csv.py
  test/cases/18-StreamProcessing/22-Performance/stream_perf_batch_test_for_virtual_table.py
Owners: @taosdata/merge

feat(explorer): support decimal type in display charts (#3357)
  explorer/taos-ui/components/explorer/components/chart.vue
Owners: @taosdata/merge

process all-null datablock
  source/libs/executor/src/timewindowoperator.c
  test/data1.csv
  test/data2.csv
  test/data3.csv
  test/dataMoreThan4096.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

case: migrate army/tools/taosdump/ exclude test_type_*.py
  test/cases/06-DataIngestion/01-SQL/test_write_bug.py
  test/cases/81-Tools/04-Taosdump/compa/dbs.sql
  test/cases/81-Tools/04-Taosdump/compa/taosdump.3479698875513/data0/test.3479698875538.0.avro
  test/cases/81-Tools/04-Taosdump/compa/taosdump.3479698875513/dbs.sql
  test/cases/81-Tools/04-Taosdump/compa/taosdump.3479698875513/test.3479698875523.avro-tbtags
  test/cases/81-Tools/04-Taosdump/json/geometry.json
  test/cases/81-Tools/04-Taosdump/json/insertFullType.json
  test/cases/81-Tools/04-Taosdump/json/primaryKey.json
  test/cases/81-Tools/04-Taosdump/json/retry.json
  test/cases/81-Tools/04-Taosdump/json/schemaChange.json
  test/cases/81-Tools/04-Taosdump/json/schemaChangeNew.json
  test/cases/81-Tools/04-Taosdump/json/varbinary.json
  test/cases/81-Tools/04-Taosdump/pwd.txt
  test/cases/81-Tools/04-Taosdump/pwdMax.txt
  test/cases/81-Tools/04-Taosdump/test_taosdump_basic.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_bugs.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_commandline.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_compa.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_precision.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_primarykey.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_privilege.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_retry.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_schema_change.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_db_ntb.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_db_with_non_root.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_escaped_db.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_in_diff_type.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_many_cols.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_start_end_time.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_start_end_time_long.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_test.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_test2.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_test_basic.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_test_inspect.py
  test/cases/uncatalog/army/tools/taosdump/native/test_taosdump_test_loose_mode.py
  test/cases/uncatalog/army/tools/taosdump/ws/test_taosdump_escaped_db.py
  test/ci/cases.task
Owners: @taosdata/merge

Fix/externale win/partition by tag main (#33421)
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/operator.c
  test/cases/18-StreamProcessing/04-Options/test_abnormal_data_table.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: external window block capacity issue
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update sql syntax for create/alter user
  include/common/ttime.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/ttime.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/inc/sql.y.bak
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
  tools/shell/inc/shellInt.h
  tools/taos-tools/inc/dump.h
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix(gpt): update requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

refactor: format with ruff
  test/cases/11-Functions/06-System/test_fun_sys_info.py
  test/conftest.py
Owners: @taosdata/merge

refactor: remove shellcheck warnings
  test/ci/run.sh
Owners: @taosdata/merge

fix(gpt): update requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

fix(gpt): update requirements.
  test/conftest.py
  tools/tdgpt/requirements_ess.txt
Owners: @taosdata/merge, @guanshengliang, @zitsen

feat: add FORCE option for compact command
  docs/en/08-operation/04-maintenance.md
  docs/zh/08-operation/05-maintenance.md
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndVgroup.h
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/src/inc/tsdbInt.h
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

add case
  test/cases/18-StreamProcessing/22-Performance/tdengine_coveage_alarm.py
Owners: @taosdata/merge

add case
  test/ci/tdengine_coveage_alarm.py
Owners: @taosdata/merge

feat: add usessl parameter for WebSocket connections in taosc documentation
  docs/en/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/01-components/02-taosc.md
Owners: @guanshengliang, @zitsen

feat(tmq): send markable version to wal if do not want to delete wal in tmq
  include/common/tmsg.h
  include/libs/wal/wal.h
  source/client/src/clientTmq.c
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/tq/tq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(gpt): update requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

enh: support multiple group calc
  include/common/streamMsg.h
  include/common/tmsg.h
  source/common/src/msg/streamMsg.c
  source/common/src/msg/tmsg.c
  source/dnode/snode/src/snode.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/scanoperator.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/scheduler/src/schRemote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(gpt): update requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

feat(tmq): send markable version to wal if do not want to delete wal in tmq
  include/libs/wal/wal.h
  source/dnode/vnode/src/tq/tq.c
  source/libs/wal/src/walMeta.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(gpt): update the requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

enh(test): insert data in parallel
  test/cases/06-DataIngestion/01-SQL/test_write_column_value.py
Owners: @taosdata/merge
