Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh(rbac): clear user/role privileges when drop db
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  test/cases/02-Databases/01-Create/test_db_create_encrypt.py
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix invalid free
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

remove unused code
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

ci on 52
  .github/workflows/new-framework-test.yml
Owners: @feici02

refactor code
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix(tmq): case error in sometimes (#34348)
  test/cases/17-DataSubscription/02-Consume/test_tmq_stb_tag_filter.py
Owners: @taosdata/merge

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix: stmt crash (#34338)
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

test ci
  docs/zh/14-reference/03-taos-sql/94-datain.md
Owners: @guanshengliang, @zitsen

docs: add activation doc (#34287)
  docs/en/08-operation/30-activate.md
Owners: @guanshengliang, @zitsen

wip
  test/cases/42-Xnode/test_xnode.py
Owners: @taosdata/merge

fix review
  docs/en/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix: add debug log
  source/libs/executor/src/executil.c
  test/cases/09-DataQuerying/08-SubQuery/test_in_sub_query2_generated_queries0.sql
  test/cases/09-DataQuerying/08-SubQuery/test_in_subq1.py
  test/cases/09-DataQuerying/08-SubQuery/test_in_subq2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix check
  docs/en/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix check
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix check
  docs/en/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix check
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix check
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

test: add more cases for user/token/totp
  test/cases/24-Users/test_user_manager.py
  test/cases/24-Users/test_user_token.py
Owners: @taosdata/merge

feat(tmq): support token for tmq
  docs/en/06-advanced/01-subscription/02-native.md
  docs/en/07-develop/07-tmq.md
  docs/zh/07-develop/07-tmq.md
  include/common/tmsg.h
  source/client/src/clientTmq.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_bugs.py
  utils/test/c/tmqSim.c
  utils/test/c/tmq_token.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

enh:stmt support interval opt
  source/client/test/stmt2Test.cpp
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
