Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

return totp secret when create/alter user
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/os/osRand.h
  source/client/src/clientMsgHandler.c
  source/client/test/clientTests.cpp
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/libs/scheduler/src/schRemote.c
  source/os/src/osRand.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix ci issues
  docs/en/14-reference/03-taos-sql/60-user.md
  include/common/tmsg.h
  source/client/src/clientMsgHandler.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix compile error
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(stream): support sub event in event window trigger (#34050)
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/en/14-reference/03-taos-sql/52-show.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/52-show.md
  include/libs/nodes/querynodes.h
  include/util/tlist.h
  source/libs/new-stream/inc/streamInt.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/new-stream/src/streamUtil.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTranslater.c
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_extend.py
  test/cases/18-StreamProcessing/03-TriggerMode/test_event_new.py
  test/cases/18-StreamProcessing/03-TriggerMode/test_state_new.py
  test/cases/18-StreamProcessing/04-Options/test_meta_change_table.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

chore: setup tmate
  .github/workflows/taoskeeper-build.yml
Owners: @feici02

Deployed 7793f72f64 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/TriggerMode/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

prevent totp code replay attack
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add backticks to role column in TransferTaosdMnodesInfo and TransferTaosdVnodesInfo SQL queries
  tools/keeper/cmd/command.go
Owners: @guanshengliang, @zitsen

chore: remove tmate session setup from taoskeeper build workflow
  .github/workflows/taoskeeper-build.yml
Owners: @feici02

drop token support if_exists
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

error code for invalid signature
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/util/src/terror.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix ci issue
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update document
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
Owners: @guanshengliang, @zitsen

fix ci issues
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen

update taos shell
  test/cases/81-Tools/02-Taos/test_tool_taos_cli.py
  tools/shell/src/shellAuto.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix: code optimization
  source/libs/executor/src/groupoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:stream out table schema change problem (#34024)
  include/common/streamMsg.h
  include/libs/executor/executor.h
  include/libs/new-stream/stream.h
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/libs/executor/src/dataInserter.c
  source/libs/executor/src/executor.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/parser/src/parTranslater.c
  test/cases/18-StreamProcessing/99-Others/test_out_table.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(ext window): shrink ext window mem when loop finished (#34038)
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs:fix CI error of stmt/stmt2 examples (#34096)
  docs/examples/c/stmt2_insert_demo.c
  docs/examples/c/stmt_insert_demo.c
Owners: @guanshengliang, @zitsen

docs: add token authentication mechanism to REST API documentation (#34098)
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/en/14-reference/05-connector/60-rest-api.md
  docs/zh/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/05-connector/60-rest-api.mdx
Owners: @guanshengliang, @zitsen

fix: enhance error handling and optimize node management in splitCacheLastFuncOptUpdateScanNode
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix invalid check
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

set appropriate display width for token and totp_secret
  tools/shell/inc/shellInt.h
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

fix test case
  test/cases/81-Tools/02-Taos/test_tool_taos_cli.py
Owners: @taosdata/merge

docs: supplement keyword reserve
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
Owners: @guanshengliang, @zitsen

drop user support if_exists
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

docs: supplement keyword reserve (#34111)
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
Owners: @guanshengliang, @zitsen

chore: check test case
  test/ci/cases.task
Owners: @taosdata/merge

fix: add test case
  include/libs/function/functionMgt.h
  source/libs/function/src/builtins.c
  source/libs/function/src/functionMgt.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/test/planSubqueryTest.cpp
  test/cases/11-Functions/02-Aggregate/test_fun_agg_elapsed.py
  test/cases/14-JoinQueries/test_join_pk.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 82ca92141a to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix: use platform independent api (#2457)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

fix(rbac): show users full and grant grammar (#34108)
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAuthenticator.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: addTransportSafetyTest (#34081)
  include/util/tdef.h
  source/client/inc/clientInt.h
  source/client/inc/clientSession.h
  source/client/src/clientEnv.c
  source/client/src/clientHb.c
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/client/src/clientMsgHandler.c
  source/client/src/clientSession.c
  source/client/test/clientTests.cpp
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTokenizer.c
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update node management in splitCacheLastFuncOptUpdateScanNode to use nodesFree for better memory handling
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: drop token support if_exists (#2456)
  enterprise/src/plugins/token/src/mndTokenImpl.c
Owners: @taosdata/merge

feat: three minor enhancement (#34110)
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/09-error-code.md
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

Deployed 49929c6cee to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/StreamProcessing/TriggerMode/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

add NULL param for mndCheckOperPrivilege
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/libs/parser/src/parTranslater.c
  test/cases/06-DataIngestion/05-Others/test_insert_select.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
