Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

complete alter xnode task feature
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/xnode.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  include/common/tmsg.h
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wiptest
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/common/src/msg/xnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/common/src/msg/xnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/common/src/msg/xnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/common/src/msg/xnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: is primayKey
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: Only use primts to determine whether a column is primary key
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 3015ebf3c8 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

support show long create table
  include/util/types.h
  source/libs/command/src/command.c
  source/libs/parser/src/parTranslater.c
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

test: update cov workflow
  .codecov.yml
  .github/workflows/tdengine-test-coverage.yml
  test/ci/cov/cov.task
  test/ci/cov/exclude.txt
  test/ci/cov/run_coverage_container.sh
  test/ci/cov/run_coverage_container_internal.sh
  test/ci/cov/run_coverage_diff.sh
  test/ci/cov/run_coverage_func.sh
  test/ci/cov/tdengine_coveage_alarm.py
Owners: @taosdata/merge, @feici02

test: minor changes
  .github/workflows/tdengine-test-coverage.yml
  test/ci/cov/coverage.task
Owners: @feici02, @taosdata/merge

test: update cov workflow (#33917)
  .codecov.yml
  .github/workflows/tdengine-test-coverage.yml
  test/ci/cov/coverage.task
  test/ci/cov/exclude.txt
  test/ci/cov/run_coverage_container.sh
  test/ci/cov/run_coverage_container_internal.sh
  test/ci/cov/run_coverage_diff.sh
  test/ci/cov/run_coverage_func.sh
  test/ci/cov/tdengine_coveage_alarm.py
Owners: @taosdata/merge, @feici02

feat: add func taosEncryptExistingCfgFiles.
  include/common/tencrypt.h
  source/common/src/tencrypt.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check object privilege recursively
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndStream.c
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: update coverage workflow time
  .github/workflows/tdengine-test-coverage.yml
Owners: @feici02

test: update coverage workflow time (#33918)
  .github/workflows/tdengine-test-coverage.yml
Owners: @feici02

feat(rbac): check privilege of create stream
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

complete alter xnode task feature
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/xnode.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privilege of create stream
  source/dnode/mnode/impl/src/mndDef.c
  source/dnode/mnode/impl/src/mndStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix trigger processing for schema change of vtable
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: core at tsdbCache case use decimal.
  source/dnode/vnode/src/tsdb/tsdbCache.c
  tests/army/insert/decimal_core_test.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: order by not exist aggfunc
  include/util/taoserror.h
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: update default coverage branch
  .github/workflows/tdengine-test-coverage.yml
Owners: @feici02

test: update default coverage branch (#33920)
  .github/workflows/tdengine-test-coverage.yml
Owners: @feici02

cases: test_insert_null_none.py ok
  test/cases/06-DataIngestion/01-SQL/test_write_csv_with_quote.py
  test/cases/06-DataIngestion/01-SQL/test_write_null_none.py
  test/ci/cases.task
Owners: @taosdata/merge

fix: check groupby error
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privilege of create/drop topic
  source/dnode/mnode/impl/src/mndTopic.c
  source/libs/parser/inc/parUtil.h
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privilege of show topics
  source/dnode/mnode/impl/src/mndTopic.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privilege of create/drop index
  source/dnode/mnode/impl/src/mndIndex.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privilege of show indexes
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndIndex.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ut compile issue
  source/libs/qworker/test/qworkerTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: update python dependencies to use minimum version specifications
  test/requirements.txt
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
