Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat: add support for additional virtual environments and model services
  tools/tdgpt/cfg/taosanode.ini
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/release.sh
  tools/tdgpt/script/start-model.sh
Owners: @guanshengliang, @zitsen

refactor: support dynamic download model.
  tools/tdgpt/taosanalytics/conf.py
  tools/tdgpt/taosanalytics/tsfmservice/moment-server.py
Owners: @guanshengliang, @zitsen

fix: fix errors.
  tools/tdgpt/taosanalytics/tsfmservice/moment-server.py
Owners: @guanshengliang, @zitsen

feat(rbac): grant/revoke table privileges with row/col/tag constraint
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ci build error
  test/cases/06-DataIngestion/03-SML/test_write_sml_bugs.py
  test/cases/10-Operators/06-Logical/test_and_or.py
Owners: @taosdata/merge

test: add more test cases (#3468)
  .gitignore
  docs/coverage/taosx-core Code Coverage Improvement Plan.md
  taosx-core/src/legacy/legacy_metric.rs
  taosx-core/src/migrations/mod.rs
  taosx-core/src/migrations/privileges.rs
  taosx-core/src/plugins/config/mod.rs
  taosx-core/src/plugins/expr/mod.rs
  taosx-core/src/plugins/runners/opc/config/points/mod.rs
  taosx-core/src/plugins/sink/ipc_metric.rs
  taosx-core/src/plugins/sink/ipc_transport.rs
  taosx-core/src/plugins/sink/point/model.rs
  taosx-core/src/plugins/transform/handling_strategy/mod.rs
  taosx-core/src/plugins/transform/parse/mod.rs
  taosx-core/src/plugins/transform/select.rs
  taosx-core/src/transform/mod.rs
  taosx-core/src/utils/codec.rs
  taosx-core/src/utils/defer.rs
  taosx-core/src/utils/dsn.rs
  taosx-core/src/utils/files.rs
  taosx-core/src/utils/log_cache.rs
  taosx-core/src/utils/mod.rs
  taosx-core/src/utils/port_pool.rs
  taosx-core/src/utils/timeout.rs
Owners: @taosdata/merge, @guanshengliang, @zitsen

feat(rbac): grant/revoke table privileges with row/col/tag constraint
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: 2-query 10->4 cases
  test/cases/01-DataTypes/test_datatype_varchar.py
  test/cases/03-Tables/02-SubTables/test_subtable_ttl.py
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_tsbs.py
  test/cases/10-Operators/04-Set/test_union.py
  test/cases/10-Operators/04-Set/test_union_basic.py
  test/cases/10-Operators/04-Set/test_union_bugs.py
  test/cases/19-TSMAs/test_sma_basic.py
  test/cases/uncatalog/system-test/2-query/test_blockSMA.py
  test/cases/uncatalog/system-test/2-query/test_case_when.py
  test/cases/uncatalog/system-test/2-query/test_union1.py
  test/cases/uncatalog/system-test/2-query/test_varbinary.py
  test/cases/uncatalog/system-test/2-query/test_varchar.py
  test/ci/cases.task
Owners: @taosdata/merge

feat(rbac): grant/revoke table privileges with row/col/tag constraint
  source/common/src/msg/tmsg.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add sql update svr/db key.
  include/common/tencrypt.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_dnode/inc/dmInt.h
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mgmt/node_util/src/dmFile.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci failed for sml
  test/cases/06-DataIngestion/03-SML/test_write_sml_bugs.py
  test/cases/10-Operators/04-Set/test_union_bugs.py
  test/cases/19-TSMAs/test_sma_basic.py
Owners: @taosdata/merge

feat(rbac): grant/revoke table privileges with row/col/tag constraint
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: alter key bugs.
  include/common/tmsgdef.h
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: use default timezone
  cmake/external.cmake
  include/os/osTimezone.h
  source/os/src/osEnv.c
  source/os/src/osTime.c
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check select/insert/delete table privileges
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check select/insert/delete table privileges
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: fix sml_bugs.py and submit 4->2
  test/cases/06-DataIngestion/03-SML/test_write_sml_cfg.py
  test/cases/06-DataIngestion/03-SML/test_write_sml_td19291.py
  test/cases/06-DataIngestion/03-SML/test_write_sml_ts3724.py
  test/cases/09-DataQuerying/04-OrderBy/test_orderby_basic.py
  test/cases/09-DataQuerying/18-Stablity/test_query_stablity.py
  test/cases/09-DataQuerying/18-Stablity/test_query_stablity_v2.6.py
  test/cases/21-MetaData/test_meta_information_schema.py
  test/cases/uncatalog/system-test/2-query/test_projectionDesc.py
  test/cases/uncatalog/system-test/2-query/test_systable_func.py
  test/ci/cases.task
Owners: @taosdata/merge

fix:load local model file.
  tools/tdgpt/taosanalytics/tsfmservice/timesfm-server.py
Owners: @guanshengliang, @zitsen

feat: add support for additional model environments and update start-model script
  tools/tdgpt/cfg/taosanode.ini
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/start-model.sh
  tools/tdgpt/taosanalytics/tsfmservice/timesfm-server.py
Owners: @guanshengliang, @zitsen

fix: comment out shesd algorithm query in anomaly window test
  test/cases/80-Components/10-TDgpt/test_tdgpt.py
Owners: @taosdata/merge

cases: 2-query 3->1
  test/cases/04-SuperTables/04-Query/test_stable_query_tag_filter.py
  test/cases/26-NodeManager/03-Qnode/test_qnode_basic.py
  test/cases/29-Escape/test_binary_escape_character.py
  test/cases/uncatalog/system-test/2-query/test_queryQnode.py
  test/cases/uncatalog/system-test/2-query/test_tagFilter.py
  test/ci/cases.task
Owners: @taosdata/merge

feat(rbac): check select/insert/delete table privileges
  source/libs/catalog/inc/catalogInt.h
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: unify model service start and stop scripts for improved usability
  docs/zh/06-advanced/06-TDgpt/03-management.md
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
  tools/tdgpt/script/start-tdtsfm.sh
  tools/tdgpt/script/start-time-moe.sh
  tools/tdgpt/script/stop-model.sh
Owners: @guanshengliang, @zitsen

chore: fix 3.0 merge changes
  include/common/tmsg.h
  include/dnode/xnode/xnode.h
  include/libs/nodes/cmdnodes.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: update uninstall script to support dynamic virtual environment removal
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/start-model.sh
  tools/tdgpt/script/uninstall.sh
Owners: @guanshengliang, @zitsen

fix: improve formatting and clarity in model service start/stop script documentation
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

feat(rbac): refact ast parser and auth for ci
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add punctuation and improve usage instructions in model service documentation
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

fix: improve formatting and clarity in model service startup and shutdown script documentation
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

fix: correct link path in management documentation
  docs/zh/06-advanced/06-TDgpt/03-management.md
Owners: @guanshengliang, @zitsen

feat: add stop-model script to installation and enhance model service startup logging
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/start-model.sh
Owners: @guanshengliang, @zitsen

feat(rbac): grant/revoke table privileges with row/col/tag constraint
  include/libs/catalog/catalog.h
  source/client/src/clientSml.c
  source/libs/catalog/inc/catalogInt.h
  source/libs/catalog/src/ctgUtil.c
  source/libs/catalog/test/catalogTests.cpp
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci compile problem
  source/client/src/clientSml.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix upload ci error (#3472)
  .github/workflows/cov.yaml
  .github/workflows/pr-ci.yaml
  Makefile.toml
Owners: @feici02, @taosdata/merge

test: improve codecov (#3471)
  .github/workflows/cov.yaml
  crates/archive/src/lib.rs
  crates/source-kafka/src/pending_ack_fut.rs
  crates/source-postgres/src/lib.rs
  src/serve/privileges/mod.rs
  src/serve/rpc/put.rs
  src/serve/task.rs
  taosx-core/src/plugins/transform/map/cast.rs
  taosx-core/src/plugins/transform/map/sum.rs
  taosx-core/src/plugins/transform/mutate/mod.rs
  taosx-core/src/plugins/transform/parse/mod.rs
  taosx-ipc/src/stream/flat.rs
  taosx-ipc/src/stream/lush.rs
Owners: @feici02, @taosdata/merge

test(explorer): fix test cov in explorer oauth (#3473)
  Cargo.lock
  explorer/server/Cargo.toml
  explorer/server/src/oauth/client.rs
  explorer/server/src/oauth/config.rs
  explorer/server/src/oauth/custom_client.rs
  explorer/server/src/oauth/mod.rs
  explorer/server/src/oauth/plain_client.rs
  explorer/server/src/oauth/session.rs
Owners: @taosdata/merge

feat: add cfgalgo & metaalgo.
  include/common/tglobal.h
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mgmt/node_mgmt/src/dmMgmt.c
  source/dnode/mgmt/node_util/src/dmFile.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci compile problem
  source/common/src/tname.c
  source/libs/parser/src/parAstParser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): pSw is null if get raw data & remove consumer is not ready status (#33945)
  include/common/tmsg.h
  source/client/src/clientTmq.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndConsumer.c
  source/dnode/vnode/src/tq/tqUtil.c
  source/libs/parser/src/parInsertUtil.c
  test/cases/uncatalog/system-test/7-tmq/test_tmq_c_test.py
  test/ci/cases.task
  utils/test/c/tmq_td32187.c
  utils/test/c/tmq_td33798.c
  utils/test/c/tmq_ts5776.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 94b5adcd3b to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
