Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix: test_priv_control.py BUG23 COLUMN MIXED ROWS PRIVILEGE
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

fix: view subquery issue
  source/libs/nodes/src/nodesCloneFuncs.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query4.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query4.1.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query4.2.csv
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub4.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(rbac): reset pointer when release role disabled (#2516)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

fix(xnode): support displaying dynamic error message returned by xnoded (#34601)
  source/client/src/clientMsgHandler.c
  source/dnode/mnode/impl/src/mndXnode.c
  test/cases/42-Xnode/test_xnode.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore(log): reduce default log retention to 3 days (#3634)
  crates/taoslog/src/writer.rs
  examples/taosx.toml
  explorer/server/examples/explorer.toml
  explorer/server/src/main.rs
  src/main.rs
  taosx-agent/examples/agent.toml
  taosx-agent/src/main.rs
Owners: @taosdata/merge, @guanshengliang, @zitsen

chore(log): reduce default log retention to 3 days (#3633)
  crates/taoslog/src/writer.rs
  examples/taosx.toml
  explorer/server/examples/explorer.toml
  explorer/server/src/main.rs
  src/main.rs
  taosx-agent/examples/agent.toml
  taosx-agent/src/main.rs
Owners: @taosdata/merge, @guanshengliang, @zitsen

feat(rpc): Format Tonic FlightError details in RPC failure (#3631)
  src/serve/rpc/utils.rs
Owners: @taosdata/merge

feat(gpt): update the restful engine to Gunicorn (#33766)
  docs/zh/06-advanced/06-TDgpt/01-introduction.md
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
  docs/zh/06-advanced/06-TDgpt/03-management.md
  docs/zh/06-advanced/06-TDgpt/11-faq.md
  packaging/docker/DockerfileTDgpt.base
  tools/tdgpt/cfg/taosanode.config.py
  tools/tdgpt/cfg/taosanode.ini
  tools/tdgpt/cfg/taosanoded.service
  tools/tdgpt/requirements.txt
  tools/tdgpt/requirements_docker.txt
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/release.sh
  tools/tdgpt/script/start.sh
  tools/tdgpt/script/stop.sh
  tools/tdgpt/taosanalytics/algo/correl/tlcc.py
  tools/tdgpt/taosanalytics/algo/correlation.py
  tools/tdgpt/taosanalytics/algo/fc/gpt.py
  tools/tdgpt/taosanalytics/algo/fc/prophet.py
  tools/tdgpt/taosanalytics/algo/fc/timemoe.py
  tools/tdgpt/taosanalytics/algo/forecast.py
  tools/tdgpt/taosanalytics/algo/imputat/moment.py
  tools/tdgpt/taosanalytics/algo/imputation.py
  tools/tdgpt/taosanalytics/app.py
  tools/tdgpt/taosanalytics/conf.py
  tools/tdgpt/taosanalytics/util.py
Owners: @guanshengliang, @zitsen, @feici02

fix(tmq): optimize get json interface
  source/client/src/clientRawBlockWrite.c
  source/dnode/vnode/src/meta/metaSnapshot.c
  utils/test/c/tmq_vtable.c
Owners: @guanshengliang, @hzcheng, @dapan1121

stage 3: column and row privilege control finished
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

feat(taosdump): support dump in/out blob type data
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

fix(cloud): fix tsdb 3.4 information_schema changes in cloud (#3635)
  taosx-core/src/utils/sql.rs
Owners: @taosdata/merge

Deployed beb874241e to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

docs: update product name in enterprise admonition
  docs/en/assets/resources/_enterprise.mdx
Owners: @guanshengliang, @zitsen

feat: support multiple input data columns for anomaly detection.
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  source/common/src/tanalytics.c
  source/libs/executor/inc/executil.h
  source/libs/executor/src/anomalywindowoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/forecastoperator.c
  source/libs/executor/src/imputationoperator.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesTraverseFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
  tools/tdgpt/script/release.sh
  tools/tdgpt/taosanalytics/app.py
  tools/tdgpt/taosanalytics/service.py
  tools/tdgpt/taosanalytics/test/restful_api_test.py
  tools/tdgpt/taosanalytics/util.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: [6587137697] Forbid query ins_virtual_child_columns.
  source/libs/parser/src/parTranslater.c
  test/cases/18-StreamProcessing/99-Others/random_stream.py
  test/cases/21-MetaData/test_meta_information_schema.py
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix tag file crash
  source/libs/index/src/indexFilter.c
  test/cases/15-TagIndices/test_index_tag_basic.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix calc scan plan freeing
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): walEndVer is 0 && avoid return error when transform vnode
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update taosx agent doc
  docs/en/14-reference/01-components/05-taosx-agent.md
Owners: @guanshengliang, @zitsen

fix(tmq): walEndVer is 0 && avoid return error when transform vnode
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc: Enhance TSFM support and deployment documentation
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

doc: update docs.
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
  docs/zh/06-advanced/06-TDgpt/11-faq.md
Owners: @guanshengliang, @zitsen

doc: update user manual.
  docs/zh/06-advanced/06-TDgpt/11-faq.md
Owners: @guanshengliang, @zitsen

Update docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

Update docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

doc: Fix formatting in TSFM services documentation
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

fix(tmq): optimize get json interface & return error code if vnode is transform
  source/client/src/clientRawBlockWrite.c
  source/client/src/clientTmq.c
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc: Change service port and update documentation
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

doc: Remove empty line in index.md
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

doc: Revise TSFM Path configuration details
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

fix: test case
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @taosdata/merge

fix: test case
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @taosdata/merge

docs: update query images
  docs/en/05-basic/03-query.md
  docs/en/assets/data-querying-02-time-window.png
  docs/en/assets/data-querying-02-time-window.webp
Owners: @guanshengliang, @zitsen

feat: align for external window
  source/libs/executor/src/externalwindowoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planSpliter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test case
  test/cases/01-DataTypes/test_datatype_decimal.py
  test/cases/01-DataTypes/test_datatype_decimal64.py
  test/cases/01-DataTypes/test_datatype_decimal_last.py
Owners: @taosdata/merge

fix: test
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update tdgpt docs
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/06-advanced/06-tdgpt/05-forecast/index.md
  docs/en/06-advanced/06-tdgpt/07-classification.md
  docs/en/06-advanced/06-tdgpt/07-correlation.md
  docs/en/06-advanced/06-tdgpt/08-imputation.md
  docs/en/06-advanced/06-tdgpt/11-system-requirements.md
  docs/en/assets/tdgpt-07.png
Owners: @guanshengliang, @zitsen

doc: Fix typo in TSFM Service Path heading
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

fix lint
  docs/en/06-advanced/06-tdgpt/07-correlation.md
  docs/en/06-advanced/06-tdgpt/11-system-requirements.md
Owners: @guanshengliang, @zitsen
