Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh: create core directory if it does not exist and improve core file handling
  enterprise/packaging/docker/2.x-files/run.sh
Owners: @taosdata/merge

feat: add last_row print.
  tools/rocks-reader/rreader.cpp
Owners: @guanshengliang, @zitsen

docs: add stream pass super table tags demo (#33632)
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

feat: add F6 F7 scenes
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/diagnostics.sql
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.sql
Owners: @guanshengliang, @zitsen

feat(rbac): add owner for catalog meta
  include/common/tmsg.h
  include/libs/qcom/query.h
  source/common/src/msg/tmsg.c
  source/libs/catalog/src/ctgCache.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support freq with numeric prefix, such as: 1ms, 9s
  source/libs/executor/src/imputationoperator.c
  tools/tdgpt/taosanalytics/algo/imputat/moment.py
  tools/tdgpt/taosanalytics/algo/imputation.py
  tools/tdgpt/taosanalytics/app.py
  tools/tdgpt/taosanalytics/test/unit_test.py
  tools/tdgpt/taosanalytics/tsfmservice/moment-server.py
  tools/tdgpt/taosanalytics/util.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

enh(stream): optimize first/last interface
  include/libs/executor/storageapi.h
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): cache group col values in trigger
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): add more comment of batched multi-group calc-request
  include/common/streamMsg.h
Owners: @guanshengliang, @hzcheng, @dapan1121

Fix typos in some files
  contrib/TSZ/sz/inc/defines.h
Owners: @guanshengliang

enh: support external window orderd output
  include/libs/nodes/plannodes.h
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: external window multiple calc groups
  include/common/tcommon.h
  source/common/src/msg/streamMsg.c
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add sql:show instances
  include/common/systable.h
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): user's last role retrieve time
  source/dnode/mnode/impl/inc/mndRole.h
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add A8 A9 T1 T2 T3 secenes
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/resource/data/head.csv
  tools/tsbs-tdengine/resource/data/readings.taosx.json
Owners: @guanshengliang, @zitsen

Optimize CPU usage with transaction caching (#33604)
  source/libs/transport/inc/transComm.h
  source/libs/transport/src/trans.c
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: fix error found by Gemini
  source/libs/executor/src/imputationoperator.c
  tools/tdgpt/taosanalytics/algo/imputat/moment.py
  tools/tdgpt/taosanalytics/algo/imputation.py
  tools/tdgpt/taosanalytics/app.py
  tools/tdgpt/taosanalytics/test/unit_test.py
  tools/tdgpt/taosanalytics/tsfmservice/moment-server.py
  tools/tdgpt/taosanalytics/util.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

enh(stream): add log
  source/dnode/vnode/src/tq/tqRead.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: fix error.
  source/libs/executor/src/imputationoperator.c
  tools/tdgpt/taosanalytics/algo/imputation.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

enh(stream): add log
  source/dnode/vnode/src/tq/tqRead.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add compatibility tests for stream processing across multiple versions
  test/cases/18-StreamProcessing/23-Compatibility/test_new_stream_compatibility.py
  test/ci/cases.task
Owners: @taosdata/merge

enh(stream): add log
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/tq/tqUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add A4~A7 scenes
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/resource/data/head.csv
  tools/tsbs-tdengine/src/scene.py
Owners: @guanshengliang, @zitsen

enh(stream): add log
  source/dnode/vnode/src/tq/tqRead.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): add log
  source/dnode/vnode/src/tq/tqRead.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: reader processing
  include/common/tcommon.h
  source/common/src/msg/streamMsg.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ban walSetKeepVersionConcurrent on windows case exec too long.
  source/libs/wal/test/walMetaTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): add log
  include/util/tencode.h
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/tq/tqUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): add log
  include/util/tencode.h
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/tq/tqUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: freqs with numeric prefix are allowed, such as: 1ms, 9s (#33634)
  docs/zh/06-advanced/06-TDgpt/03-management.md
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
  docs/zh/06-advanced/06-TDgpt/11-faq.md
  source/libs/executor/src/imputationoperator.c
  tools/tdgpt/taosanalytics/algo/imputation.py
  tools/tdgpt/taosanalytics/app.py
  tools/tdgpt/taosanalytics/test/unit_test.py
  tools/tdgpt/taosanalytics/tsfmservice/moment-server.py
  tools/tdgpt/taosanalytics/util.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat: auto tab: from 3.3.5.0 ~ 3.3.8.0 new keyword add (#33612)
  tools/shell/src/shellAuto.c
Owners: @guanshengliang, @zitsen

feat: all scenes add to cases.ymal
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/resource/data/head.csv
  tools/tsbs-tdengine/src/outMetrics.py
  tools/tsbs-tdengine/src/prepareEnv.py
Owners: @guanshengliang, @zitsen

feat(tmq_to_td): write data from new version to old version when minimal is true #TS-7667 (#3398)
  crates/tmq-to-td/src/lib.rs
  explorer/taos-ui/components/dataIn/config/en/01-tmq.ts
  explorer/taos-ui/components/dataIn/config/zh/01-tmq.ts
Owners: @taosdata/merge

fix(tmq): [TS-7662] fix getting more creating table message because of encoding out of range
  source/dnode/vnode/src/tq/tqRead.c
  tests/parallel_test/cases.task
  tests/system-test/7-tmq/tmq_ts7662.py
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_ts7662.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

modify ci case
  test/cases/18-StreamProcessing/23-Compatibility/test_new_stream_compatibility.py
Owners: @taosdata/merge

enh(stream): fix memory leak
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support:instances register list
  include/client/taos.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  source/client/src/clientMain.c
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/inc/mndInstance.h
  source/dnode/mnode/impl/src/mndInstance.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: checkResultsBySql query new result for each retry
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

case: fixed some randomly failed case
  test/cases/26-NodeManager/01-Dnode/test_offline_reason.py
Owners: @taosdata/merge

enh: remove tbname scan from stream trigger scan plan.
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
