Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: can not set virtual child table tag
  source/dnode/vnode/src/meta/metaTable2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

disable failed test cases
  test/ci/cases.task
Owners: @taosdata/merge

update document and fix failed test cases
  docs/en/14-reference/03-taos-sql/03-table.md
  docs/zh/14-reference/03-taos-sql/03-table.md
  source/libs/parser/src/parTranslater.c
  test/cases/19-TSMAs/test_tsma.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

notify tmq for tag change
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

improve test cases
  test/cases/03-Tables/02-SubTables/test_subtable_batch_set_tag_vals.py
  test/cases/05-VirtualTables/test_vtable_batch_set_tag_vals.py
Owners: @taosdata/merge

implement update multi virtual table tag values
  source/libs/parser/src/parAstParser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix several failed test cases
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/test/parAlterToBalanceTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix memory leak
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

handle quoted tag name
  source/libs/parser/inc/parAst.h
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

implemented regexp_replace
  source/dnode/vnode/src/meta/metaTable2.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix compile
  source/client/src/clientFirewall.c
  test/cases/31-Security/11-SQLFireWall/test_sql_blacklist.py
  test/cases/31-Security/11-SQLFireWall/test_sql_whitelist.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(explorer): fix xor_allowed_duration_secs param not work in toml (#3698)
  explorer/server/src/main.rs
  explorer/server/src/security/mod.rs
Owners: @taosdata/merge

update according to ai review comments
  docs/en/14-reference/03-taos-sql/03-table.md
  docs/zh/14-reference/03-taos-sql/03-table.md
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/libs/parser/src/parTranslater.c
  test/cases/05-VirtualTables/test_vtable_batch_set_tag_vals.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

feat: optimize of mndGenTxnId
  source/dnode/mnode/impl/inc/mndUserTxn.h
  source/dnode/mnode/impl/src/mndUserTxn.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(plan): avoid splitting empty targets in planSpliter
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planSpliter.c
  test/cases/07-DataQuerying/10-Union/test_unionall_outer_count.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix/6921329969-add-init-rand-seed-by-thread
  include/util/tworker.h
  source/dnode/mgmt/mgmt_vnode/src/vmWorker.c
  source/libs/sync/src/syncEnv.c
  source/libs/sync/src/syncRaftStore.c
  source/libs/sync/src/syncRequestVote.c
  source/util/src/tworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix memory leak
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/libs/sync/src/syncRaftStore.c
  source/util/src/tworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update contributors content and assets
  CONTRIBUTING-CN.md
  CONTRIBUTING.md
  README.md
  TDengine.svg
  docs/assets/TDengine-logo-trans-small.png
  docs/assets/TDengine-logo-trans.png
  docs/assets/contributing-cup.jpg
  docs/assets/contributing-notebook.jpg
  docs/assets/contributing-shirt.jpg
  docs/assets/tdengine.svg
Owners: @taosdata/merge, @guanshengliang, @zitsen

center content
  README.md
Owners: @taosdata/merge

fix center
  README.md
Owners: @taosdata/merge

fix center
  README.md
Owners: @taosdata/merge

fix center
  README.md
Owners: @taosdata/merge

fix center zh
  README-CN.md
  README.md
Owners: @taosdata/merge

fix center zh
  README-CN.md
Owners: @taosdata/merge

fix/6921329969-add-init-rand-seed-by-thread-2
  include/util/tworker.h
  source/dnode/mgmt/mgmt_vnode/src/vmWorker.c
  source/libs/sync/src/syncEnv.c
  source/libs/sync/src/syncRaftStore.c
  source/libs/sync/src/syncRequestVote.c
  source/util/src/tworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update filename
  README-CN.md
  README.md
  tdengine-logo.svg
Owners: @taosdata/merge

fix: test case
  source/libs/executor/src/externalwindowoperator.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/window_boundary.ans
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix typo
  README-CN.md
Owners: @taosdata/merge

fix: increase timeout for database compaction from 60 to 600 seconds
  test/cases/04-SuperTables/02-Drop/test_stable_drop_delfile.py
Owners: @taosdata/merge

docs: move administrative files to root
  CODE_OF_CONDUCT-CN.md
  CODE_OF_CONDUCT.md
  SECURITY.md
Owners: @taosdata/merge

fix: improve PID matching for taosd process on Windows
  test/new_test_framework/utils/server/win_process.py
Owners: @taosdata/merge

fix lint
  CODE_OF_CONDUCT-CN.md
  CODE_OF_CONDUCT.md
  SECURITY.md
Owners: @taosdata/merge

fix(taosd): add test case for stream
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  test/cases/18-StreamProcessing/02-Stream/stream_schema.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: guard hash interval agg without loaded ts column
  source/libs/executor/src/timewindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix lint
  CONTRIBUTING.md
Owners: @taosdata/merge

fix lint
  CODE_OF_CONDUCT-CN.md
  CODE_OF_CONDUCT.md
Owners: @taosdata/merge

fix lint
  SECURITY.md
Owners: @taosdata/merge

Apply suggestions from code review
  include/common/tmsg.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/6921454687-improve-election-log
  source/libs/sync/src/syncRaftStore.c
  source/libs/sync/src/syncRequestVote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
