Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

enh(tmq): optimize update tablelist for topic of stable with filter when alter tag
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(rbac): add user manual
  docs/zh/08-operation/14-user.md
  include/util/tpriv.h
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

docs: update usage examples in TDengine TSDB MCP reference manual (#34423)
  docs/en/14-reference/02-tools/08-mcp-tdengine-tsdb.md
  docs/en/14-reference/02-tools/assets/mcp-describe.webp
  docs/en/14-reference/02-tools/assets/mcp-info.webp
  docs/en/14-reference/02-tools/assets/mcp-list-dnodes.webp
  docs/en/14-reference/02-tools/assets/mcp-show-databases.webp
  docs/en/14-reference/02-tools/assets/mcp-show-stables.webp
  docs/en/14-reference/02-tools/assets/mcp-show.webp
  docs/zh/14-reference/02-tools/08-mcp-tdengine-tsdb.md
  docs/zh/14-reference/02-tools/assets/mcp-describe.webp
  docs/zh/14-reference/02-tools/assets/mcp-info.webp
  docs/zh/14-reference/02-tools/assets/mcp-list-dnodes.webp
  docs/zh/14-reference/02-tools/assets/mcp-show-databases.webp
  docs/zh/14-reference/02-tools/assets/mcp-show-stables.webp
  docs/zh/14-reference/02-tools/assets/mcp-show.webp
Owners: @guanshengliang, @zitsen

docs(rbac): add user manual
  docs/zh/08-operation/14-user.md
Owners: @guanshengliang, @zitsen

docs(rbac): add user manual
  docs/zh/08-operation/14-user.md
Owners: @guanshengliang, @zitsen

feat(taosdump): field parsing enhanced with protection
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

test: add test for storage encrypt.
  include/common/tmsg.h
  test/cases/31-Security/01-KeyGeneration/test_key_generation.py
  test/cases/31-Security/02-KeyUpdate/test_key_update.py
  test/cases/31-Security/03-KeyBackupRestore/test_key_backup_restore.py
  test/cases/31-Security/04-TransparentEncryption/test_transparent_encryption.py
  test/cases/31-Security/06-EncryptionStatus/test_encryption_status.py
  test/cases/31-Security/10-SecurityTest/test_plaintext_check.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs(rbac): add user manual
  docs/zh/08-operation/14-user.md
Owners: @guanshengliang, @zitsen

test: add cases to ci.
  test/ci/cases.task
Owners: @taosdata/merge

feat(tmq): adjust code for tmq poll if leader is unreachable
  source/client/src/clientTmq.c
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat/6747537673-add-doc-audit
  docs/en/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

enh(tmq): optimize update tablelist for topic of stable with filter when alter tag
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(rbac): add user manual
  docs/zh/08-operation/14-user.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

fix: [6570595001] Add correct error handling logic.
  source/dnode/vnode/src/meta/metaTable2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: refactor compare codes
  include/libs/function/function.h
  include/libs/nodes/querynodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/parser/src/parTranslater.c
  source/libs/scalar/src/scalar.c
  source/libs/scalar/src/sclvector.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(mqtt): support whitespace in topic pattern (#3563)
  explorer/taos-ui/components/dataIn/config/en/09-mqtt.ts
  explorer/taos-ui/components/dataIn/config/zh/09-mqtt.ts
Owners: @taosdata/merge

docs(rbac): add user manual
  docs/en/08-operation/14-user.md
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/08-operation/14-user.md
Owners: @guanshengliang, @zitsen

feat: support alter key expiration time. (#34390)
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/inc/dmInt.h
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: prohibit users from tampering with configuration files after data encryption takes effect (#34344)
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
  include/common/tglobal.h
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  test/cases/18-StreamProcessing/01-Snode/test_snode_params_alter_value.py
  test/cases/80-Components/01-Taosd/test_com_config.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix tsma delay time report
  include/common/streamMsg.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs(rbac): add user manual
  docs/en/08-operation/14-user.md
  docs/en/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

docs(rbac): add user manual
  docs/en/08-operation/14-user.md
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/08-operation/14-user.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

wip
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(rbac): add user manual
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

fix invalid read
  source/common/src/ttime.c
  source/libs/executor/src/sysscanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

[manual-only] enh(rbac): access control (#2473)
  enterprise/src/plugins/mnode/src/mndMount.c
  enterprise/src/plugins/privilege/src/privilege.c
  enterprise/src/plugins/token/src/mndTokenImpl.c
  enterprise/src/plugins/view/src/mndView.c
Owners: @taosdata/merge

fix: update taosKeeper dependencies and add govulncheck workflow for automated vulnerability scanning
  .github/workflows/taoskeeper-govulncheck.yml
  .github/workflows/taoskeeper-test-enterprise.yml
  .github/workflows/taoskeeper-test.yml
  .github/workflows/tdengine-build.yml
  .github/workflows/tdengine-release-build.yml
  tools/keeper/go.mod
  tools/keeper/go.sum
Owners: @feici02, @guanshengliang, @zitsen

docs(rbac): add user manual
  docs/en/08-operation/14-user.md
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/08-operation/14-user.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

feat(taosdump): supports virtual table dumping out
  tools/taos-tools/inc/dump.h
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(taosdump): supports virtual table dumping in
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(taosdump): optimize the sql statement for the query sub-table
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(taosdump): ptimize the conditions for judging virtual tables
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

fix(tmq): decode heartbeat msg error if there is a consumer
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): decode heartbeat msg error if there is a consumer
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taosdump): add definition protection header
  tools/taos-tools/inc/toolsdef.h
Owners: @guanshengliang, @zitsen

test(taosdump): add virtual table test cases
  test/cases/81-Tools/04-Taosdump/test_taosdump_basic.py
Owners: @taosdata/merge

feat(taosdump): replacement of cross-database references in FROM/USING clauses
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(taosdump): field parsing enhanced with protection
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

fix(taosdump): close schema after use
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(tmq): add error code to doc
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen
