Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

docs: improve governance and reporting docs (#1)
  LICENSE
  README.md
  releases/TSDB-v3.4.2-[20260630]/01-项目管理/代码仓库改造方案.md
  reports/2026Q1/query-group/王明明.md
Owners: @taosdata/merge

fix: docker use netstat replace ss get netstat
  test/tools/CompatCheck/server/clusterSetup.py
Owners: @taosdata/merge

fix: add colon before 6030
  test/tools/CompatCheck/server/clusterSetup.py
Owners: @taosdata/merge

fix(tmq): client does not poll data in a long time if there are some exceptions in channel
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(subq/in): split stream_subquery_in_vtable2 into tow files
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable2.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable3.py
  test/ci/cases.task
Owners: @taosdata/merge

Update test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable3.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable3.py
Owners: @taosdata/merge

Update test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable3.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable3.py
Owners: @taosdata/merge

feat(stream): support getting meta changes for vtable in stream reader (#34895)
  include/common/streamMsg.h
  include/libs/executor/storageapi.h
  include/libs/new-stream/streamReader.h
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/meta/metaQuery.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamReader.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: meta-reader (#34876)
  tools/CMakeLists.txt
  tools/meta-reader/CMakeLists.txt
  tools/meta-reader/meta_reader.c
Owners: @guanshengliang, @zitsen

Deployed 9337513a03 to main with MkDocs 1.6.1 and mike 2.1.4
  main/case_list_docs/Components/Taosd/index.html
  main/case_list_docs/DataDeletion/index.html
  main/case_list_docs/DataQuerying/Explain/index.html
  main/case_list_docs/DataQuerying/Interp/index.html
  main/case_list_docs/DataQuerying/SubQuery/index.html
  main/case_list_docs/DataSubscription/Consume/index.html
  main/case_list_docs/Databases/Alter/index.html
  main/case_list_docs/Functions/Scalar/index.html
  main/case_list_docs/StreamProcessing/Stream/index.html
  main/case_list_docs/StreamProcessing/TriggerMode/index.html
  main/case_list_docs/Tables/SubTables/index.html
  main/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  main/case_list_docs/Users/index.html
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

enh: update Trivy configuration for SBOM generation and scanning
  .github/workflows/trivy.yml
Owners: @feici02

test: version.cmake change to 3.4.0.10 from 3.4.1.0
  cmake/version.cmake
Owners: @guanshengliang

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
