Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat: trim database wal use commit req.
  include/libs/sync/sync.h
  source/dnode/mnode/sdb/src/sdbFile.c
  source/dnode/vnode/src/inc/vnd.h
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/sync/src/syncMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add test for wal keep version and trim database wal.
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
  test/ci/cases.task
Owners: @taosdata/merge

feat(rbac): add priv type in sql.y
  include/util/tdef.h
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: write results of the super table query to a json file (#33470)
  tools/taos-tools/src/benchQuery.c
Owners: @guanshengliang, @zitsen

fix(query): fix getting tags a lot if uidlist is not empty
  source/dnode/vnode/src/meta/metaQuery.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:Refactor coredump directory assignment logic
  test/ci/run_container.sh
Owners: @taosdata/merge

fix(query): fix getting tags a lot if uidlist is not empty
  source/dnode/vnode/src/meta/metaQuery.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): DataBlock is null
  source/libs/executor/src/dataInserter.c
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor(query): refactor query task redirect process.
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schRemote.c
  source/libs/scheduler/src/schTask.c
  source/libs/scheduler/src/schUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update 05-query.md
  docs/zh/26-tdinternal/05-query.md
Owners: @guanshengliang, @zitsen

fix(query): fix getting tags a lot if uidlist is not empty
  source/dnode/vnode/src/meta/metaQuery.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(query): fix getting tags a lot if uidlist is not empty
  source/dnode/vnode/src/meta/metaQuery.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): DataBlock is null
  source/libs/executor/src/dataInserter.c
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: some ci problems.
  source/libs/wal/src/walMeta.c
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Apply suggestion from @Copilot
  test/ci/run_container.sh
Owners: @taosdata/merge

fix: some ci problems.
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @taosdata/merge

add libsasl to taosd
  source/libs/transport/CMakeLists.txt
  source/libs/transport/inc/transSasl.h
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add sasl to taosd
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add sleep before stopping dnode to ensure proper state transition
  test/cases/19-ManageNodes/01-Dnode/test_offline_reason.py
Owners: @taosdata/merge

enh: add new framework test workflow and update TDinternal test workflow branches (#2390)
  .github/workflows/new-framework-test.yml
  .github/workflows/tdinternal-test.yml
Owners: @feici02

fix: change transaction conflict policy to NOTHING in mndSplitVgroup
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: adjust case describe and show
  test/cases/01-DataTypes/test_datatype_bigint.py
  test/cases/01-DataTypes/test_datatype_blob.py
  test/cases/01-DataTypes/test_datatype_bool.py
  test/cases/01-DataTypes/test_datatype_decimal.py
  test/cases/01-DataTypes/test_datatype_double.py
  test/cases/01-DataTypes/test_datatype_float.py
  test/cases/01-DataTypes/test_datatype_int.py
  test/cases/01-DataTypes/test_datatype_json.py
  test/cases/01-DataTypes/test_datatype_nchar1.py
  test/cases/01-DataTypes/test_datatype_nchar2.py
  test/cases/01-DataTypes/test_datatype_smallint.py
  test/cases/01-DataTypes/test_datatype_timestamp.py
  test/cases/01-DataTypes/test_datatype_tinyint.py
  test/cases/01-DataTypes/test_datatype_uint.py
  test/cases/01-DataTypes/test_datatype_unsign.py
  test/cases/01-DataTypes/test_datatype_varbinary.py
  test/cases/01-DataTypes/test_datatype_varchar.py
  test/cases/01-DataTypes/test_null_column.py
  test/cases/01-DataTypes/test_null_tag.py
  test/cases/02-Databases/01-Create/test_db_wal_fsync_period.py
  test/cases/02-Databases/01-Create/test_op_table_prefix_suffix.py
  test/cases/12-UDFs/test_udf_c.py
  test/cases/12-UDFs/test_udf_py.py
  test/cases/12-UDFs/test_udf_with_const.py
  test/cases/14-JoinQueries/test_join_interval.py
  test/cases/14-JoinQueries/test_join_manyblocks.py
  test/cases/14-JoinQueries/test_join_multitables.py
  test/cases/14-JoinQueries/test_join_multivnode.py
  test/cases/14-JoinQueries/test_join_ns_db.py
  test/cases/14-JoinQueries/test_join_order.py
  test/cases/14-JoinQueries/test_join_pk.py
  test/cases/14-JoinQueries/test_join_tbname.py
  test/cases/16-Views/test_view_mgmt.py
  test/cases/16-Views/test_view_nested_join.py
  test/cases/19-TSMAs/test_tsma.py
  test/cases/20-RSMAs/test_rsma.py
  test/cases/22-PerformanceData/test_performance_schema.py
  test/cases/81-Tools/04-Taosdump/test_taosdump_except.py
  test/ci/cases.task
  test/mkdocs.yml
Owners: @taosdata/merge

fix(stream): expand datablock size in tsdbTriggerData interface
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update network
  docs/en/08-operation/13-network.md
  docs/zh/04-get-started/_01-install.md
  docs/zh/08-operation/03-install.md
  docs/zh/08-operation/13-ipv6.md
  docs/zh/08-operation/13-network.md
  docs/zh/14-reference/07-supported.md
Owners: @guanshengliang, @zitsen

enh(stream): refactor the logic of table list in stream reader
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci return value check issue
  source/dnode/mgmt/exe/dmMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support show keep version while exec show vgropus.
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  include/util/taoserror.h
  source/common/test/msgTypeTable.ini
  source/util/src/terror.c
  tests/army/whole/checkErrorCode.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

docs: update network (#33488)
  docs/en/08-operation/13-network.md
  docs/zh/04-get-started/_01-install.md
  docs/zh/08-operation/03-install.md
  docs/zh/08-operation/13-ipv6.md
  docs/zh/08-operation/13-network.md
  docs/zh/14-reference/07-supported.md
Owners: @guanshengliang, @zitsen

docs: add JSON data writing support for TDengine TSDB via RESTful interface
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

fix(stream): hold more calc params in history calculation
  source/common/src/tglobal.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci return value check issue (#33489)
  source/dnode/mgmt/exe/dmMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: network
  docs/zh/08-operation/13-network.md
Owners: @guanshengliang, @zitsen

docs: add window interval description
  docs/en/05-basic/03-query.md
  docs/zh/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

docs: minor changes
  docs/zh/08-operation/13-network.md
Owners: @guanshengliang, @zitsen

refactor(explorer): replace the logo icon (#3375)
  explorer/src/assets/icons/logo.svg
  explorer/src/layout/components/Sider/components/Logo/index.vue
  explorer/src/layout/components/Sider/components/Logo/logo_expend.svg
Owners: @taosdata/merge

fix/TS-7542-double-free
  source/libs/transport/src/tmsgcb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): refactor the logic of table list in stream reader
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: use vgroups in sql.
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: add window interval description (#33493)
  docs/en/05-basic/03-query.md
  docs/zh/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
