Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(gpt): fix error.
  tools/tdgpt/taosanalytics/algo/ad/lof.py
Owners: @guanshengliang, @zitsen

docs: update TLS docs (#33361)
  docs/en/08-operation/13-ipv6.md
  docs/zh/08-operation/13-ipv6.md
Owners: @guanshengliang, @zitsen

refactor(gpt): refactor the requirements. (#33406)
  test/cases/80-Components/10-TDgpt/test_tdgpt.py
  test/conftest.py
  tools/tdgpt/docker/time-moe_server.py
  tools/tdgpt/requirements.txt
  tools/tdgpt/requirements_ess.txt
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/release.sh
  tools/tdgpt/taosanalytics/algo/ad/lof.py
  tools/tdgpt/taosanalytics/test/unit_test.py
  tools/tdgpt/taosanalytics/tsfmservice/tdtsfm-server.py
  tools/tdgpt/taosanalytics/tsfmservice/timemoe-server.py
  tools/tdgpt/taosanalytics/util.py
Owners: @taosdata/merge, @guanshengliang, @zitsen

Deployed fde64ed7a1 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

test: limit coverage run host number
  tests/parallel_test/run.sh
Owners: @guanshengliang, @zitsen

test: limit coverage run host number
  test/ci/run.sh
Owners: @taosdata/merge

fix(security): fix playwright CVE-2025-59288 (#3360)
  .gitignore
  explorer/package.json
  explorer/pnpm-lock.yaml
Owners: @taosdata/merge

fix: recored unfinished datablock
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/timewindowoperator.c
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
  test/data3-1.csv
  test/data3-2.csv
  test/data3-3.csv
  test/dataMoreThan4096.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: multiple group calc issues
  include/common/streamMsg.h
  include/libs/nodes/querynodes.h
  source/common/src/msg/streamMsg.c
  source/common/src/tdatablock.c
  source/dnode/snode/src/snode.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/projectoperator.c
  source/libs/function/src/functionMgt.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/scalar/src/scalar.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: delete dbinfo lock
  include/libs/qcom/query.h
  source/libs/executor/inc/executil.h
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: acquire vginfo
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(gpt): support correlation functions, e.g., tdw/tdw_path/tlcc (#33425)
  docs/zh/06-advanced/06-TDgpt/07-classification.md
  include/common/tmsg.h
  include/libs/function/functionMgt.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  include/libs/scalar/scalar.h
  source/libs/executor/inc/operator.h
  source/libs/executor/src/imputationoperator.c
  source/libs/executor/src/operator.c
  source/libs/function/src/builtins.c
  source/libs/function/src/functionMgt.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/libs/planner/src/planUtil.c
  source/libs/scalar/src/sclfunc.c
  test/cases/80-Components/10-TDgpt/test_tdgpt.py
  tools/tdgpt/requirements.txt
  tools/tdgpt/taosanalytics/algo/ad/lof.py
  tools/tdgpt/taosanalytics/algo/correl/dtw.py
  tools/tdgpt/taosanalytics/test/restful_api_test.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed 3d72775fa6 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

test: limit coverage run host number
  test/ci/run.sh
Owners: @taosdata/merge

enh: print test error log
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

fix: explore-sys metric's sub table name
  tools/keeper/api/gen_metric.go
  tools/keeper/api/gen_metric_test.go
Owners: @guanshengliang, @zitsen

fix: explore-sys metric's sub table name
  tools/keeper/api/gen_metric.go
  tools/keeper/api/gen_metric_test.go
Owners: @guanshengliang, @zitsen

fix: update branch configuration for taoskeeper build workflow
  .github/workflows/taoskeeper-build.yml
Owners: @feici02

fix: notify
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fx: ci test common (#33422)
  test/cases/13-TimeSeriesExt/02-Fill/test_ts_fill.py
  test/cases/20-RSMAs/test_rsma.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

Deployed ed4d8b8e9d to main with MkDocs 1.6.1 and mike 2.1.3
  main/search/search_index.json
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

feat(docker): add build-docker.sh script for building TDengine Docker images
  packaging/docker/Dockerfile
  packaging/docker/Dockerfile-cd
  packaging/docker/Dockerfile.base
  packaging/docker/bin/entrypoint.sh
Owners: @feici02

fix keeper explore subtable name (#33440)
  tools/keeper/api/gen_metric.go
  tools/keeper/api/gen_metric_test.go
Owners: @guanshengliang, @zitsen

enh(opentsdb): allow rename timestamp/value fields (#3364)
  .github/workflows/opentsdb.yaml
  crates/source-opentsdb/src/config.rs
  explorer/taos-ui/components/dataIn/config/en/08-opentsdb.ts
  explorer/taos-ui/components/dataIn/config/zh/08-opentsdb.ts
  plugins/opentsdb/src/main/java/com/taosdata/PreLoading.java
  plugins/opentsdb/src/main/java/com/taosdata/config/TaskConfig.java
  plugins/opentsdb/src/main/java/com/taosdata/utils/arrow/ArrowUtils.java
Owners: @feici02, @taosdata/merge

fix(docker): remove duplicate openjdk-17-jre-headless entry in Dockerfile.base
  packaging/docker/Dockerfile.base
Owners: @feici02

fix(docker): specify version for base image in Dockerfile and remove duplicate openjdk-17-jre-headless entry in Dockerfile.base
  packaging/docker/Dockerfile
  packaging/docker/Dockerfile.base
Owners: @feici02

case: migrate system-test/3-enterprise system-test/99-TDcase
  test/cases/02-Databases/06-Precision/test_db_precision_bugs.py
  test/cases/09-DataQuerying/03-GroupBy/test_query_groupby_basic.py
  test/cases/09-DataQuerying/03-GroupBy/test_query_groupby_bugs.py
  test/cases/09-DataQuerying/12-Interp/test_query_interp_bugs.py
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
  test/cases/09-DataQuerying/15-Explain/test_explain.py
  test/cases/11-Functions/02-Aggregate/test_agg_bugs.py
  test/cases/11-Functions/03-Selection/test_select_bugs.py
  test/cases/21-MetaData/test_meta_bugs.py
  test/cases/24-Users/test_user_privilege_sysinfo.py
  test/cases/70-Cluster/restore_basic.py
  test/cases/70-Cluster/test_cluster_kill_restore_dnode.py
  test/cases/70-Cluster/test_cluster_restore.py
  test/cases/70-Cluster/test_cluster_restore_dnode.py
  test/cases/70-Cluster/test_cluster_restore_mnode.py
  test/cases/70-Cluster/test_cluster_restore_qnode.py
  test/cases/70-Cluster/test_cluster_restore_vnode.py
  test/cases/uncatalog/system-test/99-TDcase/test_TD_20582.py
  test/cases/uncatalog/system-test/99-TDcase/test_TS_3581.py
  test/cases/uncatalog/system-test/99-TDcase/test_TS_5130.py
  test/cases/uncatalog/system-test/99-TDcase/test_TS_5580.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: refactor Dockerfile and entrypoint script for improved structure and dependency management
  enterprise/packaging/docker/Dockerfile
  enterprise/packaging/docker/Dockerfile.base
  enterprise/packaging/docker/bin/entrypoint.sh
Owners: @taosdata/merge

refactor: comment in dockerfile
  packaging/docker/Dockerfile
Owners: @feici02

refactor: comment in Dockerfile
  enterprise/packaging/docker/Dockerfile
Owners: @taosdata/merge

wip
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.3.8.4
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

case: modify show case system
  test/cases/70-Cluster/test_cluster_restore.py
  test/cases/uncatalog/system-test/1-insert/benchmark-tbl-rsma-alter.json
  test/cases/uncatalog/system-test/1-insert/benchmark-tbl-rsma.json
  test/cases/uncatalog/system-test/1-insert/performanceInsert.json
  test/cases/uncatalog/system-test/1-insert/performanceQuery.json
  test/cases/uncatalog/system-test/1-insert/tableColumn4096csvLength64k.csv
  test/mkdocs.yml
Owners: @taosdata/merge

fix(docker): remove openjdk-17-jre-headless entry from Dockerfile.base
  packaging/docker/Dockerfile.base
Owners: @feici02

enh: [TD-38456] Modify test cases
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  source/util/src/terror.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_partition.ans
  test/cases/11-Functions/03-Selection/test_fun_select_cols.py
  test/cases/13-TimeSeriesExt/05-EventWindow/test_event.py
  test/cases/13-TimeSeriesExt/07-CountWindow/test_count.py
  test/cases/14-JoinQueries/test_join_full.py
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
  test/cases/uncatalog/system-test/2-query/test_state_window_zeroth.py
  test/cases/uncatalog/system-test/2-query/test_test_td28163.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

enh: [TD-38456] Forbid duplicate timestamp in count/state/event window.
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  source/libs/executor/src/countwindowoperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/timewindowoperator.c
  source/util/src/terror.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(stream): rollback tsdbreader reset to avoid unexcepted error (#33400)
  include/libs/executor/storageapi.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: only createtable (#33420)
  include/common/tmsg.h
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/executor/src/dataInserter.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamUtil.c
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: [TD-38427] Do not generate ext window when query has interp func.
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update subscription docs in english
  docs/en/03-intro.md
  docs/en/06-advanced/01-subscription/01-topic.md
  docs/en/06-advanced/01-subscription/02-native.md
  docs/en/06-advanced/01-subscription/03-mqtt.md
  docs/en/06-advanced/01-subscription/index.md
  docs/en/07-develop/07-tmq.md
  docs/en/14-reference/02-tools/10-taosbenchmark.md
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
