Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix possible mem leak while driver quit (#33093)
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(core): support blob datatype (#3312)
  crates/sink-parquet/src/lib.rs
  crates/source-mysql/src/appender/column_meta.rs
  crates/source-mysql/src/appender/mod.rs
  crates/source-mysql/src/lib.rs
  crates/source-oracle/src/appender/column_meta.rs
  crates/source-oracle/src/appender/mod.rs
  explorer/taos-ui/components/dataIn/components/commonTransformer/createSTB.vue
  explorer/taos-ui/components/explorer/components/createStable/utils.ts
  explorer/taos-ui/constants/tdengine.ts
  taosx-core/src/migrations/mod.rs
  taosx-core/src/migrations/users.rs
  taosx-core/src/plugins/sink/flat.rs
  taosx-core/src/plugins/sink/mod.rs
  taosx-core/src/plugins/transform/map/cast.rs
  taosx-core/src/plugins/transform/map/mod.rs
  taosx-core/src/plugins/transform/mod.rs
  taosx-core/src/plugins/transform/parse/cast.rs
  taosx-core/src/plugins/transform/sample/mod.rs
  taosx-core/src/utils/sql.rs
  taosx-ipc/src/stream/reader.rs
  taosx-ipc/src/stream/writer.rs
  tests/td2td.rs
Owners: @taosdata/merge, @guanshengliang, @zitsen

docs: add SourcePort and AppName metrics to taosadapter documentation
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

alter dir
  test/ci/run_coverage_container.sh
Owners: @taosdata/merge

add test txt
  test/37719.txt
Owners: @taosdata/merge

fix(tmq): [ts7402]tag filter do not work if topic is stable with filter
  source/dnode/vnode/src/tq/tqRead.c
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts7402.py
  test/ci/cases.task
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_ts7402.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: check privilege for show stables (#2368)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

enh: check privilege for show stables (#33129)
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndStb.c
  test/cases/60-Users/test_user_privilege_table.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: check privilege for show stables (#2364)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

enh: check privilege for show stables (#33097)
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndStb.c
  test/cases/23-Users/test_user_privilege_table.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 7e18a4d177 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

feat: supportstmt2 blob (#32458)
  include/common/tdataformat.h
  source/common/src/msg/tmsg.c
  source/common/src/tdatablock.c
  source/common/src/tdataformat.c
  source/dnode/vnode/src/bse/bseInc.h
  source/dnode/vnode/src/bse/bseMgt.c
  source/dnode/vnode/src/bse/bseSnapshot.c
  source/dnode/vnode/src/bse/bseTable.c
  source/dnode/vnode/src/bse/bseTable.h
  source/dnode/vnode/src/bse/bseTableMgt.c
  source/dnode/vnode/src/bse/bseTableMgt.h
  source/dnode/vnode/src/bse/bseUtil.c
  source/dnode/vnode/src/bse/bseUtil.h
  source/dnode/vnode/test/bseTest.cpp
  source/libs/parser/src/parInsertUtil.c
  test/cases/01-DataTypes/test_datatype_blob.py
  test/cases/01-DataTypes/test_datatype_varbinary.py
  test/cases/06-DataIngestion/01-Insert/test_insert_blob.py
  tests/coverage/covtests.task
  utils/test/c/CMakeLists.txt
  utils/test/c/blob_test.c
  utils/test/c/tmq_blob.c
  utils/test/c/tmq_write_raw_with_blob_test.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

Deployed b9d141d746 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/DataIngestion/Insert/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

fix: [TS-7306] Fix sync vstb meta.
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(test): update test cases.
  tests/system-test/8-stream/ts-5617.py
Owners: @guanshengliang, @zitsen

fix(test): update test case.
  tests/system-test/0-others/taosdNewMonitor.py
Owners: @guanshengliang, @zitsen

fix: update telemetryInfoCheck to validate taosd_sql_req and taosd_cluster_info tables
  tests/system-test/0-others/taosdNewMonitor.py
Owners: @guanshengliang, @zitsen

fix: update logging to exit on null element in dnode_infos check
  tests/system-test/0-others/taosdNewMonitor.py
Owners: @guanshengliang, @zitsen

fix monitor case
  tests/system-test/0-others/taosdNewMonitor.py
Owners: @guanshengliang, @zitsen

fix: update logging level for null element check and remove unnecessary sleep
  tests/system-test/0-others/taosdNewMonitor.py
Owners: @guanshengliang, @zitsen

fix: update dnode_infos to include trace_log_count
  source/libs/monitor/src/monFramework.c
  tests/system-test/0-others/taosdNewMonitor.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: remove useless code.
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memory leak
  include/libs/qcom/query.h
  source/libs/catalog/src/ctgRemote.c
  source/libs/qcom/src/querymsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [TD-38518] Fix wrong timeLineResMode of virtual super table. (#33133)
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

revert: remove msgbuf in orderByContext
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: code format
  source/libs/catalog/src/ctgRemote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): [td37821]add test case
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td37821.py
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_td37821.c
Owners: @taosdata/merge, @guanshengliang

fix: update workflow reference to use the main branch for new framework tests
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix(gpt): add check for anomaly mask.
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update Windows test workflow to use specific branch for error handling (#33089)
  .github/workflows/new-framework-test.yml
  .github/workflows/tdengine-test.yml
Owners: @feici02

docs: add SourcePort and AppName metrics to taosadapter documentation (#33142)
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

update test case
  test/cases/73-TLS/test_tls.py
Owners: @taosdata/merge

feat: refator some tsdb cache code.
  include/common/tglobal.h
  source/common/src/tglobal.c
  source/dnode/vnode/src/inc/tsdb.h
  source/dnode/vnode/src/tsdb/tsdbCache.c
  source/dnode/vnode/src/tsdb/tsdbCacheCol.c
  source/dnode/vnode/src/tsdb/tsdbCacheRow.c
  source/dnode/vnode/src/tsdb/tsdbMemTable.c
Owners: @guanshengliang, @hzcheng, @dapan1121

alter dir
  test/ci/run_coverage_container.sh
Owners: @taosdata/merge

add test txt
  test/37719.txt
Owners: @taosdata/merge

enh: Modify maximum TSMA num from 3 to 10.
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/42-tsma.md
  docs/zh/14-reference/03-taos-sql/42-tsma.md
  source/common/src/tglobal.c
  test/cases/42-TSMAs/test_tsma.py
  test/cases/uncatalog/system-test/2-query/test_tsma.py
  test/cases/uncatalog/system-test/2-query/test_tsma2.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix: remove taosgen links during package removal
  packaging/deb/DEBIAN/prerm
  packaging/rpm/tdengine.spec
Owners: @feici02

Update streamRunner.h
  include/libs/new-stream/streamRunner.h
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: reorganize imports in scan_file_path.py for clarity
  test/ci/scan_file_path.py
Owners: @taosdata/merge

test: remove check for period recalc.
  test/cases/41-StreamProcessing/08-Recalc/test_recalc_ignore_disorder.py
Owners: @taosdata/merge
