Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix: remove unsued macro definition.
  source/dnode/vnode/inc/vnode.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: check return value.
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: merge error.
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/TD-38575-fix-perf-case-fail
  test/cases/uncatalog/system-test/0-others/test_performance_schema.py
Owners: @taosdata/merge

fix: increase sleep duration in count_check for performance table delay
  test/cases/22-PerformanceData/test_performance_schema.py
Owners: @taosdata/merge

fix: merge errors.
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: needn't us pk on _c0
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [TD-38369] add ans file
  test/cases/05-VirtualTables/ans/test_vctable_select_test_count.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_event.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_function.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_group.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_interval.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_orderby.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_projection.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_session.ans
  test/cases/05-VirtualTables/ans/test_vctable_select_test_state.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_count.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_event.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_function.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_group.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_interval.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_orderby.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_projection.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_projection_filter.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_session.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_state.ans
  test/cases/05-VirtualTables/ans/test_vtable_join.ans
  test/cases/05-VirtualTables/ans/test_vtable_meta.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_count.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_event.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_function.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_group.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_interval.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_orderby.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_session.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_state.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_partition.in
  test/env/ci_default.yaml
Owners: @taosdata/merge

enh: [TD-38369] Split vtable test case to accelerate ci.
  test/cases/05-VirtualTables/test_vtable_query_cross_db_stb.py
  test/cases/05-VirtualTables/test_vtable_query_same_db.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_group.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_project.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_window.py
  test/ci/cases.task
  tests/parallel_test/cases.task
Owners: @taosdata/merge, @guanshengliang, @zitsen

enh/TD-38561-remove-error-log (#33547)
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  source/dnode/mnode/impl/src/mndTrans.c
  source/util/src/terror.c
  tests/army/whole/checkErrorCode.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh: support specify grant items during packaging
  include/common/tgrant.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:[TD-38544] Fix error when using const condition like 'where 1=0' in union query. (#33569)
  source/libs/scalar/src/filter.c
  test/cases/07-DataQuerying/10-Union/test_union.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix:[TD-38544] Fix error when using const condition like 'where 1=0' in union query. (#33554)
  source/libs/scalar/src/filter.c
  test/cases/10-Operators/04-Set/test_union.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 8ac468f5dc to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Operators/Set/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

docs: jdbc release 3.7.7 Closes TD-38565
  docs/en/14-reference/05-connector/14-java.md
  docs/examples/JDBC/JDBCDemo/pom.xml
  docs/examples/JDBC/SpringJdbcTemplate/pom.xml
  docs/examples/JDBC/connectionPools/pom.xml
  docs/examples/JDBC/consumer-demo/pom.xml
  docs/examples/JDBC/highvolume/pom.xml
  docs/examples/JDBC/mybatisplus-demo/pom.xml
  docs/examples/JDBC/springbootdemo/pom.xml
  docs/examples/JDBC/taosdemo/pom.xml
  docs/examples/java/pom.xml
  docs/zh/07-develop/01-connect/index.md
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

fix: output rows of DERIVATIVE funciton (#33555)
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  test/cases/11-Functions/04-Timeseries/test_fun_ts_derivative.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: update WebSocket connection parameters
  docs/en/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/01-components/02-taosc.md
Owners: @guanshengliang, @zitsen

fix:[TD-38557] Fix select count(1) from virtual super table.
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/parser/src/parTranslater.c
  test/cases/05-VirtualTables/ans/test_vctable_select_test_function.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_function.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_function.ans
  test/cases/05-VirtualTables/in/test_vctable_select_test_function.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_function.in
  test/cases/05-VirtualTables/in/test_vtable_select_test_function.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix:[TD-38557] Fix select count(1) from virtual super table.
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/parser/src/parTranslater.c
  test/cases/05-VirtualTables/ans/test_vctable_select_test_function.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_function.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_function.ans
  test/cases/05-VirtualTables/in/test_vctable_select_test_function.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_function.in
  test/cases/05-VirtualTables/in/test_vtable_select_test_function.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: [TD-38456] Forbid duplicate timestamp in count/state/event window.
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/countwindowoperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/timewindowoperator.c
  source/util/src/terror.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_state.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_partition.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_state.in
  test/cases/11-Functions/03-Selection/test_fun_select_cols.py
  test/cases/13-TimeSeriesExt/05-EventWindow/test_event.py
  test/cases/13-TimeSeriesExt/07-CountWindow/test_count.py
  test/cases/14-JoinQueries/test_join_full.py
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
  test/cases/uncatalog/system-test/2-query/test_state_window_zeroth.py
  test/cases/uncatalog/system-test/2-query/test_test_td28163.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

docs: add doc for trim wal and keep vrsion.
  docs/en/14-reference/03-taos-sql/02-database.md
  docs/en/14-reference/03-taos-sql/22-meta.md
  docs/zh/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/22-meta.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/03-taos-sql/22-meta.md
  docs/zh/14-reference/03-taos-sql/22-meta.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/03-taos-sql/02-database.md
  docs/en/14-reference/03-taos-sql/02-database.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/03-taos-sql/22-meta.md
  docs/en/14-reference/03-taos-sql/22-meta.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/02-database.md
Owners: @guanshengliang, @zitsen

test: update diff.sh
  test/ci/coverage.txt
  test/ci/run_coverage_diff.sh
Owners: @taosdata/merge

feat: add taosGetFqdnWithTimeCost function to measure FQDN retrieval time
  include/os/osSocket.h
  source/common/src/tglobal.c
  source/os/src/osSocket.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/TD-38575-perf-case-fail
  test/cases/22-PerformanceData/test_performance_schema.py
Owners: @taosdata/merge

fix: remove debug log
  source/dnode/vnode/src/meta/metaCache.c
  source/dnode/vnode/src/meta/metaQuery.c
  source/libs/monitor/src/monMain.c
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add taosGetFqdnWithTimeCost function to measure FQDN retrieval time
  include/os/osSocket.h
  source/common/src/tglobal.c
  source/os/src/osSocket.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update include/os/osSocket.h
  include/os/osSocket.h
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: jdbc release 3.7.7 (#33575)
  docs/en/14-reference/05-connector/14-java.md
  docs/examples/JDBC/JDBCDemo/pom.xml
  docs/examples/JDBC/SpringJdbcTemplate/pom.xml
  docs/examples/JDBC/connectionPools/pom.xml
  docs/examples/JDBC/consumer-demo/pom.xml
  docs/examples/JDBC/highvolume/pom.xml
  docs/examples/JDBC/mybatisplus-demo/pom.xml
  docs/examples/JDBC/springbootdemo/pom.xml
  docs/examples/JDBC/taosdemo/pom.xml
  docs/examples/java/pom.xml
  docs/zh/07-develop/01-connect/index.md
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

test: update default branch
  .codecov.yml
Owners: @taosdata/merge

test: enable auto upload
  test/ci/run_coverage_diff.sh
Owners: @taosdata/merge

fix: add free pk flag
  source/dnode/vnode/src/inc/tsdb.h
  source/dnode/vnode/src/tsdb/tsdbMergeTree.c
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/tsdb/tsdbReadUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): break out in processTs if reader is turnned off
  include/libs/new-stream/stream.h
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add doc for trim wal and keep vrsion. (#33579)
  docs/en/14-reference/03-taos-sql/02-database.md
  docs/en/14-reference/03-taos-sql/22-meta.md
  docs/zh/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/22-meta.md
Owners: @guanshengliang, @zitsen

feat(rbac): support show role privileges
  include/common/systable.h
  include/common/tmsg.h
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndShow.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rsma): uid generate and exception logging
  source/dnode/mnode/impl/src/mndRsma.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rsma): uid generate and exception logging
  source/dnode/mnode/impl/src/mndRsma.c
Owners: @guanshengliang, @hzcheng, @dapan1121
