Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

feat(entrypoint): include 'moirai' model in the startup script
  packaging/docker/entrypoint.sh
Owners: @feici02

chore: fix CI problem of view
  source/libs/parser/src/parTranslater.c
  test/cases/16-Views/test_view_mgmt.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(docker): enhance venv4-builder to conditionally install torch and tensorflow packages
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

fix: ci errors
  test/ci/cov/exclude.txt
Owners: @taosdata/merge

fix: ci errors (#34079)
  test/ci/cov/exclude.txt
Owners: @taosdata/merge

chore: fix ci problem
  test/cases/16-Views/test_view_mgmt.py
  test/cases/21-MetaData/test_meta_ins_tables.py
  test/cases/81-Tools/01-Check/test_check_error_code.py
  test/cases/81-Tools/01-Check/test_check_systb_inspect.py
Owners: @taosdata/merge

chore: fix ci problem
  test/cases/81-Tools/01-Check/test_check_error_code.py
Owners: @taosdata/merge

chore: fix ci problem
  test/cases/16-Views/test_view_nested_join.py
  test/cases/81-Tools/01-Check/test_check_error_code.py
Owners: @taosdata/merge

back: frame build ok
  tools/taosBackup/inc/bckArgs.h
  tools/taosBackup/inc/bckBackup.h
  tools/taosBackup/src/bckBackup.c
Owners: @guanshengliang, @zitsen

add test case
  source/client/src/clientImpl.c
  source/client/test/clientTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

back: db meta finished
  tools/taosBackup/inc/bckArgs.h
  tools/taosBackup/inc/bckDb.h
  tools/taosBackup/inc/taosBackup.h
  tools/taosBackup/inc/util.h
  tools/taosBackup/src/back.c
  tools/taosBackup/src/bckBackup.c
  tools/taosBackup/src/bckDb.c
  tools/taosBackup/src/util.c
Owners: @guanshengliang, @zitsen

chore: fix ci problem
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTokenizer.c
  test/cases/24-Users/test_user_basic.py
  test/cases/24-Users/test_user_privilege_sysinfo.py
  test/cases/24-Users/test_user_privilege_topic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(docker): correct image name format in DockerfileTDgpt and update entrypoint script logic
  packaging/docker/DockerfileTDgpt
  packaging/docker/DockerfileTDgpt.base
  packaging/docker/entrypoint.sh
Owners: @feici02

fix(docker): remove unnecessary blank line and correct command syntax in venv4-builder
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

fix(docker): correct syntax in venv4-builder for conditional installation of packages
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

fix(docker): remove redundant TORCH_INDEX assignment in venv_moirai setup
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

fix(docker): add TORCH_INDEX assignment for venv_moirai setup
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

opt client session
  source/client/inc/clientInt.h
  source/client/inc/clientSession.h
  source/client/src/clientEnv.c
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/client/src/clientMsgHandler.c
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(docker): update base image reference in DockerfileTDgpt
  packaging/docker/DockerfileTDgpt
Owners: @feici02

opt client session
  source/client/inc/clientSession.h
  source/client/src/clientEnv.c
  source/client/src/clientMain.c
  source/client/src/clientMsgHandler.c
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

opt client session
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

opt client session
  source/client/inc/clientSession.h
  source/client/src/clientHb.c
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(docker): update image reference and improve package installation logging in DockerfileTDgpt
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

chore: fix ci problem
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  test/cases/24-Users/test_user_basic.py
  test/cases/24-Users/test_user_control.py
  test/cases/24-Users/test_user_privilege_create_db.py
  test/cases/24-Users/test_user_privilege_db.py
  test/cases/25-Privileges/test_priv_bugs.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: fix ci problem
  test/ci/cases.task
Owners: @taosdata/merge

opt client session
  source/client/inc/clientSession.h
  source/client/src/clientEnv.c
  source/client/src/clientMain.c
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

check return error
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/dnode/mnode/impl/src/mndTopic.c
  source/libs/parser/src/parAstParser.c
  test/cases/16-Views/test_view_mgmt.py
  test/cases/24-Users/test_user_privilege_topic.py
  test/cases/25-Privileges/test_priv_subscribe.py
  test/cases/81-Tools/01-Check/test_check_error_code.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: update the Python documentation and upgrade taos-ws-py
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
  test/cases/83-DocTest/python.sh
  test/ci/run_case.sh
  test/pyproject.toml
  test/requirements.txt
  test/uv.lock
  tests/ci/Dockerfile
  tests/ci/dockerfile_ci
  tests/parallel_test/run_case.sh
Owners: @guanshengliang, @zitsen, @taosdata/merge

docs: update en docs
  docs/en/14-reference/05-connector/30-python.md
Owners: @guanshengliang, @zitsen

docs: update en doc
  docs/en/14-reference/05-connector/30-python.md
Owners: @guanshengliang, @zitsen

fix(emphasis): ensure space after closing emphasis markers when followed by punctuation
  docs/custom-rules/space-after-punctuation-in-emphasis.js
Owners: @guanshengliang, @zitsen

feat: add support for moirai model and update entrypoint configuration (#34078)
  docs/custom-rules/space-after-punctuation-in-emphasis.js
  packaging/docker/DockerfileTDgpt
  packaging/docker/DockerfileTDgpt.base
  packaging/docker/entrypoint.sh
Owners: @guanshengliang, @zitsen, @feici02

chore: fix ci problem
  source/common/src/tpriv.c
  test/cases/25-Privileges/test_priv_subscribe.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

check return error
  source/client/src/clientSession.c
  source/client/test/clientTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

sign connect request
  cmake/version.cmake
  include/common/tglobal.h
  include/common/tmsg.h
  include/util/version.h
  source/client/src/clientImpl.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/util/src/tversion.c
  source/util/src/version.c.in
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: backup db meta
  tools/taosBackup/inc/bckFile.h
  tools/taosBackup/inc/bckPool.h
  tools/taosBackup/inc/taosBackup.h
  tools/taosBackup/inc/util.h
  tools/taosBackup/src/bckBackup.c
  tools/taosBackup/src/bckDb.c
  tools/taosBackup/src/bckFile.c
  tools/taosBackup/src/bckPool.c
Owners: @guanshengliang, @zitsen

check return error
  source/client/test/clientTests.cpp
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

opt msg order
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: init timezone (#34070)
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121
