Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

docs: update roadmap (#33307)
  docs/en/29-roadmap/index.md
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

docs: add taos_print_row desc
  docs/en/14-reference/05-connector/10-cpp.md
  docs/zh/14-reference/05-connector/10-cpp.mdx
Owners: @guanshengliang, @zitsen

fix(stream): modify trimDataBlock to make data in order
  include/common/tdatablock.h
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/mergejoinoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): modify trimDataBlock to make data in order
  include/common/tdatablock.h
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/mergejoinoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update query examples
  docs/examples/c-ws-new/query_data_demo.c
  docs/examples/c-ws-new/with_reqid_demo.c
  docs/examples/c/query_data_demo.c
  docs/examples/c/with_reqid_demo.c
Owners: @guanshengliang, @zitsen

fix(stream): modify trimDataBlock to make data in order
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): modify trimDataBlock to make data in order
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tsdbReader is null
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tsdbReader is null
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tsdbReader is null
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tsdbReader is null
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tsdbReader is null
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tsdbReader is null
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): clear indexHash for stream
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update macOS version requirement to 12.4
  docs/zh/14-reference/07-supported.md
Owners: @guanshengliang, @zitsen

enh(explorer): unify login-register workflow in enterpise/oss (#3332)
  explorer/server/src/main.rs
  explorer/src/lang/en/register.ts
  explorer/src/lang/zh/register.ts
  explorer/src/views/0_login/index.vue
Owners: @taosdata/merge

docs: update tmq and query examples
  docs/examples/c-ws-new/query_data_demo.c
  docs/examples/c-ws-new/tmq_demo.c
  docs/examples/c-ws-new/with_reqid_demo.c
  docs/examples/c/query_data_demo.c
  docs/examples/c/tmq_demo.c
  docs/examples/c/with_reqid_demo.c
Owners: @guanshengliang, @zitsen

feat(docker): add Dockerfile for TDengine and improve entrypoint script
  packaging/docker/Dockerfile-cd
  packaging/docker/base/Dockerfile.base
  packaging/docker/bin/entrypoint.sh
Owners: @feici02

fix(stream): fetch msg from rows
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

20-DataQuery rename 01-SelectList to 01-Select
  test/cases/20-DataQuerying/01-Select/test_query_select_basic.py
  test/ci/cases.task
  test/mkdocs.yml
Owners: @taosdata/merge

cases: migrate alter database option case
  test/cases/02-Databases/03-Alter/test_db_alter_option.py
Owners: @taosdata/merge

case: forget delete test_show.py case
  test/cases/01-DataTypes/test_datatype_decimal2.py
  test/cases/20-DataQuerying/01-SelectList/test_selectlist_basic.py
  test/cases/uncatalog/army/query/test_show.py
  test/cases/uncatalog/system-test/0-others/test_show.py
Owners: @taosdata/merge

docs: update c docs
  docs/en/14-reference/05-connector/10-cpp.md
  docs/zh/14-reference/05-connector/10-cpp.mdx
Owners: @guanshengliang, @zitsen

add libsasl to taosd
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

change log level of http
  source/libs/transport/src/thttp.c
Owners: @guanshengliang, @hzcheng, @dapan1121

change log level of http
  source/libs/transport/src/thttp.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update to the nvl2 function description
  docs/zh/14-reference/03-taos-sql/22-function.md
Owners: @guanshengliang, @zitsen

case: combine cast case 3 to 1
  test/cases/22-Functions/01-Scalar/test_fun_sca_cast.py
  test/cases/22-Functions/01-Scalar/test_scalar_cast.py
  test/cases/uncatalog/army/query/function/test_cast.py
Owners: @taosdata/merge

Update test-win.yaml
  .github/workflows/test-win.yaml
Owners: @feici02

case: cast army deal
  test/cases/22-Functions/01-Scalar/test_fun_sca_concat.py
  test/cases/uncatalog/army/query/function/test_concat.py
Owners: @taosdata/merge

Update test-win.yaml
  .github/workflows/test-win.yaml
Owners: @feici02

case: delete army test_func_elapsed.py since same with test_fun_agg_elapsed.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_concat.py
  test/cases/uncatalog/army/query/function/test_func_elapsed.py
  test/cases/uncatalog/system-test/2-query/test_concat2.py
  test/ci/cases.task
Owners: @taosdata/merge

Update 22-function.md
  docs/zh/14-reference/03-taos-sql/22-function.md
Owners: @guanshengliang, @zitsen

add coverage result json
  test/ci/run_coverage_diff.sh
Owners: @taosdata/merge

case: delete army test_interp.py duplicate with test_interp_fill.py
  test/cases/uncatalog/army/query/function/test_interp.py
Owners: @taosdata/merge

docs: add query request concurrency limit configuration details
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

"fix: only do asc table scan for window operator"
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add alarm result print
  test/ci/tdengine_coveage_alarm.py
Owners: @taosdata/merge

fix(stream): modify trimDataBlock to make data in order
  source/common/src/tdatablock.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): modify trimDataBlock to make data in order
  source/common/src/tdatablock.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
