Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix(tests): add parserTest to ctest command in test.sh
  test/cases/82-UnitTest/test.sh
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

feat(service): add OOMScoreAdjust to taosd.service for better memory management (#34517)
  packaging/cfg/taosd.service
Owners: @feici02

fix(tests): comment out specific test cases in cases.task (#34518)
  test/cases/82-UnitTest/test.sh
  test/ci/cases.task
Owners: @taosdata/merge

Deployed 4325344de4 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/DataSubscription/Consume/index.html
  main/case_list_docs/ShowCommands/index.html
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

enh(rbac): check show create view
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check create or replace view
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove unnecessary blank line in new-framework-test.yml
  .github/workflows/new-framework-test.yml
Owners: @feici02

enh(rbac): check view privileges
  source/libs/parser/src/parAuthenticator.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  test/cases/05-VirtualTables/test_vtable_auth_create.py
  test/cases/16-Views/test_view_basic.py
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_recalc.py
Owners: @taosdata/merge

fix(build): remove backup of cargo config in container build script
  test/ci/container_build.sh
Owners: @taosdata/merge

enh(tmq): add test case
  test/cases/04-SuperTables/04-Query/test_tag_tbname_in.py
Owners: @taosdata/merge

opti(tmq): do filter error for virtual child table
  source/client/src/clientTmq.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(topic-producer): check return values
  source/libs/tmqtt/tools/src/topic-producer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor log msg
  source/libs/tmqtt/tools/src/topic-producer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

opti(tmq): core dump because tbname is NULL
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(common): enhance execute_query_file to support concurrent SQL execution
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

feat(common): update SQL execution method to use ProcessPoolExecutor for improved concurrency
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

rbac(docs): append desc of user/role privileges
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

void usleep retval
  source/libs/tmqtt/tools/src/topic-producer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(common): update SQL execution method to use instance method for configuration retrieval
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

feat(sql): add execute_ignore_error method for SQL execution without error handling
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

rbac(docs): optimize the desc of revoke privileges
  docs/en/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

test: trigger ci test for 3.3.6
  CMakeLists.txt
Owners: @taosdata/merge

docs(rbac): optimize the desc of user/role privileges
  docs/en/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

fix(taosd): conflicts from main
  include/util/taoserror.h
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): fix stream status check in case test_stream_check_name
  test/cases/18-StreamProcessing/02-Stream/test_stream_check_name.py
Owners: @taosdata/merge

test(stream): split test_idmp_vehicle.py stream6 disorder write operator
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_vehicle.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

fix(stream): fix scan range for sliding trigger in recalculation
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix pending time of calc request in trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove void
  source/libs/tmqtt/tools/src/topic-producer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add virtual sys table
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  tests/test_new/case_list_docs/query/hint.md
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

enh(explorer-ui): explorer ui enhancement (#3591)
  explorer/src/assets/icons/circle_blod.svg
  explorer/src/assets/icons/console_dblist.svg
  explorer/src/assets/icons/database_icon.svg
  explorer/src/assets/icons/favorite_fill.svg
  explorer/src/assets/icons/stable.svg
  explorer/src/assets/icons/table.svg
  explorer/src/assets/icons/tag.svg
  explorer/src/layout/components/Header/components/Version/index.vue
  explorer/src/layout/components/Header/index.vue
  explorer/src/layout/components/Sider/components/SiderMenuItem/index.vue
  explorer/src/layout/components/Sider/index.vue
  explorer/src/layout/index.vue
  explorer/src/utils/init.ts
  explorer/taos-ui/assets/icons/chart.svg
  explorer/taos-ui/assets/icons/circle-blod.svg
  explorer/taos-ui/assets/icons/console_dblist.svg
  explorer/taos-ui/assets/icons/database.svg
  explorer/taos-ui/assets/icons/export.svg
  explorer/taos-ui/assets/icons/favorite_fill.svg
  explorer/taos-ui/assets/icons/table.svg
  explorer/taos-ui/assets/icons/tag.svg
  explorer/taos-ui/components/SqlCodeEditor/index.vue
  explorer/taos-ui/components/api.ts
  explorer/taos-ui/components/dataIn/components/commonTransformer/index.vue
  explorer/taos-ui/components/dataIn/components/commonTransformer/transformResultTable.vue
  explorer/taos-ui/components/dataIn/components/commonTransformer/type.ts
  explorer/taos-ui/components/dataIn/components/commonTransformer/util.ts
  explorer/taos-ui/components/dataIn/components/configForm.vue
  explorer/taos-ui/components/dataIn/views/sourceConfig.vue
  explorer/taos-ui/components/explorer/components/chart.vue
  explorer/taos-ui/components/explorer/components/customTreeNode.vue
  explorer/taos-ui/components/explorer/components/favoriteList/enterprise/index.vue
  explorer/taos-ui/components/explorer/components/favoriteList/enterprise/list.vue
  explorer/taos-ui/components/explorer/components/info.vue
  explorer/taos-ui/components/explorer/components/left.vue
  explorer/taos-ui/components/explorer/components/panel.vue
  explorer/taos-ui/components/explorer/components/right.vue
  explorer/taos-ui/locales/en/explorer.ts
  explorer/taos-ui/locales/zh/explorer.ts
Owners: @taosdata/merge

feat(tests): update test_scalar_sub4a1 to include additional table names and enable analyze queries
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a1.py
  test/ci/cases.task
  tests/ci/dockerfile_ci
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix(build): remove backup of cargo config in container build script (#34522)
  test/ci/container_build.sh
Owners: @taosdata/merge

add virtual sys table
  source/libs/executor/src/sysscanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update md
  tests/test_new/case_list_docs/query/hint.md
Owners: @guanshengliang, @zitsen
