Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

aovid msg dup
  source/client/src/clientEnv.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/qcom/src/queryUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: correct error codes in interp fill and interval fill tests for consistency
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
  test/cases/11-Functions/04-Timeseries/test_fun_ts_interp.py
Owners: @taosdata/merge

test: recover ci check
  .github/workflows/new-framework-test.yml
Owners: @feici02

Deployed 9a960b24bc5 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

[6755488313]: add-check-key (#34464)
  source/dnode/mnode/impl/src/mndDb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: basic function case create.
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

refactor: use conan to handle dependencies
  CMakeLists.txt
  CMakePresets.json
  CMakeUserPresets.json
  CONAN_MIGRATION.md
  build.sh
  cmake/conan.cmake
  conanfile.py
  source/client/inc/clientSml.h
  source/client/src/clientEnv.c
  source/client/src/clientImpl.c
  source/client/src/clientMonitor.c
  source/client/src/clientRawBlockWrite.c
  source/client/src/clientTmq.c
  source/common/src/cos_cp.c
  source/common/src/tglobal.c
  source/dnode/mgmt/node_util/inc/dmUtil.h
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/vnode/src/bse/bseMgt.c
  source/dnode/vnode/src/bse/bseTable.h
  source/libs/executor/inc/streamexecutorInt.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  source/libs/new-stream/src/streamUtil.c
  source/libs/parser/src/parUtil.c
  source/libs/parser/test/parStreamTest.cpp
  source/libs/qcom/src/queryUtil.c
  source/libs/scalar/src/sclfunc.c
  source/libs/sync/test/sync_test_lib/src/syncRaftStoreDebug.c
  source/libs/tmqtt/mqtt/src/tmqttCtx.c
  source/libs/tmqtt/tools/src/topic-producer.c
  source/libs/transport/inc/transComm.h
  source/libs/transport/src/thttp.c
  source/libs/wal/src/walMeta.c
  source/libs/wal/src/walRef.c
  source/util/CMakeLists.txt
  source/util/src/tconfig.c
  source/util/src/tjson.c
  tools/shell/CMakeLists.txt
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121, @zitsen

tdgpt pkg name
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
Owners: @guanshengliang, @zitsen

enh(docs): optimize the grant/revoke grammar
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

enh(docs): optimize the grant/revoke grammar
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

docs: update tsdb intro
  docs/en/03-intro.md
Owners: @guanshengliang, @zitsen

fix(xnode): increase the length of parser column and config column
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  include/util/tdef.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update new-framework-test.yml
  .github/workflows/new-framework-test.yml
Owners: @feici02

docs: auto detect version (#34467)
  docs/en/04-get-started/01-docker.md
  docs/en/04-get-started/03-package.md
  docs/en/04-get-started/05-cloud.md
  docs/en/04-get-started/index.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
Owners: @guanshengliang, @zitsen

enh(docs): optimize the desc of user privileges
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
  include/libs/parser/parser.h
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(tmq): add test case
  test/cases/17-DataSubscription/02-Consume/test_tmq_update_tablelist.py
Owners: @taosdata/merge

case: 1 succ
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

enh(rbac): check privilege of show tables
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/sysscanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update workflow reference and improve return value checks in CI scripts
  .github/workflows/new-framework-test.yml
  test/ci/filter_for_return_values
  test/ci/run.sh
  tests/ci/dockerfile_ci
Owners: @feici02, @taosdata/merge, @guanshengliang, @zitsen

chore: fix memory leak
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update workflow reference, improve return value checks, and optimize Dockerfile commands
  .github/workflows/new-framework-test.yml
  source/libs/scalar/inc/sclInt.h
  test/ci/run.sh
  tests/ci/dockerfile_ci
Owners: @feici02, @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

fix: Update clang-query command and remove unused scan directories
  test/ci/filter_for_return_values
  test/ci/scan_file_path.py
Owners: @taosdata/merge

enh(rbac): check privilege of show tables
  source/libs/executor/src/executil.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add data type verification
  include/libs/scalar/scalar.h
  include/util/taoserror.h
  source/libs/executor/src/executil.c
  source/libs/function/src/builtins.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parTranslater.c
  source/libs/scalar/src/scalar.c
  source/libs/scalar/src/sclvector.c
  source/util/src/terror.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query1.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub1.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

dmchen/self-audit-git-23
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/taoserror.h
  include/util/tdef.h
  include/util/tjson.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndStb.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/util/src/terror.c
  source/util/src/tjson.c
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
  test/cases/80-Components/01-Taosd/test_com_taosd_self_audit.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix: mergeAlignedInterval pkts error
  source/libs/planner/src/planSpliter.c
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_1.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_2.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_event.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_session.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_sliding.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_state.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: execute taos shell timeout 10->120s (#34466)
  test/cases/81-Tools/02-Taos/test_tool_taos_shell.py
Owners: @taosdata/merge

Deployed b1cdfa6cf84 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: mergeAlignedInterval pkts error (#34473)
  source/libs/planner/src/planSpliter.c
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_1.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_2.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_event.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_session.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_sliding.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_state.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(stream): support natural time units for period trigger
  include/util/tringbuf.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/new-stream/test/CMakeLists.txt
  source/libs/new-stream/test/streamTriggerTest.cpp
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): table list is null if using cache
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: timetruncate
  include/common/ttime.h
  include/libs/executor/executor.h
  source/common/src/ttime.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/streamtimewindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Apply suggestion from @Copilot
  source/common/src/ttime.c
Owners: @guanshengliang, @hzcheng, @dapan1121

opti(tmq): update tablelist if alter tag in tmq
  include/libs/executor/executor.h
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/sma/smaRollup.c
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  tests/system-test/7-tmq/tmq_update_tablelist.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

feat: streamline test execution by setting environment variables for credentials
  .github/workflows/taoskeeper-test-enterprise.yml
  .github/workflows/taoskeeper-test.yml
Owners: @feici02

enh(test): robustness for ut case tfs_test.cpp
  source/libs/tfs/test/tfsTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(test): robustness for ut case tfs_test.cpp
  source/libs/tfs/test/tfsTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

test: enhance fill surround checks in stream
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_basic.py
Owners: @taosdata/merge

enh(tmq): fix case error
  tests/system-test/7-tmq/tmq_update_tablelist.py
Owners: @guanshengliang, @zitsen

Apply suggestion from @Copilot
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
