Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

feat(rbac): grant privileges to role
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): [TS-7662] code problems reviewd by robit
  source/client/src/clientRawBlockWrite.c
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/tq/tqUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): boost merge of recalculation request
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: update download utils (#2407)
  enterprise/utils/download_enterprise_package.py
Owners: @taosdata/merge

fix: ci failed on windows.
  source/libs/wal/src/walMeta.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add idmp notify test case
  source/libs/new-stream/src/streamRunner.c
  test/cases/18-StreamProcessing/05-Notify/notify_check.py
  test/cases/18-StreamProcessing/05-Notify/stream_notify_server.py
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: add groupid in notification
  source/libs/new-stream/src/streamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ai comment
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: gemimi code assist
  test/cases/18-StreamProcessing/05-Notify/stream_notify_server.py
Owners: @taosdata/merge

docs: notify filed desc
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

docs: notify filed desc
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

fix: fix precision error.
  tools/tdgpt/taosanalytics/algo/fc/prophet.py
  tools/tdgpt/taosanalytics/algo/forecast.py
  tools/tdgpt/taosanalytics/service.py
Owners: @guanshengliang, @zitsen

enh: make stableTagFilterCache and tagFilterCache mutually exclusive and always try stableTagFilterCache first
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/01-components/08-config-scope.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/08-config-scope.md
  source/libs/executor/src/executil.c
  test/cases/18-StreamProcessing/99-Others/test_stream_tag_cache.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

chore: fix typo error
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix(tsdb): convert time precision for file set reader
  source/dnode/vnode/src/tsdb/tsdbFS2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/TD-38642-snapshot-stop-by-leader-change
  source/libs/sync/inc/syncMessage.h
  source/libs/sync/inc/syncSnapshot.h
  source/libs/sync/src/syncSnapshot.c
  source/libs/sync/src/syncUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: fix error.
  tools/tdgpt/taosanalytics/service.py
Owners: @guanshengliang, @zitsen

enh: add table list in reader
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): add test case
  test/cases/18-StreamProcessing/02-Stream/stream_tablelist.py
Owners: @taosdata/merge

feat(rbac): grant privileges to role
  include/common/tmsg.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): fix reviewed problems
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:mixed dataase support
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/resource/data/diagnostics.csv
  tools/tsbs-tdengine/resource/data/readings.csv
  tools/tsbs-tdengine/src/doTest.py
  tools/tsbs-tdengine/src/main.py
  tools/tsbs-tdengine/src/scene.py
  tools/tsbs-tdengine/src/writeData.py
  tools/tsbs-tdengine/tools/sort_csv.py
Owners: @guanshengliang, @zitsen

enh: add new attribute extWinSplit in window node.
  include/libs/nodes/plannodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove generate filename
  tools/tsbs-tdengine/src/scene.py
Owners: @guanshengliang, @zitsen

fix -s arguments support
  tools/tsbs-tdengine/src/cmdLine.py
  tools/tsbs-tdengine/src/prepareEnv.py
Owners: @guanshengliang, @zitsen

fix: ci problems on windows.
  source/libs/wal/src/walMeta.c
  source/libs/wal/test/walMetaTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): fix some errors
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): [TS-7662] fix getting more creating table message because o… (#33639)
  source/client/src/clientRawBlockWrite.c
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/tq/tqUtil.c
  tests/parallel_test/cases.task
  tests/system-test/7-tmq/tmq_ts7662.py
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_ts7662.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

feat(aes): aes encrypt/decrypt funcs for querying
  CMakeLists.txt
  contrib/libaes/CMakeLists.txt
  contrib/libaes/inc/taes.h
  contrib/libaes/src/taes.c
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  include/util/tmd5.h
  source/libs/function/src/builtins.c
  source/libs/scalar/src/sclfunc.c
  source/util/CMakeLists.txt
  source/util/src/tmd5.c
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

fix(stream): case error
  utils/test/c/tmq_td37436.c
Owners: @guanshengliang

enh(taosd): optimize process destruction logic on Windows by deduplicating fqdn
  test/new_test_framework/taostest/components/taosd.py
Owners: @taosdata/merge

fix: stream notify has not tbName (#33600)
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamUtil.c
  test/cases/18-StreamProcessing/05-Notify/notify_check.py
  test/cases/18-StreamProcessing/05-Notify/stream_notify_server.py
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed fc325ab9ea to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

Update win_cases.task
  test/ci/win_cases.task
Owners: @taosdata/merge

fix: checkResultsBySql query new result for each retry (#33640)
  test/cases/26-NodeManager/01-Dnode/test_offline_reason.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

Update win_cases.task (#33650)
  test/ci/win_cases.task
Owners: @taosdata/merge

fix: data rows incorrect
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/src/cmdLine.py
  tools/tsbs-tdengine/src/main.py
  tools/tsbs-tdengine/src/prepareEnv.py
  tools/tsbs-tdengine/src/writeData.py
Owners: @guanshengliang, @zitsen

fix(taosd): ensure process kill commands are executed only if commands exist
  test/new_test_framework/taostest/components/taosd.py
Owners: @taosdata/merge

fix(stream): add cases
  test/cases/18-StreamProcessing/02-Stream/stream_tablelist.py
Owners: @taosdata/merge

feat(rbac): add privilege look up table
  include/util/tdef.h
  include/util/tpriv.h
  source/common/src/tpriv.c
Owners: @guanshengliang, @hzcheng, @dapan1121
