Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

update forbidden info
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: enhance audit table structure with affected_rows and duration fields
  tools/keeper/api/audit.go
  tools/keeper/api/audit_test.go
Owners: @guanshengliang, @zitsen

update forbidden info
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

do not handle http response
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor code
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: join error desc
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor code
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor code
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 220d625fc8 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

drop tokens when drop user
  source/client/test/clientTests.cpp
  source/dnode/mnode/impl/inc/mndToken.h
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): add test case test_priv_rbac.py
  source/libs/parser/src/parAstCreater.c
  test/cases/25-Privileges/test_priv_rbac.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix inconsistent message serialization
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix null ptr
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

no erase loop with null cache
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix coredump drop xnode task by name
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix stream out table schema change problem
  include/common/streamMsg.h
  include/libs/executor/executor.h
  include/libs/new-stream/stream.h
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/libs/executor/src/dataInserter.c
  source/libs/executor/src/executor.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove no exist on cases.task cases
  test/cases/17-DataSubscription/02-Consume/test_tmq_offset2.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_params.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_taosx_performance.py
  test/ci/cases.task
Owners: @taosdata/merge

handle mem leak
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix mem leak
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: 7-tmq check 93 cases full exist on new position
  test/cases/17-DataSubscription/01-Mgmt/test_tmq_show.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_offset.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_replay.py
Owners: @taosdata/merge

cases: 04-MQTT rename 03-MQTT
  test/cases/17-DataSubscription/03-MQTT/soak.json
  test/cases/17-DataSubscription/03-MQTT/test_mqtt_bnodes.py
  test/cases/17-DataSubscription/03-MQTT/test_mqtt_qos.py
  test/cases/17-DataSubscription/03-MQTT/test_mqtt_rb.py
  test/cases/17-DataSubscription/03-MQTT/test_mqtt_smoking.py
  test/cases/17-DataSubscription/03-MQTT/test_mqtt_soak.py
  test/cases/17-DataSubscription/03-MQTT/test_mqtt_special.py
  test/ci/cases.task
Owners: @taosdata/merge

make ci happy
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add test
  test/cases/18-StreamProcessing/99-Others/test_out_table.py
  test/ci/cases.task
Owners: @taosdata/merge

cases: adjust cases title
  test/cases/11-Functions/01-Scalar/test_fun_sca_concat2.py
  test/cases/11-Functions/01-Scalar/test_scalar_all.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v1_t1.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v1_tn.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v4_t1.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v4_tn.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v1_overlap.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v1_snapshot.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v1_t1.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v1_tn.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v4_t1.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v4_tn.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_consumer_group.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_offset.py
  test/ci/win_ignore_cases
  test/mkdocs.yml
Owners: @taosdata/merge

feat: update AuditInfo struct to require affected_rows and duration fields, and enhance unmarshal tests
  tools/keeper/api/audit.go
  tools/keeper/api/audit_test.go
Owners: @guanshengliang, @zitsen

fix(tmq): support vtable change in reader
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/02-Stream/stream_schema.py
  test/cases/18-StreamProcessing/03-TriggerMode/test_ts_7622.py
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

support start/stop/drop task by name
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/xnode.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove mock xnoded
  .github/workflows/tdengine-release-build.yml
  build.bat
  build.sh
  cmake/define.cmake
  tools/CMakeLists.txt
  tools/xnoded/CMakeLists.txt
  tools/xnoded/Cargo.lock
  tools/xnoded/Cargo.toml
  tools/xnoded/src/api/mod.rs
  tools/xnoded/src/main.rs
  tools/xnoded/src/orchestrator/mod.rs
Owners: @feici02, @taosdata/merge, @guanshengliang, @zitsen

fix(explorer): echo json extract parser error (#3482)
  explorer/taos-ui/components/dataIn/components/commonTransformer/index.vue
Owners: @taosdata/merge

chore: solve CI problem
  include/util/tdef.h
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_recalc.py
  test/cases/27-Mount/test_mount_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix merge error
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: solve CI problem
  source/common/src/systable.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_recalc.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: solve CI problem
  source/dnode/mnode/impl/src/mndStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: mem leak (#34023)
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: solve CI problem
  source/dnode/mnode/impl/src/mndStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: solve CI problem
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_privilege.py
Owners: @taosdata/merge

fix: reset timezone
  source/os/src/osTimezone.c
  source/util/src/tconfig.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: some storage encryption issues.
  include/common/tglobal.h
  source/common/src/tencrypt.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/node_util/src/dmFile.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/sdb/src/sdbFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/6604279540: add more log for save raft config (#34010)
  source/dnode/mgmt/mgmt_mnode/src/mmInt.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndSync.c
  source/libs/sync/inc/syncRaftCfg.h
  source/libs/sync/src/syncMain.c
  source/libs/sync/src/syncRaftCfg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci
  source/common/src/msg/streamMsg.c
  source/libs/parser/src/parTranslater.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge
