Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

feat(subq/some): some/any/exists for stream subq (#34860)
  source/libs/executor/src/executil.c
  test/cases/18-StreamProcessing/02-Stream/stream_subq_in-mtables.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery-mtables.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable2.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: -V required argument
  test/ci/run_upgrade_compat_container.sh
Owners: @taosdata/merge

fix: build remove windows
  cmake/external.cmake
  tools/taosBackup/inc/parquetBlock.h
  tools/taosBackup/inc/storageParquet.h
  tools/taosBackup/src/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix show tags bug
  source/libs/executor/src/sysscanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(tdgpt): update model ports and enhance installation logging
  tools/tdgpt/cfg/taosanode.config.py
  tools/tdgpt/packaging/WINDOWS_INSTALL_FEATURES.md
  tools/tdgpt/packaging/installer/tdgpt.iss
  tools/tdgpt/script/install.py
  tools/tdgpt/script/taosanode_service.py
  tools/tdgpt/taosanalytics/algo/ad/autoencoder.py
  tools/tdgpt/tests/test_model_service.py
Owners: @guanshengliang, @zitsen

fix(parser): set agg in unionall to useless error (#34874) (#34888)
  .github/workflows/arc-deploy-daily-tsdb-env.yml
  source/libs/parser/src/parCalcConst.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/07-DataQuerying/10-Union/test_unionall_outer_count.py
  test/cases/10-Operators/04-Set/test_union_bugs.py
Owners: @feici02, @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

merge: set verson number
  cmake/version.cmake
Owners: @guanshengliang

Fix taosd followup null guards for 34544
  source/common/src/tdatablock.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): add basic case of vtable change
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @taosdata/merge

test: fix2
  source/libs/executor/src/externalwindowoperator.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(tdgpt): enhance taosanode startup process and readiness checks
  tools/tdgpt/packaging/WINDOWS_INSTALL_FEATURES.md
  tools/tdgpt/packaging/win_release.py
  tools/tdgpt/script/taosanode_service.py
Owners: @guanshengliang, @zitsen

feat(stream): support runtime vtable updates in trigger
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(stream): add logic for getting vtable info in reader
  include/common/streamMsg.h
  include/libs/executor/storageapi.h
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/meta/metaQuery.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(stream): add logic for getting vtable info in reader
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(stream): fix problems reviewed by gemini
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: [6789525493] Fix tsma drop with if exists.
  source/libs/parser/src/parTranslater.c
  test/cases/19-TSMAs/test_tsma.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(stream): implement idle trigger for stream partitions
  include/common/streamMsg.h
  include/libs/function/functionMgt.h
  include/libs/nodes/cmdnodes.h
  include/libs/nodes/querynodes.h
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/libs/function/src/builtins.c
  source/libs/function/src/functionMgt.c
  source/libs/new-stream/inc/streamInt.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/new-stream/src/streamUtil.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/test/parStreamTest.cpp
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planSpliter.c
  source/libs/scalar/src/scalar.c
  test/cases/18-StreamProcessing/04-Options/test_idle_trigger.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: chomd 7777 to greeen version
  test/tools/CompatCheck/config_lib.py
  test/tools/CompatCheck/server/rollingUpgrade.py
Owners: @taosdata/merge

fix: remove debug log
  source/libs/executor/src/mergejoinoperator.c
  source/libs/function/src/builtins.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update source/libs/executor/src/mergejoinoperator.c
  source/libs/executor/src/mergejoinoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: expand CACHESHARDBITS auto-calculation rules with examples.
  docs/en/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/02-database.md
Owners: @guanshengliang, @zitsen

fix: ci problems.
  docs/en/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/02-database.md
Owners: @guanshengliang, @zitsen

docs: expand CACHESHARDBITS auto-calculation rules with examples. (#34893)
  docs/en/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/02-database.md
Owners: @guanshengliang, @zitsen

docs: expand CACHESHARDBITS auto-calculation rules with examples.
  docs/en/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/02-database.md
Owners: @guanshengliang, @zitsen

fix: ci problems.
  docs/en/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/02-database.md
Owners: @guanshengliang, @zitsen

chore: add SDB_SEQ for global unique txnId
  source/dnode/mnode/impl/src/mndTxnSeq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: change green_versions folder
  test/ci/run_upgrade_compat.sh
  test/ci/run_upgrade_compat_container.sh
  test/tools/CompatCheck/server/clusterSetup.py
Owners: @taosdata/merge

fix(taosd): set ver = -1 in stream for history
  source/dnode/vnode/src/meta/metaQuery.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(tdgpt): improve logger setup to handle non-writable log directories
  tools/tdgpt/script/taosanode_service.py
Owners: @guanshengliang, @zitsen

feat(tdgpt): update dependency installation and enhance logging configuration for GitHub Actions
  .github/workflows/new-tdgpt-test.yml
  tools/tdgpt/taosanalytics/conf.py
Owners: @feici02, @guanshengliang, @zitsen

feat(tdgpt): enhance Windows and GitHub Actions compatibility in taosanode configuration
  tools/tdgpt/cfg/taosanode.config.py
Owners: @guanshengliang, @zitsen

enh(explorer): refine activation ui (#3713)
  .cargo/audit.toml
  Cargo.lock
  explorer/server/Cargo.toml
  explorer/server/src/oauth/client.rs
  explorer/src/lang/en/taosuser.ts
  explorer/src/lang/zh/taosuser.ts
  explorer/src/views/8_administrator/views/license.vue
  taosx-core/src/tmq/mod.rs
Owners: @taosdata/merge

fix(tdgpt): correct model service start assertion for missing required model
  tools/tdgpt/script/taosanode_service.py
  tools/tdgpt/tests/test_model_service.py
Owners: @guanshengliang, @zitsen

Initial commit
  .gitignore
  LICENSE
  README.md
Owners: @taosdata/merge

fix: taosd can not running
  test/ci/container_build.sh
  test/ci/run_upgrade_compat_container.sh
  test/tools/CompatCheck/server/clusterSetup.py
Owners: @taosdata/merge

fix: security map to docker folder path
  test/ci/container_build.sh
  test/ci/run_upgrade_compat.sh
Owners: @taosdata/merge

fix(replication): use `tmq` driver for `sync` replication tasks (#3714)
  crates/tmq-to-td/src/split_job.rs
  explorer/src/views/8_administrator/views/replication.vue
  taosx-core/src/tmq/mod.rs
Owners: @taosdata/merge

fix: windows timezone value wrong issue (#34892)
  source/libs/executor/src/mergejoinoperator.c
  source/libs/function/src/builtins.c
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove wordir to old position
  test/ci/run_upgrade_compat.sh
Owners: @taosdata/merge

fix/6922783380-increase-case-prepare-timeout (#34871)
  test/conftest.py
Owners: @taosdata/merge
