Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

submit code
  tools/taosBackup/inc/bckError.h
  tools/taosBackup/inc/colCompress.h
  tools/taosBackup/src/colCompress.c
  tools/taosBackup/src/storageTaos.c
Owners: @guanshengliang, @zitsen

stage: before compressBlock all finished
  tools/taosBackup/inc/bckError.h
  tools/taosBackup/inc/bckFile.h
  tools/taosBackup/inc/colCompress.h
  tools/taosBackup/inc/storageTaos.h
  tools/taosBackup/src/backupData.c
  tools/taosBackup/src/backupMeta .c
  tools/taosBackup/src/bckFile.c
  tools/taosBackup/src/colCompress.c
  tools/taosBackup/src/storageTaos.c
Owners: @guanshengliang, @zitsen

enh: vnodes process notify msg asynchronously
  source/libs/executor/src/executor.c
  source/libs/qworker/inc/qwInt.h
  source/libs/qworker/src/qworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix true for check in history calculation
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_window_true_for.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix evnet check in history calc
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test folder init
  tools/taosBackup/CMakeLists.txt
  tools/taosBackup/src/CMakeLists.txt
  tools/taosBackup/src/test/showRawBlock.c
  tools/taosBackup/test/build.sh
  tools/taosBackup/test/showRawBlock.c
Owners: @guanshengliang, @zitsen

enh(rbac): check use db for insert
  include/libs/catalog/catalog.h
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check use db for insert
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check use db for insert
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/libs/catalog/src/catalog.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix memory in xnode agent module
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: improve installation script output and silent mode handling
  packaging/tools/install.sh
Owners: @feici02

enh(rbac): check use db for insert
  include/libs/catalog/catalog.h
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): add owned db for users
  source/dnode/mnode/impl/src/mndDb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): owned db for audit role
  include/util/tpriv.h
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): owned db for audit role
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check sysaudit_log privileges
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check sysaudit_log privileges
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix and job memory leak
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  test/cases/42-Xnode/test_xnode.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh:[TS-7591] Optimize virtual super table agg query.
  include/common/tdataformat.h
  include/common/tmsg.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  source/common/src/msg/tmsg.c
  source/common/src/tdatablock.c
  source/common/src/tdataformat.c
  source/libs/executor/inc/dynqueryctrl.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/scanoperator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planScaleOut.c
  source/libs/planner/src/planSpliter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: [TS-7132] Optimize vtable window query.
  include/common/tmsg.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/executor/inc/dynqueryctrl.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/operator.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/mergeoperator.c
  source/libs/executor/src/operator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/executor/test/queryPlanTests.cpp
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [TS-7591] A tricky optimization, which find a proper time to set FUNC_DATA_REQUIRED_NOT_LOAD and avoid loading more block.
  include/libs/function/function.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh:[TS-7591] Add test cases.
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_partition_expr.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_tag_cond.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_time_cond.ans
  test/cases/05-VirtualTables/data/genData.json
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_partition_expr.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_tag_cond.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_time_cond.in
  test/cases/05-VirtualTables/test_vtable_query_cross_db_stb_agg.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_ctb.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_agg.py
  test/cases/05-VirtualTables/test_vtable_util.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: [TS-7591] Add explain info and add plan test.
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/planner/src/planLogicCreater.c
  test/cases/05-VirtualTables/ans/test_vstable_plan_test_agg.ans
  test/cases/05-VirtualTables/in/test_vstable_plan_test_agg.in
  test/cases/05-VirtualTables/test_vtable_query_plan.py
  test/cases/05-VirtualTables/test_vtable_util.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: [TS-7591] Forbid vstb agg optimize when having select value and group const value.
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Fix code logic
  include/common/tmsg.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/mergeoperator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Fix code logic
  include/common/tmsg.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/mergeoperator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Fix compile error
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [TS-7591] Some code refactor and add more log.
  source/common/src/msg/tmsg.c
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [6622759079] Fix last(ts) on virtual supertable wrong result.
  source/libs/executor/src/scanoperator.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: handle return code from notifyTableScanTask in qwExecTask
  source/libs/qworker/src/qworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support encrypt for bse.
  source/dnode/vnode/src/bse/bseInc.h
  source/dnode/vnode/src/bse/bseTable.c
  source/dnode/vnode/src/inc/bse.h
  source/dnode/vnode/src/vnd/vnodeOpen.c
  source/dnode/vnode/test/bseTest.cpp
  test/taoskLog.0
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

case: submit test_user_security.py (#34184)
  test/cases/24-Users/test_user_manager.py
  test/ci/cases.task
  test/new_test_framework/utils/sql.py
  tools/shell/src/shellAuto.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

Deployed 780f005f95 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Users/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

fix(case): case error in sometimes
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
  test/new_test_framework/utils/tmqUtil.py
Owners: @taosdata/merge

fix: array zeroed
  include/util/tarray.h
  source/util/src/tarray.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: add cargo clean command to rust.sh examples
  test/cases/83-DocTest/rust.sh
Owners: @taosdata/merge

chore(tests): add cargo clean command to rust example scripts
  tests/docs-examples-test/rust.sh
Owners: @guanshengliang, @zitsen

chore: add cargo clean command to rust.sh examples
  test/cases/83-DocTest/rust.sh
Owners: @taosdata/merge

docs: add error code and agent management docs
  docs/en/14-reference/03-taos-sql/94-datain.md
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/03-taos-sql/94-datain.md
  docs/zh/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen

fix: interval window require data order
  source/libs/planner/src/planLogicCreater.c
  test/cases/11-Functions/02-Aggregate/test_fun_agg_elapsed.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge
