Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

test(query): fix result of explain cases (#34658)
  test/cases/09-DataQuerying/08-SubQuery/ans/test_in_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
  test/cases/09-DataQuerying/15-Explain/r/test_explain.result
Owners: @taosdata/merge

fix(tmq): case error in sometimes (#34619)
  source/client/src/clientSml.c
  source/client/src/clientSmlJson.c
  source/client/src/clientTmq.c
  source/dnode/vnode/src/meta/metaSnapshot.c
  source/libs/executor/src/executor.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_dnode_restart.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_snapshot_filter.py
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix vtable memleak
  source/libs/executor/src/dynqueryctrloperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore(e2e): update testng-taosx commit (#3641)
  tests/e2e/poetry.lock
Owners: @guanshengliang, @zitsen

fix: create new exec.Cmd instance before restarting taosadapter (#362)
  .github/workflows/build.yml
  benchmark/benchmark.go
  ws/schemaless/schemaless_test.go
  ws/stmt/stmt_test.go
  ws/tmq/consumer_test.go
Owners: @feici02, @taosdata/merge

fix: reclaim paged buffer temp file space on clear
  source/util/src/tpagedbuf.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(repair): add design doc and ignore patterns for data repair tool
  .gitignore
  docs/plans/2026-03-03-data-repair-tool-design.md
  docs/plans/2026-03-03-data-repair-tool-implementation.md
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @zitsen, @hzcheng, @dapan1121

chore: add test case for ssmigrate without/with rsma
  include/common/tglobal.h
  include/util/tdef.h
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndMain.c
  test/cases/20-RSMAs/test_rsma.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: add test case for ssmigrate without/with rsma
  include/util/tdef.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ssmigrate may remove local data file
  source/dnode/vnode/src/tsdb/tsdbMigrate.c
  test/cases/20-RSMAs/test_rsma.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(repair): implement runtime context and vnode filtering
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

feat(repair): add precheck for data directory, disk space, and target paths
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

feat(repair): implement backup directory creation and session tracking
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

feat(repair): add progress reporting and summary generation for repair sessions
  AGENTS.md
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

feat: support metrics v2 interface, which is memory mode. Close: https://project.feishu.cn/taosdata_td/feature/detail/6622579928
  tools/keeper/api/exporter_test.go
  tools/keeper/api/metric_middleware.go
  tools/keeper/api/metric_middleware_test.go
  tools/keeper/api/metric_parser.go
  tools/keeper/api/metric_parser_test.go
  tools/keeper/api/nodeexporter.go
  tools/keeper/api/performance_collector.go
  tools/keeper/api/performance_collector_test.go
  tools/keeper/api/report.go
  tools/keeper/api/v2_integration_test.go
  tools/keeper/config/taoskeeper.toml
  tools/keeper/config/taoskeeper_enterprise.toml
  tools/keeper/infrastructure/config/config.go
  tools/keeper/infrastructure/config/prometheus.go
  tools/keeper/process/memory_collector.go
  tools/keeper/process/memory_collector_test.go
  tools/keeper/process/memory_store.go
  tools/keeper/process/memory_store_test.go
  tools/keeper/system/program.go
  tools/keeper/system/program_test.go
Owners: @guanshengliang, @zitsen

feat(repair): add session resume capability for interrupted repairs
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

feat(repair): add force-mode wal scheduling for taosd -r
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  t
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

refactor(dnode): extract repair workflow from dmMain main
  source/dnode/mgmt/exe/dmMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(repair): add WAL pre-repair backup and rollback protection
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

feat(repair): add TSDB scan, block analysis, and rebuild MVP
  findings.md
  include/common/trepair.h
  include/libs/wal/wal.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  source/libs/wal/src/walMeta.c
  source/libs/wal/src/walMgmt.c
  source/libs/wal/test/walMetaTest.cpp
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

feat(repair): add force+tsdb workflow and tsdb repair smoke script
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
  tests/ci/repair_tsdb_force.sh
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121, @zitsen

feat(repair): implement force tsdb/meta workflows and add repair smoke coverage
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

fix: case issue
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query4.0.csv
Owners: @taosdata/merge

Update docs/en/14-reference/03-taos-sql/21-operators.md
  docs/en/14-reference/03-taos-sql/21-operators.md
Owners: @guanshengliang, @zitsen

feat(repair): close force+meta rebuild loop and wire replica dispatch stub
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
  tests/ci/repair_meta_force.sh
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: samples issue
  docs/en/14-reference/03-taos-sql/20-select.md
  docs/zh/14-reference/03-taos-sql/20-select.md
Owners: @guanshengliang, @zitsen

feat(repair): implement replica vnode degrade flow for mode=replica
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

feat(repair): complete replica rollback flow and add copy-mode mock transfer foundation
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  t
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

test: check ssmigrate with/without rsma
  test/cases/20-RSMAs/test_rsma.py
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

feat(repair): add SSH/SCP copy workflow for copy mode
  findings.md
  include/common/trepair.h
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

Change default case redo time from 2 to 1
  test/ci/run.sh
Owners: @taosdata/merge

test: check ssmigrate with/without rsma
  test/cases/20-RSMAs/test_rsma.py
Owners: @taosdata/merge

feat(taosdump): delete the contents related to RESTful
  docs/en/14-reference/02-tools/09-taosdump.md
  docs/zh/14-reference/02-tools/09-taosdump.md
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(taosdump): delete parameter parsing related to RESTful
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(repair): complete copy-mode hardening with owner fix and rollback
  findings.md
  progress.md
  source/common/src/trepair.c
  source/common/test/commonTests.cpp
  source/dnode/mgmt/exe/dmMain.c
  task_plan.md
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

chore: restore code change
  include/util/tdef.h
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: restore code change
  include/util/tdef.h
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(explorer-ui): enable datain menu in tsdb-lite version (#3644)
  explorer/src/layout/components/Sider/index.vue
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
