Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

trigger build
  README.md
Owners: @taosdata/merge

support unix socket
  include/dnode/xnode/xnode.h
  include/libs/txnode/txnode.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/xnode/src/xnode.c
  source/libs/txnode/src/txnodeMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: trigger build
  README.md
  tools/auto/testBss/run.sh
Owners: @taosdata/merge, @guanshengliang, @zitsen

add more case
  test/cases/18-StreamProcessing/99-Others/test_out_table.py
Owners: @taosdata/merge

kill pre-xnoded before start
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/xnode/src/xnode.c
  source/libs/txnode/src/txnodeMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: some build errors.
  source/dnode/mgmt/mgmt_dnode/CMakeLists.txt
  source/dnode/mgmt/node_mgmt/CMakeLists.txt
  source/dnode/mgmt/node_util/CMakeLists.txt
  source/dnode/mgmt/node_util/src/dmFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(explorer): add login test with explorer ui (#3481)
  .github/workflows/cov.yaml
  .github/workflows/pr-ci.yaml
  explorer/playwright.config.ts
  explorer/tests/README.md
  explorer/tests/demo.spec.ts
  explorer/tests/login.spec.ts
Owners: @feici02, @taosdata/merge

cases: adjust case title
  test/cases/02-Databases/04-Query/test_db_show_create_table.py
  test/cases/03-Tables/02-SubTables/test_subtable_ttl.py
  test/cases/04-SuperTables/01-Create/test_stable_create_rowlength64k.py
  test/cases/04-SuperTables/01-Create/test_stable_create_rowlength64k_benchmark.py
  test/cases/04-SuperTables/01-Create/test_stable_create_rowlength64k_call.py
  test/cases/06-DataIngestion/01-SQL/test_wal_keep_version_high_availability.py
  test/cases/06-DataIngestion/01-SQL/test_wal_keep_version_trim.py
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_high_availability.py
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
  test/cases/18-StreamProcessing/02-Stream/test_stream_output_table.py
Owners: @taosdata/merge

chore: fix js content type response error (#3483)
  explorer/server/src/main.rs
Owners: @taosdata/merge

skip password expiry for token connections
  include/libs/transport/trpc.h
  source/client/test/clientTests.cpp
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndAcct.c
  source/dnode/mnode/impl/src/mndAnode.c
  source/dnode/mnode/impl/src/mndBnode.c
  source/dnode/mnode/impl/src/mndCluster.c
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndConsumer.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndFunc.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndMnode.c
  source/dnode/mnode/impl/src/mndMount.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndQnode.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndScan.c
  source/dnode/mnode/impl/src/mndShow.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndSnode.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: 7-tmq test_tmqUpdate_multiCtb.py reset migrated
  test/cases/uncatalog/system-test/7-tmq/test_tmqUpdate_multiCtb.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: [TS-7591] Some code refactor and add more log.
  source/common/src/msg/tmsg.c
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(pi): panic when get pi json error #none (#3480)
  src/serve/data_sources/mod.rs
Owners: @taosdata/merge

fix(tmq): support vtable change in reader
  source/dnode/vnode/src/meta/metaQuery.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memory leak at dmProcessKeySyncRsp.
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): adjust privilege for test_sml.py/sml_test.c
  utils/test/c/sml_test.c
Owners: @guanshengliang

chore: fix ci cache error (#3484)
  .github/workflows/cov.yaml
Owners: @feici02

support dnode close xnoded
  include/dnode/xnode/xnode.h
  source/dnode/mgmt/mgmt_xnode/src/xmInt.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/xnode/src/xnode.c
  source/libs/txnode/src/txnodeMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: solve CI problem
  source/dnode/mnode/impl/src/mndStream.c
  source/libs/parser/src/parAstParser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: optimize scalar subquery as primary key condtion
  include/libs/nodes/plannodes.h
  include/libs/scalar/filter.h
  include/libs/scalar/scalar.h
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planUtil.c
  source/libs/scalar/inc/filterInt.h
  source/libs/scalar/inc/sclInt.h
  source/libs/scalar/src/filter.c
  source/libs/scalar/src/scalar.c
  source/libs/scalar/test/filter/filterTests.cpp
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: fix typo
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): support vtable change in reader
  source/dnode/vnode/src/meta/metaQuery.c
  test/cases/18-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: make error on macos or windows.
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mgmt/node_mgmt/src/dmMgmt.c
  source/dnode/mgmt/node_util/src/dmFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): remove useless case
  tests/coverage/old_covtests.task
  tests/parallel_test/cases.task
Owners: @guanshengliang, @zitsen

cases: cases.task add argument
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db0.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db1.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db2.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db3.py
  test/cases/70-Cluster/test_cluster_split_vgroup_by_learner.py
  test/cases/70-Cluster/test_compact_db_conflict.py
  test/ci/cases.task
Owners: @taosdata/merge

feat(tmq): support show connections for tmq
  source/dnode/mnode/impl/test/profile/profile.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

add msg src
  include/libs/transport/trpc.h
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/libs/transport/inc/transportInt.h
  source/libs/transport/src/trans.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test case
  source/os/src/osTimezone.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/ans/interval_diff_tz.csv
  test/cases/13-TimeSeriesExt/03-TimeWindow/in/interval.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix ci issues
  .github/scripts/check_enum_append_only.py
  docs/en/14-reference/09-error-code.md
  include/util/tdef.h
  source/client/test/clientTests.cpp
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndToken.c
Owners: @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

avoid dead lock
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(tmq): support show connections for tmq
  source/client/src/clientHb.c
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndProfile.c
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
  tests/parallel_test/cases.task
  tests/system-test/7-tmq/tmq_connection.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

feat(tmq): support show connections for tmq
  test/cases/uncatalog/system-test/7-tmq/test_tmq_connection.py
  test/ci/cases.task
  tests/parallel_test/cases.task
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix review
  source/dnode/mnode/impl/src/mndStream.c
  test/cases/18-StreamProcessing/02-Stream/stream_drop.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix build
  source/dnode/mnode/impl/src/mndStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add check for encrypt key.
  source/dnode/mgmt/mgmt_dnode/CMakeLists.txt
  source/dnode/mgmt/mgmt_dnode/inc/dmInt.h
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmInt.c
  source/dnode/mgmt/node_mgmt/CMakeLists.txt
  source/dnode/mgmt/node_util/CMakeLists.txt
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: solve CI problem
  include/libs/planner/planner.h
  source/client/src/clientImpl.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parAstParser.c
  test/cases/70-Cluster/test_cluster_drop_table_by_uid.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat/TS-6863-add-use-token-para
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
  include/common/tglobal.h
  source/common/src/tglobal.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh: [TS-7591] Some code refactor and add more log. (#34022)
  source/common/src/msg/tmsg.c
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: refactor Audit initialization and connection handling for improved concurrency and error management
  tools/keeper/api/audit.go
  tools/keeper/api/audit_test.go
  tools/keeper/db/connector.go
  tools/keeper/db/connector_test.go
  tools/keeper/system/program.go
Owners: @guanshengliang, @zitsen

docs: add token authentication mechanism to REST API documentation
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/en/14-reference/05-connector/60-rest-api.md
  docs/zh/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/05-connector/60-rest-api.mdx
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
