Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

docs: correct warnings in cloud docs for v4
  docs/en/11-instances/02-private-link/index.md
  docs/en/13-orgs/sso-azure-ad/index.md
Owners: @guanshengliang, @zitsen

docs: remove invalid anchors
  docs/en/06-advanced/05-data-in/index.md
Owners: @guanshengliang, @zitsen

feat(rbac): check alter/drop database by privileges and owner
  source/common/src/msg/tmsg.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): grant default role SYSINFO_0 to user
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update supertable doc to mention virtual stables
  docs/en/14-reference/03-taos-sql/04-stable.md
Owners: @guanshengliang, @zitsen

indent
  docs/en/14-reference/03-taos-sql/04-stable.md
Owners: @guanshengliang, @zitsen

Apply suggestions from code review
  docs/en/14-reference/03-taos-sql/04-stable.md
Owners: @guanshengliang, @zitsen

links
  docs/en/14-reference/03-taos-sql/04-stable.md
Owners: @guanshengliang, @zitsen

update anchor
  docs/en/14-reference/03-taos-sql/05-virtualtable.md
Owners: @guanshengliang, @zitsen

feat: benchmark support 32767 max column set MAX_SQL_LEN from 1M to 4M
  tools/taos-tools/inc/toolsdef.h
  tools/taos-tools/src/benchCommandOpt.c
  tools/taos-tools/src/benchUtil.c
Owners: @guanshengliang, @zitsen

docs: correct anchor in sqlalchemy example (#33842)
  docs/examples/python/connect_websocket_sqlalchemy_examples.py
Owners: @guanshengliang, @zitsen

docs: update taosbenchmark example includes (#33843)
  docs/en/14-reference/02-tools/10-taosbenchmark.md
Owners: @guanshengliang, @zitsen

fix(stream): fix output table schema check (#33772)
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  test/cases/18-StreamProcessing/02-Stream/test_stream_output_table.py
  test/cases/18-StreamProcessing/31-OldTsimCases/test_oldcase_count.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 0285691442 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/Stream/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

docs: remove invalid anchors (#33845)
  docs/en/06-advanced/05-data-in/index.md
Owners: @guanshengliang, @zitsen

docs: update trademark symbol (#33841)
  docs/en/01-index.md
Owners: @guanshengliang, @zitsen

docs: correct warnings in cloud docs for v4 (#33844)
  docs/en/11-instances/02-private-link/index.md
  docs/en/13-orgs/sso-azure-ad/index.md
Owners: @guanshengliang, @zitsen

docs: update supertable doc to mention virtual stables (#33846)
  docs/en/14-reference/03-taos-sql/04-stable.md
  docs/en/14-reference/03-taos-sql/05-virtualtable.md
Owners: @guanshengliang, @zitsen

feat(sync): add snapshot sequence and total index tracking in vnode structures
  include/common/tmsg.h
  include/libs/sync/sync.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/src/vnd/vnodeQuery.c
  source/libs/sync/inc/syncInt.h
  source/libs/sync/src/syncMain.c
  source/libs/sync/src/syncPipeline.c
  source/libs/sync/src/syncSnapshot.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memleak in getTableList (#33818)
  source/dnode/vnode/src/meta/metaCache.c
  source/libs/executor/src/executil.c
  test/cases/18-StreamProcessing/99-Others/test_stream_tag_cache.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: log simplify
  tools/tsbs-tdengine/src/outMetrics.py
  tools/tsbs-tdengine/src/writeData.py
Owners: @guanshengliang, @zitsen

Deployed 7612e096f7 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix: supplement error codes in errorCodeTable.ini
  source/util/test/errorCodeTable.ini
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: atomic init encrypted file.
  source/common/src/tencrypt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: open closed cases releated to state_window
  source/libs/executor/src/countwindowoperator.c
  source/libs/executor/src/eventwindowoperator.c
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window.py
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_extend.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(rbac): check use database privilege and owner
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Enhance audit logging with duration tracking
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/tdef.h
  source/client/inc/clientInt.h
  source/client/src/clientHb.c
  source/client/src/clientMonitor.c
  source/client/src/clientMsgHandler.c
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndCluster.c
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndMnode.c
  source/dnode/mnode/impl/src/mndMount.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndQnode.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/src/auditMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: equal sql query zero return failed
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/src/doTest.py
Owners: @guanshengliang, @zitsen

feat(rbac): use/flush/compact/trim/rollup/scan/ssmigrate db privileges
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add new codes for period unit, range, and drop vtable validation
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: improve documentation clarity and formatting in multiple files
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
  docs/zh/07-develop/15-high.md
  docs/zh/08-operation/04-deployment.md
  docs/zh/14-reference/01-components/06-taoskeeper.md
  docs/zh/14-reference/03-taos-sql/93-changes.md
Owners: @guanshengliang, @zitsen

fix: correct code block syntax for StatsD configuration example
  docs/zh/14-reference/01-components/_statsd.mdx
Owners: @guanshengliang, @zitsen

fix: update error message reference for C# connector documentation
  docs/zh/14-reference/03-taos-sql/93-changes.md
  docs/zh/14-reference/05-connector/40-csharp.mdx
Owners: @guanshengliang, @zitsen

fix: window calc with subquery
  include/common/tcommon.h
  include/libs/nodes/querynodes.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bug_ts5400.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: fix para error
  docs/zh/06-advanced/06-TDgpt/09-dev/02-algo/02-forecast.md
Owners: @guanshengliang, @zitsen

fix: case error
  test/ci/cases.task
Owners: @taosdata/merge

fix: drop job and tasks
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/querytask.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schStatus.c
  source/libs/scheduler/src/scheduler.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): race condition in tmq snapshot for data transformation (#33691)
  include/libs/executor/storageapi.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/meta/metaSnapshot.c
  source/dnode/vnode/src/tq/tqMeta.c
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat/TS-7233-audit-anke
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/tdef.h
  source/client/inc/clientInt.h
  source/client/src/clientHb.c
  source/client/src/clientMonitor.c
  source/client/src/clientMsgHandler.c
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndCluster.c
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndMnode.c
  source/dnode/mnode/impl/src/mndMount.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndQnode.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/src/auditMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update paths-ignore to include examples directory in new framework test workflow
  .github/workflows/new-framework-test.yml
Owners: @feici02
