Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

case: del duplicate case test_interval_diff_tz.py and test_interp.py
  test/cases/41-StreamProcessing/30-OldPyCases/test_oldcase_interval.py
  test/cases/uncatalog/army/query/function/test_interval_diff_tz.py
  test/ci/cases.task
Owners: @taosdata/merge

case: submit last_row paramnum case
  test/cases/22-Functions/03-Selection/test_fun_select_last_row.py
  test/cases/uncatalog/army/query/function/test_func_paramnum.py
Owners: @taosdata/merge

case: submit test_fun_sca_concat2.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_concat2.py
Owners: @taosdata/merge

docs: update to the nvl2 function description (#33314)
  docs/zh/14-reference/03-taos-sql/22-function.md
Owners: @guanshengliang, @zitsen

docs(opc): support server address failover
  docs/zh/06-advanced/05-data-in/05-opcua.md
  docs/zh/06-advanced/05-data-in/pic/opcua-02-endpoint.png
Owners: @guanshengliang, @zitsen

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

enh(stream): cache group col values in trigger
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: fix formatting in query request concurrency limit section
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

case : test_resinfo.py current no need check for new stream. Sima ensured
  test/cases/uncatalog/army/query/function/function_basic.json
  test/cases/uncatalog/army/query/function/generate_answer.sh
  test/cases/uncatalog/army/query/function/interval.json
  test/cases/uncatalog/army/query/function/test_percentile.py
  test/cases/uncatalog/army/query/function/test_resinfo.py
  test/cases/uncatalog/army/query/function/test_selection_function_with_json.py
  test/ci/cases.task
Owners: @taosdata/merge

fix: change replica number
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: migrate test_check_error_code.py to 95-Tools/01-Check
  test/cases/95-Tools/01-Check/test_check_error_code.py
  test/cases/95-Tools/01-Check/test_resinfo.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: replace nc with curl for service readiness checks in entrypoint script
  enterprise/packaging/docker/bin/entrypoint.sh
Owners: @taosdata/merge

fix: update health check endpoints from /status to /metrics for taosadapter, taoskeeper, and taos-explorer
  packaging/docker/bin/entrypoint.sh
Owners: @feici02

fix(stream): tablelist need reload for vtable reset
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/sysscanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add collect test case
  tools/keeper/monitor/collect_test.go
Owners: @guanshengliang, @zitsen

docs: modify comment info
  docs/examples/c-ws-new/query_data_demo.c
  docs/examples/c-ws-new/tmq_demo.c
  docs/examples/c-ws-new/with_reqid_demo.c
  docs/examples/c/query_data_demo.c
  docs/examples/c/tmq_demo.c
  docs/examples/c/with_reqid_demo.c
Owners: @guanshengliang, @zitsen

enh: Relax the criteria for determining external windows.
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: support multiple conditions in external window time range
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/scalar/src/scalar.c
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_count_2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: Do not extract const time range into timeRangeExpr but timeRange
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: Add timerange expr type check and Relax the criteria for determining external windows.
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add coverage result json
  test/ci/run_coverage_diff.sh
Owners: @taosdata/merge

alter alarm result print
  test/ci/tdengine_coveage_alarm.py
Owners: @taosdata/merge

feat: add more log for monde fsync.
  include/libs/wal/wal.h
  source/libs/sync/src/syncRaftLog.c
  source/libs/wal/src/walWrite.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add zabbix test
  tools/keeper/api/zabbix_test.go
  tools/keeper/process/handle.go
Owners: @guanshengliang, @zitsen

fix(tmq): [TS-7468] position is negative because overflow
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tsdbReader is null (#33306)
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/sysscanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: Modify maximum TSMA num from 3 to 10. (#33145)
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/42-tsma.md
  docs/zh/14-reference/03-taos-sql/42-tsma.md
  source/common/src/tglobal.c
  test/cases/42-TSMAs/test_tsma.py
  test/cases/uncatalog/system-test/2-query/test_tsma.py
  test/cases/uncatalog/system-test/2-query/test_tsma2.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(tmq): [TS-7468] position is negative because overflow
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 0e43466968 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: use stream pesudofuncvals
  source/libs/executor/src/exchangeoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: windows ci task file name
  test/ci/cases_win.task
Owners: @taosdata/merge

fix(stream): cases error in sometimes (#33243)
  tests/system-test/8-stream/ts-5617.py
Owners: @guanshengliang, @zitsen

enh: optimize log in vnodeQuery.c for better debug info (#33267)
  source/dnode/vnode/src/vnd/vnodeQuery.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add adapter2 test
  tools/keeper/api/adapter2_test.go
  tools/keeper/monitor/collect_test.go
Owners: @guanshengliang, @zitsen

solve review advise
  test/cases/02-Databases/03-Alter/test_db_alter_option.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_concat.py
Owners: @taosdata/merge

test: add audit test
  tools/keeper/api/audit_test.go
Owners: @guanshengliang, @zitsen

fix possible mem leak while driver quit (#33261)
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add checkhealth test
  tools/keeper/api/checkhealth_test.go
Owners: @guanshengliang, @zitsen

enh: add error logging when scan meta entry fails to decode (#33279)
  source/dnode/vnode/src/meta/metaOpen.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add taos_print_row desc (#33310)
  docs/en/14-reference/05-connector/10-cpp.md
  docs/examples/c-ws-new/query_data_demo.c
  docs/examples/c-ws-new/tmq_demo.c
  docs/examples/c-ws-new/with_reqid_demo.c
  docs/examples/c/query_data_demo.c
  docs/examples/c/tmq_demo.c
  docs/examples/c/with_reqid_demo.c
  docs/zh/14-reference/05-connector/10-cpp.mdx
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
