Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

test(taosBenchmark): open debugging flag
  test/cases/81-Tools/03-Benchmark/test_benchmark_tmq.py
Owners: @taosdata/merge

docs: update formatting and improve clarity in query documentation
  docs/zh/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

docs: fix formatting issues in time range examples for clarity
  docs/en/05-basic/03-query.md
Owners: @guanshengliang, @zitsen

docs: update taosAdapter documentation for rejecting query SQL configuration
  docs/en/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

test(stream): add cases for TS-7622 and TS-7578
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/03-TriggerMode/test_ts_7622.py
  test/cases/18-StreamProcessing/31-OldTsimCases/test_oldcase_checkpoint.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh:enhance documentation and fix formatting issues across multiple files
  docs/zh/05-basic/02-insert.md
  docs/zh/06-advanced/06-TDgpt/05-forecast/02-arima.md
  docs/zh/06-advanced/06-TDgpt/05-forecast/03-holtwinters.md
  docs/zh/06-advanced/06-TDgpt/06-anomaly-detection/04-machine-learning.md
  docs/zh/06-advanced/06-TDgpt/09-dev/02-algo/02-forecast.md
  docs/zh/06-advanced/07-data-publisher/02-Flink.md
  docs/zh/07-develop/01-connect/index.md
  docs/zh/07-develop/15-high.md
  docs/zh/08-operation/04-deployment.md
  docs/zh/08-operation/05-maintenance.md
  docs/zh/08-operation/12-multi.md
  docs/zh/10-third-party/05-bi/17-Ontop.md
  docs/zh/10-third-party/05-bi/18-Pandas.md
  docs/zh/10-third-party/09-iot/02-Ignition.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/06-taoskeeper.md
  docs/zh/14-reference/01-components/08-config-scope.md
  docs/zh/14-reference/02-tools/10-taosbenchmark.md
  docs/zh/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/03-taos-sql/11-delete-data.md
  docs/zh/14-reference/03-taos-sql/12-compress.md
  docs/zh/14-reference/03-taos-sql/20-select.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/50-meta.md
  docs/zh/14-reference/05-connector/index.md
  docs/zh/14-reference/07-supported.md
  docs/zh/14-reference/09-error-code.md
  docs/zh/28-releases/03-notes/3.3.7.5.md
  docs/zh/28-releases/03-notes/3.3.8.0.md
  docs/zh/28-releases/03-notes/3.3.8.1.md
  docs/zh/28-releases/03-notes/3.3.8.4.md
Owners: @guanshengliang, @zitsen

fix: window calc with subquery
  include/libs/nodes/querynodes.h
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bug_ts5400.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: modify create plan
  include/libs/nodes/nodes.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parTranslater.h
  source/libs/parser/src/parCalcConst.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/planner/src/planner.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/schJob.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: window calc with subquery
  include/libs/nodes/querynodes.h
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bug_ts5400.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(test): wait revoke clause to take effect (#33721)
  test/cases/16-Views/test_view_basic.py
Owners: @taosdata/merge

feat:add client config maxSQLLength (#33719)
  docs/en/07-develop/15-high.md
  docs/en/14-reference/01-components/02-taosc.md
  docs/en/14-reference/03-taos-sql/19-limit.md
  docs/zh/07-develop/15-high.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/19-limit.md
  include/common/tglobal.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/client/src/clientImpl.c
  source/client/src/clientSml.c
  source/common/src/tglobal.c
  tests/system-test/1-insert/boundary.py
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

add docs of maxSQLLength (#33720)
  docs/en/07-develop/15-high.md
  docs/en/14-reference/01-components/02-taosc.md
  docs/en/14-reference/03-taos-sql/91-limit.md
  docs/zh/07-develop/15-high.md
  docs/zh/14-reference/01-components/02-taosc.md
  docs/zh/14-reference/03-taos-sql/91-limit.md
Owners: @guanshengliang, @zitsen

docs: update taosAdapter diable query sql configuration (#33700)
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen

fix: improve documentation clarity and formatting across multiple files
  docs/en/06-advanced/07-data-publisher/02-Flink.md
  docs/zh/04-get-started/01-docker.mdx
  docs/zh/04-get-started/_01-install.md
  docs/zh/05-basic/03-query.md
  docs/zh/06-advanced/06-TDgpt/03-management.md
  docs/zh/06-advanced/06-TDgpt/08-imputation.md
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
  docs/zh/06-advanced/07-data-publisher/02-Flink.md
  docs/zh/08-operation/03-install.md
  docs/zh/08-operation/04-deployment.md
  docs/zh/08-operation/06-monitor.md
  docs/zh/08-operation/20-inspect-tools/04-taosinspect.md
  docs/zh/08-operation/20-inspect-tools/06-taossubcribe.md
  docs/zh/10-third-party/05-bi/18-Pandas.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/08-config-scope.md
  docs/zh/14-reference/02-tools/10-taosbenchmark.md
  docs/zh/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/22-function.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/43-rsma.md
  docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/30-python.mdx
  docs/zh/14-reference/05-connector/40-csharp.mdx
  docs/zh/14-reference/05-connector/50-odbc.mdx
  docs/zh/14-reference/07-supported.md
  docs/zh/14-reference/09-error-code.md
  docs/zh/27-train-faq/01-faq.md
  docs/zh/28-releases/03-notes/3.3.7.5.md
  docs/zh/28-releases/03-notes/3.3.8.0.md
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

fix: test case
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @taosdata/merge

build error
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build error
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(tmq2taos): prefer write by block from 3.3.0 to old versions (#3417)
  crates/tmq-to-td/src/lib.rs
  crates/tmq-to-td/src/worker/mod.rs
Owners: @taosdata/merge

fix(influxdb): keep the order of tags in the super table consistent with the order of child table names. (#3415)
  plugins/influxdb/src/main/java/com/taosdata/model/entity/InfluxdbBucketDataEntity.java
  plugins/influxdb/src/main/java/com/taosdata/model/entity/InfluxdbMeasurementEntity.java
  plugins/influxdb/src/main/java/com/taosdata/service/impl/InfluxdbServiceImpl.java
  plugins/influxdb/src/main/java/com/taosdata/threads/PushPrepareThread.java
Owners: @taosdata/merge

enh: fix error in optimizer for ins_tables
  source/libs/planner/src/planOptimizer.c
  test/cases/20-Metadata/test_meta_sysdb.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: fix error in optimizer for ins_tables
  source/libs/planner/src/planOptimizer.c
  test/cases/20-Metadata/test_meta_sysdb.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(tmq): [TS-6379]remove limition for table operation in tmq
  include/common/tmsg.h
  include/libs/executor/executor.h
  include/libs/executor/storageapi.h
  source/client/inc/clientInt.h
  source/client/src/clientRawBlockWrite.c
  source/client/src/clientTmq.c
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndStb.h
  source/dnode/mnode/impl/src/mndConsumer.c
  source/dnode/mnode/impl/src/mndDef.c
  source/dnode/mnode/impl/src/mndDump.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndSubscribe.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/inc/tq.h
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/tq/tq.c
  source/dnode/vnode/src/tq/tqMeta.c
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/tq/tqScan.c
  source/dnode/vnode/src/tq/tqSnapshot.c
  source/dnode/vnode/src/tq/tqUtil.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/dnode/vnode/src/vnd/vnodeSnapshot.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
  source/libs/parser/src/parTranslater.c
  test/cases/uncatalog/system-test/7-tmq/test_tmq_taosx.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts6379.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: code optimiz
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: code optimiz
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 32c65db0a3 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

Deployed e2dc489fa7 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

fix: compile issues
  include/libs/nodes/nodes.h
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parInt.h
  source/libs/parser/src/parCalcConst.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/planner/inc/planInt.h
  source/libs/planner/src/planner.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/schJob.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): grant/revoke privileges
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  include/util/tpriv.h
  source/common/src/msg/tmsg.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(tmq): [TS-6379]remove limition for table operation in tmq
  source/dnode/mnode/impl/src/mndTopic.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): ignore window open when trigger is recovering from checkpoint (#33698)
  include/common/streamMsg.h
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/mnode/impl/src/mndStreamUtil.c
  source/dnode/vnode/src/meta/metaCache.c
  source/libs/executor/src/executil.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/03-TriggerMode/test_ts_7622.py
  test/cases/18-StreamProcessing/31-OldTsimCases/test_oldcase_checkpoint.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 8dad32d2a3 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/TriggerMode/index.html
  main/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

fix: improve documentation formatting and clarity in multiple files
  docs/zh/07-develop/01-connect/index.md
  docs/zh/07-develop/05-stmt.md
  docs/zh/08-operation/20-inspect-tools/05-taosperf.md
  docs/zh/14-reference/03-taos-sql/93-changes.md
Owners: @guanshengliang, @zitsen

fix(kinghist): fix license check bug for kinghistorian (#3419)
  taosx-core/src/utils/license.rs
Owners: @taosdata/merge

fix: adjust heading level for parameter description in taosAdapter documentation
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

docs(taosAdapter): update parameter descriptions and formatting for clarity
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

fix: correct formatting and heading levels in taosAdapter documentation
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

fix: crash
  source/libs/parser/src/parTranslater.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(tmq): [TS-6379]encode/decode schema in handle
  source/dnode/vnode/src/tq/tqMeta.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add session control
  source/client/src/clientImpl.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update subscription docs in english (#33447)
  docs/en/03-intro.md
  docs/en/06-advanced/01-subscription/01-topic.md
  docs/en/06-advanced/01-subscription/02-native.md
  docs/en/06-advanced/01-subscription/03-mqtt.md
  docs/en/06-advanced/01-subscription/index.md
  docs/en/07-develop/07-tmq.md
  docs/en/14-reference/02-tools/10-taosbenchmark.md
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
