Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix;: cov test
  test/ci/cov/exclude.txt
Owners: @taosdata/merge

test: create soft link for taosk.
  packaging/tools/make_install.sh
Owners: @feici02

fix: remove unused file.
  test/taoskLog.0
Owners: @taosdata/merge

enh(rbac): adjust privilege for test view basic
  test/cases/16-Views/test_view_basic.py
Owners: @taosdata/merge

enh(rbac): refact test_view_mgmt
  source/libs/parser/src/parAstParser.c
  test/cases/16-Views/test_view_mgmt.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 18222f75a4 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix(tmq): refactor waitTransactionZeroWithTdsql to use query method for transaction checking
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/tmqUtil.py
Owners: @taosdata/merge

fix:add 3.3.8 ci test
  .github/workflows/new-framework-test.yml
Owners: @feici02

test: 5 option for create user finished
  test/cases/24-Users/test_user_security.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

fix:add 3.3.8 ci test (#34189)
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix multithread issues
  source/libs/function/src/tudf.c
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix multithread issues
  source/libs/function/src/tudf.c
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: use build/bin/taosk to generate encrypt keys.
  test/new_test_framework/taostest/components/taosd.py
Owners: @taosdata/merge

fix: correct syntax for checking existence of docs-c-test log file
  test/ci/run_case.sh
Owners: @taosdata/merge

fix: add space in condition for checking docs-c-test log file
  test/ci/run_case.sh
Owners: @taosdata/merge

enh(rbac): refact test_view_mgmt
  test/cases/16-Views/test_view_mgmt.py
  test/ci/cases.task
Owners: @taosdata/merge

fix: update branch references to 3.3.8 in workflow files
  .github/workflows/new-tdgpt-test.yml
  .github/workflows/taoskeeper-build.yml
  .github/workflows/tdengine-build.yml
  .github/workflows/tdengine-check-enum.yml
Owners: @feici02

enh: add event handling for notify messages in stream processing
  include/libs/new-stream/stream.h
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update 2026 roadmap
  docs/en/29-roadmap/index.md
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

Update tdengine-build.yml
  .github/workflows/tdengine-build.yml
Owners: @feici02

docs: update 2026 roadmap (#34194)
  docs/en/29-roadmap/index.md
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

enh: stt file load perfermance
  include/util/tarray.h
  source/dnode/vnode/src/tsdb/tsdbMergeTree.c
  source/util/src/tarray.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): update logging format in createDb method and correct transaction checking function name
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

dec udf refcount in error cases
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update branch references to 3.3.8 in workflow files (#34192)
  .github/workflows/new-tdgpt-test.yml
  .github/workflows/taoskeeper-build.yml
  .github/workflows/tdengine-build.yml
  .github/workflows/tdengine-check-enum.yml
Owners: @feici02

enh: support no from subquery (#34119)
  source/libs/nodes/src/nodesTraverseFuncs.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planner.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query1.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3a.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3b.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3c.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3d.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed ba90fd5312 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataQuerying/Interp/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

feat: encrypt config file.
  include/common/tglobal.h
  source/common/src/tencrypt.c
  source/common/src/tglobal.c
  source/dnode/mgmt/exe/dmMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): refactor waitTransactionZeroWithTdsql method for improved readability
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

fix: copilot review
  include/util/tarray.h
  source/dnode/vnode/src/tsdb/tsdbMergeTree.c
  source/util/src/tarray.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: correct return value for null reader in tsdbReaderStepDone
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/libs/executor/src/timesliceoperator.c
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

add clientHbReq lenght check
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add more check and log
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memory leak on ci case.
  source/dnode/mnode/sdb/src/sdbFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: subplan type error
  source/libs/planner/inc/planInt.h
  source/libs/planner/src/planSpliter.c
  source/libs/planner/src/planUtil.c
  test/cases/29-JoinQueries/test_join_full.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat:stmt2 query free result by adapter
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: explain with no aggregate function window crash issue
  include/libs/nodes/nodes.h
  source/libs/command/src/explain.c
  source/libs/nodes/src/nodesUtilFuncs.c
  test/cases/09-DataQuerying/15-Explain/test_explain.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): support stream placeholder in ORDER BY clause
  include/libs/planner/planner.h
  source/libs/parser/src/parTranslater.c
  source/libs/parser/test/parStreamTest.cpp
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat:stmt2 query free result by adapter
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memset when add zerodata into array
  source/util/src/tarray.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
