Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

enh(docs): optimize the revoke desc
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

fix: ensure OOMScoreAdjust is set for taosd service
  packaging/cfg/taosd.service
Owners: @feici02

fix(tmqtt/producter): fix topic producer retvals
  source/libs/tmqtt/tools/src/topic-producer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ensure OOMScoreAdjust is set for taosd service (#34526)
  packaging/cfg/taosd.service
Owners: @feici02

fix(tmqtt/socket): fix retval checkings
  contrib/libmqtt/ttq/inc/ttqLogging.h
  source/libs/tmqtt/mqtt/src/tmqttLogging.c
  source/libs/tmqtt/mqtt/src/tmqttSocket.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(rbac): catalog sub task and view/stream privileges[manual-only] (#34506)
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/catalog/src/ctgAsync.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
  test/cases/05-VirtualTables/test_vtable_auth_create.py
  test/cases/16-Views/test_view_basic.py
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_recalc.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(rbac): catalog sub task and view/stream privileges[manual-only] (#2509)
  enterprise/src/plugins/privilege/src/privilege.c
  enterprise/src/plugins/view/src/mndView.c
Owners: @taosdata/merge

fix: json and varbinary issues
  include/libs/executor/executor.h
  include/libs/qworker/qworker.h
  include/libs/scalar/scalar.h
  source/libs/executor/inc/querytask.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/querytask.c
  source/libs/parser/src/parTranslater.c
  source/libs/qworker/src/qwMsg.c
  source/libs/qworker/test/qworkerTests.cpp
  source/libs/scalar/src/scalar.c
  source/libs/scalar/src/sclvector.c
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub1.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 7306c7c9bc to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataQuerying/SubQuery/index.html
  3.0/case_list_docs/DataSubscription/Consume/index.html
  3.0/case_list_docs/ShowCommands/index.html
  3.0/case_list_docs/StreamProcessing/UseCase/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix(tmqtt/mgmt): fix uv retval checking
  source/libs/tmqtt/mgmt/src/tmqttMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed f280873585 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

fix(tmqtt/context): fix retval checkings
  source/libs/tmqtt/mqtt/src/tmqttContext.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix tsma delay time report
  include/common/streamMsg.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(tmqtt/logging): fix retval checkings
  source/libs/tmqtt/mqtt/src/tmqttLogging.c
Owners: @guanshengliang, @hzcheng, @dapan1121

opti(tmq): logic in client
  docs/en/14-reference/01-components/01-taosd.md
  source/client/src/clientTmq.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(tests): update priority for test_scalar_sub4a1 in cases.task
  test/ci/cases.task
Owners: @taosdata/merge

BUG7: show consumer;
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

enh(explorer): add security.xor_allowed_duration_secs (#3597)
  Cargo.lock
  explorer/server/examples/explorer.toml
  explorer/server/src/main.rs
  explorer/server/src/security/mod.rs
Owners: @taosdata/merge

enh(docs): optimize desc of privilege revoking logic
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

what window optimize
  source/libs/planner/src/planOptimizer.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_state_mode_1.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_session.in
  test/cases/05-VirtualTables/test_vtable_query_cross_db_stb_window.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_window.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(opcua): few bugs #none (#3598)
  explorer/taos-ui/components/dataIn/config/zh/05-opcua.ts
  taosx-core/src/plugins/sink/point/model.rs
Owners: @taosdata/merge

BUG8: show subscriptions;
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

BUG9: grant subscribe no effected;
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

enh(tmq): add test case
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix docs stmt2 demo
  docs/examples/c/stmt2_insert_demo.c
  source/client/inc/clientStmt2.h
  source/client/src/clientMain.c
  source/client/src/clientStmt2.c
  source/libs/parser/src/parInsertStmt.c
  test/cases/83-DocTest/c.sh
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix: add more const cases
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub1.py
Owners: @taosdata/merge

fix: ut ParserStreamTest.TestQuery exec failed.
  source/libs/parser/test/parStreamTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add dependency check (#129)
  .github/workflows/build.yml
  .github/workflows/compatibility-3360.yml
  .github/workflows/dependency-review.yml
  .github/workflows/enterprise.yml
  .github/workflows/trivy.yml
  .gitignore
  .trivyignore
Owners: @feici02, @taosdata/merge

build: release ver-3.3.8.17
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix(tmqtt/producter): fix topic producer retvals (#34525)
  source/libs/tmqtt/tools/src/topic-producer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmqtt/logging): fix retval checkings (#34530)
  contrib/libmqtt/ttq/inc/ttqLogging.h
  source/libs/tmqtt/mgmt/src/tmqttMgmt.c
  source/libs/tmqtt/mqtt/src/tmqttContext.c
  source/libs/tmqtt/mqtt/src/tmqttLogging.c
  source/libs/tmqtt/mqtt/src/tmqttSocket.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: docs stmt2 demo (#34531)
  docs/examples/c/stmt2_insert_demo.c
  source/client/inc/clientStmt2.h
  source/client/src/clientMain.c
  source/client/src/clientStmt2.c
  source/libs/parser/src/parInsertStmt.c
  test/cases/83-DocTest/c.sh
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

feat(common): enhance execute_query_file to support concurrent SQL execution (#34523)
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a1.py
  test/ci/cases.task
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/sql.py
  tests/ci/dockerfile_ci
Owners: @taosdata/merge, @guanshengliang, @zitsen

Deployed 56e33b32ab to main with MkDocs 1.6.1 and mike 2.1.3
  main/objects.inv
  main/search/search_index.json
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

feat(scripts): add optimized allocation and execution script for test cases
  test/ci/cases-list.txt
  test/ci/cases.task
  test/ci/optimize_allocation.py
  test/ci/run_optimized.sh
Owners: @taosdata/merge

add virtual sys table
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add virtual sys table
  include/libs/nodes/cmdnodes.h
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add virtual sys table
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.4.0.3
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen
