Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

implemented regexp_replace
  source/dnode/vnode/src/meta/metaTable2.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: can not set virtual child table tag
  source/dnode/vnode/src/meta/metaTable2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add new test cases
  test/cases/03-Tables/02-SubTables/test_subtable_batch_set_tag_vals.py
  test/cases/05-VirtualTables/test_vtable_batch_set_tag_vals.py
  test/ci/cases.task
Owners: @taosdata/merge

fix several failed test cases
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/test/parAlterToBalanceTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

implement update multi table tag values
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/client/src/clientRawBlockWrite.c
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/meta/metaTable.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

handle raw block write
  source/client/src/clientRawBlockWrite.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix memory leak
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support json tag and fix memory leaks
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

parser handle more node type in translation
  include/common/tmsg.h
  include/util/tcompare.h
  source/client/src/clientRawBlockWrite.c
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix memory leak
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

notify tmq for tag change
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

implement update multi virtual table tag values
  source/libs/parser/src/parAstParser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(sql): clarify SMA default behavior and SMA/NOSMA semantic.
  docs/en/14-reference/03-taos-sql/03-table.md
  docs/zh/14-reference/03-taos-sql/03-table.md
Owners: @guanshengliang, @zitsen

fix: aliasname
  source/libs/parser/src/parTranslater.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(contrib/mqtt): ignore unused retval
  contrib/libmqtt/ttq/src/ttqMisc.c
  contrib/libmqtt/ttq/src/ttqNet.c
  contrib/libmqtt/ttq/src/ttqNet2.c
  contrib/libmqtt/ttq/src/ttqPacket.c
  contrib/libmqtt/ttq/src/ttqSendPublish.c
  contrib/libmqtt/ttq/src/ttqUtil.c
Owners: @guanshengliang

enh: support legacy grammar of 3.3
  include/common/tmsg.h
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [6872094106] Fix double free and mem leak in createSortHandleFromParam.
  source/libs/executor/src/virtualtablescanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: SAST Check invalid rules
  tools/lastqps-test/taos_query_a_simple.c
  tools/shell/src/shellArguments.c
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

docs: update python docs
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
Owners: @guanshengliang, @zitsen

fix: shellArguments.c format indent
  tools/shell/src/shellArguments.c
Owners: @guanshengliang, @zitsen

docs: update python docs
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
Owners: @guanshengliang, @zitsen

feat/6641435300-save-audit-in-self
  docs/en/08-operation/16-security.md
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/09-error-code.md
  docs/zh/08-operation/16-security.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/09-error-code.md
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/taoserror.h
  include/util/tdef.h
  include/util/tjson.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndStb.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/util/src/terror.c
  source/util/src/tjson.c
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
  test/cases/80-Components/01-Taosd/test_com_taosd_self_audit.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix: shellArguments.c format indent 2
  tools/shell/src/shellArguments.c
Owners: @guanshengliang, @zitsen

Revert "docs: update python docs"
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
Owners: @guanshengliang, @zitsen

enh: support legacy grammar of 3.3
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 22c6c7ef65 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/Components/Taosd/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

fix: shellEngine.c format indent
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

feat: add depth field to SColRef and SOrgTbInfo structs
  include/common/tmsg.h
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: encode depth in tEncodeSColRefWrapper (version 1)
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(lib/tmqtt): ignore unused retval
  source/libs/tmqtt/mqtt/src/tmqttCtx.c
  source/libs/tmqtt/mqtt/src/tmqttDaemon.c
  source/libs/tmqtt/mqtt/src/tmqttLogging.c
  source/libs/tmqtt/tools/src/topic-producer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: decode depth in tDecodeSColRefWrapperEx with version compatibility
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix compile error
  source/libs/executor/src/groupcacheoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(vnode): fix signed/unsigned comparison in vnodePreProcessSubmitMsg. (#34733)
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/6862704524-add-balance-leader-retry (#34700)
  test/cases/70-Cluster/test_cluster_snapshot.py
Owners: @taosdata/merge

fix: tsdbCache and bse memleak. (#34728)
  source/dnode/vnode/src/tsdb/tsdbCache.c
  source/dnode/vnode/src/vnd/vnodeOpen.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 1dd9d6d115 to main with MkDocs 1.6.1 and mike 2.1.4
  main/case_list_docs/Users/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

docs: modify config docs. (#34731)
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix: plan optimize
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
