Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

enh: Wrapper Library Add Hint Message
  source/client/wrapper/inc/wrapperHint.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
  source/client/wrapper/src/wrapperHint.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix trigger waking for available runner (#33264)
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): memory leak
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update c native stmt2 example
  docs/examples/c/stmt2_insert_demo.c
Owners: @guanshengliang, @zitsen

tdb restore may fail when number of journal pages >= 1024
  source/libs/tdb/src/db/tdbPager.c
Owners: @guanshengliang, @hzcheng, @dapan1121

decode overflow interior page returns wrong pgno
  source/libs/tdb/src/db/tdbBtree.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: support multi vm run CI
  .github/workflows/new-framework-test.yml
  test/ci/cases.task
  test/ci/run.sh
Owners: @feici02, @taosdata/merge

fix ci issues
  source/libs/tdb/src/db/tdbBtree.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci issues
  source/libs/tdb/src/db/tdbBtree.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add libtaosws.so and libtaosnative.so load failed resolution
  docs/en/27-train-faq/index.md
  docs/zh/27-train-faq/01-faq.md
Owners: @guanshengliang, @zitsen

docs: update c native stmt2 example (#33272)
  docs/examples/c/stmt2_insert_demo.c
Owners: @guanshengliang, @zitsen

feat: add riscv defination
  cmake/platform.cmake
  tools/taos-tools/deps/jansson/CMakeLists.txt
Owners: @guanshengliang, @zitsen

feat: more
  cmake/define.cmake
  cmake/options.cmake
  cmake/platform.cmake
Owners: @guanshengliang

fix: compile errors
  source/os/src/osSysinfo.c
  source/util/src/tcrc32c.c
  source/util/src/thash.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: more
  source/util/src/thash.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update test/ci/run.sh
  test/ci/run.sh
Owners: @taosdata/merge

Update test/ci/run.sh
  test/ci/run.sh
Owners: @taosdata/merge

Update test/ci/run.sh
  test/ci/run.sh
Owners: @taosdata/merge

Update test/ci/run.sh
  test/ci/run.sh
Owners: @taosdata/merge

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

fix: compile errors
  cmake/platform.cmake
Owners: @guanshengliang

add rpc recvLOg threshold configiguration for logging threshold
  include/common/tglobal.h
  source/common/src/tglobal.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix[TD-38121]: fix two tdb bugs for 3.3.6 (#33274)
  source/libs/tdb/src/db/tdbBtree.c
  source/libs/tdb/src/db/tdbPager.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix[TD-38121]: fix two tdb bugs (#33260)
  source/libs/tdb/src/db/tdbBtree.c
  source/libs/tdb/src/db/tdbPager.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.3.6.28
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

add rpc recvLOg threshold configiguration for logging threshold
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

enh: add error log when scan meta data
  source/dnode/vnode/src/meta/metaOpen.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: Add error logging when scan meta entry fails to decode
  source/dnode/vnode/src/meta/metaOpen.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(gpt): support dtw_path function.
  source/libs/executor/src/imputationoperator.c
  source/libs/function/src/builtins.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add env share path name and how to modify
  docs/en/27-train-faq/index.md
  docs/zh/27-train-faq/01-faq.md
Owners: @guanshengliang, @zitsen

enh: read wal 0
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/snode/src/snode.c
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/scheduler/src/schTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: fetch from cache
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_snode/src/smHandle.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/snode/src/snode.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/exchangeoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): reset table scan in reader (#33247)
  include/libs/executor/executor.h
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/operator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/sysscanoperator.c
  test/cases/41-StreamProcessing/01-Snode/test_snode_mgmt_replica3.py
  test/cases/41-StreamProcessing/04-Options/test_meta_change_table.py
  test/cases/41-StreamProcessing/04-Options/test_meta_change_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed a190048d55 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: cmake-typos (#2377)
  CMakeLists.txt
Owners: @taosdata/merge

docs: make english doc match with chinese
  docs/en/27-train-faq/index.md
Owners: @guanshengliang, @zitsen

fix: memleak
  source/common/src/tvariant.c
  source/libs/executor/src/tfill.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tref): increase TSDB_REF_OBJECTS from 100 to 2000 for improved reference handling
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tref): increase TSDB_REF_OBJECTS from 100 to 2000 for improved reference handling
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121
