Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat(stream): support sub event in event window trigger
  include/util/tobjpool.h
  source/libs/new-stream/inc/streamInt.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/new-stream/src/streamUtil.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTranslater.c
  source/util/src/tobjpool.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: test start taosBenchmark fail
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

test: test start taosBenchmark resolve conflicts
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

test: test start taosBenchmark resolve conflicts
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

feat: add leader check before SDB upgrade during mnode startup
  source/dnode/mnode/impl/src/mndMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add start taosBenchmark error print
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

fix parInsertUtil.c:136 may cause core
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add error code for mismatched encryption algorithm type
  include/util/taoserror.h
  source/dnode/mnode/impl/src/mndDb.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: print config info
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

tmp
  source/dnode/mnode/impl/inc/mndJson.h
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/mnode/impl/src/mndJson.c
  source/dnode/mnode/impl/src/mndStreamTrans.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memory leakage
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update get started from package
  docs/en/04-get-started/03-package.md
  docs/en/04-get-started/06-enterprise.md
  docs/en/04-get-started/_get_started.mdx
Owners: @guanshengliang, @zitsen

enh(stmt): separate stmt and stmt2 code (#32166)
  include/libs/parser/parser.h
  source/client/inc/clientInt.h
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/client/src/clientMsgHandler.c
  source/client/src/clientStmt.c
  source/client/src/clientStmt2.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parInsertStmt.c
  source/libs/parser/src/parInsertUtil.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: improve verification procedures
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

fix(stmt): disable exec error retries (#32567)
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

add libsasl to taosd
  source/libs/transport/inc/transSasl.h
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSasl.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stmt2): TD-36768 (#32578)
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertSml.c
  source/util/src/terror.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

​​fix:​​ stmt2 async query crashes on repeated binds (#32607)
  source/client/src/clientImpl.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stmt errors (#32632)
  source/client/src/clientImpl.c
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: dbeaver delete sql core in stmt get_fileds (#32680)
  include/libs/parser/parser.h
  source/client/inc/clientStmt2.h
  source/client/src/clientMain.c
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stmt): set tbname support all characters (#32685)
  include/libs/parser/parser.h
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertSml.c
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: state window ignores leading and trailing Null values
  source/libs/executor/inc/operator.h
  source/libs/executor/src/timewindowoperator.c
  test/cases/11-TimeSeriesExtensions/04-StateWindow/test_state_window_null.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: stmt2 interlace bind return error (#32724)
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stmt2 async query core (#32765)
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix build issue
  docs/en/04-get-started/03-package.md
  docs/en/04-get-started/_get_started.mdx
Owners: @guanshengliang, @zitsen

enh(stmt2):fix some stmt2 query proble (#32913)
  source/client/inc/clientStmt2.h
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/nodes/src/nodesCloneFuncs.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add empty nchar input (#32946)
  source/client/test/stmt2Test.cpp
  source/common/src/msg/tmsg.c
  source/libs/parser/src/parInsertStmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix stmt core (#33196)
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertStmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(build): extra args cannot capture correctly (#3350)
  Makefile.toml
Owners: @taosdata/merge

fix(stream): conflicts
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

check shell case description
  .github/scripts/validate_tests.py
Owners: @feici02

add libsasl to taosd
  source/libs/transport/src/transSasl.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: implement drop encryption algorithm functionality
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): vnode mem update to avoid lost data
  include/libs/executor/storageapi.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: update audit logging for drop encryption algorithm request
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: improve verification procedures
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

fix ci cases
  tests/army/vtable/ans/test_vctable_select_test_partition.ans
  tests/army/vtable/ans/test_vstable_select_test_partition.ans
  tests/army/vtable/ans/test_vtable_select_test_partition.ans
Owners: @guanshengliang, @zitsen

fix unit-test
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertStmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: improve verification procedures
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

add log
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
