Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix memory leak
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: explain issue and add more cases
  source/libs/nodes/src/nodesUtilFuncs.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query4.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub4.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: remove TensorFlow package installation from DockerfileTDgpt.base
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

enh: check privilege of show tables
  include/libs/catalog/catalog.h
  include/libs/nodes/plannodes.h
  include/libs/parser/parser.h
  include/libs/planner/planner.h
  source/client/src/clientImpl.c
  source/libs/catalog/src/catalog.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parser.c
  source/libs/planner/src/planPhysiCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: remove obsolete code
  include/libs/nodes/plannodes.h
  include/libs/planner/planner.h
  source/client/src/clientImpl.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/planner/src/planPhysiCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: remove obsolete code
  include/libs/catalog/catalog.h
  source/libs/catalog/src/catalog.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add jmeter perf test doc Closes: https://project.feishu.cn/taosdata_td/feature/detail/6660015604
  docs/en/08-operation/21-performance/21-performance-tuning.md
  docs/en/08-operation/21-performance/22-jmeter.md
  docs/en/08-operation/21-performance/html-report.webp
  docs/en/08-operation/21-performance/index.md
  docs/zh/08-operation/21-performance/21-performance-tuning.md
  docs/zh/08-operation/21-performance/22-jmeter.md
  docs/zh/08-operation/21-performance/html-report.webp
  docs/zh/08-operation/21-performance/index.md
Owners: @guanshengliang, @zitsen

docs: add jmeter perf test doc (#34571)
  docs/en/08-operation/21-performance/21-performance-tuning.md
  docs/en/08-operation/21-performance/22-jmeter.md
  docs/en/08-operation/21-performance/html-report.webp
  docs/en/08-operation/21-performance/index.md
  docs/zh/08-operation/21-performance/21-performance-tuning.md
  docs/zh/08-operation/21-performance/22-jmeter.md
  docs/zh/08-operation/21-performance/html-report.webp
  docs/zh/08-operation/21-performance/index.md
Owners: @guanshengliang, @zitsen

chore: code optimization
  source/client/src/clientImpl.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(explorer-api): add missing task to response when labels match (#3615)
  crates/utils/src/labels.rs
  explorer/server/src/x_api/tasks.rs
Owners: @taosdata/merge

chore: fix ci problem
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(opc): fix opcua list data points error (#3616)
  Cargo.lock
  crates/source-opc/Cargo.toml
  crates/source-opc/src/lib.rs
Owners: @taosdata/merge

fix(tasks): update task ID handling in batch operations and add BatchOpsParam struct (#3618)
  explorer/server/src/main.rs
  explorer/server/src/x_api/tasks.rs
  explorer/server/src/x_api/types.rs
  explorer/taos-ui/components/dataIn/components/namespace.vue
  xnoded/src/controller/event.rs
Owners: @taosdata/merge

build: release ver-3.4.0.6
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

chore: fix ci problem
  source/libs/parser/src/parAuthenticator.c
  test/cases/23-Users/test_user_privilege_table.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Update README.md
  README.md
Owners: @taosdata/merge

fix(explorer-api): escape task parser content in SQL (#3619)
  explorer/server/src/x_api/tasks.rs
  explorer/server/src/x_api/types.rs
Owners: @taosdata/merge

chore: fix ci problem
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.4.0.7
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix(ttime.c): 37 sprintf() calls write to buffers without bounds...
  source/common/src/ttime.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  test/cases/23-Users/test_user_privilege_table.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

cases: temp comment stable_alltype_last_1.py and stable_alltype_sample_1.py
  scripts/cases_query_replica3.txt
Owners: @taosdata/merge

chore: fix ci problem
  source/client/src/clientStmt2.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): add security_level for db/table
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): security_level for user
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): security_level for db/vg
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/vnd/vnodeCfg.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): security_level for user
  include/common/tmsg.h
  include/libs/nodes/plannodes.h
  include/libs/parser/parser.h
  include/libs/planner/planner.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): security_level for user
  include/common/tmsg.h
  source/client/inc/clientInt.h
  source/client/src/clientHb.c
  source/client/src/clientImpl.c
  source/client/src/clientMsgHandler.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): add test case
  test/cases/25-Privileges/test_priv_dac_mac.py
  test/cases/25-Privileges/test_priv_rbac.py
  test/ci/cases.task
Owners: @taosdata/merge

feat(mac): show create db/stable
  include/common/tmsg.h
  source/dnode/mnode/impl/src/mndStb.c
  source/libs/command/src/command.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): support allow_drop when create db
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: implement columnar bind interface for stmt2 (part 1)
  include/client/taos.h
  include/libs/parser/parser.h
  source/client/inc/clientStmt2.h
  source/client/src/clientStmt2.c
  source/libs/parser/src/parInsertStmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: use tDataTypes[type].bytes for fixed-length type size in stmtPrintColumnBindv
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): support allow_drop when create db
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): support show security_polices
  include/common/systable.h
  include/common/tmsg.h
  include/util/tpriv.h
  source/common/src/systable.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndCluster.c
  source/dnode/mnode/impl/src/mndShow.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(mac): support show security_policies
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndCluster.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  tools/shell/src/shellAuto.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

feat(mac): check show security_policies
  test/cases/25-Privileges/test_priv_dac_mac.py
Owners: @taosdata/merge

feat(mac): alter cluster sod mandatory
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndCluster.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndStreamTrans.c
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(xnoded): use UTC DateTime for role_time to avoid timezone parsing issues (#3620)
  xnoded/src/tasks/monitor.rs
Owners: @taosdata/merge

feat(mac): check prerequisites for sod mandatory
  include/util/taoserror.h
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndCluster.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
