Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

refactor: planning doc format with admonitions
  docs/zh/08-operation/02-planning.md
Owners: @guanshengliang, @zitsen

fix:add check transcation after new db (#34175)
  test/ci/win_cases.task
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/server/dnode.py
  test/new_test_framework/utils/tmqUtil.py
Owners: @taosdata/merge

enh(rbac): alter/show variables
  include/util/tconfig.h
  source/libs/parser/src/parAuthenticator.c
  source/util/src/tconfig.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update dynamic type assignment in table scan operator
  source/libs/executor/src/exchangeoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: comment out redundant test cases in vtable query tests
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_window_state.py
Owners: @taosdata/merge

enh(rbac): alter/show variables
  source/util/test/cfgTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:stmt2 query tbname bind problem (#34174)
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix stmt varchar type leak
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: taosd core while duplicate exec trim database wal.
  source/dnode/vnode/src/inc/vnd.h
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

dmchen/self-audit-113
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/tjson.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/libs/audit/src/auditMain.c
  source/util/src/tjson.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: taosd core while duplicate exec trim database wal.
  source/dnode/vnode/src/inc/vnd.h
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  test/cases/06-DataIngestion/01-SQL/test_wal_keep_version_trim.py
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(case): case error in sometimes
  source/client/src/clientTmq.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/tmqUtil.py
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/02-Stream/stream_drop_table.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: error version at test_compatibility_backward_forward_part4.py.
  test/cases/18-StreamProcessing/23-Compatibility/test_compatibility_backward_forward_part4.py
Owners: @taosdata/merge

fix: add operator type mismatch check in qUpdateOperatorParam
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(case): case error in sometimes
  source/client/src/clientTmq.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/tmqUtil.py
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: update python docs
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
Owners: @guanshengliang, @zitsen

fix: update service PID retrieval in remove script for accuracy
  packaging/tools/remove.sh
Owners: @feici02

enh(rbac): alter/show variables
  include/util/tconfig.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndScan.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/util/src/tconfig.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add test cases and fix bugs
  include/libs/function/function.h
  include/libs/nodes/nodes.h
  include/libs/nodes/querynodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesEqualFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/scalar/src/filter.c
  source/libs/scalar/src/scalar.c
  source/libs/scalar/src/sclvector.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_in_sub_query1.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_in_sub_query1.1.csv
  test/cases/09-DataQuerying/08-SubQuery/test_in_subq1.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: upgrade taospy
  docs/en/07-develop/01-connect.md
  docs/zh/07-develop/01-connect/index.md
  test/ci/container_build_newmachine.sh
  test/ci/run_case.sh
  test/pyproject.toml
  test/requirements.txt
  test/uv.lock
  tests/ci/Dockerfile
  tests/ci/container_build_newmachine.sh
  tests/ci/dockerfile_ci
  tests/parallel_test/run_case.sh
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen, @taosdata/merge

fix(case): case error in sometimes
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
Owners: @taosdata/merge

case: add test_user_token.py case
  test/cases/24-Users/test_user_token.py
  test/ci/cases.task
Owners: @taosdata/merge

enh(rbac): alter/show variables
  source/dnode/mnode/impl/src/mndConfig.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(case): case error in sometimes
  source/client/src/clientTmq.c
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(case): case error in sometimes
  source/client/src/clientTmq.c
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: upgrade taospy
  docs/en/07-develop/01-connect.md
  docs/zh/07-develop/01-connect/index.md
  test/ci/container_build_newmachine.sh
  test/ci/run_case.sh
  test/pyproject.toml
  test/requirements.txt
  test/uv.lock
  tests/ci/Dockerfile
  tests/ci/container_build_newmachine.sh
  tests/ci/dockerfile_ci
  tests/parallel_test/run_case.sh
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen, @taosdata/merge

enh(rbac): alter/show variables
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: taosd core while duplicate exec trim database wal. (#34267)
  source/dnode/vnode/src/inc/vnd.h
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: taosd core while duplicate exec trim database wal. (#34268)
  source/dnode/vnode/src/inc/vnd.h
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  test/cases/06-DataIngestion/01-SQL/test_wal_keep_version_trim.py
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: split compatibility case. (#34260)
  test/cases/18-StreamProcessing/23-Compatibility/test_compatibility_backward_forward_part1.py
  test/cases/18-StreamProcessing/23-Compatibility/test_compatibility_backward_forward_part2.py
  test/cases/18-StreamProcessing/23-Compatibility/test_compatibility_backward_forward_part3.py
  test/cases/18-StreamProcessing/23-Compatibility/test_compatibility_backward_forward_part4.py
  test/ci/cases.task
Owners: @taosdata/merge

chore: fix ci problem
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): system meta use and show
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: test_user_token.py finished
  test/cases/24-Users/test_user_token.py
  test/new_test_framework/utils/eos.py
Owners: @taosdata/merge

Deployed f7a6e14a16 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/Compatibility/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
