Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

Deployed c9bd4191d9 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: benchInsert.c freeResouce access NULL pointer
  test/cases/81-Tools/03-Benchmark/test_benchmark_stmt.py
  test/cases/81-Tools/03-Benchmark/test_benchmark_website.py
  tools/taos-tools/src/benchInsert.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

migrate data source env
  tests/e2e/config/env.yaml
  tests/e2e/setenv.ps1.example
  tests/e2e/setenv.sh.example
Owners: @guanshengliang, @zitsen

fix: ci failed for old path on army
  test/cases/81-Tools/03-Benchmark/json/taos_config.json
  test/cases/81-Tools/03-Benchmark/json/taosc_query-sqlfile.json
  test/cases/81-Tools/03-Benchmark/test_benchmark_basic.py
Owners: @taosdata/merge

fix: add test case
  test/cases/18-StreamProcessing/04-Options/test_abnormal_data_table.py
Owners: @taosdata/merge

fix: ci case failed for army
  test/ci/cases.task
Owners: @taosdata/merge

migrate data source env
  tests/e2e/config/env.yaml
  tests/e2e/setenv.ps1.example
  tests/e2e/setenv.sh.example
Owners: @guanshengliang, @zitsen

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

feat(md5): support md5 in inserting
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: * is not allowed to be an identifier name
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: * is forbidden as an identifier name
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add test case
  source/libs/executor/src/externalwindowoperator.c
  test/cases/18-StreamProcessing/04-Options/test_abnormal_data_table.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: timestamp compare
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

docs: integrate with Pandas docs (#33350)
  docs/en/07-develop/01-connect.md
  docs/en/10-third-party/05-bi/18-Pandas.md
  docs/en/14-reference/05-connector/30-python.md
  docs/examples/python/conn_native_pandas.py
  docs/zh/07-develop/01-connect/index.md
  docs/zh/10-third-party/05-bi/18-Pandas.md
  docs/zh/14-reference/05-connector/30-python.mdx
  test/ci/run_case.sh
  test/pyproject.toml
  test/requirements.txt
  test/uv.lock
  tests/ci/Dockerfile
  tests/ci/container_build_newmachine.sh
  tests/ci/dockerfile_ci
  tests/parallel_test/run_case.sh
  tools/tdgpt/requirements.txt
Owners: @guanshengliang, @zitsen, @taosdata/merge

add libsasl to taosd
  cmake/external.cmake
  source/libs/transport/inc/transSasl.h
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): rollback tsdbreader reset
  include/libs/executor/storageapi.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix failed decoding cases
  include/util/tbase64.h
  source/libs/parser/src/parInsertSql.c
  source/libs/scalar/src/sclfunc.c
  source/util/src/tbase64.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memLeak
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/operator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: decimal case cost time
  test/cases/01-DataTypes/test_datatype_decimal1.py
  test/cases/01-DataTypes/test_datatype_decimal2.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

enh: only create table when has no data supported
  include/common/tmsg.h
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add test case
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
Owners: @taosdata/merge

fix: create empty table and send notify when calc window open but no data
  source/libs/executor/src/dataInserter.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamUtil.c
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): reuse table schema (#33384)
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: acquire vginfo
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: delete dbinfo lock
  include/libs/qcom/query.h
  source/libs/executor/inc/executil.h
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: support multi vm run CI
  .github/workflows/new-framework-test.yml
Owners: @feici02

test: support multi vm run CI
  .github/workflows/new-framework-test.yml
  test/ci/run.sh
Owners: @feici02, @taosdata/merge

fix: external window when partition by tag
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add test case
  test/cases/18-StreamProcessing/04-Options/test_abnormal_data_table.py
Owners: @taosdata/merge

fix: add test case
  source/libs/executor/src/externalwindowoperator.c
  test/cases/18-StreamProcessing/04-Options/test_abnormal_data_table.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: memLeak
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/operator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: check null at benchArrayAddBatch pThreadInfo->delayList pointer
  tools/taos-tools/src/benchInsert.c
Owners: @guanshengliang, @zitsen

fix: test case
  test/cases/18-StreamProcessing/04-Options/test_abnormal_data_table.py
Owners: @taosdata/merge

fix: clear code
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: call stack
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

fix: timestamp compare
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

Deployed 9a07fb05b5 to main with MkDocs 1.6.1 and mike 2.1.3
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

fix: save progress
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taos): add version for perf_connections (#33413)
  include/common/tmsg.h
  source/client/src/clientHb.c
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndProfile.c
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
