Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

use stdints
  include/util/tsha.h
  source/util/src/tsha.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): merge user/role privileges for hb
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add more logic for mnode.
  include/common/tmsgdef.h
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/node_mgmt/src/dmMgmt.c
  source/dnode/mgmt/node_util/src/dmFile.c
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix compile error
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: rename 'applied' to 'restored' in vnodes schema and related tests
  source/common/src/systable.c
  tests/army/inspect-tools/taosinspect.py
  tests/system-test/8-stream/checkpoint_info.py
  tests/system-test/8-stream/checkpoint_info2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

docs: update yonghong bi (#33828)
  docs/zh/10-third-party/05-bi/05-yhbi.md
Owners: @guanshengliang, @zitsen

docs: lint 3.3.6 resource files
  docs/en/assets/resources/_collectd.mdx
  docs/en/assets/resources/_connect_python.mdx
  docs/en/assets/resources/_enterprise.mdx
  docs/en/assets/resources/_icinga2.mdx
  docs/en/assets/resources/_request_id.mdx
  docs/en/assets/resources/_telegraf.mdx
  docs/en/assets/resources/_windows_install.mdx
Owners: @guanshengliang, @zitsen

feat(rbac): disable unit test since system test covered
  source/libs/parser/test/parExplainToSyncdbTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: state window handles partititon by error (#33782)
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/timewindowoperator.c
  test/cases/05-VirtualTables/ans/test_vctable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_partition.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_partition.in
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_null_block.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 24af00cf40 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

test(futures-ext): add more tests for mod futures-ext (#3448)
  Cargo.lock
  crates/futures-ext/Cargo.toml
  crates/futures-ext/src/try_ready_chunks.rs
Owners: @taosdata/merge

support reload tls
  source/libs/transport/inc/transComm.h
  source/libs/transport/inc/transTLS.h
  source/libs/transport/inc/transportInt.h
  source/libs/transport/src/trans.c
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
  source/libs/transport/src/transTLS.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: save encrypt files on follower.
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

move aes into crypt from tmd5 header
  include/libs/crypt/crypt.h
  include/util/tmd5.h
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: lint 3.3.6 resource files (#33830)
  docs/en/assets/resources/_collectd.mdx
  docs/en/assets/resources/_connect_python.mdx
  docs/en/assets/resources/_enterprise.mdx
  docs/en/assets/resources/_icinga2.mdx
  docs/en/assets/resources/_request_id.mdx
  docs/en/assets/resources/_telegraf.mdx
  docs/en/assets/resources/_windows_install.mdx
Owners: @guanshengliang, @zitsen

feat/TS-7270-openssl-dep
  include/util/tdef.h
  source/dnode/mgmt/CMakeLists.txt
  source/libs/crypt/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): add log for tsdb meta in reader
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: set default branch for taosadapter to main (#2417)
  enterprise/packaging/release.sh
Owners: @taosdata/merge

test: add basic show vgroups test and update cases.task
  test/cases/22-Show/test_show_vgroups_ready.py
  test/ci/cases.task
Owners: @taosdata/merge

fix: update test case for vgroups readiness in cases.task
  test/ci/cases.task
Owners: @taosdata/merge

fix(opc): fix test case #6490695158 (#3446)
  crates/source-opc/src/point_updater.rs
  tests/e2e/test_function/opcda_test.py
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix: update show vgroups test to use boolean for checkData
  test/cases/22-Show/test_show_vgroups_ready.py
Owners: @taosdata/merge

chore: solve CI problem
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add taos_connect_with_dsn func (#33824)
  include/client/taos.h
  source/client/src/clientMain.c
  source/client/test/clientTests.cpp
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
  source/client/wrapper/src/wrapperVariable.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support reload ssl
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat/TS-7270-openssl-dep2
  include/util/tdef.h
  source/dnode/mgmt/CMakeLists.txt
  source/libs/crypt/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): case error
  source/dnode/mnode/impl/src/mndConsumer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support reload tls
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/libs/transport/src/transTLS.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): fix dumplicate tag names when insert in case of schemaless_insert/opentsdb_telnet_protocol_taosc_insert.py:986 (#33785)
  source/client/src/clientSml.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: selectValueAliasName (#33770)
  source/libs/parser/src/parTranslater.c
  test/cases/11-Functions/03-Selection/test_fun_select_cols.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: use userAlias in tmp table (#33778)
  source/libs/parser/src/parTranslater.c
  tests/system-test/2-query/cols_function.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

feat: success A4 A7 A8 A9 F5 F6 F7 F8
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/resource/data/diagnostics.taosx.json
  tools/tsbs-tdengine/src/deployCluster.py
  tools/tsbs-tdengine/src/doTest.py
  tools/tsbs-tdengine/src/outLog.py
  tools/tsbs-tdengine/src/outMetrics.py
  tools/tsbs-tdengine/src/prepareEnv.py
  tools/tsbs-tdengine/src/writeData.py
Owners: @guanshengliang, @zitsen

feat(rbac): cannot user system inherit role names
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat[TS-7231]: identity authentication (#2411)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

docs: fix formatting issues in connection and monitoring documentation
  docs/zh/07-develop/01-connect/index.md
  docs/zh/08-operation/05-monitor.md
  docs/zh/08-operation/20-inspect-tools/05-taosperf.md
  docs/zh/14-reference/05-connector/35-node.mdx
Owners: @guanshengliang, @zitsen

fix(tmq): code problem revied by gemini
  source/dnode/mnode/impl/src/mndDef.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/vnode/src/tq/tqRead.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): memory leak
  source/dnode/vnode/src/meta/metaSnapshot.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(6507074515): vgroup is ready (#33823)
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndVgroup.c
  test/cases/22-Show/test_show_vgroups_ready.py
  test/ci/cases.task
  tests/army/inspect-tools/taosinspect.py
  tests/system-test/8-stream/checkpoint_info.py
  tests/system-test/8-stream/checkpoint_info2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

feat: benchmark support 32767 max column set MAX_SQL_LEN from 1M to 4M
  tools/taos-tools/inc/toolsdef.h
  tools/taos-tools/src/benchCommandOpt.c
  tools/taos-tools/src/benchUtil.c
Owners: @guanshengliang, @zitsen

feat: [TS-6665] Support 32767 cols.
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  include/util/tdef.h
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/parser/test/parInitialCTest.cpp
  source/util/src/terror.c
  test/cases/03-Tables/01-NormalTables/test_normaltable_column_limit.py
  test/cases/04-SuperTables/01-Create/test_stable_create_rowlength64k.py
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
  test/ci/cases.task
  tools/taos-tools/inc/toolsdef.h
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge
