Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

add some job log
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

opt logic (#33991)
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add token info
  include/libs/transport/trpc.h
  source/client/inc/clientInt.h
  source/client/src/clientEnv.c
  source/client/src/clientImpl.c
  source/libs/transport/inc/transComm.h
  source/libs/transport/inc/transportInt.h
  source/libs/transport/src/trans.c
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add token info
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh:support for non-root installation
  packaging/tools/install.sh
Owners: @feici02

fix start task lock
  source/dnode/mnode/impl/src/mndXnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: fix hash join several issues
  source/libs/executor/inc/hashjoin.h
  source/libs/executor/src/hashjoinoperator.c
  source/util/src/tsimplehash.c
  test/cases/14-JoinQueries/test_join_6604237597.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: change log level
  source/libs/executor/src/hashjoinoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(meta entry cache): cache switch and size control
  include/common/tglobal.h
  include/util/tdef.h
  source/common/src/tglobal.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/virtualtablescanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(install): update service configuration path in install_service_on_systemd function
  packaging/tools/install.sh
Owners: @feici02

fix ai review
  include/util/tdef.h
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add checksum to transport (#33982)
  source/libs/transport/inc/transComm.h
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(TD-29642): prohibit sorting by aggregate functions in non-aggregate queries (#33931)
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/parser/test/parSelectTest.cpp
  source/util/src/terror.c
  test/cases/14-JoinQueries/test_join_full.py
  test/cases/uncatalog/system-test/2-query/test_group_partition.py
  test/cases/uncatalog/system-test/2-query/test_normal.py
  test/cases/uncatalog/system-test/2-query/test_orderBy.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

feat(rbac): support owner id
  include/common/tmsg.h
  include/libs/catalog/catalog.h
  include/libs/parser/parser.h
  source/client/inc/clientInt.h
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/client/src/clientMsgHandler.c
  source/client/src/clientStmt2.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDef.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndMount.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndScan.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 3596a9cb1c to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

enh: fix hash join several issues (#34013)
  source/libs/executor/inc/hashjoin.h
  source/libs/executor/src/hashjoinoperator.c
  source/libs/planner/src/planOptimizer.c
  source/util/src/tsimplehash.c
  test/cases/14-JoinQueries/test_join_6604237597.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 5de41a3b45 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/JoinQueries/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

fix: change storage key.
  include/common/tglobal.h
  include/common/tmsg.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/common/src/tencrypt.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mgmt/node_util/src/dmFile.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: 7-tmq 20->2 submit
  test/cases/17-DataSubscription/02-Consume/test_tmq_bugs.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v1_snapshot.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v1_t1.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v1_tn.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v4_t1.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons1_v4_tn.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v1_overlap.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v1_snapshot.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v1_t1.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v1_tn.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v4_t1.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_cons2_v4_tn.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_params.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_restart.py
  test/cases/17-DataSubscription/02-Native/test_tmq_bugs.py
  test/cases/uncatalog/system-test/7-tmq/test_td_30270.py
  test/cases/uncatalog/system-test/7-tmq/test_td_32187.py
  test/cases/uncatalog/system-test/7-tmq/test_td_33225.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td32471.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td32526.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td33504.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td35698.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td37436.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td38404.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts4563.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts5466.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts5906.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts6115.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts6392.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts7402.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts7662.py
  test/cases/uncatalog/system-test/7-tmq/test_ts_4674.py
  test/ci/cases.task
Owners: @taosdata/merge

feat: refactor configuration structure and add SSL support
  tools/keeper/api/adapter2_test.go
  tools/keeper/api/audit_test.go
  tools/keeper/go.mod
  tools/keeper/infrastructure/config/audit.go
  tools/keeper/infrastructure/config/config.go
  tools/keeper/infrastructure/config/env.go
  tools/keeper/infrastructure/config/log.go
  tools/keeper/infrastructure/config/metric_test.go
  tools/keeper/infrastructure/config/metrics.go
  tools/keeper/infrastructure/config/ssl.go
  tools/keeper/infrastructure/config/tdengine.go
  tools/keeper/main.go
  tools/keeper/process/builder.go
  tools/keeper/process/builder_test.go
  tools/keeper/system/program.go
  tools/keeper/system/program_test.go
Owners: @guanshengliang, @zitsen

feat: use new api auditRecord.
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add ssl test
  tools/keeper/infrastructure/config/ssl_test.go
Owners: @guanshengliang, @zitsen

wip: token priviege
  source/client/inc/clientInt.h
  source/client/src/clientEnv.c
  source/client/src/clientImpl.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/transport/src/trans.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix null ptr
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

use server instead of both for cache switch
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): support owner id
  include/common/tmsg.h
  include/libs/qcom/query.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/catalog/src/ctgCache.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 810b451c61 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: ci problems.
  source/common/src/tencrypt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: 7-tmq migrate 17 -> 15
  test/cases/17-DataSubscription/01-Mgmt/test_tmq_drop_stb.py
  test/cases/17-DataSubscription/01-Mgmt/test_tmq_show.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db0.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db1.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db2.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db3.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db4.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_stb.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_stb0.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_stb1.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_stb2.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_stb3.py
  test/cases/17-DataSubscription/02-Consume/test_subscribe_stb4.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_basic.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_bugs.py
  test/cases/uncatalog/system-test/7-tmq/test_create_wrong_topic.py
Owners: @taosdata/merge

fix: conflicts
  source/libs/executor/src/executor.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update error
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [TS-7591] Add explain info and add plan test.
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/planner/src/planLogicCreater.c
  test/cases/05-VirtualTables/ans/test_vstable_plan_test_agg.ans
  test/cases/05-VirtualTables/in/test_vstable_plan_test_agg.in
  test/cases/05-VirtualTables/test_vtable_query_plan.py
  test/cases/05-VirtualTables/test_vtable_util.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh:[TS-7591] Add test cases.
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_partition_expr.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_tag_cond.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_time_cond.ans
  test/cases/05-VirtualTables/data/genData.json
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_partition_expr.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_tag_cond.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_time_cond.in
  test/cases/05-VirtualTables/test_vtable_query_cross_db_stb_agg.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_ctb.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_agg.py
  test/cases/05-VirtualTables/test_vtable_util.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: [TS-7591] A tricky optimization, which find a proper time to set FUNC_DATA_REQUIRED_NOT_LOAD and avoid loading more block.
  include/libs/function/function.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh:[TS-7591] Optimize virtual super table agg query.
  include/common/tdataformat.h
  include/common/tmsg.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  source/common/src/msg/tmsg.c
  source/common/src/tdatablock.c
  source/common/src/tdataformat.c
  source/libs/executor/inc/dynqueryctrl.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/scanoperator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planScaleOut.c
  source/libs/planner/src/planSpliter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [TS-7591] Forbid vstb agg optimize when having select value and group const value.
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

code refactor.
  source/common/src/msg/tmsg.c
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executorInt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ci problems.
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix token error
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix token error
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
