Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh(tmq): optimize logic of tmq of query
  include/common/tmsg.h
  include/libs/executor/executor.h
  include/libs/executor/storageapi.h
  include/util/taoserror.h
  source/client/src/clientMonitor.c
  source/client/src/clientTmq.c
  source/common/src/msg/tmsg.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/tq/tq.c
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/tq/tqScan.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/querytask.h
  source/libs/executor/inc/streamexecutorInt.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/streamNotify.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(tmq): optimize logic of tmq of query
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix memleak decimal
  source/common/src/tdataformat.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test_user_token.py typo
  test/ci/cases.task
Owners: @taosdata/merge

docs(taosx): add Parquet data source support
  docs/en/14-reference/01-components/04-taosx.md
  docs/zh/14-reference/01-components/04-taosx.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/04-taosx.md
  docs/zh/14-reference/01-components/04-taosx.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/01-components/04-taosx.md
  docs/en/14-reference/01-components/04-taosx.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/04-taosx.md
  docs/zh/14-reference/01-components/04-taosx.md
Owners: @guanshengliang, @zitsen

chore: remove bold style
  docs/en/14-reference/01-components/04-taosx.md
  docs/zh/14-reference/01-components/04-taosx.md
Owners: @guanshengliang, @zitsen

chore: fix ci problem of drop table
  include/common/systable.h
  include/common/tmsg.h
  include/util/tpriv.h
  source/common/src/systable.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndInfoSchema.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTokenizer.c
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs: update release list component
  docs/en/28-releases/index.md
Owners: @guanshengliang, @zitsen

fix: ci check return values.
  source/libs/new-stream/src/streamCheckpoint.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table (#34255)
  include/libs/new-stream/streamReader.h
  source/client/src/clientMonitor.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/02-Stream/stream_drop_table.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(xnode): add column created_by and labels for xnode task
  docs/en/14-reference/01-components/04-taosx.md
  docs/en/14-reference/03-taos-sql/94-datain.md
  docs/zh/14-reference/03-taos-sql/94-datain.md
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/util/tdef.h
  source/common/src/msg/xnode.c
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/mnode/impl/test/xnode/xnodeProductionTest.cpp
  source/libs/parser/src/parTranslater.c
  source/libs/txnode/src/txnodeMgmt.c
  test/cases/42-Xnode/test_xnode.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix memleak decimal
  source/common/src/tdataformat.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: state window error when partition by tbname (#34245)
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/timewindowoperator.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_state_mode_1.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_state_mode_1_batch_hint.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_state_mode_1_single_hint.ans
  test/cases/05-VirtualTables/test_vtable_query_cross_db_stb_window_state.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_window_state.py
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 2d701173f3 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/Compatibility/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

Adjust virtual table's max ref table num. (#34244)
  source/dnode/vnode/src/meta/metaTable.c
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Adjust virtual table's max ref table num.
  source/dnode/vnode/src/meta/metaTable.c
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 3748ec3716 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/Users/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
  3.0/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

feat(explorer): list tasks by user (#3519)
  explorer/src/api/datain.ts
  src/serve/controller/mod.rs
Owners: @taosdata/merge

fix review
  source/common/src/tdataformat.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/common/src/tdataformat.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(timer): periodic latency in timer
  source/dnode/mnode/impl/src/mndMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test_user_token.py finished
  test/cases/24-Users/test_user_token.py
Owners: @taosdata/merge

dmchen/self-audit-114
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/tjson.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndStb.h
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/libs/audit/src/auditMain.c
  source/util/src/tjson.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: change key len from 128 to 16.
  include/common/tglobal.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mgmt/node_mgmt/src/dmMgmt.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: reuse taosArrayReserve replace taosArrayAddZeroData
  include/util/tarray.h
  source/dnode/vnode/src/tsdb/tsdbMergeTree.c
  source/util/src/tarray.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(xnode): add column created_by and labels for xnode task (#34264)
  docs/en/14-reference/01-components/04-taosx.md
  docs/en/14-reference/03-taos-sql/94-datain.md
  docs/zh/14-reference/03-taos-sql/94-datain.md
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/util/tdef.h
  source/common/src/msg/xnode.c
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/mnode/impl/test/xnode/xnodeProductionTest.cpp
  source/libs/parser/src/parTranslater.c
  source/libs/txnode/src/txnodeMgmt.c
  test/cases/42-Xnode/test_xnode.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(timer): sleep when continue to avoid busy-wait
  source/dnode/mnode/impl/src/mndMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: use write lock to avoid use-after-free of taskHandle
  include/libs/executor/executor.h
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executor.c
  source/libs/qworker/src/qworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ci advise modify
  test/cases/24-Users/test_user_token.py
Owners: @taosdata/merge

docs: update branch in github links (#34234)
  docs/en/14-reference/05-connector/10-cpp.md
Owners: @guanshengliang, @zitsen

docs: remove udf links from headings (#34233)
  docs/en/07-develop/09-udf.md
Owners: @guanshengliang, @zitsen

docs: update release list component (#34281)
  docs/en/28-releases/index.md
Owners: @guanshengliang, @zitsen

docs(pi): user,passwd,domain configurations #none
  docs/en/assets/pi-system-03.png
  docs/en/assets/pi-system-04.png
  docs/zh/06-advanced/05-data-in/pic/pi-02-connect-archive-only.png
  docs/zh/06-advanced/05-data-in/pic/pi-03-connect-af.png
Owners: @guanshengliang, @zitsen

docs: add activation doc
  docs/en/08-operation/30-activate.md
Owners: @guanshengliang, @zitsen

docs(pi): user,passwd,domain configurations #none (#34286)
  docs/en/assets/pi-system-03.png
  docs/en/assets/pi-system-04.png
  docs/zh/06-advanced/05-data-in/pic/pi-02-connect-archive-only.png
  docs/zh/06-advanced/05-data-in/pic/pi-03-connect-af.png
Owners: @guanshengliang, @zitsen

docs: update 336 pkglist
  docs/en/04-get-started/03-package.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
  docs/en/assets/resources/_macos_install.mdx
  docs/en/assets/resources/_windows_install.mdx
Owners: @guanshengliang, @zitsen

fix sml problem
  source/libs/parser/inc/parInsertUtil.h
  source/libs/parser/src/parInsertSml.c
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
