Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

add event case.
  test/cases/05-VirtualTables/ans/test_vstable_plan_test_window_event.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_event.ans
  test/cases/05-VirtualTables/in/test_vstable_plan_test_window_event.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_event.in
  test/cases/05-VirtualTables/test_vtable_query_boundary.py
Owners: @taosdata/merge

fix: compact for ssmigrate[manual-only] (#34653)
  include/common/tglobal.h
  include/util/tdef.h
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/vnode/src/tsdb/tsdbMigrate.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  test/cases/02-Databases/03-Alter/test_db_alter_database.py
  test/cases/20-RSMAs/test_rsma.py
  test/cases/23-ShowCommands/test_show_create_db.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: compact for ssmigrate[manual-only] (#2518)
  enterprise/src/plugins/grant/src/grantMain.c
  enterprise/src/plugins/vnode/src/tsdbCompact.c
  enterprise/src/plugins/vnode/src/tsdbRollup.c
Owners: @taosdata/merge

fix: compact for ssmigrate[manual-only] (#34672)
  include/common/tglobal.h
  include/util/tdef.h
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/vnode/src/tsdb/tsdbMigrate.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  test/cases/02-Databases/03-Alter/test_db_alter_database.py
  test/cases/20-RSMAs/test_rsma.py
  test/cases/23-ShowCommands/test_show_create_db.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Update TDengine client version in Linux install guide
  docs/zh/14-reference/05-connector/_linux_install.mdx
Owners: @guanshengliang, @zitsen

Deployed f3c3eaeda4 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/RSMAs/index.html
  main/search/search_index.json
Owners: @taosdata/merge

update ci test
  test/ci/scan_forbidden_fun.sh
Owners: @taosdata/merge

Deployed 87cd78a2d8 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/Components/Taosd/index.html
  3.0/case_list_docs/Functions/Selection/index.html
  3.0/case_list_docs/Privileges/index.html
  3.0/case_list_docs/RSMAs/index.html
  3.0/case_list_docs/StreamProcessing/SubQuery/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
  3.0/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

update ci test
  test/ci/scan_forbidden_fun.sh
Owners: @taosdata/merge

feat(tmq): modify doc
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/01-components/08-config-scope.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/08-config-scope.md
  docs/zh/14-reference/03-taos-sql/40-tmq.md
Owners: @guanshengliang, @zitsen

fix: compile error caused by invisible characters and chinese comments under the VS2022 environment
  include/libs/new-stream/dataSink.h
  source/libs/new-stream/src/dataSinkCache.c
  source/libs/new-stream/src/dataSinkFile.c
  source/libs/new-stream/src/dataSinkMgr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(tmq): uncomment test case
  test/cases/17-DataSubscription/02-Consume/test_tmq_vtable.py
Owners: @taosdata/merge

build: release ver-3.3.6.43
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix comments
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: update TDengine TSDB-OSS Client version to 3.4.0.9 in installation guides
  docs/zh/08-operation/03-install.md
  docs/zh/14-reference/05-connector/_macos_install.mdx
  docs/zh/14-reference/05-connector/_windows_install.mdx
Owners: @guanshengliang, @zitsen

chore: fix ci problem
  source/libs/catalog/src/ctgCache.c
  test/cases/24-Users/test_user_privilege_sysinfo.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix/6858855394-add-log-for-timer-stop
  source/dnode/vnode/src/vnd/vnodeSync.c
  source/libs/sync/src/syncMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(mqtt): use uuid suffix for ha mqtt tasks (#3650)
  src/serve/rpc/processor/xnode/tasks.rs
  src/serve/rpc/put.rs
  src/serve/scheduler/agent.rs
  src/serve/scheduler/notify.rs
  taosx-core/src/core_metrics.rs
  tests/integration/config/task/mqtt.json
  tests/integration/core/api/client.rs
  tests/integration/datasources/mqtt.rs
  xnoded/src/controller/alloc_jobs/source_kafka.rs
  xnoded/src/controller/alloc_jobs/source_mqtt.rs
  xnoded/src/controller/alloc_jobs/tmq2td.rs
Owners: @taosdata/merge, @guanshengliang, @zitsen

docs: update TDengine client version in Linux install guide (#34687)
  docs/zh/08-operation/03-install.md
  docs/zh/14-reference/05-connector/_linux_install.mdx
  docs/zh/14-reference/05-connector/_macos_install.mdx
  docs/zh/14-reference/05-connector/_windows_install.mdx
Owners: @guanshengliang, @zitsen

fix review
  source/libs/sync/src/syncMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add test case for rbac
  test/cases/24-Users/test_user_privilege_sysinfo.py
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @taosdata/merge

feat: enable stream notify support on windows
  cmake/external.cmake
  include/util/tcurl.h
  source/common/CMakeLists.txt
  source/libs/new-stream/src/streamUtil.c
  source/util/src/tcurl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc: update doc
  docs/zh/06-advanced/08-Advanced-Analysis/02-forecast/10-tsfm.md
Owners: @guanshengliang, @zitsen

fix: add signal handling for graceful termination of subprocesses in run_win_cases
  packaging/delete_ref_lock.py
  test/ci/run_win_cases.py
Owners: @feici02, @taosdata/merge

extwin: partition
  source/libs/executor/src/externalwindowoperator.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: add wheel for python venv.
  tools/tdgpt/requirements_docker.txt
Owners: @guanshengliang, @zitsen

Update docs/zh/06-advanced/08-Advanced-Analysis/index.md
  docs/zh/06-advanced/08-Advanced-Analysis/index.md
Owners: @guanshengliang, @zitsen

Update docs/zh/06-advanced/06-TDgpt/06-dev/03-ml/index.md
  docs/zh/06-advanced/06-TDgpt/06-dev/03-ml/index.md
Owners: @guanshengliang, @zitsen

Update docs/zh/06-advanced/08-Advanced-Analysis/index.md
  docs/zh/06-advanced/08-Advanced-Analysis/index.md
Owners: @guanshengliang, @zitsen

Update docs/zh/06-advanced/08-Advanced-Analysis/02-forecast/10-tsfm.md
  docs/zh/06-advanced/08-Advanced-Analysis/02-forecast/10-tsfm.md
Owners: @guanshengliang, @zitsen

feat: test_taosbackup_checkpoint.py passed
  test/cases/81-Tools/06-TaosBackup/test_taosbackup_checkpoint.py
  tools/taosBackup/inc/bckArgs.h
  tools/taosBackup/src/backupData.c
  tools/taosBackup/src/bckArgs.c
  tools/taosBackup/src/restoreData.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

chore: merge commit.
  docs/zh/06-advanced/08-Advanced-Analysis/index.md
Owners: @guanshengliang, @zitsen

subq/test: case for stb
  source/dnode/mgmt/mgmt_vnode/src/vmWorker.c
  source/dnode/snode/src/snode.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  test/cases/18-StreamProcessing/02-Stream/stream_subquery.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: compile error caused by invisible characters and chinese comments under the VS2022 environment (#34689)
  include/libs/new-stream/dataSink.h
  source/libs/new-stream/src/dataSinkCache.c
  source/libs/new-stream/src/dataSinkFile.c
  source/libs/new-stream/src/dataSinkMgr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/libs/catalog/src/ctgCache.c
  source/libs/parser/src/parInsertSql.c
  test/cases/25-Privileges/test_priv_control.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: declare exit_flag as global in process_pytest_file function
  test/ci/run_win_cases.py
Owners: @taosdata/merge

fix: refactor file handling in TDCom class for improved readability
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

fix: refactor file handling in TDCom class for improved readability
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

fix: improve code formatting and readability in TDCom class
  test/new_test_framework/utils/common.py
Owners: @taosdata/merge

enh: default role of user is SYSINFO_0 for cloud edition
  include/util/tpriv.h
Owners: @guanshengliang, @hzcheng, @dapan1121
