Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix(timer): periodic latency in timer (#34285)
  source/dnode/mnode/impl/src/mndMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed ccfb910037 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/Stream/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

fix: conflicts
  docs/en/04-get-started/03-package.md
Owners: @guanshengliang, @zitsen

fix: conflicts
  docs/en/04-get-started/03-package.md
Owners: @guanshengliang, @zitsen

fix(docs): improve space handling after emphasis markers in markdown rules (#34304)
  docs/custom-rules/space-after-punctuation-in-emphasis.js
Owners: @guanshengliang, @zitsen

fix: improve space handling after punctuation in emphasis markers (#34308)
  docs/custom-rules/space-after-punctuation-in-emphasis.js
Owners: @guanshengliang, @zitsen

docs: add support for recording STMT to CSV files
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/01-components/03-taosadapter.md
Owners: @guanshengliang, @zitsen

docs(taosx): add Parquet data source support (#34279)
  docs/en/14-reference/01-components/04-taosx.md
  docs/zh/14-reference/01-components/04-taosx.md
Owners: @guanshengliang, @zitsen

fix: update TestNewConnectorWithSpecialChars to remove unnecessary user creation and cleanup
  tools/keeper/db/connector_test.go
Owners: @guanshengliang, @zitsen

fix: update installation script for cluster mode and enhance taosd detection
  packaging/tools/install.sh
Owners: @feici02

cleanup logs
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(keeper): encode TDengine username and password for special characters (#34292)
  .github/workflows/taoskeeper-test.yml
  tools/keeper/db/connector.go
  tools/keeper/db/connector_test.go
Owners: @feici02, @guanshengliang, @zitsen

fix(keeper): encode TDengine username and password for special characters (#34293)
  .github/workflows/taoskeeper-test.yml
  tools/keeper/db/connector.go
  tools/keeper/db/connector_test.go
  tools/keeper/go.mod
Owners: @feici02, @guanshengliang, @zitsen

fix compilation
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(keeper): encode TDengine username and password for special characters (#34291)
  .github/workflows/taoskeeper-test.yml
  tools/keeper/db/connector.go
  tools/keeper/db/connector_test.go
Owners: @feici02, @guanshengliang, @zitsen

fix: totp maybe expired after two window
  test/cases/24-Users/test_user_totp.py
Owners: @taosdata/merge

add new interface
  include/client/taos.h
  source/client/src/clientMain.c
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: implement token notification (#2474)
  enterprise/src/plugins/privilege/src/privilege.c
  enterprise/src/plugins/token/src/mndTokenImpl.c
Owners: @taosdata/merge

feat: implement token notification (#34273)
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/09-error-code.md
  include/client/taos.h
  include/common/tmsg.h
  include/util/taoserror.h
  include/util/tdef.h
  source/client/inc/clientInt.h
  source/client/src/clientHb.c
  source/client/src/clientMain.c
  source/client/src/clientMsgHandler.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndToken.h
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/catalog/src/ctgCache.c
  source/util/src/terror.c
  test/cases/24-Users/test_user_totp.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(client): tempDir logic
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/6696481594-remove-more-log (#2476)
  enterprise/src/plugins/audit/src/audit.c
Owners: @taosdata/merge

fix/6696481594-remove-more-log (#34306)
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: reusable password cannot be reused
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: allow_datetime does not work as expect
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

dmchen/self-audit-1152
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/taoserror.h
  include/util/tjson.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndStb.h
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/libs/audit/src/auditMain.c
  source/util/src/terror.c
  source/util/src/tjson.c
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
  test/cases/80-Components/01-Taosd/test_com_taosd_self_audit.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix case error
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add new interface
  include/client/taos.h
  source/client/src/clientMain.c
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(tmq): optimize logic of tmq of query
  include/common/tglobal.h
  include/common/tmsg.h
  source/client/src/clientTmq.c
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/vnode/src/tq/tqScan.c
  source/dnode/vnode/src/tq/tqUtil.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix failed test cases
  test/cases/24-Users/test_user_totp.py
Owners: @taosdata/merge

fix ai review issues
  docs/en/14-reference/03-taos-sql/60-user.md
  test/cases/24-Users/test_user_totp.py
Owners: @guanshengliang, @zitsen, @taosdata/merge

fix typo
  test/cases/24-Users/test_user_totp.py
Owners: @taosdata/merge

fix: case issues
  source/libs/parser/src/parTranslater.c
  source/libs/scalar/src/filter.c
  source/libs/scalar/src/scalar.c
  source/libs/scalar/src/sclvector.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_in_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query1.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub2.py
  test/cases/09-DataQuerying/10-Distinct/test_query_distinct.py
  test/cases/10-Operators/06-Logical/test_and_or.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: update installation and removal scripts for improved directory handling (#34172)
  packaging/tools/install.sh
  packaging/tools/remove.sh
Owners: @feici02

docs: use new pkglist component
  docs/en/04-get-started/03-package.md
Owners: @guanshengliang, @zitsen

enh(rbac): add basic/privileged/security/audit flag for system tables
  include/common/tmsg.h
  include/libs/catalog/catalog.h
  include/libs/nodes/plannodes.h
  include/libs/parser/parser.h
  include/libs/planner/planner.h
  include/util/tconfig.h
  include/util/tjson.h
  include/util/tpriv.h
  source/client/src/clientImpl.c
  source/common/src/msg/tmsg.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndInfoSchema.c
  source/dnode/mnode/impl/src/mndPerfSchema.c
  source/libs/catalog/inc/catalogInt.h
  source/libs/catalog/src/catalog.c
  source/libs/catalog/src/ctgCache.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planPhysiCreater.c
  source/util/src/tconfig.c
  source/util/src/tjson.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update installation script welcome message and remove redundant taosd checks
  packaging/tools/install.sh
Owners: @feici02

fix(install): remove redundant taosd installation checks and prompts
  packaging/tools/install.sh
Owners: @feici02

fix(install): remove redundant taosd installation checks and prompts (#34316)
  packaging/tools/install.sh
Owners: @feici02

Deployed a3ba03cbd4 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/Compatibility/index.html
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

Deployed 8a3dd0c7ef to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/StreamProcessing/Compatibility/index.html
  3.0/case_list_docs/StreamProcessing/Stream/index.html
  3.0/case_list_docs/Users/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge
