Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

test case for count window stream
  test/cases/18-StreamProcessing/02-Stream/stream_fetch.py
Owners: @taosdata/merge

test case for count window stream
  test/cases/18-StreamProcessing/02-Stream/stream_fetch.py
Owners: @taosdata/merge

enh: table scan and exchange operator notification logic for stream
  include/common/tcommon.h
  include/common/tmsg.h
  include/libs/executor/executor.h
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/operator.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/operator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/planner/src/planSpliter.c
  source/libs/qworker/src/qworker.c
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

dmchen/self-audit
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove stream_drop case
  test/ci/cases.task
Owners: @taosdata/merge

chore: remove md5 check
  test/ci/run_case.sh
Owners: @taosdata/merge

fix clientHb check
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add process check after stopping taosd to ensure proper shutdown
  test/new_test_framework/utils/server/dnode.py
Owners: @taosdata/merge

enh(client): refactor logic of slow log
  include/libs/monitor/clientMonitor.h
  source/client/src/clientMonitor.c
  source/client/src/clientMsgHandler.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check audit privilege
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(client): refactor logic of slow log
  include/libs/monitor/clientMonitor.h
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix CI
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check audit privilege
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(log): modify doc of monitor (#34213)
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix(client): heartbeat msg incompatible (#34207)
  cmake/version.cmake
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndProfile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(client): heartbeat msg incompatible (#34208)
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndProfile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(client): fix the logic of reading slow log file if thers are \0\0 or other datas format in slow log file (#34206)
  source/client/src/clientMonitor.c
  source/client/test/CMakeLists.txt
  source/client/test/clientMonitorTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix clientHb check (#34221)
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: wrong default value for password reuse time (#34212)
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat(influxdb): support tableNamePattern (#3514)
  Makefile.toml
  crates/source-influxdb/src/config.rs
  explorer/taos-ui/components/dataIn/config/en/07-influxdb.ts
  explorer/taos-ui/components/dataIn/config/zh/07-influxdb.ts
  plugins/influxdb/src/main/java/com/taosdata/PreLoading.java
  plugins/influxdb/src/main/java/com/taosdata/config/TaskConfig.java
  plugins/influxdb/src/main/java/com/taosdata/threads/PushPrepareThread.java
  plugins/influxdb/src/main/java/com/taosdata/utils/TableNameUtils.java
  plugins/influxdb/src/test/java/com/taosdata/utils/TableNameUtilsExample.java
  plugins/influxdb/src/test/java/com/taosdata/utils/TableNameUtilsTest.java
Owners: @taosdata/merge

enh(rbac): check audit privilege
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add option to force change default password (#34165)
  cmake/define.cmake
  include/common/tglobal.h
  source/client/test/clientTests.cpp
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parAstCreater.c
  test/cases/02-Databases/05-Sync/test_redistribute_vgroup_replica3_v1_follower.py
  test/cases/02-Databases/05-Sync/test_redistribute_vgroup_replica3_v1_leader.py
  test/cases/02-Databases/05-Sync/test_redistribute_vgroup_replica3_v2.py
  test/cases/02-Databases/05-Sync/test_redistribute_vgroup_replica3_v3.py
  test/cases/02-Databases/05-Sync/test_split_vgroup_replica2.py
  test/cases/02-Databases/05-Sync/test_split_vgroup_replica3.py
  test/cases/18-StreamProcessing/01-Snode/test_snode_params_check_minvalue.py
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_recalc.py
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_systable.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_privilege.py
  test/cases/24-Users/test_user_basic.py
  test/cases/24-Users/test_user_crypted_pass.py
  test/cases/24-Users/test_user_password.py
  test/cases/24-Users/test_user_privilege_create_db.py
  test/cases/24-Users/test_user_privilege_db.py
  test/cases/24-Users/test_user_privilege_sysinfo.py
  test/cases/24-Users/test_user_privilege_topic.py
  test/cases/25-Privileges/test_priv_bugs.py
  test/cases/27-Mount/test_mount_basic.py
  test/cases/81-Tools/05-Valgrind/test_valgrind_checkerror1.py
  test/new_test_framework/script/api/passwdTest.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: only allow to change own password if must change password (#2465)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

feat(grant): support specify grant items during packaging (#2470)
  enterprise/src/plugins/grant/CMakeLists.txt
  enterprise/src/plugins/grant/src/grantMain.c
Owners: @taosdata/merge

Deployed 15b21d8192 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix(stream/fetch): fix stream data fetching from runner (#34178)
  source/common/src/msg/tmsg.c
  source/libs/executor/src/externalwindowoperator.c
  test/cases/18-StreamProcessing/02-Stream/stream_fetch.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream/fetch): fix stream data fetching from runner (#34170)
  source/common/src/msg/tmsg.c
  source/libs/executor/src/externalwindowoperator.c
  test/cases/18-StreamProcessing/02-Stream/stream_fetch.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

case: create_user_security.py 19 options
  test/cases/24-Users/test_user_security.py
Owners: @taosdata/merge

enh(rbac): fill ownerId/isAudit for tableMeta/tableCfg
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/vnode/src/vnd/vnodeQuery.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: trigger ci of 3.3.8 branch
  source/os/src/osAtomic.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memleak and add more test cases
  include/common/tmsg.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timesliceoperator.c
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: initialize notification parameters in table scan operator
  source/libs/executor/src/exchangeoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: 3 bugs related to token and user (#34219)
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat: add notification parameters to table scan operator initialization
  source/libs/executor/src/exchangeoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 4d795a51a1 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/Stream/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

Deployed e66ea6661a to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataQuerying/Interp/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix CI
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: allow_datetime cannot be set during create user
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: big offset error (#34183)
  source/libs/executor/src/groupoperator.c
  test/cases/07-DataQuerying/07-SLimit/test_slimit_limit.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

test: minor changes
  test/ci/cov/exclude.txt
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
