Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix: reader crash issue
  source/libs/executor/src/querytask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test case
  source/libs/executor/src/executorInt.c
  source/libs/parser/src/parTranslater.c
  test/cases/11-Functions/03-Selection/ans/last_with_cols.csv
  test/cases/11-Functions/03-Selection/test_fun_select_cols.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(tmq): support vtable
  source/client/src/clientRawBlockWrite.c
  test/cases/uncatalog/system-test/7-tmq/test_tmq_vtable.py
  utils/test/c/tmq_vtable.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(rbac): check privilege of create stb/add owner for db/stb
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndStb.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test_idmp_vehicle.py stream10_sub1 split expired data insert
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_vehicle.py
Owners: @taosdata/merge

update session control
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update session control
  source/client/src/clientImpl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update session control
  source/client/src/clientImpl.c
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): pSw is null if get raw data
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/tq/tqUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check grant and create table
  source/dnode/mnode/impl/src/mndStb.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

complete user pass feature
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/dnode/xnode/xnode.h
  include/libs/nodes/cmdnodes.h
  include/libs/txnode/txnode.h
  include/util/taoserror.h
  source/common/src/msg/xnode.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/mnode/sdb/inc/sdb.h
  source/dnode/xnode/inc/xndInt.h
  source/dnode/xnode/src/xnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/libs/txnode/src/txnodeMgmt.c
  source/util/src/terror.c
  tools/xnoded/src/main.rs
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

feat(rbac): check grant and create table
  source/libs/parser/src/parAstParser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: enhance connection options and add tests for taos_set_option and taos_connect_with
  cmake/options.cmake
  source/client/src/clientMain.c
  source/client/test/clientTests.cpp
  source/client/wrapper/src/wrapperFunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test case
  test/cases/11-Functions/03-Selection/test_fun_select_last.py
Owners: @taosdata/merge

fix: tes case
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  source/libs/parser/src/parTranslater.c
  source/libs/parser/test/parSelectTest.cpp
  test/cases/14-JoinQueries/test_join_full.py
  test/cases/uncatalog/system-test/2-query/test_group_partition.py
  test/cases/uncatalog/system-test/2-query/test_normal.py
  test/cases/uncatalog/system-test/2-query/test_orderBy.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

feat/TS-6863-add-doc-and-fix-compile-error
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/src/auditMain.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

Update docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix: update auditHttps default value in taosd documentation
  docs/en/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix: clarify auditHttps parameter description and update default value
  docs/en/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix: correct formatting in auditLevel parameter description
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

feat/TS-7270-add-doc
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

Update docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/en/14-reference/03-taos-sql/92-keywords.md
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
Owners: @guanshengliang, @zitsen

fix: error desc
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test_idmp_vehicle.py stream10_sub1 split expired data insert (#33951)
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_vehicle.py
Owners: @taosdata/merge

Deployed 50f39a4a62 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix: handle NULL keys and values in taos_connect_with options
  source/client/src/clientMain.c
  source/client/test/clientTests.cpp
  source/client/wrapper/src/wrapperFunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): subscribe error when waitting ask ep success
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(TS-6863): add doc and fix compile error (#33954)
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/src/auditMain.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

free pData alloc with exceptional cases
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: revert TAOSWS_GIT_TAG to default value "main"
  cmake/options.cmake
Owners: @guanshengliang

refactor: improve install script for customizable installation directory
  packaging/tools/install.sh
Owners: @feici02

Revert "free pData alloc with exceptional cases"
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: Single-table rewrite selectTag requires a window
  docs/en/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  source/libs/parser/src/parTranslater.c
  test/cases/09-DataQuerying/14-Tags/test_tag_basic.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix: stmt2 ut core and error (#33949)
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121
