Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

feat/6640154608-audit-encrypt-algo-doc-test (#34367)
  docs/en/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
  test/cases/02-Databases/01-Create/test_db_create_encrypt.py
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
Owners: @guanshengliang, @zitsen, @taosdata/merge

Deployed f67ca59351 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

test: add more cases for user, token and totp (#34368)
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  source/dnode/mnode/impl/src/mndUser.c
  test/cases/24-Users/test_user_manager.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

enh(rbac): add role/user number limit
  include/util/taoserror.h
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taosdump): supports virtual table dumping in
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

test: mark pi_test::test_multicol_template as xfail (#3545)
  tests/e2e/test_function/pi_test.py
Owners: @guanshengliang, @zitsen

fix(explorer): disable-x-api feature compile error in build script (#3546)
  explorer/server/Cargo.toml
  explorer/server/src/x_api.rs
Owners: @taosdata/merge

enh: Clarify and improve accuracy of error description (#34363)
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 26de0cd8c7 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

enh: add support for IPv6 dual-stack in transport layer and related tests (#34370)
  source/libs/transport/CMakeLists.txt
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSvr.c
  source/libs/transport/test/CMakeLists.txt
  source/libs/transport/test/transUT2.cpp
  source/libs/transport/test/transUTIPv6.cpp
  source/os/src/osSocket.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: Clarify and improve accuracy of error description
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: format spell
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(explorer): sql syntax error missing #6719930783 (#3540) [ci skip] (#3547)
  explorer/src/api/explorer.ts
  explorer/src/store/modules/4_console/console.ts
  explorer/src/utils/request.ts
Owners: @taosdata/merge

build: release ver-3.3.8.15
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

feat(taosdump): ptimize the conditions for judging virtual tables
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

impl: more grammer check when using fill node and impl interp surround function
  include/libs/nodes/plannodes.h
  include/util/taoserror.h
  source/libs/executor/src/timesliceoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: support surround clause
  include/common/tmsg.h
  include/libs/nodes/querynodes.h
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: combine interp and interval FILL grammer
  include/libs/nodes/querynodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesTraverseFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: reorder QUERY_NODE_SURROUND in ENodeType enum
  include/common/tmsg.h
Owners: @guanshengliang, @hzcheng, @dapan1121

impl: interval support surround clause
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/tfill.h
  source/libs/executor/src/filloperator.c
  source/libs/executor/src/tfill.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/nodes/src/nodesMsgFuncs.c
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: interval window fill values check when using prev/next surround mode
  source/libs/parser/src/parTranslater.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

test(tmp): add ci tests
  source/libs/qworker/inc/qwInt.h
  test/cases/09-DataQuerying/12-Interp/ans/interp_fill_surround.csv
  test/cases/09-DataQuerying/12-Interp/in/interp_fill_surround.in
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: implement validation for surrounding time values in fill clause
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/libs/nodes/querynodes.h
  include/util/taoserror.h
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
  test/new_test_framework/utils/sql.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

feat(tmq): fix loss data when switch from tsdb to wal if wal log not exist
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 7294f53171 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

fix(tmq): disable other cases except for tmq
  test/ci/cases.task
Owners: @taosdata/merge

enh: add translate processing
  include/common/tmsg.h
  include/libs/nodes/querynodes.h
  source/libs/parser/inc/parInt.h
  source/libs/parser/inc/parTranslater.h
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: several bugs
  include/common/tcommon.h
  source/libs/executor/inc/tfill.h
  source/libs/executor/src/filloperator.c
  source/libs/executor/src/tfill.c
  source/libs/executor/src/timesliceoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed e148bc6b6d to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

fix: rename lag function
  docs/en/14-reference/03-taos-sql/22-function.md
  docs/zh/14-reference/03-taos-sql/22-function.md
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/inc/functionResInfoInt.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  source/libs/scalar/src/sclfunc.c
  test/cases/11-Functions/08-Window/test_fun_win_fill_forward.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(tmq): compile error
  include/libs/executor/storageapi.h
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

dmchen/self-audit-123
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/taoserror.h
  include/util/tdef.h
  include/util/tjson.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndStb.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/util/src/terror.c
  source/util/src/tjson.c
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
  test/cases/80-Components/01-Taosd/test_com_taosd_self_audit.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(tmq): compile error
  source/client/src/clientTmq.c
  source/dnode/vnode/src/tq/tqRead.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(tmq): disable other cases except for tmq
  test/ci/cases.task
Owners: @taosdata/merge

feat: support alter key expiration time.
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/inc/dmInt.h
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: clarify and improve accuracy of error description for main (#34383)
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: Reserve the enumeration value FUNCTION_TYPE_LAG as a placeholder
  include/libs/function/functionMgt.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): fix compile error
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ci lint error.
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

docs: add docs for storage encryption. (#34377)
  docs/en/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen
