Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

feat: add installation guide and enhance install script for better directory management (#34055)
  packaging/INSTALLATION_GUIDE.md
  packaging/tools/install.sh
Owners: @feici02

style: format code
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperFunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat/TS-6863-add-use-token-para (#2444)
  enterprise/src/plugins/audit/src/audit.c
Owners: @taosdata/merge

fix: add more log for encrypt.
  source/common/src/tencrypt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

move resource limit check to correct place
  source/dnode/mgmt/node_mgmt/CMakeLists.txt
  source/dnode/mnode/impl/CMakeLists.txt
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/libs/CMakeLists.txt
  source/libs/scalar/CMakeLists.txt
  source/libs/totp/CMakeLists.txt
  source/libs/totp/inc/totp.h
  source/libs/totp/src/totp.c
  source/util/src/totp.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: solve CI problem
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parAuthenticator.c
  test/cases/25-Privileges/test_priv_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: enhance audit logging and add database creation tests for improved reliability
  tools/keeper/api/audit.go
  tools/keeper/api/audit_test.go
Owners: @guanshengliang, @zitsen

fix: groupAgg with soffset
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/groupoperator.c
  test/cases/09-DataQuerying/07-SLimit/test_slimit.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: login with token function is finshed
  tools/shell/inc/shellInt.h
  tools/shell/src/shellArguments.c
  tools/shell/src/shellAuto.c
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

fix: improve audit connection handling and enhance SSL struct tags for configuration
  tools/keeper/api/audit.go
  tools/keeper/infrastructure/config/ssl.go
Owners: @guanshengliang, @zitsen

fix(interp): prev row escape error
  source/libs/executor/src/timesliceoperator.c
  test/cases/09-DataQuerying/12-Interp/ans/interp_fill_ignore_null.csv
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

impl notifyParam for stepDone notify msg
  include/common/tmsg.h
  include/libs/executor/executor.h
  include/libs/executor/storageapi.h
  source/common/src/msg/tmsg.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/qworker/src/qwMsg.c
  source/libs/qworker/src/qworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: imple exchange optr and executor to handle stepDone msg
  include/common/tmsg.h
  include/libs/executor/executor.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/planner/src/planSpliter.c
  source/libs/qworker/src/qworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(interp): fill(prev/next/linear) can be confiured by ignoreNull param
  include/libs/executor/storageapi.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/tsdb/tsdbReadUtil.h
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/libs/executor/inc/operator.h
  source/libs/executor/src/operator.c
  source/libs/executor/src/timesliceoperator.c
  test/cases/09-DataQuerying/12-Interp/ans/interp_fill_ignore_null.csv
  test/cases/09-DataQuerying/12-Interp/in/interp_fill_ignore_null.in
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: fix format
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/planner/src/planSpliter.c
  source/libs/scheduler/src/schRemote.c
  test/cases/09-DataQuerying/12-Interp/ans/interp_fill_ignore_null.csv
  test/cases/09-DataQuerying/12-Interp/in/interp_fill_ignore_null.in
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

refactor(interp): update test cases to include new fill options and improve query structure
  test/cases/09-DataQuerying/12-Interp/ans/interp_fill_ignore_null.csv
  test/cases/09-DataQuerying/12-Interp/in/interp_fill_ignore_null.in
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @taosdata/merge

test: impl interp fill stream tests
  test/cases/09-DataQuerying/12-Interp/ans/interp_fill_ignore_null.csv
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @taosdata/merge

Merge remote-tracking branch 'origin/3.0' into enh/addTokenTransport
  source/client/src/clientImpl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: [6578750440] Add IGNORE_NODATA_TRIGGER option in stream created by TSMA. (#34053)
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor(reader): make reader thread safe
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/tsdb/tsdbReadUtil.h
  source/libs/qworker/src/qworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: enhance FILL clause documentation with details on valid values for INTERVAL and INTERP clauses
  docs/en/05-basic/03-query.md
  docs/en/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/05-basic/03-query.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
Owners: @guanshengliang, @zitsen

refactor(interp): enhance query interpolation tests and add new test cases for filling nulls
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/tsdb/tsdbReadUtil.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/qworker/src/qwMsg.c
  test/cases/09-DataQuerying/12-Interp/test_query_interp_fill.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

refactor(notify): remove child parameter serialization/deserialization and optimize memory allocation
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: merge compile error
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor(notify): exchange optr send noresp rpcmsg to downstream
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: clarify FILL clause descriptions and update interpolation behavior details
  docs/en/05-basic/03-query.md
  docs/en/14-reference/03-taos-sql/20-select.md
  docs/en/14-reference/03-taos-sql/22-function.md
  docs/en/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/05-basic/03-query.md
  docs/zh/14-reference/03-taos-sql/20-select.md
  docs/zh/14-reference/03-taos-sql/22-function.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  source/libs/qworker/src/qwMsg.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: destroy node error
  source/libs/executor/src/exchangeoperator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

move token to correct place
  source/dnode/mnode/impl/CMakeLists.txt
  source/dnode/mnode/impl/src/mndToken.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [6622759079] Fix last(ts) on virtual supertable wrong result. (#34045)
  source/libs/executor/src/scanoperator.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: fix doc format
  docs/en/05-basic/03-query.md
  docs/en/14-reference/03-taos-sql/24-distinguished.md
Owners: @guanshengliang, @zitsen

enh: [66277781381] Optimize error msg when creating virtual table. (#34052)
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: some ci cases error.
  cmake/external.cmake
  source/common/src/tencrypt.c
  source/dnode/mgmt/mgmt_vnode/src/vmInt.c
  source/libs/wal/src/walMeta.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci issues
  source/dnode/mnode/impl/inc/mndToken.h
  source/dnode/mnode/impl/src/mndToken.c
  source/libs/totp/src/totp.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: windows build error.
  source/dnode/mgmt/node_mgmt/CMakeLists.txt
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: submit token login case in test_tool_taos_cli.py
  test/cases/81-Tools/02-Taos/test_tool_taos_cli.py
  tools/shell/inc/shellInt.h
  tools/shell/src/shellEngine.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix build error
  source/client/test/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add limit case
  test/cases/09-DataQuerying/07-SLimit/test_slimit.py
Owners: @taosdata/merge

fix:add token input hidden mode
  docs/en/14-reference/02-tools/08-taos-cli.md
  docs/zh/14-reference/02-tools/08-taos-cli.md
  tools/shell/src/shellArguments.c
Owners: @guanshengliang, @zitsen

fix: stmt2 tbname bind memory error (#34003)
  include/util/tdef.h
  source/client/inc/clientStmt.h
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertUtil.c
  test/cases/30-NameLimits/test_boundary.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 3c5bc3ceb3 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/NameLimits/index.html
  main/search/search_index.json
Owners: @taosdata/merge
