Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

Potential fix for pull request finding
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test case
  source/libs/planner/src/planLogicCreater.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/function_matrix.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/function_matrix.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: windows timezone issue
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 9d746e0730 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/DataSubscription/Consume/index.html
  3.0/case_list_docs/Tables/SubTables/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

feat: meta update support trans
  source/dnode/mnode/impl/inc/mndInt.h
  source/dnode/mnode/impl/inc/mndUserTxn.h
  source/dnode/mnode/impl/src/mndUserTxn.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix compile error
  source/util/src/tjson.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: windows case issues (#34758)
  include/os/osTimezone.h
  source/client/src/clientEnv.c
  source/client/src/clientMain.c
  source/common/src/ttime.c
  source/os/src/osTime.c
  source/os/src/osTimezone.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.1.csv
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3a.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3b.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3c.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3d.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/interval.json
  test/new_test_framework/utils/common.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: nmatch condition is false return zero result (#904)
  cases/Query/queryutil/where.py
Owners: @taosdata/merge

Deployed c368d8e611 to main with MkDocs 1.6.1 and mike 2.1.4
  main/sitemap.xml.gz
Owners: @taosdata/merge

enh(6918080046): improve elect log (#34796)
  source/libs/sync/src/syncElection.c
  source/libs/sync/src/syncRequestVote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [6916092549] Fix mem leak. (#34795)
  source/libs/executor/inc/operator.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/operator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: minor changes
  test/ci/cov/exclude.txt
  test/ci/cov/run_coverage_diff.sh
Owners: @taosdata/merge

rename hot_update to CompatiCheck
  test/tools/CompatCheck/client/__init__.py
  test/tools/CompatCheck/client/querier.py
  test/tools/CompatCheck/client/subscriber.py
  test/tools/CompatCheck/client/writer.py
  test/tools/CompatCheck/config.py
  test/tools/CompatCheck/config_lib.py
  test/tools/CompatCheck/docs/check.md
  test/tools/CompatCheck/docs/readme.md
  test/tools/CompatCheck/resource/__init__.py
  test/tools/CompatCheck/resource/priv_compat.py
  test/tools/CompatCheck/resource/resourceManager.py
  test/tools/CompatCheck/resource/sysinfo_checker.py
  test/tools/CompatCheck/resource/userVerifier.py
  test/tools/CompatCheck/resource/verifier.py
  test/tools/CompatCheck/resource/whitelist_loader.py
  test/tools/CompatCheck/run.sh
  test/tools/CompatCheck/run/__init__.py
  test/tools/CompatCheck/run/main.py
  test/tools/CompatCheck/run/reporter.py
  test/tools/CompatCheck/server/__init__.py
  test/tools/CompatCheck/server/clusterSetup.py
  test/tools/CompatCheck/server/rollingUpgrade.py
  test/tools/CompatCheck/task.md
  test/tools/CompatCheck/whitelist/3.4.0.0~3.4.0.8.yaml
Owners: @taosdata/merge

enh: minor changes
  test/ci/cov/exclude.txt
Owners: @taosdata/merge

fix: test case
  source/libs/executor/src/externalwindowoperator.c
  source/libs/planner/src/planSpliter.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/complex_agg_and_filter.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/function_matrix.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/orderby_and_alias.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/window_boundary.ans
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: meta update support trans
  source/dnode/mnode/impl/inc/mndUserTxn.h
  source/dnode/mnode/impl/src/mndUserTxn.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taosx): taosx backend support bearer token auth (#3696)
  Cargo.lock
  Cargo.toml
  crates/legacy-to-taos/src/verify.rs
Owners: @taosdata/merge

fix(taosd): case error
  source/client/src/clientRawBlockWrite.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_batch_alter_tag.py
  test/cases/18-StreamProcessing/02-Stream/stream_schema.py
  test/ci/cases.task
  utils/test/c/tmq_taosx_ci.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix/6921329969-add-init-rand-seed-by-thread
  source/dnode/mgmt/mgmt_vnode/src/vmWorker.c
  source/libs/sync/src/syncEnv.c
  source/libs/sync/src/syncRaftStore.c
  source/libs/sync/src/syncRequestVote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): remove useless code
  source/client/src/clientRawBlockWrite.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: update os unittest (#34808)
  source/os/test/CMakeLists.txt
  source/os/test/osDirTests.cpp
  source/os/test/osEnvTests.cpp
  source/os/test/osFileTests.cpp
  source/os/test/osSemaphoreTests.cpp
  source/os/test/osTests.cpp
  test/ci/cov/exclude.txt
  test/ci/cov/run_coverage_diff.sh
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix compile error
  source/util/src/tjson.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): client does not poll data in a long time if there are some exceptions in channel
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor(websocket): remove token auth and add metrics polling (#3694)
  explorer/server/src/main.rs
  explorer/server/src/x_api/types.rs
  explorer/server/src/x_api/ws.rs
  explorer/src/views/2_dataIn/index.vue
  explorer/taos-ui/components/dataIn/model/useWebSocket.ts
  explorer/taos-ui/components/dataIn/views/task/index.vue
  explorer/taos-ui/components/dataIn/views/task/metrics.vue
Owners: @taosdata/merge

fix review
  include/util/tworker.h
  source/dnode/mgmt/mgmt_vnode/src/vmWorker.c
  source/libs/sync/src/syncEnv.c
  source/libs/sync/src/syncRaftStore.c
  source/util/src/tworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(taosd): problems scaned by sast
  source/client/src/clientSmlJson.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(release): ensure installation fails gracefully on build error (#2531)
  enterprise/packaging/release.sh
Owners: @taosdata/merge

fix(release): ensure installation fails gracefully on build error (#2530)
  enterprise/packaging/release.sh
Owners: @taosdata/merge

update grammar
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update parser
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

handle raw block write
  source/client/src/clientRawBlockWrite.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix failed test case and ci issue
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  test/cases/03-Tables/02-SubTables/test_subtable_batch_set_tag_vals.py
  test/cases/05-VirtualTables/test_vtable_batch_set_tag_vals.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix ci and ai review issues
  source/common/src/msg/tmsg.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support json tag and fix memory leaks
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

parser handle more node type in translation
  include/common/tmsg.h
  include/util/tcompare.h
  source/client/src/clientRawBlockWrite.c
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

implement update multi table tag values
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/client/src/clientRawBlockWrite.c
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/meta/metaTable.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix memory leak
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

finish high level logic for child table updating
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/meta/metaTable.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add new test cases
  test/cases/03-Tables/02-SubTables/test_subtable_batch_set_tag_vals.py
  test/cases/05-VirtualTables/test_vtable_batch_set_tag_vals.py
  test/ci/cases.task
Owners: @taosdata/merge

fix crash in test
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121
