Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

docs: GLIBC version requried modify
  docs/zh/08-operation/03-install.md
Owners: @guanshengliang, @zitsen

feat(sm4): fm4 funcs for query and inserting
  include/libs/crypt/crypt.h
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  source/libs/crypt/src/crypt.c
  source/libs/function/CMakeLists.txt
  source/libs/function/src/builtins.c
  source/libs/scalar/src/sclfunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(jdbc): add health check and rebalance parameters.
  docs/en/14-reference/05-connector/14-java.md
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

enh: create /etc/taos directory before executing command in run_container.sh
  test/ci/run_container.sh
  tests/parallel_test/run_container.sh
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix(run_container): ensure /etc/taos directory is created before command execution
  test/ci/run_container.sh
Owners: @taosdata/merge

fix: create /etc/taos directory in run case shell
  test/ci/run_case.sh
  test/ci/run_container.sh
Owners: @taosdata/merge

fix review 3
  source/client/src/clientMain.c
  source/dnode/mnode/impl/src/mndInstance.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: create /etc/taos directory in run case shell
  test/ci/run_case.sh
  test/ci/run_container.sh
Owners: @taosdata/merge

fix: add yarn install step for dependencies in document build process
  .github/workflows/tdengine-docs-ci.yml
Owners: @feici02

fix: create /etc/taos directory in run case shell
  tests/parallel_test/run_container.sh
Owners: @guanshengliang, @zitsen

fix: create /etc/taos directory and update python connector versions in run_case.sh
  tests/parallel_test/run_case.sh
Owners: @guanshengliang, @zitsen

fix: create /etc/taos directory in run case (#33732)
  test/ci/run_case.sh
  test/ci/run_container.sh
  tests/parallel_test/run_case.sh
  tests/parallel_test/run_container.sh
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix: create /etc/taos directory in run case shell (#33733)
  test/ci/run_case.sh
  test/ci/run_container.sh
Owners: @taosdata/merge

Revert "fix: create /etc/taos directory in run case shell (#33733)"
  test/ci/run_case.sh
  test/ci/run_container.sh
Owners: @taosdata/merge

Revert "fix: create /etc/taos directory in run case (#33732)"
  test/ci/run_case.sh
  test/ci/run_container.sh
  tests/parallel_test/run_case.sh
  tests/parallel_test/run_container.sh
Owners: @taosdata/merge, @guanshengliang, @zitsen

Revert "fix: create /etc/taos directory in run case shell (#33733)" (#33734)
  test/ci/run_case.sh
  test/ci/run_container.sh
Owners: @taosdata/merge

Revert "fix: create /etc/taos directory in run case (#33732)" (#33735)
  test/ci/run_case.sh
  test/ci/run_container.sh
  tests/parallel_test/run_case.sh
  tests/parallel_test/run_container.sh
Owners: @taosdata/merge, @guanshengliang, @zitsen

Update docs/zh/08-operation/03-install.md
  docs/zh/08-operation/03-install.md
Owners: @guanshengliang, @zitsen

fix: improve error handling and streamline docker run command in run_container.sh
  tests/parallel_test/run_container.sh
Owners: @guanshengliang, @zitsen

feat(tmq): [TS-6379]encode/decode schema in handle
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/libs/parser/src/parTranslater.c
  test/cases/uncatalog/system-test/7-tmq/test_schema.py
  test/cases/uncatalog/system-test/7-tmq/test_tmqVnodeTransform_stb.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

fix: interval windows
  include/libs/nodes/querynodes.h
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

Update docs/zh/14-reference/05-connector/14-java.mdx
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

docs: GLIBC version required modify (#33730)
  docs/zh/08-operation/03-install.md
Owners: @guanshengliang, @zitsen

feat: add delay metric D1 finished
  tools/tsbs-tdengine/resource/config/cases_delay.yaml
  tools/tsbs-tdengine/resource/config/json/stbd1.json
  tools/tsbs-tdengine/resource/config/stbd1.yaml
  tools/tsbs-tdengine/src/doTest.py
  tools/tsbs-tdengine/src/outMetrics.py
Owners: @guanshengliang, @zitsen

fix review 4
  source/dnode/mnode/impl/src/mndInstance.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: docs check errors
  docs/en/07-develop/15-high.md
  docs/zh/14-reference/01-components/02-taosc.md
Owners: @guanshengliang, @zitsen

fix: doc compile errors
  docs/en/14-reference/01-components/02-taosc.md
Owners: @guanshengliang, @zitsen

fix STMT enum order
  include/common/tmsg.h
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add scheduler processing
  include/common/tmsg.h
  include/libs/nodes/querynodes.h
  source/common/src/msg/tmsg.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parTranslater.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schRemote.c
  source/libs/scheduler/src/schTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci issues
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  test/ci/pytest.sh
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: test case
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/timewindowoperator.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

sm4 funcs for inserting
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121
