Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

add libsasl to taosd
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: support multi vm run CI
  .github/workflows/new-framework-test.yml
Owners: @feici02

docs: update get started from package (#33396)
  docs/en/04-get-started/03-package.md
  docs/en/04-get-started/06-enterprise.md
  docs/en/04-get-started/_get_started.mdx
Owners: @guanshengliang, @zitsen

fix(docker): correct entrypoint path in Dockerfile-cd and remove unused build args in Dockerfile.base
  packaging/docker/Dockerfile-cd
  packaging/docker/Dockerfile.base
Owners: @feici02

fix: update TDengine build workflow for research/3.3.6-experimental branch
  .github/workflows/tdengine-build.yml
Owners: @feici02

chore: add empty line for better readability in CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

chore(mongodb): fix mongodb driver certificate validation disabled when (#3348)
  Cargo.lock
  Cargo.toml
  crates/source-mongodb/src/query/mod.rs
Owners: @taosdata/merge

enh(explorer): implement sortable columns in the dashboard (#3349)
  explorer/src/views/1_dashboard/dnodes.vue
Owners: @taosdata/merge

fix(stream): vnode mem update to avoid lost data
  include/libs/executor/storageapi.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 438be8030e to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix(stream): vnode mem update to avoid lost data
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: remove compilation products
  plugins/incremental_bitmap/.gitignore
  plugins/incremental_bitmap/CMakeFiles/3.28.3/CMakeCCompiler.cmake
  plugins/incremental_bitmap/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
  plugins/incremental_bitmap/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
  plugins/incremental_bitmap/CMakeFiles/3.28.3/CMakeSystem.cmake
  plugins/incremental_bitmap/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
  plugins/incremental_bitmap/CMakeFiles/3.28.3/CompilerIdC/a.out
  plugins/incremental_bitmap/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
  plugins/incremental_bitmap/CMakeFiles/3.28.3/CompilerIdCXX/a.out
  plugins/incremental_bitmap/CMakeFiles/CMakeConfigureLog.yaml
  plugins/incremental_bitmap/build_real/test_consistency_minimal
  plugins/incremental_bitmap/build_real/test_offset_semantics_real
  plugins/incremental_bitmap/build_real/test_offset_semantics_realtime
Owners: @taosdata/merge

test: support multi vm run CI
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix: memory leakage (#33373)
  source/client/src/clientStmt.c
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: extend encryption algorithm support to include digest and asymmetric types
  source/dnode/mnode/impl/inc/mndEncryptAlgr.h
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(gpt): update the requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

fix(stream): [TD-38380] error if tag == %%1 with tagcache open
  include/common/streamMsg.h
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/function/src/functionMgt.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: change sdb config before send req to dnode.
  source/dnode/mnode/impl/src/mndConfig.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: support multi vm run CI
  test/ci/cases.task
  test/ci/run.sh
Owners: @taosdata/merge

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

add CI
  .github/workflows/tdengine-test.yml
Owners: @feici02

fix: state window ignores leading and trailing Null values
  source/libs/executor/inc/operator.h
  source/libs/executor/src/timewindowoperator.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/05-VirtualTables/ans/test_vctable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_partition.ans
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: remove OpenSSL algorithm names from SM2 and RSA encryption algorithms
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: gemini view problems.
  source/dnode/mnode/impl/src/mndConfig.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(gpt): remove unused code in install script.
  tools/tdgpt/script/install.sh
Owners: @guanshengliang, @zitsen

fix(stream): reuse table schema
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

not retry timeout msg
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

not retry timeout msg
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(gpt): update the requirements.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

fix: remove duplicate def do_stmt_sample_csv_json
  test/cases/81-Tools/03-Benchmark/test_benchmark_with_csv.py
Owners: @taosdata/merge

not retry timeout msg
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

not retry timeout msg
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taos): add version for perf_connections
  include/common/tmsg.h
  source/client/src/clientHb.c
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndProfile.c
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

cases: add case describe for query_main and mix case
  test/cases/81-Tools/03-Benchmark/json/case-insert-mix1.json
  test/cases/81-Tools/03-Benchmark/json/case-insert-mix2.json
  test/cases/81-Tools/03-Benchmark/json/case-insert-mix4.json
  test/cases/81-Tools/03-Benchmark/test_benchmark_mix.py
  test/cases/81-Tools/03-Benchmark/test_benchmark_query_main.py
  test/mkdocs.yml
Owners: @taosdata/merge

fix/TD-38395-memory-leak
  source/dnode/mnode/impl/inc/mndArbGroup.h
  source/dnode/mnode/impl/src/mndArbGroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: external window when partition by tag
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/dnode/mnode/impl/src/mndArbGroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: state window ignores leading and trailing Null values (#33397)
  source/libs/executor/inc/operator.h
  source/libs/executor/src/timewindowoperator.c
  test/cases/11-TimeSeriesExtensions/04-StateWindow/test_state_window_null.py
  tests/army/vtable/ans/test_vctable_select_test_partition.ans
  tests/army/vtable/ans/test_vstable_select_test_partition.ans
  tests/army/vtable/ans/test_vtable_select_test_partition.ans
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

fix: state window ignores leading and trailing Null values (#33409)
  source/libs/executor/inc/operator.h
  source/libs/executor/src/timewindowoperator.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/05-VirtualTables/ans/test_vctable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_partition.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_partition.ans
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
