Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

Update job execution phase handling in schNotifyUserFetchRes and remove redundant code from schProcessFetchRsp
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schRemote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: windows using default timezone issue
  source/os/src/osTimezone.c
  source/os/test/osTimeTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add debug log
  source/os/src/osTime.c
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ai review comments
  contrib/TSZ/sz/inc/ByteToolkit.h
  contrib/TSZ/sz/inc/CompressElement.h
  contrib/TSZ/sz/src/ByteToolkit.c
  contrib/TSZ/sz/src/Huffman.c
  contrib/TSZ/sz/src/TightDataPointStorageD.c
  contrib/TSZ/sz/src/TightDataPointStorageF.c
  contrib/TSZ/sz/src/dataCompression.c
  contrib/TSZ/sz/src/sz_double.c
  contrib/TSZ/sz/src/sz_float.c
Owners: @guanshengliang

Deployed 83155a861d to main with MkDocs 1.6.1 and mike 2.1.4
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

fix: modify debug log
  source/os/src/osTime.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test_taosbackup_vtable.py loss since hisotry comment
  test/cases/81-Tools/06-TaosBackup/test_taosbackup_vtable.py
  tools/taosBackup/inc/restoreStmt.h
  tools/taosBackup/inc/restoreStmt2.h
  tools/taosBackup/src/restoreStmt.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix: reset window state
  source/libs/executor/src/externalwindowoperator.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/basic_query.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: add test/CMakeLists.txt
  tools/taosBackup/test/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix: windows default timezone UTC issue
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(ci): add guard in recordOpExecBeforeDownstream
  source/libs/executor/src/operator.c
  source/libs/executor/test/executorTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

update substate readme
  docs/zh/14-reference/03-taos-sql/51-perf.md
Owners: @guanshengliang, @zitsen

fix: windows default timezone issue
  source/os/src/osTimezone.c
  source/os/test/osTimeTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove debug log
  source/os/src/osTime.c
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(opc): custom tags support {Attr#XY} pattern #6921450121 (#3705)
  .gitignore
  crates/source-opc/docs/dev/design/custom-tags.md
  crates/source-pspace/docs/dev/design/custom-tags.md
  crates/source-pspace/src/model.rs
  explorer/taos-ui/components/dataIn/config/en/05-opcua.ts
  explorer/taos-ui/components/dataIn/config/zh/05-opcua.ts
  taosx-core/src/plugins/sink/point/model.rs
Owners: @taosdata/merge

build fix: add C++17 CMAKE_ARGS -DCMAKE_CXX_STANDARD:STRING=17
  cmake/external.cmake
Owners: @guanshengliang

feat(tmq2local): fallback for generating backup point #6865524240
  crates/tmq-to-local/docs/dev/design/backup-points.md
  crates/tmq-to-local/src/conf.rs
  crates/tmq-to-local/src/lib.rs
Owners: @taosdata/merge

feat: SQL firewall black/white list (#34798)
  include/common/tglobal.h
  source/client/inc/clientInt.h
  source/client/src/clientFirewall.c
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/common/src/tglobal.c
  test/cases/31-Security/11-SQLFireWall/sql_rules_blacklist.json
  test/cases/31-Security/11-SQLFireWall/test_sql_blacklist.py
  test/cases/31-Security/11-SQLFireWall/test_sql_whitelist.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 4048092bf3 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

enh(doc): fix ci comments
  docs/en/14-reference/03-taos-sql/28-explain.md
  docs/zh/14-reference/03-taos-sql/28-explain.md
Owners: @guanshengliang, @zitsen

fix(tmq): conflicts from main
  source/client/src/clientTmq.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/vnode/CMakeLists.txt
  source/dnode/vnode/src/inc/tq.h
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/tq/tq.c
  source/dnode/vnode/src/tq/tqPush.c
  source/dnode/vnode/src/tq/tqUtil.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): client does not poll data in a long time if there are some exceptions in channel
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: cold upgrade finishe and add 0x141 compatible code
  test/tools/CompatCI/cold_upgrade_task.py
  test/tools/CompatCheck/run/main.py
Owners: @taosdata/merge

upgrade arrow from 19.0 to 20.0 fix build error
  cmake/external.cmake
Owners: @guanshengliang

fix(tmq): conflicts from 336
  source/client/src/clientTmq.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/vnode/CMakeLists.txt
  source/dnode/vnode/src/inc/tq.h
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/tq/tq.c
  source/dnode/vnode/src/tq/tqPush.c
  source/dnode/vnode/src/tq/tqUtil.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): client does not poll data in a long time if there are some exceptions in channel
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): conflicts from main
  source/dnode/vnode/src/tq/tq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(taosd): core dump in addTagPseudoColumnData for pTag if there are pressures
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(taosd): core dump in addTagPseudoColumnData for pTag if there are pressures
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

comment unstable cases out
  test/ci/cases.task
Owners: @taosdata/merge

feat: support alter last cache's shard nums.
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/tlrucache.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbCache.c
  source/dnode/vnode/src/vnd/vnodeCfg.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/util/src/tlrucache.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed b71dce03e4 to main with MkDocs 1.6.1 and mike 2.1.4
  main/objects.inv
  main/search/search_index.json
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

fix: tmsg error.
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: function return code issue
  include/os/osTimezone.h
  source/common/src/ttime.c
  source/common/test/commonTests.cpp
  source/os/src/osTimezone.c
  source/os/test/osTests.cpp
  source/os/test/osTimeTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ci review problems.
  .claude/settings.local.json
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/inc/tsdb.h
  source/dnode/vnode/src/tsdb/tsdbCache.c
  source/dnode/vnode/src/vnd/vnodeCfg.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/command/src/command.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/util/src/tlrucache.c
  source/util/test/CMakeLists.txt
  source/util/test/lrucacheTest.cpp
  test/cases/02-Databases/03-Alter/test_cache_last_shards.py
Owners: @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121

upgrade arrow down to 19.0
  cmake/external.cmake
Owners: @guanshengliang

fix: enum check failed case DB_OPTION_COMP value changed from 4 to 5.
  source/libs/parser/inc/parAst.h
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support custom log file path via --log-dir and --log-file parameters (#60)
  src/actions/components/formatter/inc/SqlChildTableFormatter.hpp
  src/actions/components/formatter/test/TestSqlChildTableFormatter.cpp
  src/actions/components/reader/csv/src/ColumnsCSVReader.cpp
  src/actions/components/reader/csv/test/TestColumnsCSVReader.cpp
  src/actions/config/inc/GlobalConfig.hpp
  src/actions/config/inc/TimestampCSVConfig.hpp
  src/actions/config/test/CMakeLists.txt
  src/actions/config/test/TestTimestampCSVConfig.cpp
  src/benchmark.cpp
  src/parameter/inc/ParameterContext.hpp
  src/parameter/src/ParameterContext.cpp
  src/parameter/test/TestParameterContext.cpp
  src/utils/inc/LogUtils.hpp
  src/utils/src/LogUtils.cpp
  src/utils/test/TestLogUtils.cpp
Owners: @taosdata/merge

feat(taosgen): add command-line parameters for log output (#34777)
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

enh(keeper): add ReadHeaderTimeout to HTTP server configuration (#34837)
  tools/keeper/system/program.go
Owners: @guanshengliang, @zitsen
