Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix(taosx): allow using the dot symbol in super table names and subtable names (#3581)
  taosx-core/src/plugins/transform/mod.rs
Owners: @taosdata/merge

docs: automatically detect version for codeblocks
  docs/en/04-get-started/01-docker.md
  docs/en/04-get-started/03-package.md
  docs/en/04-get-started/06-enterprise.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
Owners: @guanshengliang, @zitsen

update test case
  source/util/src/tjson.c
  test/cases/26-NodeManager/02-Mnode/test_mnode_basic3.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed daf368c7623 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/TriggerMode/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

docs: update 3.4.0.2 release notes in office web
  cmake/version.cmake
  docs/en/28-releases/03-notes/3.4.0.2.md
  docs/zh/04-get-started/03-package.mdx
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
  docs/zh/28-releases/03-notes/3.4.0.2.md
Owners: @guanshengliang, @zitsen

fix: update taoskeeper password handling to clarify special character support issue
  docs/en/28-releases/03-notes/3.4.0.2.md
  docs/zh/28-releases/03-notes/3.4.0.2.md
Owners: @guanshengliang, @zitsen

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update new-framework-test.yml
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix(explorer): return 201 status code when task created successfully (#3577)
  explorer/server/src/x_api.rs
  explorer/server/src/x_api/tasks.rs
Owners: @taosdata/merge

fix: splite cases
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4b1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4b2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4c1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4c2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4d1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4d2.py
Owners: @taosdata/merge

fix: timetruncate results are abnormal when offset by natural month
  source/common/src/ttime.c
  source/common/test/commonTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: getIntervalEnd
  source/common/src/ttime.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: taosTimeAdd out-of-bounds
  source/common/src/ttime.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: timeGetIntervalEnd
  source/common/src/ttime.c
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: getIntervalEnd
  source/common/src/ttime.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ci case list
  test/ci/cases.task
Owners: @taosdata/merge

feat(vuls): fix all java relative vulnerability (#3583)
  plugins/influxdb/pom.xml
  plugins/opentsdb/pom.xml
Owners: @taosdata/merge

test: fix failed test case
  tools/keeper/testutil/testutil_test.go
Owners: @guanshengliang, @zitsen

chore: setup tmate
  .github/workflows/taoskeeper-test-enterprise.yml
Owners: @feici02

fix: translate column not found issue
  source/libs/executor/src/executil.c
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  source/libs/function/src/detail/tminmax.c
  source/libs/parser/src/parTranslater.c
  source/libs/scalar/src/sclfunc.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query1.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_in_sub_query2_generated_queries0.sql
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub1.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4c.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

[6755488313]: add-check-key
  source/dnode/mnode/impl/src/mndDb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: improve error handling for empty encryption key in database creation
  source/dnode/mnode/impl/src/mndDb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove asan and split cases (#34456)
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4a2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4b1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4b2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4c1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4c2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4d1.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4d2.py
  test/ci/cases.task
Owners: @taosdata/merge

Deployed bd10d8b1f80 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/DataQuerying/SubQuery/index.html
  main/case_list_docs/StreamProcessing/TriggerMode/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

feat: support udf to load encrypt key.
  source/libs/function/CMakeLists.txt
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test
  tools/keeper/api/adapter2_test.go
Owners: @guanshengliang, @zitsen

test
  tools/keeper/api/adapter2_test.go
  tools/keeper/infrastructure/config/tdengine.go
Owners: @guanshengliang, @zitsen

fix: use public variables DB_FIELDS、HIDEDB、 DBCustomedFiled (#3363)
  explorer/src/api/database.ts
  explorer/src/const.ts
  explorer/src/store/modules/4_console/dbs.ts
  explorer/taos-ui/components/explorer/components/info.vue
  explorer/taos-ui/constants/tdengine.ts
Owners: @taosdata/merge

fix: execute taos shell timeout 10->120s
  test/cases/81-Tools/02-Taos/test_tool_taos_shell.py
Owners: @taosdata/merge

fix: execute taos shell add log
  test/cases/81-Tools/02-Taos/test_tool_taos_shell.py
Owners: @taosdata/merge

docs: auto detect version
  docs/en/04-get-started/01-docker.md
  docs/en/04-get-started/03-package.md
  docs/en/04-get-started/05-cloud.md
  docs/en/04-get-started/index.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
Owners: @guanshengliang, @zitsen

fix lint
  docs/en/04-get-started/01-docker.md
  docs/en/assets/resources/_linux_install.mdx
Owners: @guanshengliang, @zitsen

fix: assign ownerId for normal table during test_priv_basic.py refactoring (#34459)
  source/dnode/vnode/src/meta/metaTable.c
  source/dnode/vnode/src/meta/metaTable2.c
  test/cases/25-Privileges/test_priv_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix data fetching params
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: [6764615509] Rename from 'lag' to 'fill_forward'.
  test/cases/14-JoinQueries/test_join_pk.py
Owners: @taosdata/merge

disable subqueries be top tasks
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

data/inserter: fix lino with log
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add AGENTS.md
  AGENTS.md
Owners: @taosdata/merge
