Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

test: submit idmp_meters_bug19.py (#33087)
  test/cases/41-StreamProcessing/20-UseCase/idmp_meters_bug19.py
  test/cases/41-StreamProcessing/20-UseCase/idmp_meters_bug19_passed.py
Owners: @taosdata/merge

feat: rollup sma (#2356)
  enterprise/src/plugins/mnode/src/mndDb.c
  enterprise/src/plugins/vnode/src/tsdbCompact.c
  enterprise/src/plugins/vnode/src/tsdbCompactMonitor.c
  enterprise/src/plugins/vnode/src/tsdbRetentionMonitor.c
  enterprise/src/plugins/vnode/src/tsdbRollup.c
  enterprise/src/plugins/vnode/src/vnodeCompact.c
Owners: @taosdata/merge

test: verify bug1 bug2 passed, open case on meters
  test/cases/41-StreamProcessing/20-UseCase/idmp_meters_bug1.py
  test/cases/41-StreamProcessing/20-UseCase/idmp_meters_bug2.py
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_meters.py
Owners: @taosdata/merge

feat(gpt): add _anomalymask pesudo column.
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  source/libs/executor/src/anomalywindowoperator.c
  source/libs/executor/src/executorInt.c
  source/libs/function/src/builtins.c
  source/libs/function/src/functionMgt.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/scalar/src/sclfunc.c
  tools/tdgpt/taosanalytics/algo/anomaly.py
  tools/tdgpt/taosanalytics/app.py
  tools/tdgpt/taosanalytics/test/unit_test.py
  tools/tdgpt/taosanalytics/util.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

chore: merge 3.0
  source/libs/function/src/builtins.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update Windows test workflow to use specific branch for error handling
  .github/workflows/tdengine-test.yml
Owners: @feici02

merge: update tags
  enterprise/cmake/in/community_CMakeLists.txt.in
  enterprise/cmake/in/taosx_CMakeLists.txt.in
Owners: @taosdata/merge

feat(agg/var): sampled funcs for stddev & var, and others (#32694)
  docs/en/14-reference/03-taos-sql/21-operators.md
  docs/en/14-reference/03-taos-sql/22-function.md
  docs/zh/14-reference/03-taos-sql/21-operators.md
  docs/zh/14-reference/03-taos-sql/22-function.md
  include/libs/function/functionMgt.h
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/inc/functionResInfoInt.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  test/cases/22-Functions/02-Aggregate/test_agg_all.py
  test/cases/22-Functions/02-Aggregate/test_agg_gconcat.py
  test/cases/22-Functions/02-Aggregate/test_agg_smoking.py
  test/cases/22-Functions/02-Aggregate/test_agg_stddev.py
  test/cases/22-Functions/resource/ans/stddev_samp.csv
  test/cases/22-Functions/resource/ans/var_samp.csv
  test/cases/22-Functions/resource/ans/variance.csv
  test/cases/22-Functions/resource/in/stddev_samp.err
  test/cases/22-Functions/resource/in/stddev_samp.in
  test/cases/22-Functions/resource/in/var_samp.err
  test/cases/22-Functions/resource/in/var_samp.in
  test/cases/22-Functions/resource/in/variance.err
  test/cases/22-Functions/resource/in/variance.in
  test/cases/uncatalog/army/query/function/test_resinfo.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

make the output of 'leastsquares' consistent
  source/libs/scalar/src/sclfunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 6d4dceeaca to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/Functions/Aggregate/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

Deployed 7776532659 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Databases/Sync/index.html
  main/case_list_docs/Functions/Aggregate/index.html
  main/objects.inv
  main/search/search_index.json
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

Update test/docs for branch main
  test/docs/main/util_funcs_docs/new_test_framework/utils.md
Owners: @taosdata/merge

test: verify open idmp_meters.py bug3 and bug4 case
  test/cases/41-StreamProcessing/20-UseCase/idmp_meters_bug3.py
  test/cases/41-StreamProcessing/20-UseCase/idmp_meters_bug4.py
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_meters.py
Owners: @taosdata/merge

fix(query): fix syntax error.
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/test/schedulerTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

Update CMakeLists.txt
  utils/CMakeLists.txt
Owners: @guanshengliang

refactor: do some internal refactor.
  include/libs/function/functionMgt.h
  source/libs/function/src/builtins.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(query): check return value.
  source/libs/scheduler/src/schTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix possible mem leak while driver quit
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update condition for Windows test execution to only run on '3.3.6' branch
  .github/workflows/tdengine-test.yml
Owners: @feici02

add tls test
  test/cases/73-TLS/test_tls.py
Owners: @taosdata/merge

fix: compile problem of community
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/vnode/src/tsdb/tsdbOpen.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/tsdb/tsdbRetentionMonitor.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: move tsdbRetentionMonitor.c to community
  source/dnode/vnode/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: move tsdb retention monitor to community
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/vnode/CMakeLists.txt
  source/dnode/vnode/src/tsdb/tsdbOpen.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/tsdb/tsdbRetentionMonitor.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: void problem check
  source/dnode/vnode/src/tsdb/tsdbRetentionMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: void problem check
  source/dnode/vnode/src/tsdb/tsdbRetentionMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: move tsdb retention monitor to community (#33095)
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/vnode/CMakeLists.txt
  source/dnode/vnode/src/tsdb/tsdbOpen.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/tsdb/tsdbRetentionMonitor.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: move tsdb retention monitor to community (#33094)
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/vnode/CMakeLists.txt
  source/dnode/vnode/src/tsdb/tsdbOpen.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/tsdb/tsdbRetentionMonitor.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: move tsdb retention monitor to community (#2363)
  enterprise/src/plugins/vnode/src/tsdbRetentionMonitor.c
  enterprise/src/plugins/vnode/src/tsdbRollup.c
Owners: @taosdata/merge

fix: move tsdb retention monitor to community (#2362)
  enterprise/src/plugins/vnode/src/tsdbRetentionMonitor.c
  enterprise/src/plugins/vnode/src/tsdbRollup.c
Owners: @taosdata/merge

feat: add status check on compatibility cases. (#33061)
  tests/system-test/0-others/compatibility_basic.py
Owners: @guanshengliang, @zitsen

build: release ver-3.3.8.0
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

enh: check privilege for show stables
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndStb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: record rollup level of fset
  source/dnode/vnode/src/tsdb/tsdbCommit2.c
  source/dnode/vnode/src/tsdb/tsdbFS2.c
  source/dnode/vnode/src/tsdb/tsdbFS2.h
  source/dnode/vnode/src/tsdb/tsdbMerge.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/tsdb/tsdbSnapshot.c
  source/dnode/vnode/src/tsdb/tsdbSnapshotRAW.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: record rollup level
  source/dnode/vnode/src/tsdb/tsdbCommit2.c
  source/dnode/vnode/src/tsdb/tsdbFS2.c
  source/dnode/vnode/src/tsdb/tsdbFS2.h
  source/dnode/vnode/src/tsdb/tsdbMerge.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/tsdb/tsdbSnapshot.c
  source/dnode/vnode/src/tsdb/tsdbSnapshotRAW.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: setOper order by funcs
  docs/en/05-basic/03-query.md
  docs/en/14-reference/03-taos-sql/07-select.md
  docs/zh/05-basic/03-query.md
  docs/zh/14-reference/03-taos-sql/07-select.md
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/parser/test/parSelectTest.cpp
  test/cases/07-DataQuerying/10-Union/test_union.py
  tests/system-test/2-query/orderBy.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

enh: more scenario for test_rsma.py
  test/cases/43-RSMAs/test_rsma.py
Owners: @taosdata/merge

enh: support rollup by time range
  source/libs/parser/src/parTranslater.c
  test/cases/43-RSMAs/test_rsma.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): remove pending calc in recalc range
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/41-StreamProcessing/04-Options/test_abnormal_data_table.py
  test/cases/41-StreamProcessing/04-Options/test_abnormal_data_vtable.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix ci failed case
  tests/system-test/2-query/td-28068.py
Owners: @guanshengliang, @zitsen

enh: rollup database in vgroups
  include/libs/nodes/cmdnodes.h
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
