Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

feat: support zeroth state in state window
  include/libs/nodes/querynodes.h
  source/libs/nodes/src/nodesTraverseFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/parUtil.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(zeroth): support in stream trigger state window
  include/common/streamMsg.h
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamUtil.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(zeroth): add ci tests
  test/cases/uncatalog/system-test/2-query/test_state_window_zeroth.py
  test/ci/cases.task
Owners: @taosdata/merge

case: migrate db_encrypt decimal show 6 case
  test/cases/01-DataTypes/test_datatype_decimal1.py
  test/cases/01-DataTypes/test_datatype_decimal2.py
  test/cases/01-DataTypes/test_datatype_decimal3.py
  test/cases/02-Databases/01-Create/test_db_create_encrypt.py
  test/cases/52-Show/test_show_basic.py
  test/cases/52-Show/test_show_create_db.py
  test/ci/cases.task
  test/mkdocs.yml
Owners: @taosdata/merge

add libsasl to taosd
  source/libs/transport/inc/transSasl.h
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix windows strerror_s
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(gpt): support tlcc
  source/libs/executor/src/imputationoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add libsasl to taosd
  source/libs/transport/inc/transSasl.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update symbolic links for libtaosws to support wildcard matching
  packaging/tools/install_client.sh
Owners: @feici02

case: merge test_insert_from_csv.py to test_write_import_cs.py
  test/cases/10-DataIngestion/04-Import/data/test.csv
  test/cases/10-DataIngestion/04-Import/data/test_insert_from_csv.csv
  test/cases/10-DataIngestion/04-Import/test_write_import_csv.py
  test/ci/cases.task
Owners: @taosdata/merge

enh(stream): fix trim block error
  include/common/tdatablock.h
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/mergejoinoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): fix trim block error
  include/common/tdatablock.h
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/mergejoinoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: db_encrypt error fixed
  test/ci/cases.task
Owners: @taosdata/merge

Add container name on docker tutorial
  docs/en/04-get-started/01-docker.md
  docs/zh/04-get-started/_03-docker.md
Owners: @guanshengliang, @zitsen

Commit improvement suggestions
  docs/en/04-get-started/01-docker.md
  docs/zh/04-get-started/_03-docker.md
Owners: @guanshengliang, @zitsen

fix: voltaile
  cmake/define.cmake
  source/client/src/clientMain.c
  source/libs/transport/src/transComm.c
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add voltaile defination
  cmake/define.cmake
  source/client/src/clientMain.c
  source/libs/transport/src/transComm.c
  source/util/src/tref.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: voltaile
  cmake/define.cmake
  source/client/src/clientEnv.c
  source/client/src/clientHb.c
  source/client/src/clientRawBlockWrite.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndSubscribe.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/libs/function/src/functionMgt.c
  source/libs/index/src/indexFstFile.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/qworker/src/qwDbg.c
  source/libs/scheduler/src/schUtil.c
  source/libs/stream/src/streamBackendRocksdb.c
  source/libs/stream/src/streamSnapshot.c
  source/libs/stream/src/streamTaskSm.c
  source/libs/sync/src/syncEnv.c
  source/libs/transport/src/thttp.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
  source/os/src/osFile.c
  source/os/src/osSocket.c
  source/os/src/osSysinfo.c
  source/util/src/tconv.c
  source/util/src/tgeosctx.c
  source/util/src/tlog.c
  source/util/src/tmempool.c
  source/util/src/ttimer.c
  source/util/src/tuuid.c
  tests/script/api/batchprepare.c
  tools/shell/src/shellCommand.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: compile errors
  source/os/src/osSysinfo.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: more
  source/util/src/tuuid.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: compile errors
  source/client/src/clientEnv.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: more
  source/client/src/clientTmq.c
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): trim block in stream
  source/common/src/tdatablock.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): trim block in stream
  source/common/src/tdatablock.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): set block data aligned
  include/common/tdatablock.h
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): [TS-7468] position is negative because overflow
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): [TS-7468] position is negative because overflow
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): set block data aligned
  include/common/tdatablock.h
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fetch msg from rows
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc: support zeroth_state param in state window
  docs/en/05-basic/03-query.md
  docs/en/06-advanced/03-stream.md
  docs/en/14-reference/03-taos-sql/20-select.md
  docs/en/14-reference/03-taos-sql/24-distinguished.md
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/05-basic/03-query.md
  docs/zh/06-advanced/03-stream.md
  docs/zh/14-reference/03-taos-sql/20-select.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

fix(stream): tsdbReader is null
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add alarm result print
  test/ci/tdengine_coveage_alarm.py
Owners: @taosdata/merge

docs: update roadmap
  docs/en/29-roadmap/index.md
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

add coverage result json
  test/ci/run_coverage_diff.sh
Owners: @taosdata/merge

docs: minor changes
  docs/en/29-roadmap/index.md
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

fix(stream): tsdbReader is null
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test_scalar_pow.py file rename
  test/ci/cases.task
Owners: @taosdata/merge

docs: minor changes
  docs/en/29-roadmap/index.md
Owners: @guanshengliang, @zitsen

fix: remove log
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: compile errors
  docs/zh/29-roadmap/index.md
Owners: @guanshengliang, @zitsen
