Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

case: add 10 scalar function and remove -Q2 -Q3 -Q4 -R repeat cases 500+
  test/cases/22-Functions/01-Scalar/test_fun_sca_abs.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_acos.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_asin.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_atan.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_ceil.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_cos.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_floor.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_log.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_round.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_sin.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_sqrt.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_tan.py
  test/ci/cases.task
Owners: @taosdata/merge

fix: case issue
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_state.py
Owners: @taosdata/merge

fix: case issues
  source/libs/new-stream/src/dataSinkMgr.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_session.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix pseudo col fetch for calc data
  source/libs/new-stream/src/streamTriggerMerger.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix ignore_nodata_trigger option for period trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rsma): monitor the retention task
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/vnode/src/inc/tsdbInt.h
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/vnd/vnodeRetention.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/src/parTranslater.c
  tools/shell/src/shellAuto.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: Extend checking time to avoid timeout.
  test/cases/41-StreamProcessing/30-OldPyCases/test_oldcase_checkpoint_info.py
Owners: @taosdata/merge

fix monitor case
  tests/system-test/0-others/taosdNewMonitor.py
Owners: @guanshengliang, @zitsen

fix: case issues
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_count_1.py
Owners: @taosdata/merge

fix: TS-7385-report-statusinterval
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix group col fetch for virtual tables
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: TS-7385-report-statusinterval-main
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tag is NULL for non vtable
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix sliding check of virtual table
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): check stream status after create all streams
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_tobacco.py
Owners: @taosdata/merge

feat(rsma): monitor the retention task
  include/common/tmsg.h
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndVgroup.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/src/inc/tsdbInt.h
  source/dnode/vnode/src/tsdb/tsdbFS2.c
  source/dnode/vnode/src/tsdb/tsdbMigrate.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(monitor): fix sysinfo cause nofiles exceed limit (#3302)
  explorer/server/src/monitor.rs
  src/serve/monitor.rs
Owners: @taosdata/merge

fix: add log
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add description for taosgen's tables_reuse_data parameter (#33043)
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

feat: support PROPHET algorithm in TDgpt (#32984)
  docs/zh/06-advanced/06-TDgpt/05-forecast/05-prophet.md
  tools/tdgpt/requirements.txt
  tools/tdgpt/taosanalytics/algo/fc/prophet.py
  tools/tdgpt/taosanalytics/test/forecast_test.py
  tools/tdgpt/taosanalytics/test/unit_test.py
Owners: @guanshengliang, @zitsen

feat(rsma): monitor the retention task
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndRetentionDetail.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  tools/shell/src/shellAuto.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix(stream): fix wal meta truncate when ignore disorder
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): gid not found for child table
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add debug log
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rsma): monitor the retention task
  source/dnode/mnode/impl/inc/mndRetentionDetail.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndRetentionDetail.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: fix place holder condition pushdown error.
  source/libs/scalar/src/filter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update logging level for null element check and remove unnecessary sleep
  tests/system-test/0-others/taosdNewMonitor.py
Owners: @guanshengliang, @zitsen

fix: handle invalid syncTimeout configuration by resetting to 0
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rsma): monitor the retention task
  source/common/src/systable.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: handle invalid syncTimeout configuration gracefully
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): suid not equal when delete data for child table
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rsma): monitor the retention task
  include/common/tglobal.h
  include/common/tmsgdef.h
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndRetention.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add debug log
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: id issue
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rsma): monitor the retention task
  include/util/taoserror.h
  source/dnode/mnode/impl/src/mndDb.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): disable recalc for count trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: cast result rowSize error in project
  source/libs/executor/src/projectoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: cast result rowSize error in project
  source/libs/executor/src/projectoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): add log for tsdb meta
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix gid in tsdb meta request
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
