Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

enh(stream): send multi group params in a single calc request
  include/common/streamMsg.h
  source/common/src/msg/streamMsg.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): set read info in the calc request
  include/common/streamMsg.h
  source/common/src/msg/streamMsg.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: support multiple group calc
  include/common/streamMsg.h
  include/common/tmsg.h
  source/common/src/msg/streamMsg.c
  source/common/src/msg/tmsg.c
  source/dnode/snode/src/snode.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/scanoperator.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/scheduler/src/schRemote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: minor changes
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

docs: minor changes
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

fix: SAST CHECK (void) and return 0 (#34628)
  source/client/src/clientMain.c
  tools/lastqps-test/taos_query_a_simple.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: subquery have limit invalid for show full options (#34629)
  test/cases/81-Tools/02-Taos/test_tool_taos_cli.py
  tools/shell/src/shellAuto.c
  tools/shell/src/shellEngine.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix: [6587137697] Forbid query ins_virtual_child_columns. (#34567)
  source/libs/parser/src/parTranslater.c
  test/cases/18-StreamProcessing/99-Others/random_stream.py
  test/cases/21-MetaData/test_meta_information_schema.py
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

doc: add doc for enableAdvancedSecurity (#34639)
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/03-taos-sql/60-user.md
Owners: @guanshengliang, @zitsen

fix: trim type clone missed issue
  source/libs/nodes/src/nodesCloneFuncs.c
  test/cases/11-Functions/resource/ans/trim.csv
  test/cases/11-Functions/resource/in/trim.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(tmq): support subscribe vtable in tmq
  include/common/tglobal.h
  source/client/src/clientRawBlockWrite.c
  source/common/src/tglobal.c
  source/dnode/vnode/src/meta/metaSnapshot.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_vtable.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_vtable.py
  utils/test/c/tmq_vtable.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(show-queries): backward compatible serialization for query progress
  include/common/tmsg.h
  include/libs/scheduler/scheduler.h
  source/client/src/clientHb.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/scheduler.c
  test/cases/23-ShowCommands/test_show_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: add taosBackup folder to proj
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

feat: add taosBackup to make install
  packaging/deb/makedeb.sh
  packaging/tools/make_install.sh
  packaging/tools/post.sh
Owners: @feici02

fix: multiple group calc issues
  include/common/streamMsg.h
  include/libs/nodes/querynodes.h
  source/common/src/msg/streamMsg.c
  source/common/src/tdatablock.c
  source/dnode/snode/src/snode.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/projectoperator.c
  source/libs/function/src/functionMgt.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/scalar/src/scalar.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: support external window project and indefRows
  include/common/streamMsg.h
  include/libs/executor/executor.h
  source/common/src/msg/streamMsg.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/new-stream/src/streamRunner.c
Owners: @guanshengliang, @hzcheng, @dapan1121

external window support partition
  include/libs/nodes/querynodes.h
  include/libs/planner/planner.h
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesTraverseFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parCalcConst.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taosdump): when binding data, do not provide table name
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

docs: update 3.4.0.9 release notes in office web
  cmake/version.cmake
  docs/en/28-releases/03-notes/3.4.0.9.md
  docs/zh/04-get-started/03-package.mdx
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
  docs/zh/28-releases/03-notes/3.4.0.9.md
Owners: @guanshengliang, @zitsen

external window support window
  include/libs/nodes/plannodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix test case
  test/cases/05-VirtualTables/test_vtable_query_comprehensive.py
Owners: @taosdata/merge

fix test case
  tests/test_new/case_list_docs/query/hint.md
Owners: @guanshengliang, @zitsen

support multi-group calculate.
  include/common/streamMsg.h
  include/libs/planner/planner.h
  source/common/src/msg/streamJson.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/inc/planInt.h
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Add two attributes in window node.
  include/libs/nodes/plannodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update 3.4.0.9 release notes in office web
  cmake/version.cmake
  docs/en/28-releases/03-notes/3.4.0.9.md
  docs/zh/04-get-started/03-package.mdx
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
  docs/zh/28-releases/03-notes/3.4.0.9.md
Owners: @guanshengliang, @zitsen

fix compile error
  source/libs/executor/src/sysscanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): cache group col values in trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): add more comment of batched multi-group calc-request
  include/common/streamMsg.h
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update 3.4.0.9 release notes in office web
  cmake/version.cmake
  docs/en/28-releases/03-notes/3.4.0.9.md
  docs/zh/04-get-started/03-package.mdx
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
  docs/zh/28-releases/03-notes/3.4.0.9.md
Owners: @guanshengliang, @zitsen

fix(tmq): error in case
  source/client/src/clientRawBlockWrite.c
  source/client/src/clientTmq.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

case: add cloud user test case
  test/cases/24-Users/test_user_cloud.py
Owners: @taosdata/merge

fix: external window multiple calc groups
  include/common/tcommon.h
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): case error in sometimes
  source/client/src/clientSml.c
  source/client/src/clientSmlJson.c
  source/client/src/clientTmq.c
  source/dnode/vnode/src/meta/metaSnapshot.c
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: reader processing
  include/common/tcommon.h
  source/common/src/msg/streamMsg.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: support external window orderd output
  include/libs/nodes/plannodes.h
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: support blob in cache read(last/last_row)
  source/common/src/tdatablock.c
  source/dnode/vnode/src/tsdb/tsdbCacheRead.c
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/tsdb/tsdbReadUtil.h
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add table list in reader
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: acquire vginfo
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add new attribute extWinSplit in window node.
  include/libs/nodes/plannodes.h
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: delete dbinfo lock
  include/libs/qcom/query.h
  source/libs/executor/inc/executil.h
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121
