Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat: enable stream notify support on windows (#34688)
  cmake/external.cmake
  include/util/tcurl.h
  source/common/CMakeLists.txt
  source/libs/new-stream/src/streamUtil.c
  source/util/src/tcurl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

build: release ver-3.3.8.20
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix: too many threads issue
  include/util/tworker.h
  source/util/src/tworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: remove cover data in memtable.
  source/dnode/vnode/src/tsdb/tsdbMemTable.c
  test/cases/07-DataDeletion/test_delete_secure_delete.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(tmq): fix case error
  source/dnode/vnode/src/meta/metaSnapshot.c
  utils/test/c/tmq_vtable.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix mac compilation
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix snode.c
  source/dnode/snode/src/snode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: test case
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @taosdata/merge

fix: return value checked at ci.
  source/dnode/vnode/src/tsdb/tsdbSecureErase.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update exclusion list for Windows CI compatibility and improve cleanup process
  test/ci/run_win_cases.py
  test/ci/win_ignore_cases
Owners: @taosdata/merge

test: add test_cases.task
  test/ci/test_cases.task
Owners: @taosdata/merge

feat: add Windows CI pipeline
  test/ci/run_win_cases.py
  test/ci/win.pipline
Owners: @taosdata/merge

fix: stream thread exit issue
  source/util/src/tworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(explorer-ui): always enable datain menu (#3657)
  explorer/src/layout/components/Sider/index.vue
Owners: @taosdata/merge

doc: do some updates.
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

fix(taosc): heartbeat msg
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(taosc): add switch for tmq in altering tag
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(explorer-ui): skip empty extract keys in column extraction (#3661)
  explorer/taos-ui/components/dataIn/components/commonTransformer/extractSplit.vue
Owners: @taosdata/merge

case: test_taosbackup_schema_change.py passed
  test/cases/81-Tools/06-TaosBackup/test_taosbackup_schema_change.py
  tools/taosBackup/inc/bckSchemaChange.h
  tools/taosBackup/src/bckSchemaChange.c
  tools/taosBackup/src/restoreData.c
  tools/taosBackup/src/restoreMeta.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix: reduce wait time in process_pytest_file function
  test/ci/run_win_cases.py
Owners: @taosdata/merge

fix(taosc): add switch for tmq in altering tag
  source/dnode/vnode/src/tq/tqRead.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  test/screenlog.0
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: ci test.
  test/cases/02-Databases/03-Alter/test_db_alter_database.py
  test/cases/02-Databases/04-Query/test_db_show_create_table.py
  test/cases/04-SuperTables/01-Create/test_stable_create_keep.py
  test/cases/05-VirtualTables/ans/test_vtable_show_create.ans
  test/cases/09-DataQuerying/11-PseudoColumn/test_query_pseudo_tbname.py
  test/cases/11-Functions/03-Selection/test_fun_select_last.py
  test/cases/23-ShowCommands/test_show_create_db.py
Owners: @taosdata/merge

merge main
  source/libs/planner/src/planPhysiCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: partition
  source/libs/executor/src/externalwindowoperator.c
  source/libs/planner/src/planLogicCreater.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

docs(pspace): taosx pspace docs #6653327869
  docs/en/06-advanced/05-data-in/22-pspace.md
  docs/en/assets/pspace-02.png
  docs/en/assets/pspace-03.png
  docs/en/assets/pspace-04.png
  docs/en/assets/pspace-05.png
  docs/en/assets/pspace-06.png
  docs/en/assets/pspace-07.png
  docs/zh/06-advanced/05-data-in/22-pspace.mdx
  docs/zh/06-advanced/05-data-in/pic/pspace-02.png
  docs/zh/06-advanced/05-data-in/pic/pspace-03.png
  docs/zh/06-advanced/05-data-in/pic/pspace-04.png
  docs/zh/06-advanced/05-data-in/pic/pspace-05.png
  docs/zh/06-advanced/05-data-in/pic/pspace-06.png
  docs/zh/06-advanced/05-data-in/pic/pspace-07.png
Owners: @guanshengliang, @zitsen

Update run.sh
  test/ci/run.sh
Owners: @taosdata/merge

fix: update Windows pipeline for Python 3.8 support and improve path handling
  test/ci/win.pipline
Owners: @taosdata/merge

Deployed 30c4ea4986 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataQuerying/SubQuery/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

merge 3.0
  source/libs/function/src/tudf.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(taosc): add switch for tmq in altering tag
  source/dnode/vnode/src/tq/tqRead.c
  test/screenlog.0
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(tmq): optimize alter tag for tmq
  test/screenlog.0
Owners: @taosdata/merge

docs: update interface description for connect method in Python connector
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/14-reference/05-connector/30-python.mdx
Owners: @guanshengliang, @zitsen

feat(taosd): implement phase1 repair CLI parsing and validation
  .gitignore
  AGENTS.md
  docs/data_repair/01-参数重构/findings.md
  docs/data_repair/01-参数重构/progress.md
  docs/data_repair/01-参数重构/task_plan.md
  source/dnode/mgmt/exe/dmMain.c
  test/cases/80-Components/01-Taosd/test_com_cmdline.py
Owners: @taosdata/merge, @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat(taosdump): delete the contents related to RESTful (#34667)
  docs/en/14-reference/02-tools/07-taos-cli.md
  docs/en/14-reference/02-tools/09-taosdump.md
  docs/zh/14-reference/02-tools/07-taos-cli.md
  docs/zh/14-reference/02-tools/09-taosdump.md
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

feat(tmq): modify docs
  docs/en/06-advanced/01-subscription/01-topic.md
  docs/en/14-reference/01-components/08-config-scope.md
  docs/en/14-reference/03-taos-sql/40-tmq.md
  docs/zh/14-reference/01-components/08-config-scope.md
Owners: @guanshengliang, @zitsen

add test case
  test/cases/05-VirtualTables/test_vtable_validate_referencing.py
Owners: @taosdata/merge

docs: add any/some key words in doc
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
Owners: @guanshengliang, @zitsen

fix: reclaim paged buffer temp file space on clear (#34664)
  source/util/src/tpagedbuf.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/6858855394-add-log-for-timer-stop (#34692)
  source/dnode/vnode/src/vnd/vnodeSync.c
  source/libs/sync/src/syncMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: privilege, error prompt and memory leak (#34675)
  include/libs/nodes/querynodes.h
  include/util/tpriv.h
  source/client/src/clientHb.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndConsumer.c
  source/dnode/mnode/impl/src/mndDb.c
  source/libs/catalog/src/catalog.c
  source/libs/catalog/src/ctgCache.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTranslater.c
  test/cases/24-Users/test_user_privilege_sysinfo.py
  test/cases/25-Privileges/test_priv_control.py
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
