Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix: compile problem
  source/libs/qcom/src/querymsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: check privilege for show stables
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndStb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Add void casts to function calls in mndUser.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix invalid log
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: TD-38169-save-password
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Add void casts to function calls in mndUser.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add status check on compatibility cases.
  test/new_test_framework/utils/compatibilityUtil.py
Owners: @taosdata/merge

fix: remove some code.
  test/new_test_framework/utils/compatibilityUtil.py
Owners: @taosdata/merge

make the output of 'leastsquares' consistent (#33101)
  source/libs/scalar/src/sclfunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix sliding trigger for ignore disorder option (#33116)
  source/libs/new-stream/src/streamTriggerMerger.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

test: check test case of windows
  source/dnode/mnode/impl/src/mndStb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: del test_spread.py from task
  test/ci/cases.task
Owners: @taosdata/merge

doc: fix error in doc.
  docs/zh/06-advanced/03-stream.md
Owners: @guanshengliang, @zitsen

fix: case test_sliding probability failture
  test/cases/41-StreamProcessing/03-TriggerMode/ans/test_stream_sliding_trigger.0-0-0-1-1.csv
  test/cases/41-StreamProcessing/03-TriggerMode/test_sliding.py
Owners: @taosdata/merge

fix: TD-38169-check-password-len
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(query): add high priority queries process queue in mnode to avoid normal queries blocking critical processing. (#33088)
  include/dnode/mnode/mnode.h
  include/libs/nodes/plannodes.h
  include/libs/planner/planner.h
  include/libs/qcom/query.h
  include/libs/qworker/qworker.h
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/inc/vmInt.h
  source/dnode/mgmt/mgmt_vnode/src/vmWorker.c
  source/dnode/mnode/impl/src/mndQuery.c
  source/dnode/qnode/src/qnode.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/planner/inc/planInt.h
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planScaleOut.c
  source/libs/qworker/src/qwMsg.c
  source/libs/qworker/src/qworker.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schRemote.c
  source/libs/scheduler/src/schTask.c
  source/libs/scheduler/src/schUtil.c
  source/libs/scheduler/test/schedulerTests.cpp
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: check privilege of show stables
  test/cases/60-Users/test_user_privilege_table.py
Owners: @taosdata/merge

docs: jdbc release 3.7.5 (#33107)
  docs/en/14-reference/05-connector/14-java.md
  docs/examples/java/src/main/java/com/taos/example/DruidDemo.java
  docs/examples/java/src/main/java/com/taos/example/HikariDemo.java
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

test: check privilege of show stables
  test/cases/23-Users/test_user_privilege_table.py
Owners: @taosdata/merge

add test txt
  test/37719.txt
Owners: @taosdata/merge

fix pre check
  source/dnode/mnode/impl/src/mndProfile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc: fix error in doc.
  docs/zh/06-advanced/03-stream.md
Owners: @guanshengliang, @zitsen

fix: order by col match priority
  source/libs/parser/src/parTranslater.c
  source/libs/parser/test/parSelectTest.cpp
  tests/system-test/2-query/orderBy.py
  tests/system-test/2-query/td-28068.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

test: submit select fun include cols/mode/tail/unique
  test/cases/22-Functions/03-Selection/test_fun_select_cols.py
  test/cases/22-Functions/03-Selection/test_fun_select_mode.py
  test/cases/22-Functions/03-Selection/test_fun_select_tail.py
  test/cases/22-Functions/03-Selection/test_fun_select_unique.py
  test/ci/cases.task
Owners: @taosdata/merge

enh: optimize event window parition by tbname performance (#33109)
  source/libs/planner/src/planSpliter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add newline at the end of new-framework-test.yml for consistency
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix: update workflow reference to use the correct branch for new framework tests
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix: add newline at the end of new-framework-test.yml for consistency
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix: memory leak
  source/libs/catalog/src/ctgRemote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: Fix external window condition.
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: exception case for show create rsma
  test/cases/43-RSMAs/test_rsma.py
Owners: @taosdata/merge

test: add sleep
  test/cases/uncatalog/system-test/7-tmq/test_subscribeDb1.py
Owners: @taosdata/merge

update tls test case
  test/cases/73-TLS/test_tls.py
Owners: @taosdata/merge

refactor(gpt): do some internal refactor. (#33123)
  docs/zh/06-advanced/03-stream.md
  include/common/tanalytics.h
  source/libs/executor/src/anomalywindowoperator.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: add newline at the end of new-framework-test.yml for consistency
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix: TD-38169-check-password-len
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add 755 to sh
  test/ci/run_coverage_container.sh
  test/ci/run_coverage_diff.sh
Owners: @taosdata/merge

fix: crash in migrate when vgroup has no fileset (#33120)
  source/dnode/vnode/src/tsdb/tsdbMigrate.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add test txt
  test/37719.txt
Owners: @taosdata/merge

fix: [TD-38020] fix mem leak. (#33131)
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/libs/executor/src/dataInserter.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121
