Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

doc: update detailed information about starting tsfm service.
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

Update docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

fix(rbac): drop non-existent table
  source/libs/catalog/src/ctgUtil.c
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(rbac): drop non-existent table
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @taosdata/merge

docs: update edge-cloud doc
  docs/en/06-advanced/04-edge.md
Owners: @guanshengliang, @zitsen

fix(rbac): drop non-existent table
  source/libs/catalog/src/ctgUtil.c
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix lint
  docs/en/06-advanced/04-edge.md
Owners: @guanshengliang, @zitsen

fix typos
  docs/en/06-advanced/04-edge.md
Owners: @guanshengliang, @zitsen

fix(release): update requirements file copy pattern to include all requirements
  tools/tdgpt/script/release.sh
Owners: @guanshengliang, @zitsen

fix(release): update script to copy install files without recursive flag
  tools/tdgpt/script/release.sh
Owners: @guanshengliang, @zitsen

Apply suggestion from @Copilot
  tools/tdgpt/script/release.sh
Owners: @guanshengliang, @zitsen

chore: apply suggestions from code review
  tools/tdgpt/script/release.sh
Owners: @guanshengliang, @zitsen

fix(release): update requirements file copy pattern to include all requirements (#34616)
  tools/tdgpt/script/release.sh
Owners: @guanshengliang, @zitsen

chore(xnoded): increase monitor and updater sleep interval to 60s (#3629)
  xnoded/src/tasks/monitor.rs
  xnoded/src/tasks/updater.rs
Owners: @taosdata/merge

build: release ver-3.4.0.9
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix: remove VStableWindow & VStableAgg from opt rules.
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update taosx agent doc (#34608)
  docs/en/14-reference/01-components/05-taosx-agent.md
Owners: @guanshengliang, @zitsen

docs: update edge-cloud doc (#34615)
  docs/en/06-advanced/04-edge.md
Owners: @guanshengliang, @zitsen

fix(taosdump): fix the issue of reading the length of strings in avro format
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

doc: enhance TSFM support and deployment documentation (#34609)
  docs/en/06-advanced/06-tdgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

fix(planner): disable project block merge in non-top-level subplans
  source/libs/planner/src/planPhysiCreater.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_project_merge_resblock.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(planner): disable project block merge in non-top-level subplans
  source/libs/planner/src/planPhysiCreater.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_project_merge_resblock.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(rbac): drop non-existent table (#34614)
  source/libs/catalog/src/ctgUtil.c
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(tmq): fix cases error in sometimes (#34599)
  source/client/src/clientTmq.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_transform_stb.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: destory
  source/client/src/clientMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 5f555f1b0a to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

enh(tmq): remove pHandle when registering new pHandle (#34586)
  source/client/src/clientTmq.c
  source/dnode/vnode/src/meta/metaQuery.c
  source/dnode/vnode/src/tq/tqPush.c
  source/libs/wal/src/walRead.c
  tests/system-test/7-tmq/tmqError.py
  tests/system-test/7-tmq/tmqVnodeTransform-stb.py
  tests/system-test/7-tmq/tmq_handler.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix(tmq): case error in sometimes
  source/client/src/clientTmq.c
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121

tests(ui): finish B1 permission test (#3632)
  docs/dev/UI_TEST_CASES_PLAN.md
  explorer/.gitignore
  explorer/playwright.config.ts
  explorer/server/tests/ui.rs
  explorer/tests/_utils/auth.ts
  explorer/tests/_utils/datain.ts
  explorer/tests/_utils/explorerSql.ts
  explorer/tests/demo.toml
  explorer/tests/global.setup.ts
  explorer/tests/task-creation.spec.ts
  explorer/tests/tmq-task.spec.ts
  explorer/tests/z-permission.spec.ts
Owners: @guanshengliang, @zitsen, @taosdata/merge

fix: build failed
  source/libs/executor/inc/executil.h
  source/libs/executor/src/cachescanoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: allow modify several root attributes (#2515)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

fix(build): use github tar instead of source code [ci skip]
  conan/fast-lzma2/conanfile.py
Owners: @taosdata/merge

fix(build): use github tar instead of source code [ci skip] (#34621)
  conan/fast-lzma2/conanfile.py
Owners: @taosdata/merge

tests(ui): finish B2 sider-routing tests (#3637)
  docs/dev/UI_TEST_CASES_PLAN.md
  explorer/tests/sider-routing.spec.ts
Owners: @guanshengliang, @zitsen, @taosdata/merge

doc: Update anode deployment requirements in tutorial
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
Owners: @guanshengliang, @zitsen

chore: revert lzma2 changes
  conan/fast-lzma2/conanfile.py
Owners: @taosdata/merge

fix(tmq): add test cases
  source/client/src/clientRawBlockWrite.c
  source/client/src/clientTmq.c
  source/dnode/vnode/src/tq/tq.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_bugs.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_vtable.py
  utils/CMakeLists.txt
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_vtable.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: code review
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: apply suggestions from code review
  cmake/conan.cmake
  conan/crashdump/conanfile.py
  conan/libdwarf/conanfile.py
  conan/pthread-win32/conanfile.py
  conan/wcwidth-cjk/conanfile.py
  conan/win-iconv/conanfile.py
  conanfile.py
Owners: @guanshengliang, @taosdata/merge

add option to enable advanced security
  cmake/define.cmake
  include/common/tglobal.h
  include/util/tdef.h
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parAstCreater.c
  test/cases/24-Users/test_user_basic.py
  test/cases/24-Users/test_user_manager.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge
