Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

test: add common test
  tools/keeper/api/common_test.go
Owners: @guanshengliang, @zitsen

fix: Support external window for subquery.
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: army/query/accuracy migrate ok
  test/cases/20-DataQuerying/09-Having/test_having_bugfix.py
  test/cases/24-TimeSeriesExt/03-TimeWindow/test_interval_bug_ts5400.py
  test/cases/uncatalog/army/query/accuracy/create_table_by_csv_0627_5.csv
  test/cases/uncatalog/army/query/accuracy/test_having.py
  test/cases/uncatalog/army/query/accuracy/test_query_accuracy.py
  test/cases/uncatalog/army/query/accuracy/test_ts5400.py
  test/ci/cases.task
Owners: @taosdata/merge

feat: add more log for monde fsync.
  include/libs/wal/wal.h
  source/libs/sync/src/syncRaftLog.c
  source/libs/wal/src/walWrite.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(explorer): fix masked telemetry report phone number (#3334)
  Cargo.lock
  explorer/server/Cargo.toml
  explorer/server/src/favorites.rs
  explorer/server/src/qid.rs
  explorer/src/views/0_login/index.vue
Owners: @taosdata/merge

chore: logical backup support v3.3.6.x (#3335)
  crates/taos-to-local/src/lib.rs
Owners: @taosdata/merge

fix(stream): block cols error in reader for new %%trows
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(docker): add netcat-openbsd to the base image dependencies
  packaging/docker/base/Dockerfile.base
Owners: @feici02

fix(docker): remove unnecessary variable expansion in LD_LIBRARY_PATH
  packaging/docker/Dockerfile-cd
Owners: @feici02

fix: update telemetryPort to '1080' and enhance ASAN options for error handling
  test/cases/uncatalog/system-test/0-others/test_telemetry.py
  test/new_test_framework/taostest/components/taosd.py
Owners: @taosdata/merge

fix: enhance ASAN options for better error handling in TaosD class
  test/new_test_framework/taostest/components/taosd.py
Owners: @taosdata/merge

enh: improve taosd process management on Windows and add ASAN support and update telemetry port to 1080 for consistency
  test/new_test_framework/taostest/components/taosd.py
  tests/system-test/0-others/telemetry.py
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix: [TD-38315] Add more test case with time range filter.
  test/cases/05-VirtualTables/ans/test_vctable_select_test_projection_timerange_filter.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_projection_timerange_filter.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_projection_timerange_filter.ans
  test/cases/05-VirtualTables/in/test_vctable_select_test_projection_timerange_filter.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_projection_timerange_filter.in
  test/cases/05-VirtualTables/in/test_vtable_select_test_projection_timerange_filter.in
  test/cases/05-VirtualTables/test_vtable_query.py
  test/cases/05-VirtualTables/test_vtable_query_cross_db.py
  test/cases/05-VirtualTables/test_vtable_query_cross_db_stb_project.py
Owners: @taosdata/merge

fix: [TD-38315] Fix virtual supertable scan wrong tsSlotId.
  source/libs/executor/src/virtualtablescanoperator.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_function.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_function.in
  test/cases/05-VirtualTables/test_vtable_query.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: [TD-38315] Add more test case with all null value from org table.
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/planner/src/planLogicCreater.c
  test/cases/05-VirtualTables/ans/test_vstable_select_test_function.ans
  test/cases/05-VirtualTables/in/test_vstable_select_test_function.in
  test/cases/05-VirtualTables/test_vtable_query_with_null_value.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

test: tidy up cases on main branch (#33317)
  test/cases/01-DataTypes/test_datatype_decimal2.py
  test/cases/02-Databases/03-Alter/test_db_alter_option.py
  test/cases/20-DataQuerying/01-Select/test_query_select_basic.py
  test/cases/20-DataQuerying/01-SelectList/test_selectlist_basic.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_cast.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_concat.py
  test/cases/22-Functions/01-Scalar/test_fun_sca_concat2.py
  test/cases/22-Functions/01-Scalar/test_scalar_cast.py
  test/cases/22-Functions/03-Selection/test_fun_select_last_row.py
  test/cases/41-StreamProcessing/30-OldPyCases/test_oldcase_interval.py
  test/cases/95-Tools/01-Check/test_check_error_code.py
  test/cases/95-Tools/01-Check/test_resinfo.py
  test/cases/uncatalog/army/query/function/function_basic.json
  test/cases/uncatalog/army/query/function/generate_answer.sh
  test/cases/uncatalog/army/query/function/interval.json
  test/cases/uncatalog/army/query/function/test_cast.py
  test/cases/uncatalog/army/query/function/test_concat.py
  test/cases/uncatalog/army/query/function/test_func_elapsed.py
  test/cases/uncatalog/army/query/function/test_func_paramnum.py
  test/cases/uncatalog/army/query/function/test_interp.py
  test/cases/uncatalog/army/query/function/test_interval_diff_tz.py
  test/cases/uncatalog/army/query/function/test_percentile.py
  test/cases/uncatalog/army/query/function/test_resinfo.py
  test/cases/uncatalog/army/query/function/test_selection_function_with_json.py
  test/cases/uncatalog/army/query/test_show.py
  test/cases/uncatalog/army/whole/test_check_error_code.py
  test/cases/uncatalog/system-test/0-others/test_show.py
  test/cases/uncatalog/system-test/2-query/test_concat2.py
  test/ci/cases.task
  test/ci/cases_win.task
  test/mkdocs.yml
Owners: @taosdata/merge

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

test: add gen_metric test
  tools/keeper/api/gen_metric.go
  tools/keeper/api/gen_metric_test.go
Owners: @guanshengliang, @zitsen

case: fill and having keyword submit. remove army/query/fill/
  test/cases/20-DataQuerying/09-Having/test_query_having.py
  test/cases/20-DataQuerying/09-Having/test_query_having_bugfix.py
  test/cases/24-TimeSeriesExt/02-Fill/test_ts_fill.py
  test/cases/uncatalog/army/query/fill/test_fill_compare_asc_desc.py
  test/cases/uncatalog/army/query/fill/test_fill_desc.py
  test/cases/uncatalog/army/query/fill/test_fill_null.py
  test/cases/uncatalog/army/query/test_having.py
  test/ci/cases.task
Owners: @taosdata/merge

test: add command test
  tools/keeper/cmd/command_test.go
Owners: @guanshengliang, @zitsen

fix: Support external window for subquery. (#33320)
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

ix(stream): set completed for fetch msg
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add connector test
  tools/keeper/db/connector_test.go
Owners: @guanshengliang, @zitsen

enh: add extra time range condition when using %%trows.
  include/libs/planner/planner.h
  include/util/taoserror.h
  source/libs/parser/inc/parUtil.h
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): [TS-7468] position is negative because overflow (#33304)
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): [TS-7468] position is negative because overflow (#33305)
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: serialize fetch req
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add log test
  tools/keeper/infrastructure/log/log.go
  tools/keeper/infrastructure/log/log_test.go
Owners: @guanshengliang, @zitsen

test: support multi vm run CI
  test/ci/run.sh
Owners: @taosdata/merge

test: add web test
  tools/keeper/infrastructure/log/web_test.go
Owners: @guanshengliang, @zitsen

test: add builder test
  tools/keeper/process/builder_test.go
Owners: @guanshengliang, @zitsen

enh(stream): fix trim block error (#33299)
  include/common/tdatablock.h
  source/common/src/tdatablock.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): reset tableScan operator (#33225)
  include/libs/executor/executor.h
  include/libs/executor/storageapi.h
  source/common/src/tdatablock.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeApi.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/operator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/41-StreamProcessing/01-Snode/test_snode_mgmt_replica3.py
  test/cases/41-StreamProcessing/04-Options/test_meta_change_table.py
  test/cases/41-StreamProcessing/04-Options/test_meta_change_vtable.py
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_manager.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: use trans to alter global config.
  source/dnode/mnode/impl/src/mndConfig.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed fff8f5f975 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix: [TD-38315] virtual supertable scan wrong tsSlotId. (#33288)
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/planner/src/planLogicCreater.c
  test/cases/05-VirtualTables/ans/test_vctable_select_test_projection_timerange_filter.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_function.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_projection_timerange_filter.ans
  test/cases/05-VirtualTables/ans/test_vtable_select_test_projection_timerange_filter.ans
  test/cases/05-VirtualTables/in/test_vctable_select_test_projection_timerange_filter.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_function.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_projection_timerange_filter.in
  test/cases/05-VirtualTables/in/test_vtable_select_test_projection_timerange_filter.in
  test/cases/05-VirtualTables/test_vtable_query.py
  test/cases/05-VirtualTables/test_vtable_query_cross_db.py
  test/cases/05-VirtualTables/test_vtable_query_cross_db_stb_project.py
  test/cases/05-VirtualTables/test_vtable_query_with_null_value.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 5efb5418e3 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/VirtualTables/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

test: add handle test
  tools/keeper/process/handle.go
  tools/keeper/process/handle_test.go
Owners: @guanshengliang, @zitsen

restore test_ins_stables.py and del army/query/sys/
  test/cases/20-DataQuerying/08-SubQuery/test_query_sub.py
  test/cases/20-DataQuerying/08-SubQuery/test_query_sub_bugs.py
  test/cases/20-DataQuerying/08-SubQuery/test_query_sub_lastrow.py
  test/cases/20-DataQuerying/09-Having/test_query_having_bugs.py
  test/cases/50-Meta/test_ddl_in_sysdb.py
  test/cases/50-Meta/test_ins_tables.py
  test/cases/50-Meta/test_meta_bugs.py
  test/cases/50-Meta/test_meta_sysdb.py
  test/cases/uncatalog/army/query/sys/test_tb_perf_queries_exist.py
  test/ci/cases.task
Owners: @taosdata/merge

fix: join error msg and placeholder primary key issue
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121
