Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

chore: add test case
  test/cases/32-Grants/test_grant_basic.py
  test/ci/cases.task
Owners: @taosdata/merge

wip
  source/dnode/mnode/impl/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix reader type condition
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/mnode/impl/src/mndStreamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor code
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

wip
  source/dnode/mnode/impl/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor code
  source/client/src/clientMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: refact test_grant_basic.py
  test/cases/32-Grants/test_grant_basic.py
Owners: @taosdata/merge

test: update os-env coverage
  source/os/test/osEnvTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: introduce enableGrantLegacySyntax to control grant/revoke syntax compatibility with 3.3
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
  include/common/tglobal.h
  source/common/src/tglobal.c
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

feat/6641435300-save-audit-in-self (#34738)
  docs/en/08-operation/16-security.md
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/09-error-code.md
  docs/zh/08-operation/16-security.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/09-error-code.md
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/taoserror.h
  include/util/tdef.h
  include/util/tjson.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndStb.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/util/src/terror.c
  source/util/src/tjson.c
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
  test/cases/80-Components/01-Taosd/test_com_taosd_self_audit.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

feat/6641435300-save-audit-in-self (#2521)
  enterprise/src/plugins/audit/src/audit.c
Owners: @taosdata/merge

Deployed 80c8c432e4 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/Components/Taosd/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

refactor task id formula
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: introduce enableGrantLegacySyntax to control grant/revoke syntax compatibility with 3.3
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
  source/common/src/tglobal.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix ai review issues
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/libs/executor/src/executil.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 024512ca95 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/Components/Taosd/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

feat: support tsdb repair fileid wildcard targets
  docs/en/08-operation/04-maintenance.md
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/08-operation/05-maintenance.md
  docs/zh/14-reference/01-components/01-taosd.md
  source/dnode/mgmt/exe/dmMain.c
  test/cases/80-Components/01-Taosd/test_com_cmdline.py
  test/cases/80-Components/01-Taosd/test_tsdb_force_repair_core_e2e.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix: tag ref
  include/util/taoserror.h
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/util/src/terror.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/basic_query.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/basic_query1.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/partition_by_group_regression.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/basic_query.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/basic_query1.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/partition_by_group_regression.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: support alter last cache's shard nums.
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/tlrucache.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbCache.c
  source/dnode/vnode/src/vnd/vnodeCfg.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/util/src/tlrucache.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: apply suggestions from code review
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
Owners: @guanshengliang, @zitsen

wip
  source/dnode/mnode/impl/CMakeLists.txt
  source/dnode/mnode/impl/test/xnode/CMakeLists.txt
  source/libs/new-stream/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

test: update os-file coverage
  source/os/test/osFileTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: introduce enableGrantLegacySyntax for grant/revoke syntax compatibility[manual only] (#34768)
  docs/en/14-reference/01-components/01-taosd.md
  docs/en/14-reference/03-taos-sql/61-grant.md
  docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/03-taos-sql/61-grant.md
  include/common/tglobal.h
  source/common/src/tglobal.c
  test/cases/25-Privileges/test_priv_rbac.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

enh: introduce enableGrantLegacySyntax to control grant/revoke syntax compatibility with 3.3 (#2524)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

Deployed f06a60959d to main with MkDocs 1.6.1 and mike 2.1.4
  main/sitemap.xml.gz
Owners: @taosdata/merge

Merge remote-tracking branch 'origin/3.0' into feat/addShowQuery
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: timeseries calculation excluding system tables
  test/cases/32-Grants/test_grant_basic.py
Owners: @taosdata/merge

chore: fix ci problem
  test/cases/32-Grants/test_grant_basic.py
  test/cases/uncatalog/system-test/0-others/test_grant.py
  test/ci/cases.task
Owners: @taosdata/merge

chore: fix ci problem
  test/cases/32-Grants/test_grant_basic.py
Owners: @taosdata/merge

enh: timeseries calculation excluding system tables
  source/dnode/vnode/src/vnd/vnodeQuery.c
  tests/system-test/0-others/grant.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

refactor: optimize regexCreate function by storing string length in a variable
  source/libs/index/src/indexFstRegex.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: change loop variable type to int32_t for consistency in regexCreate function
  source/libs/index/src/indexFstRegex.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: merge align
  source/libs/executor/src/externalwindowoperator.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/partition_by_group_regression.ans
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: timeseries calculation excluding system tables
  tests/system-test/0-others/grant.py
Owners: @guanshengliang, @zitsen

test: enhance database readiness check in force repair tests
  test/cases/80-Components/01-Taosd/test_tsdb_force_repair_base.py
  test/cases/80-Components/01-Taosd/test_tsdb_force_repair_core_e2e.py
  test/cases/80-Components/01-Taosd/test_tsdb_force_repair_stt_e2e.py
Owners: @taosdata/merge

feat(stream/subquery/in): support in with stream subquery
  source/dnode/snode/src/snode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: timeseries calculation excluding system tables
  tests/system-test/0-others/grant.py
Owners: @guanshengliang, @zitsen

impl explain doc(zh)
  docs/zh/14-reference/03-taos-sql/28-explain.md
Owners: @guanshengliang, @zitsen

generate explain doc(en)
  docs/en/14-reference/03-taos-sql/28-explain.md
  docs/zh/14-reference/03-taos-sql/28-explain.md
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
