Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix: enhance task preparation and execution in run.sh for better priority handling
  tests/parallel_test/run.sh
Owners: @guanshengliang, @zitsen

fix: compile error (#33938)
  source/common/src/tglobal.c
  source/libs/transport/src/trans.c
  source/libs/transport/src/transTLS.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: add nested query and explain cases
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub4.py
Owners: @taosdata/merge

chore: Fix the TDengine image name in the deployment document
  docs/en/08-operation/03-deployment/02-docker.md
  docs/zh/08-operation/04-deployment.md
Owners: @guanshengliang, @zitsen

fix: remove log for debug issue.
  source/dnode/vnode/src/tsdb/tsdbCache.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: test_write_null_none.py reduce 135s->102s = 33s
  test/cases/06-DataIngestion/01-SQL/test_write_null_none.py
Owners: @taosdata/merge

cases: test_query_groupby_bugs.py fix call fun
  test/cases/09-DataQuerying/03-GroupBy/test_query_groupby_bugs.py
Owners: @taosdata/merge

enh: support specify grant items during packaging (#2435)
  enterprise/cmake/enterprise_defines.cmake
  enterprise/src/plugins/grant/inc/machine.h
  enterprise/src/plugins/grant/src/grantMain.c
Owners: @taosdata/merge

test: move decimal_core_test from tests to test.
  test/cases/06-DataIngestion/05-Others/decimal_core_test.py
Owners: @taosdata/merge

fix: compat of mountVgId and keepVersion when decode vgroup (#33933)
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: compat of mountVgId and keepVersion when decode vgroup (#33932)
  source/dnode/mnode/impl/src/mndRsma.c
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: crash occurs occasionally for decimal-type data with NULL values when caching is enabled (#33919)
  source/dnode/vnode/src/tsdb/tsdbCache.c
  test/cases/06-DataIngestion/05-Others/decimal_core_test.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(tmq): pSw is null if get raw data
  include/common/tmsg.h
  source/client/src/clientTmq.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndConsumer.c
  source/dnode/vnode/src/tq/tqUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: test_query_groupby_bugs.py init_class
  test/cases/09-DataQuerying/03-GroupBy/test_query_groupby_bugs.py
Owners: @taosdata/merge

fix: test_performace_schema.py perf_trans maybe not zero rows
  test/cases/22-PerformanceData/test_performance_schema.py
Owners: @taosdata/merge

sm4: fix heap buffer overflow (#33928)
  source/libs/scalar/src/sclfunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

taos_connect_is_alive
  source/client/src/clientMain.c
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
  source/client/wrapper/src/wrapperVariable.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

fix(tmq): pSw is null if get raw data
  source/client/src/clientTmq.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/6590717112-fix-performance-schema-test
  test/cases/22-PerformanceData/test_performance_schema.py
Owners: @taosdata/merge

enh: add to terrorMsg for some client error print (#33939)
  source/client/src/clientEnv.c
  source/client/src/clientMain.c
  source/util/src/tlog.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: streamline normal task preparation in run.sh by combining grep patterns
  tests/parallel_test/run.sh
Owners: @guanshengliang, @zitsen

fix: implement task-specific locking in run_thread function to prevent race conditions
  tests/parallel_test/run.sh
Owners: @guanshengliang, @zitsen

feat: support taos_connect_with
  include/client/taos.h
  source/client/src/clientMain.c
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
  source/client/wrapper/src/wrapperVariable.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

update session control
  source/client/src/clientImpl.c
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

taosc/crypto: use heap for tmp token buffer instead of stack space
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): alter user role
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @hzcheng, @dapan1121

not compile sasl on community
  cmake/external.cmake
  source/libs/transport/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memory leak issue
  include/libs/nodes/nodes.h
  include/libs/nodes/plannodes.h
  source/common/src/msg/tmsg.c
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/querytask.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parCalcConst.c
  source/libs/planner/src/planner.c
  source/libs/qworker/src/qworker.c
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schStatus.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: encrypt data with key from taosk.
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/sdb/src/sdbFile.c
  source/dnode/vnode/src/vnd/vnodeCfg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat[TS-7233]: audit (#2420)
  enterprise/src/plugins/audit/src/audit.c
  enterprise/src/plugins/mnode/src/mndDb.c
  enterprise/src/plugins/mnode/src/mndDnode.c
  enterprise/src/plugins/mnode/src/mndVgroup.c
  enterprise/src/plugins/view/src/mndView.c
Owners: @taosdata/merge

Deployed 55f5bc0dd2 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix stmt2 ut core and error
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix stmt2 ut core and error
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): alter user role
  include/libs/qcom/query.h
  include/util/taoserror.h
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix crash on windwos/macos
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update session control
  source/client/inc/clientInt.h
  source/client/inc/clientSession.h
  source/client/src/clientEnv.c
  source/client/src/clientImpl.c
  source/client/src/clientSession.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): alter user role
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndRole.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stream crash issue
  source/libs/nodes/src/nodesCodeFuncs.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge
