Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

Update docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
Owners: @guanshengliang, @zitsen

docs: update pkglist
  docs/en/04-get-started/03-package.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
  docs/en/assets/resources/_macos_install.mdx
  docs/en/assets/resources/_windows_install.mdx
Owners: @guanshengliang, @zitsen

docs: use default version
  docs/en/04-get-started/03-package.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
  docs/en/assets/resources/_macos_install.mdx
  docs/en/assets/resources/_windows_install.mdx
Owners: @guanshengliang, @zitsen

docs: use default version
  docs/en/04-get-started/03-package.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
  docs/en/assets/resources/_macos_install.mdx
  docs/en/assets/resources/_windows_install.mdx
Owners: @guanshengliang, @zitsen

fix(udf/memleak): new & free log for udf
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: submit local run test with days new
  test/cases/24-Users/test_user_manager_localrun.py
Owners: @taosdata/merge

Adjust virtual table's max ref table num. (#34284)
  source/dnode/vnode/src/meta/metaTable.c
  test/cases/05-VirtualTables/test_vtable_max_column_num.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 4f3d048670 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

feat(explorer): add disk_info results in database info page (#3522)
  explorer/src/api/database.ts
Owners: @taosdata/merge

fix: string in compare issue
  source/libs/scalar/src/scalar.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update 338 pkglist (#34297)
  docs/en/04-get-started/03-package.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
  docs/en/assets/resources/_macos_install.mdx
  docs/en/assets/resources/_windows_install.mdx
Owners: @guanshengliang, @zitsen

docs: update 336 pkglist (#34289)
  docs/en/04-get-started/03-package.md
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/assets/resources/_linux_install.mdx
  docs/en/assets/resources/_macos_install.mdx
  docs/en/assets/resources/_windows_install.mdx
Owners: @guanshengliang, @zitsen

fix: [6688991144] Push down time range condition. (#34282)
  source/libs/planner/src/planOptimizer.c
  test/cases/05-VirtualTables/ans/test_vtable_plan_pushdown_timerange.ans
  test/cases/05-VirtualTables/in/test_vtable_plan_pushdown_timerange.in
  test/cases/05-VirtualTables/test_vtable_plan_pushdown_timerange.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): align version between tablelist and submit to avoid Invalid parameters if deleting table (#34269)
  source/client/src/clientMonitor.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/02-Stream/stream_drop_table.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(case): case error in sometimes
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
  test/new_test_framework/utils/tmqUtil.py
  utils/test/c/tmqSim.c
Owners: @taosdata/merge, @guanshengliang

fix(case): case error in sometimes
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
  test/new_test_framework/utils/tmqUtil.py
  utils/test/c/tmqSim.c
Owners: @taosdata/merge, @guanshengliang

fix review
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: migrate mnode for encrypt.
  include/dnode/mnode/mnode.h
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmFile.c
  source/dnode/mnode/impl/inc/mndInt.h
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/sdb/inc/sdb.h
  source/dnode/mnode/sdb/src/sdb.c
  source/dnode/mnode/sdb/src/sdbFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(docs): improve space handling after emphasis markers in markdown rules
  docs/custom-rules/space-after-punctuation-in-emphasis.js
Owners: @guanshengliang, @zitsen

fix/6696481594-remove-more-log
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix/6696481594-remove-more-log-main
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

dmchen/self-audit-115
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgcb.h
  include/common/tmsgdef.h
  include/libs/audit/audit.h
  include/util/taoserror.h
  include/util/tjson.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmWorker.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndStb.h
  source/dnode/mnode/impl/src/mndArbGroup.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/audit/inc/auditInt.h
  source/libs/audit/src/auditMain.c
  source/util/src/terror.c
  source/util/src/tjson.c
  test/cases/80-Components/01-Taosd/test_com_taosd_self_audit.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: decimal type mode issue
  source/libs/scalar/src/scalar.c
  test/cases/01-DataTypes/test_datatype_decimal.py
  test/cases/04-SuperTables/04-Query/test_stable_query_from_dnodes.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: some build errors.
  source/dnode/mnode/impl/CMakeLists.txt
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/test/sdb/CMakeLists.txt
  source/dnode/mnode/impl/test/sdb/sdbTest.cpp
  source/dnode/mnode/sdb/inc/sdb.h
  source/dnode/mnode/sdb/src/sdbFile.c
  source/dnode/vnode/test/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: improve space handling after punctuation in emphasis markers
  docs/custom-rules/space-after-punctuation-in-emphasis.js
Owners: @guanshengliang, @zitsen

fix: stmt varchar type leak (#34265)
  source/client/test/stmt2Test.cpp
  source/libs/parser/inc/parInsertUtil.h
  source/libs/parser/src/parInsertSml.c
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: restore hash capacity calc
  source/util/src/tsimplehash.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.1.csv
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: remove redundant decoding checks in tDeserializeSStatusReq
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(docs): refactor space handling logic for emphasis markers in markdown rules
  docs/custom-rules/space-after-punctuation-in-emphasis.js
Owners: @guanshengliang, @zitsen

fix: refactor space handling logic for emphasis markers after punctuation
  docs/custom-rules/space-after-punctuation-in-emphasis.js
Owners: @guanshengliang, @zitsen

feat(source): add datasource type: parquet (#3520)
  Cargo.lock
  Cargo.toml
  crates/source-csv/src/lib.rs
  crates/source-kafka/src/lib.rs
  crates/source-orc/src/lib.rs
  crates/source-parquet/.gitignore
  crates/source-parquet/Cargo.toml
  crates/source-parquet/README.md
  crates/source-parquet/src/config.rs
  crates/source-parquet/src/lib.rs
  crates/source-parquet/tests/integration_test.rs
  crates/source-pulsar/src/lib.rs
  crates/taoslog/src/utils.rs
  crates/task/Cargo.toml
  crates/task/src/lib.rs
  taosx-core/src/plugins/sink/flat.rs
  taosx-core/src/plugins/sink/mod.rs
  taosx-core/src/utils/license.rs
Owners: @taosdata/merge

fix: null type compare function issue
  source/libs/scalar/src/filter.c
  source/libs/scalar/src/sclvector.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix memleak
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(client): null pointer error
  source/client/src/clientEnv.c
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

use memory-safe func
  source/common/src/tpriv.c
  source/common/src/ttime.c
  source/libs/command/src/command.c
  source/libs/parser/src/parAstCreater.c
  source/util/src/tjson.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(keeper): simplify TestConnectorWithSpecialChars by removing unnecessary loops and using a fixed password
  tools/keeper/db/connector_test.go
Owners: @guanshengliang, @zitsen

opt rate limit
  source/libs/rate_limit/inc/rateLimitMgr.h
  source/libs/rate_limit/src/rateLimitMgr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tests): simplify TestConnectorWithSpecialChars by removing unnecessary loops and using a fixed password
  tools/keeper/db/connector_test.go
Owners: @guanshengliang, @zitsen

fix(case): case error in sometimes (#34270)
  source/client/src/clientTmq.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/tmqUtil.py
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(case): case error in sometimes (#34238)
  source/client/src/clientTmq.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
  test/new_test_framework/utils/common.py
  test/new_test_framework/utils/tmqUtil.py
  utils/test/c/tmqSim.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge
