Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

cases: tbname 4 -> 1 53s->30s
  test/cases/09-DataQuerying/03-GroupBy/test_query_groupby_basic.py
  test/cases/09-DataQuerying/11-PseudoColumn/test_query_pseudo_tbname.py
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_basic.py
  test/cases/uncatalog/system-test/2-query/test_project_group.py
  test/cases/uncatalog/system-test/2-query/test_tbname.py
  test/cases/uncatalog/system-test/2-query/test_tbnameIn.py
  test/cases/uncatalog/system-test/2-query/test_tbname_vgroup.py
  test/ci/cases.task
Owners: @taosdata/merge

feat/TS-7270-encrypt-algr (#2416)
  enterprise/src/plugins/crypt/cryptImpl.c
  enterprise/src/plugins/mnode/src/mndMount.c
Owners: @taosdata/merge

fix(pi/pibackfill): rename datasets field to model (#3452)
  crates/source-pi/src/lib.rs
  explorer/taos-ui/components/dataIn/config/en/03-pi.ts
  explorer/taos-ui/components/dataIn/config/en/04-pibackfill.ts
  explorer/taos-ui/components/dataIn/config/zh/03-pi.ts
  explorer/taos-ui/components/dataIn/config/zh/04-pibackfill.ts
  taosx-core/src/plugins/runners/pi/mod.rs
  taosx-core/src/plugins/sink/lush.rs
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

feat(rbac): add macro MND_SHOW_CHECK_OBJ_PRIVILEGE_ALL
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndFunc.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndScan.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

vtb/scan: vtb scan filter with dyn ctrl
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/virtualtablescanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: improve service installation logic and update legacy compatibility notes
  packaging/tools/install.sh
Owners: @feici02

fix: ci failed remove tbname old case from task
  test/ci/cases.task
Owners: @taosdata/merge

fix: bad free at tsdbIter.c.
  source/dnode/vnode/src/tsdb/tsdbIter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support reload tls/ssl config
  source/libs/transport/CMakeLists.txt
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: sql.py checkDataMem replace with checkDataMemLoop
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_manager.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_meters.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_vehicle.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

feat(rbac): privilege check for function create/drop/show
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndFunc.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndScan.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): privilege check for mount/role/nodes create/drop/show
  source/common/src/tpriv.c
  source/libs/parser/src/parAstParser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat/TS-7270-internal-dep
  source/dnode/mgmt/exe/dmMain.c
  source/dnode/mgmt/node_mgmt/src/dmEnv.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/libs/crypt/src/crypt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

complete xnode task feature
  include/dnode/xnode/xnode.h
  include/util/taoserror.h
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndXnode.h
  source/dnode/mnode/impl/src/mndSync.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/xnode/src/xnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: the issue that query processes get stuck when both dbname and tbname are set to ? in query statements executed via stmt2 (#33864)
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: the issue that query processes get stuck when both dbname and tbname are set to ? in query statements executed via stmt2 #33859
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix true for check for window open event in trigger
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_meters.py
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_window_true_for.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

doc(stream): add keywords introduced by new version stream
  docs/en/14-reference/03-taos-sql/24-distinguished.md
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
Owners: @guanshengliang, @zitsen

test: fix idmp case with checkDataMemLoop checked (#33862)
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_manager.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_meters.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_vehicle.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

Deployed ea2e280e14 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
  3.0/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

fix: stream primary key issue
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: aggregate requirement check issue
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: join error msg and placeholder primary key issue
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: Support stream query without from.
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/scalar/src/scalar.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: Support stream query without from.
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): privileges check for node mgmt, show roles/users/grants/privileges
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix:skip unit tests during compilation (#2423)
  .github/workflows/tdinternal-ci-build.yml
Owners: @feici02

fix: taosd exist while lversion equal rversion.
  source/dnode/vnode/src/tsdb/tsdbUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat:migrate test_hint.py test_stbjoin.py migrate ok
  test/cases/09-DataQuerying/04-OrderBy/test_order_by_select_list.py
  test/cases/09-DataQuerying/04-OrderBy/test_orderby_basic.py
  test/cases/14-JoinQueries/test_join.py
  test/cases/uncatalog/system-test/2-query/test_hint.py
  test/cases/uncatalog/system-test/2-query/test_stbJoin.py
  test/cases/uncatalog/system-test/2-query/test_tms_memleak.py
  test/ci/cases.task
Owners: @taosdata/merge

bugfix: insert into stb subquery vnode is closed error
  source/libs/executor/src/dataInserter.c
  test/cases/06-DataIngestion/01-SQL/test_write_insert_select.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: add result status for test execution
  scripts/run.sh
Owners: @taosdata/merge

fix vtb uid updating
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/virtualtablescanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update cmake para
  cmake/external.cmake
Owners: @guanshengliang

fix review comments
  source/libs/executor/src/dynqueryctrloperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): reviewd by gemini
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix true for check for window open event in trigger (#33861)
  docs/en/14-reference/03-taos-sql/24-distinguished.md
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_meters.py
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_window_true_for.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed 7091885952 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

update cmake para
  cmake/external.cmake
Owners: @guanshengliang
