Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat(taosdump): optimize the loop condition
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

Merge remote-tracking branch 'origin/feat/ts-7231' into enh/supportSasl
  source/client/inc/clientSession.h
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/client/src/clientSession.c
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update nodejs docs
  docs/en/14-reference/05-connector/35-node.md
  docs/zh/14-reference/05-connector/35-node.mdx
Owners: @guanshengliang, @zitsen

docs: Revise Docker guide for TDengine TSDB-Enterprise
  docs/zh/04-get-started/01-docker.mdx
Owners: @guanshengliang, @zitsen

add test
  include/common/tglobal.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  source/client/src/clientImpl.c
  source/client/src/clientSml.c
  source/common/src/tglobal.c
  test/cases/30-NameLimits/test_boundary.py
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

enh: improve case preparation and file transfer logic in run.sh
  tests/parallel_test/cases.task
  tests/parallel_test/run.sh
Owners: @guanshengliang, @zitsen

enh: support uncorrelated scalar subquery
  include/libs/nodes/querynodes.h
  include/util/taoserror.h
  source/libs/parser/inc/parTranslater.h
  source/libs/parser/inc/sql.y
  source/libs/parser/inc/sql.y.bak
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parCalcConst.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: window with subquery
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: add alarm U1 scene and restore db1 and db2
  tools/tsbs-tdengine/resource/config/alarm.sql
  tools/tsbs-tdengine/resource/config/alarm.yaml
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/diagnostics.sql
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.sql
  tools/tsbs-tdengine/resource/config/readings.yaml
  tools/tsbs-tdengine/resource/data/alarm.taosx.json
Owners: @guanshengliang, @zitsen

enh: update system-test cases to include priority for sysinfo.py and grant.py
  tests/parallel_test/cases.task
Owners: @guanshengliang, @zitsen

fix: correct syntax in Dockerfile and entrypoint script for better readability and consistency
  packaging/docker/DockerfileTDgpt
  packaging/docker/entrypoint.sh
Owners: @feici02

fix: improve logging messages and streamline model startup checks in entrypoint script
  packaging/docker/entrypoint.sh
Owners: @feici02

enh: update system-test cases to include missing priority for manually-test script
  tests/parallel_test/cases.task
Owners: @guanshengliang, @zitsen

fix(local_to_taos): restore logic data files #TD-38589 (#3406)
  Cargo.lock
  crates/local-to-taos/src/t2l.rs
  crates/taos-to-local/Cargo.toml
  crates/taos-to-local/src/config.rs
  crates/taos-to-local/src/lib.rs
  crates/taos-to-local/src/meta.rs
  crates/taos-to-local/src/worker.rs
  crates/tmq-to-local/src/lib.rs
  taosx-core/src/utils/mod.rs
  tests/td2local.rs
Owners: @taosdata/merge, @guanshengliang, @zitsen

refactor: flat/point write mode refactor (#3412)
  Cargo.lock
  crates/archive/src/consumer.rs
  crates/archive/src/lib.rs
  crates/source-kinghistorian/Cargo.toml
  crates/source-kinghistorian/src/config.rs
  crates/source-kinghistorian/src/csv.rs
  crates/source-kinghistorian/src/lib.rs
  crates/source-pi/src/lib.rs
  explorer/.gitignore
  src/serve/rpc/put.rs
  taosx-core/src/plugins/mod.rs
  taosx-core/src/plugins/runners/opc/config/mod.rs
  taosx-core/src/plugins/sink/flat.rs
  taosx-core/src/plugins/sink/ipc_pipeline.rs
  taosx-core/src/plugins/sink/ipc_transport.rs
  taosx-core/src/plugins/sink/lush.rs
  taosx-core/src/plugins/sink/mod.rs
  taosx-core/src/plugins/sink/point/csv.rs
  taosx-core/src/plugins/transform/mod.rs
Owners: @taosdata/merge

fix CI
  test/cases/30-NameLimits/test_boundary.py
Owners: @taosdata/merge

fix: isPrimaryKey in subquery
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update nodejs docs (#33707)
  docs/en/14-reference/05-connector/35-node.md
  docs/zh/14-reference/05-connector/35-node.mdx
Owners: @guanshengliang, @zitsen

feat: scene U1 with full fields streams
  tools/tsbs-tdengine/resource/config/alarm.yaml
  tools/tsbs-tdengine/resource/config/cases.yaml
Owners: @guanshengliang, @zitsen

feat(opentsdb): support tableNamePattern #TS-7583 (#3411)
  crates/source-opentsdb/src/config.rs
  crates/source-opentsdb/src/lib.rs
  explorer/taos-ui/components/dataIn/config/en/08-opentsdb.ts
  explorer/taos-ui/components/dataIn/config/zh/08-opentsdb.ts
  plugins/opentsdb/src/main/java/com/taosdata/PreLoading.java
  plugins/opentsdb/src/main/java/com/taosdata/config/TaskConfig.java
  plugins/opentsdb/src/main/java/com/taosdata/threads/PushPrepareThread.java
  plugins/opentsdb/src/main/java/com/taosdata/utils/TableNameUtils.java
  plugins/opentsdb/src/main/resources/application.yml
  plugins/opentsdb/src/test/java/com/taosdata/utils/TableNameUtilsExample.java
  plugins/opentsdb/src/test/java/com/taosdata/utils/TableNameUtilsTest.java
Owners: @taosdata/merge

chore(taosBenchmark): add debugging logs and fix test cases
  test/cases/81-Tools/03-Benchmark/json/tmq_cancel.json
  test/cases/81-Tools/03-Benchmark/test_benchmark_tmq.py
  tools/taos-tools/src/benchTmq.c
  tools/taos-tools/src/benchUtil.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

add session control
  source/client/src/clientImpl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/common/src/tglobal.c
  test/cases/30-NameLimits/test_boundary.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

datetime white list
  include/client/taos.h
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  source/client/src/clientMain.c
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
  source/client/wrapper/src/wrapperVariable.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
  source/util/test/errorCodeTable.ini
Owners: @guanshengliang, @hzcheng, @dapan1121

update create user statement
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

notify datetime white list change
  include/client/taos.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  source/client/inc/clientInt.h
  source/client/src/clientHb.c
  source/client/src/clientMain.c
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/dnode/mgmt/node_util/inc/dmUtil.h
  source/dnode/mnode/impl/inc/mndInt.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndSync.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

privilege check
  include/common/tmsg.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

account lock / unlock
  include/common/tmsg.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

limit reuse of password
  include/util/taoserror.h
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

implement alter user statement
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update sql syntax for create/alter user
  include/common/ttime.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/ttime.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/inc/sql.y.bak
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
  tools/shell/inc/shellInt.h
  tools/taos-tools/inc/dump.h
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

IP whitelist/blacklist support
  include/common/tmsg.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor code
  include/common/tmsg.h
  include/common/tmsgdef.h
  source/client/src/clientMain.c
  source/common/src/msg/tmsg.c
  source/common/test/msgTypeTable.ini
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add salt to password
  include/common/tmsg.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore(taosBenchmark): optimize debugging logs
  tools/taos-tools/src/benchTmq.c
  tools/taos-tools/src/benchUtil.c
Owners: @guanshengliang, @zitsen

enh(archive): only set error message on first and last row (#3413)
  taosx-core/src/plugins/sink/flat.rs
  taosx-core/src/plugins/sink/mod.rs
  taosx-core/src/plugins/transform/mod.rs
Owners: @taosdata/merge

enh: update run-tests-on-linux workflow to use main branch
  .github/workflows/tdengine-test.yml
Owners: @feici02

fix(state window): status is null if window data start with null (#33679)
  include/libs/function/function.h
  source/common/src/msg/streamMsg.c
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/countwindowoperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/groupoperator.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/function/src/builtinsimpl.c
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window.py
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_extend.py
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_null_block.py
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed f4984e7a80 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

test: minor changes
  test/ci/coverage.txt
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
