Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: update comments to clarify process exclusion in service termination
  packaging/tools/remove.sh
Owners: @feici02

chore: fix ci problem
  source/common/src/tpriv.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/common/src/tpriv.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: qCreateName length check (#34033)
  include/util/tdef.h
  source/client/inc/clientStmt.h
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertUtil.c
  tests/system-test/1-insert/boundary.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: failed at dmReadVars while upgrade to 3.0. (#2452)
  enterprise/src/plugins/dnode/src/dmodule.c
Owners: @taosdata/merge

fix(tmq): add test case (#34054)
  test/cases/17-DataSubscription/02-Consume/test_tmq_basic.py
Owners: @taosdata/merge

Deployed b6d376b5cf to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

Deployed e4829c1e26 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

update session test
  source/client/inc/clientSession.h
  source/client/src/clientImpl.c
  source/client/test/clientTests.cpp
  source/common/src/tglobal.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update session test
  source/client/test/clientTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: memory pool crash issue (#34060)
  source/libs/qworker/src/qwUtil.c
  source/util/src/tmempool.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: add test cases (#3488)
  crates/taos-to-local/src/meta.rs
  crates/taos-to-local/src/worker.rs
  src/serve/monitor.rs
  src/serve/rpc/mod.rs
  src/serve/scheduler/runner.rs
  src/serve/task.rs
  taosx-core/src/core_metrics.rs
  taosx-core/src/migrations/privileges.rs
  taosx-core/src/plugins/raw_data.rs
  taosx-core/src/plugins/runners/config.rs
  taosx-core/src/plugins/sink/flat.rs
  taosx-core/src/plugins/sink/ipc_pipeline.rs
  taosx-core/src/plugins/sink/lush.rs
  taosx-core/src/plugins/sink/mod.rs
  taosx-core/src/s3/mod.rs
  taosx-core/src/taoz/mod.rs
  taosx-ipc/src/stream/components/list_of_struct.rs
  taosx-ipc/src/stream/components/struct_array_builder.rs
  taosx-ipc/src/stream/point.rs
  taosx-ipc/src/stream/reader.rs
  taosx-ipc/src/stream/writer.rs
  taosx-ipc/src/types/dsv.rs
  taosx-ipc/src/types/mod.rs
Owners: @taosdata/merge

feat(rbac): move privilege of create view/stream/topic to db level
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: init taosd failed in unit test.
  source/dnode/mgmt/test/sut/src/server.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove error flag from install script execution in Dockerfile
  packaging/docker/DockerfileTDgpt
Owners: @feici02

fix(explorer): use -c instead of -C for config (#3489)
  explorer/server/src/main.rs
  explorer/server/tests/cli.rs
  explorer/server/tests/ui.rs
Owners: @taosdata/merge

fix: init taosd failed in unit test. (#34068)
  source/dnode/mgmt/test/sut/src/server.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

test: update exclude
  test/ci/cov/exclude.txt
Owners: @taosdata/merge

fix: init timezone
  source/os/src/osTimezone.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed c4d68225c6 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/NameLimits/index.html
  3.0/search/search_index.json
Owners: @taosdata/merge

test: remove semaphore test
  source/os/test/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

test: remove semaphore test (#34071)
  source/os/test/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

test: just for test code change.
  source/libs/tdb/src/db/tdbPager.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): support grant/revoke all
  include/util/tpriv.h
  source/common/src/msg/tmsg.c
  source/common/src/tpriv.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add token transport (#34012)
  source/client/src/clientEnv.c
  source/client/src/clientImpl.c
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/libs/executor/src/executil.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(query): init the stt block reader by checking uid
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: do some internal refactor
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(query): check the uid of stt block reader
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

sign connect request
  cmake/version.cmake
  include/common/tglobal.h
  include/common/tmsg.h
  include/util/version.h
  source/client/src/clientImpl.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/util/src/tversion.c
  source/util/src/version.c.in
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(query): init the stt block reader when returning the clean stt/datablock.
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/libs/parser/src/parTranslater.c
  test/cases/05-VirtualTables/test_vtable_auth_alter_normaltable.py
  test/cases/05-VirtualTables/test_vtable_auth_alter_subtable.py
  test/cases/05-VirtualTables/test_vtable_auth_create.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: refine service termination logic to exclude specific process (#34065)
  packaging/docker/DockerfileTDgpt
  packaging/tools/remove.sh
Owners: @feici02

fix(query): check the uid of stt block reader (#34074)
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(query): add stt reader check. (#34073)
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check privilege of create view
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix CI problem of view
  include/libs/nodes/cmdnodes.h
  source/common/src/tpriv.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  test/cases/16-Views/test_view_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: add support for moirai model and update entrypoint configuration
  packaging/docker/DockerfileTDgpt
  packaging/docker/DockerfileTDgpt.base
  packaging/docker/entrypoint.sh
Owners: @feici02

fix(docker): parameterize architecture in Dockerfile
  packaging/docker/DockerfileTDgpt
Owners: @feici02

chore: fix CI problem of view
  source/libs/parser/src/parAuthenticator.c
  test/cases/16-Views/test_view_basic.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(docker): update base image to python:3.10-slim-trixie for all builders
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
