Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: minor changes
  test/ci/coverage.txt
Owners: @taosdata/merge

Deployed 479b29a97e to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/ShowCommands/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

feat(rbac): categrorize vg mgmt related clause as system commands
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

implement TOTP algorithm
  include/libs/function/functionMgt.h
  include/libs/scalar/scalar.h
  include/util/tdef.h
  include/util/totp.h
  include/util/tutil.h
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/function/src/builtins.c
  source/libs/parser/src/parAstCreater.c
  source/libs/scalar/src/sclfunc.c
  source/util/src/totp.c
  source/util/src/tutil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taos): support dsn with user/password
  test/cases/81-Tools/02-Taos/test_tool_taos_cli.py
  tools/shell/src/shellEngine.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

support reload ssl
  source/libs/transport/src/transTLS.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: move udf examples to docs/examples
  docs/en/07-develop/09-udf.md
  docs/examples/udf/bit_and.c
  docs/examples/udf/extract_avg.c
  docs/examples/udf/l2norm.c
  docs/examples/udf/max_vol.c
  docs/examples/udf/pybitand.py
  docs/examples/udf/pycumsum.py
  docs/examples/udf/pyl2norm.py
Owners: @guanshengliang, @zitsen

feat(rbac): categrorize vg mgmt related clause as system commands
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(taos): support dsn with user/password
  tests/army/cmdline/taosCli.py
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

Deployed 6d17be4c66 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/Tables/NormalTables/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

fix: temporarily disable memory leak detection for UDF tests
  test/ci/cases.task
Owners: @taosdata/merge

corrections
  docs/en/07-develop/09-udf.md
Owners: @guanshengliang, @zitsen

fix: update paths-ignore to include examples directory in new framework test workflow (#33851)
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix: temporarily disable memory leak detection for UDF tests (#33856)
  test/ci/cases.task
Owners: @taosdata/merge

fix: correct spelling of AUDIT_LEVEL_CHILDTABLE and update audit level checks
  include/util/tdef.h
  source/client/src/clientMonitor.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: temporarily disable memory leak detection for test_benchmark_tmq tests
  test/ci/cases.task
Owners: @taosdata/merge

docs: include examples directory in paths-ignore for pull requests
  .github/workflows/tdengine-test.yml
Owners: @feici02

Add TD-38727 reference to memory leak detection comment
  test/ci/cases.task
Owners: @taosdata/merge

feat(rbac): revoke role from user
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: temporarily disable memory leak detection for test_benchmark_tmq tests (#33857)
  test/ci/cases.task
Owners: @taosdata/merge

cases: primary key all 8 cases migrate ok
  test/cases/03-Tables/03-PrimaryKey/primaryKeyBase.py
  test/cases/03-Tables/03-PrimaryKey/test_primary_key_basic.py
  test/cases/03-Tables/03-PrimaryKey/test_primary_key_create.py
  test/cases/03-Tables/03-PrimaryKey/test_primary_key_delete.py
  test/cases/03-Tables/03-PrimaryKey/test_primary_key_fun.py
  test/cases/03-Tables/03-PrimaryKey/test_primary_key_insert.py
  test/cases/uncatalog/system-test/2-query/test_pk_error.py
  test/cases/uncatalog/system-test/2-query/test_pk_func.py
  test/cases/uncatalog/system-test/2-query/test_pk_func_group.py
  test/cases/uncatalog/system-test/2-query/test_pk_varchar.py
  test/cases/uncatalog/system-test/2-query/test_primary_ts_base_1.py
  test/cases/uncatalog/system-test/2-query/test_primary_ts_base_3.py
  test/cases/uncatalog/system-test/2-query/test_primary_ts_base_4.py
  test/cases/uncatalog/system-test/2-query/test_primary_ts_base_5.py
  test/ci/cases.task
Owners: @taosdata/merge

update zh doc
  docs/zh/07-develop/09-udf.md
Owners: @guanshengliang, @zitsen

attempt rename
  tests/script/sh/bit_and.c
  tests/script/sh/extract_avg.c
  tests/script/sh/l2norm.c
  tests/script/sh/max_vol.c
  tests/script/sh/pybitand.py
  tests/script/sh/pycumsum.py
  tests/script/sh/pyl2norm.py
Owners: @guanshengliang, @zitsen

chore: update code structure and remove unused includes
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: clean up code structure and remove redundant includes
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update client API for TOTP
  include/client/taos.h
  include/common/tmsg.h
  include/util/taoserror.h
  include/util/tdef.h
  source/client/inc/clientInt.h
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/client/src/clientMsgHandler.c
  source/client/src/clientTmq.c
  source/client/test/clientTests.cpp
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
  source/client/wrapper/src/wrapperVariable.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/scalar/src/sclfunc.c
  source/util/CMakeLists.txt
  source/util/src/terror.c
  source/util/src/totp.c
  source/util/test/errorCodeTable.ini
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add func to decrypt cfg file.
  include/common/tencrypt.h
  source/common/src/tencrypt.c
  source/dnode/mgmt/mgmt_mnode/src/mmFile.c
  source/dnode/mgmt/mgmt_vnode/src/vmFile.c
  source/dnode/mgmt/node_util/src/dmEps.c
  source/dnode/mgmt/node_util/src/dmFile.c
  source/dnode/vnode/src/tsdb/tsdbFS2.c
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/libs/sync/src/syncRaftCfg.c
  source/libs/sync/src/syncRaftStore.c
  source/libs/wal/src/walMeta.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support reload ssl
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add explain processing
  include/libs/command/command.h
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/executor/inc/executil.h
  source/libs/executor/src/executor.c
  source/libs/executor/src/querytask.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schRemote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

start xnoded as subprocess
  include/common/tmsg.h
  include/dnode/xnode/xnode.h
  include/libs/txnode/txnode.h
  include/util/taoserror.h
  include/util/tdef.h
  source/dnode/mgmt/CMakeLists.txt
  source/dnode/mgmt/mgmt_xnode/CMakeLists.txt
  source/dnode/mgmt/mgmt_xnode/inc/xmInt.h
  source/dnode/mgmt/mgmt_xnode/src/xmInt.c
  source/dnode/mgmt/node_mgmt/CMakeLists.txt
  source/dnode/mgmt/node_mgmt/inc/dmNodes.h
  source/dnode/mgmt/node_mgmt/src/dmEnv.c
  source/dnode/mgmt/node_mgmt/src/dmMgmt.c
  source/dnode/mgmt/node_util/inc/dmUtil.h
  source/dnode/mgmt/node_util/src/dmUtil.c
  source/dnode/mnode/impl/CMakeLists.txt
  source/dnode/mnode/impl/src/mndSync.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/dnode/xnode/CMakeLists.txt
  source/dnode/xnode/inc/xndInt.h
  source/dnode/xnode/src/xnode.c
  source/libs/CMakeLists.txt
  source/libs/txnode/CMakeLists.txt
  source/libs/txnode/inc/txnodeInt.h
  source/libs/txnode/src/txnodeMgmt.c
  tools/xnoded/Cargo.lock
  tools/xnoded/Cargo.toml
  tools/xnoded/src/api/mod.rs
  tools/xnoded/src/main.rs
  tools/xnoded/src/orchestrator/mod.rs
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

Apply suggestion from @gemini-code-assist[bot]
  scripts/run.sh
Owners: @taosdata/merge

enh: update timestamp precision handling in delete_end_zero method
  cases/restful_insert/db_param_precision.py
  cases/restful_insert/timestamp_check.py
Owners: @taosdata/merge

feat(rbac): privilege check of show databases
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case:migrate query sub 6 cases
  test/cases/09-DataQuerying/08-SubQuery/test_nestedQuery.py
  test/cases/09-DataQuerying/08-SubQuery/test_nestedQuery_26.py
  test/cases/09-DataQuerying/08-SubQuery/test_nestedQuery_math.py
  test/cases/09-DataQuerying/08-SubQuery/test_nestedQuery_str.py
  test/cases/09-DataQuerying/08-SubQuery/test_nestedQuery_time.py
  test/cases/09-DataQuerying/08-SubQuery/test_query_sub_bugs.py
  test/cases/09-DataQuerying/08-SubQuery/test_query_sub_interval.py
  test/cases/09-DataQuerying/08-SubQuery/test_query_sub_lastrow.py
  test/cases/uncatalog/system-test/2-query/test_nestedQuery2.py
  test/ci/cases.task
Owners: @taosdata/merge

cases: indent for primaryKeyBase.py
  test/cases/03-Tables/03-PrimaryKey/primaryKeyBase.py
Owners: @taosdata/merge

fix stmt2 query block
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): privilege of show vgroups
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: enhance audit condition for table creation
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: ci build error case path typo
  test/cases/02-Databases/08-Keep/test_mlevel_except.py
  test/ci/cases.task
Owners: @taosdata/merge

docs(taosgen): support producing messages to Kafka (#33814)
  docs/doxgen/taosgen_config.md
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
