Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

test_priv_control.py BUG20 ROLLUP DATABASE
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

fix(stream): avoid deploy UAF by using cloned create pointers
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix data merge for composite key
  include/common/streamMsg.h
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/mnode/impl/src/mndStreamUtil.c
  source/libs/new-stream/inc/streamTriggerMerger.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerMerger.c
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): fix cases with random result
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_1.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_2.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_event.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_session.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_sliding.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_state.py
Owners: @taosdata/merge

test_priv_control.py BUG21 SSMIGRATE DATABASE
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

test: add performance and stress tests for virtual table functionality
  test/cases/05-VirtualTables/test_vtable_performance.py
  test/cases/05-VirtualTables/test_vtable_stress.py
  test/ci/cases.task
Owners: @taosdata/merge

update stream case result with subq
  source/libs/executor/src/executor.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_in_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

stage 2 object privilege finish. spend 148s run case.
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

enh: change the default log retention limit to 3
  tools/keeper/config/taoskeeper.toml
  tools/keeper/config/taoskeeper_enterprise.toml
  tools/keeper/infrastructure/config/log.go
Owners: @guanshengliang, @zitsen

enh: update default log retention and rotation settings to 3 days
  docs/en/14-reference/01-components/06-taoskeeper.md
  docs/zh/14-reference/01-components/06-taoskeeper.md
  tools/keeper/infrastructure/config/log.go
Owners: @guanshengliang, @zitsen

fix: test_priv_control.py -N 3 on cases.taks
  test/ci/cases.task
Owners: @taosdata/merge

enh: add env
  test/ci/cov/crontab
Owners: @taosdata/merge

fix(vtable): support vtable in metaQuery
  source/dnode/vnode/src/meta/metaQuery.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix null taskinfo in subjobctx
  source/libs/executor/src/querytask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Merge pull request #34590 from taosdata/fix/ci-cases-338
  include/common/streamMsg.h
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/mnode/impl/src/mndStreamUtil.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/inc/streamTriggerMerger.h
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerMerger.c
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/18-StreamProcessing/02-Stream/test_stream_check_name.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_1.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_count_2.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_event.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_session.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_sliding.py
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_state.py
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_checkpoint_info.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): add total rows if there is meta data (#34578)
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): fix cases error in sometimes
  source/dnode/vnode/src/meta/metaQuery.c
  tests/system-test/7-tmq/tmqError.py
  tests/system-test/7-tmq/tmqVnodeTransform-stb.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix(tmq): fix cases error in sometimes
  test/cases/17-DataSubscription/02-Consume/test_tmq_vnode_transform_stb.py
Owners: @taosdata/merge

fix: test_priv_control.py BUG21 LOCK/UNLOCK ROLE
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

fix: test_priv_control.py BUG22 CORE ON DROP USER
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

fix: table list map unmatched
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor: update the requirements.
  tools/tdgpt/requirements.txt
  tools/tdgpt/requirements_docker.txt
Owners: @guanshengliang, @zitsen

fix: update the docker script.
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

remove commented out funcs
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

stage: role finished
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

set minimal password_life_time to 1 day
  include/util/tdef.h
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove unused streamid var
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove comented out codes
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove tabs
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove outdated comments
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix stream id with macros
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

stage: role finished fix bug
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

feat(taosdump): support stmt v2 for data import
  tools/taos-tools/src/taosdump.c
Owners: @guanshengliang, @zitsen

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

feat: add Three-Power Separation Test
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

feat: three-power separation test add
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

enh: change the default log retention limit to 3 (#34596)
  docs/en/14-reference/01-components/06-taoskeeper.md
  docs/zh/14-reference/01-components/06-taoskeeper.md
  tools/keeper/config/taoskeeper.toml
  tools/keeper/config/taoskeeper_enterprise.toml
  tools/keeper/infrastructure/config/log.go
Owners: @guanshengliang, @zitsen

enh: change the default log retention limit to 3 (#34594)
  docs/en/14-reference/01-components/06-taoskeeper.md
  docs/zh/14-reference/01-components/06-taoskeeper.md
  tools/keeper/config/taoskeeper.toml
  tools/keeper/config/taoskeeper_enterprise.toml
  tools/keeper/infrastructure/config/config.go
Owners: @guanshengliang, @zitsen

fix(xnode): support displaying dynamic error message returned by xnoded
  source/client/src/clientMsgHandler.c
  source/dnode/mnode/impl/src/mndXnode.c
  test/cases/42-Xnode/test_xnode.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge
