Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: join error msg and placeholder primary key issue
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stream primary key issue
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: aggregate requirement check issue
  source/libs/planner/src/planUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check drop super table
  source/common/src/tpriv.c
  source/dnode/mnode/impl/src/mndIndex.c
  source/dnode/mnode/impl/src/mndSma.c
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/mnode/impl/src/mndStream.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add api taos_get_connection_info
  include/client/taos.h
  source/client/src/clientMain.c
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
  source/client/wrapper/src/wrapperVariable.c
  source/util/src/totp.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: use tsdbMetaKey to encrypt sdb.
  include/common/tencrypt.h
  include/libs/crypt/crypt.h
  source/common/src/tencrypt.c
  source/dnode/mnode/sdb/src/sdbFile.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: encrypt sdb wal use tsMetaKey.
  source/dnode/mnode/impl/src/mndMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add create token resp
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndToken.h
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndTrans.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update ci env
  .github/workflows/tdengine-build.yml
Owners: @feici02

feat: support totp and once password for auto tab
  tools/shell/src/shellAuto.c
Owners: @guanshengliang, @zitsen

taosc/crypto: use heap for tmp token buffer instead of stack space (#33947)
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stmt2 ut core and error (#33950)
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: not compile sasl on community (#33948)
  cmake/external.cmake
  source/libs/transport/CMakeLists.txt
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: update ci env (#33959)
  .github/workflows/tdengine-build.yml
Owners: @feici02

clean code
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/msg/xnode.c
  source/dnode/mnode/impl/src/mndXnode.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/txnode/src/txnodeMgmt.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: insert and select reporting
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add create token resp
  source/client/src/clientMsgHandler.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndToken.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/libs/scheduler/src/schRemote.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: unused code
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: code review
  source/client/src/clientMonitor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): pSw is null if get raw data
  source/client/src/clientTmq.c
  source/common/src/msg/tmsg.c
  source/libs/parser/src/parInsertUtil.c
  test/cases/uncatalog/system-test/7-tmq/test_tmq_c_test.py
  test/ci/cases.task
  utils/CMakeLists.txt
  utils/test/c/tmq_td33798.c
  utils/test/c/tmq_ts5776.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: update stream compatibility tests and improve result validation
  test/cases/18-StreamProcessing/23-Compatibility/test_new_stream_compatibility.py
Owners: @taosdata/merge

fix: ci case issues
  source/client/src/clientHb.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/test/schedulerTests.cpp
  test/cases/09-DataQuerying/08-SubQuery/ans/test_scalar_sub_query2.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub2.py
  test/cases/09-DataQuerying/08-SubQuery/test_scalar_sub3.py
  test/cases/09-DataQuerying/15-Explain/r/test_explain.result
  test/cases/11-Functions/resource/ans/avg.csv
  test/cases/11-Functions/resource/ans/date.csv
  test/cases/13-TimeSeriesExt/03-TimeWindow/ans/interval.csv
  test/cases/13-TimeSeriesExt/03-TimeWindow/ans/interval_diff_tz.csv
  test/cases/81-Tools/01-Check/test_check_error_code.py
  test/new_test_framework/utils/common.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: expand base versions for stream compatibility tests
  test/cases/18-StreamProcessing/23-Compatibility/test_new_stream_compatibility.py
Owners: @taosdata/merge

fix: streamline process termination for taosd in compatibility tests
  test/cases/18-StreamProcessing/23-Compatibility/test_new_stream_compatibility.py
Owners: @taosdata/merge

fix: single table uses tag grouping
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh:add sql drop multiple streams
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStream.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: totp and change password tip work ok
  tools/shell/src/shellArguments.c
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

add create token resp
  source/client/src/clientMsgHandler.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update installation script for correct version mode and tool names
  packaging/tools/install.sh
Owners: @feici02

add create token resp
  source/client/src/clientMsgHandler.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): get spicific uid info in vtableinfo requestion
  include/common/streamMsg.h
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: disable table not exist error
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): compile error
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add doc and test
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
  test/cases/18-StreamProcessing/02-Stream/stream_drop.py
Owners: @guanshengliang, @zitsen, @taosdata/merge

feat: check if encrypt key is ready before encrypt data.
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/dnode/vnode/src/vnd/vnodeSnapshot.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: compile issue
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check table privilege
  include/libs/nodes/cmdnodes.h
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): check table privilege
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add some log for tsdbCache.
  source/dnode/vnode/src/tsdb/tsdbCache.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test case
  test/cases/09-DataQuerying/14-Tags/test_tag_basic.py
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
