Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: improve process termination logic in install and remove scripts (#34091)
  packaging/tools/install.sh
  packaging/tools/remove.sh
Owners: @feici02

fix: reader use-after-free error
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/planner/src/planSpliter.c
  source/libs/qworker/inc/qwMsg.h
  source/libs/qworker/src/qwMsg.c
  source/libs/qworker/src/qworker.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update test case
  source/client/test/clientTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: add token authentication mechanism to REST API documentation
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/en/14-reference/05-connector/60-rest-api.md
  docs/zh/14-reference/01-components/03-taosadapter.md
  docs/zh/14-reference/05-connector/60-rest-api.mdx
Owners: @guanshengliang, @zitsen

fix CI error of stmt/stmt2 examples
  docs/examples/c/stmt2_insert_demo.c
  docs/examples/c/stmt_insert_demo.c
Owners: @guanshengliang, @zitsen

fix(sml): case error because of timestamp out of range
  utils/test/c/sml_test.c
Owners: @guanshengliang

fix(sml): case error because of timestamp out of range
  utils/test/c/sml_test.c
Owners: @guanshengliang

fix(sml): case error because of timestamp out of range
  utils/test/c/sml_test.c
Owners: @guanshengliang

fix(remove): improve process termination logic in kill_service_of function
  packaging/tools/remove.sh
Owners: @feici02

fix: scalar subquery calc constant issue
  source/libs/parser/src/parCalcConst.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: enhance token creation documentation with management section reference
  docs/en/14-reference/05-connector/60-rest-api.md
  docs/zh/14-reference/05-connector/60-rest-api.mdx
Owners: @guanshengliang, @zitsen

fix: db keep 10 year timeout
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_tsbs.py
Owners: @taosdata/merge

fix: rebuild scanCols for last/last_row
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

change error code for edition incompatible
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  source/util/src/terror.c
  source/util/src/tversion.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

update test case
  source/libs/transport/src/transCli.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: print format
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(kill_process): enhance process termination logic to use pkill if available
  packaging/tools/install.sh
  packaging/tools/remove.sh
Owners: @feici02

check recv msg len
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

modify drain description
  docs/zh/14-reference/03-taos-sql/94-datain.md
Owners: @guanshengliang, @zitsen

check recv msg len
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: refact test_idmp_privilege.py by rbac
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_privilege.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: db keep 10 year timeout (#34099)
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_tsbs.py
Owners: @taosdata/merge

docs: update token documentation for clarity and consistency
  docs/en/14-reference/01-components/03-taosadapter.md
  docs/en/14-reference/05-connector/60-rest-api.md
  docs/zh/14-reference/05-connector/60-rest-api.mdx
Owners: @guanshengliang, @zitsen

fix: timestamp out of date, moidfy db keep 100 year (#34092)
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_tsbs.py
Owners: @taosdata/merge

fix(sml): case error because of timestamp out of range (#34095)
  utils/test/c/sml_test.c
Owners: @guanshengliang

fix(sml): case error because of timestamp out of range (#34094)
  utils/test/c/sml_test.c
Owners: @guanshengliang

fix(sml): case error because of timestamp out of range (#34093)
  utils/test/c/sml_test.c
Owners: @guanshengliang

refactor: enhance connection preparation with improved logging and remove redundant code
  tools/keeper/api/audit.go
Owners: @guanshengliang, @zitsen

fix: cacheload may bigger than int_32.
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  source/libs/parser/src/parAuthenticator.c
  test/cases/18-StreamProcessing/01-Snode/test_snode_privileges_twodb.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix review
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

remove job create/stop/drop operation
  docs/zh/14-reference/03-taos-sql/94-datain.md
Owners: @guanshengliang, @zitsen

fix(remove): improve process termination logic in kill_service_of function
  packaging/tools/install.sh
  packaging/tools/remove.sh
Owners: @feici02

fix: mem leak and heap use after free in mnd. (#34089)
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndMnode.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

check recv msg len
  source/client/src/clientHb.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: check plan column width for different cache model
  test/cases/11-Functions/03-Selection/test_select_last_and_last_row.py
Owners: @taosdata/merge

fix docs
  docs/examples/c/stmt2_insert_demo.c
  docs/examples/c/stmt_insert_demo.c
Owners: @guanshengliang, @zitsen

feat(sync): add snapshot sequence and total index to synchronization structures
  include/common/tmsg.h
  include/libs/sync/sync.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/src/vnd/vnodeQuery.c
  source/libs/sync/inc/syncInt.h
  source/libs/sync/src/syncMain.c
  source/libs/sync/src/syncPipeline.c
  source/libs/sync/src/syncSnapshot.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: Adjustment of the keeporder property of the function
  source/libs/function/src/builtins.c
  source/libs/planner/src/planOptimizer.c
  test/cases/14-JoinQueries/test_join_pk.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: improve connection preparation logic and enhance test cases for default database handling
  tools/keeper/api/audit.go
  tools/keeper/api/audit_test.go
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
