Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix typo error
  test/cases/uncatalog/system-test/2-query/test_out_of_order.py
Owners: @taosdata/merge

enh: modify cases to avoid Out-of-time/performance error
  test/cases/uncatalog/army/tools/benchmark/basic/test_query_main.py
  test/cases/uncatalog/system-test/2-query/test_out_of_order.py
Owners: @taosdata/merge

fix: update test case paths for TDgpt in workflow and task files
  .github/workflows/new-tdgpt-test.yml
  test/ci/tdgpt_cases.task
Owners: @feici02, @taosdata/merge

chore: update taos connector (#3346)
  Cargo.lock
  Cargo.toml
Owners: @taosdata/merge

fix cases related to first/last
  test/cases/11-Functions/02-Aggregate/test_agg_last.py
  test/cases/11-Functions/03-Selection/test_fun_select_last.py
  test/ci/cases.task
Owners: @taosdata/merge

feat(encoding): new security funcs
  include/libs/scalar/scalar.h
  include/util/tbase64.h
  source/libs/function/src/builtins.c
  source/libs/parser/src/parInsertSql.c
  source/libs/scalar/src/sclfunc.c
  source/util/src/tbase64.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(explorer): display task id in task list (#3347)
  explorer/taos-ui/components/dataIn/views/task/index.vue
Owners: @taosdata/merge

case: using wait and sleep for 80-Components/01-Taosd/test_com_config_refresh.py
  test/cases/80-Components/01-Taosd/test_com_config_refresh.py
Owners: @taosdata/merge

add libsasl to taosd
  source/libs/transport/src/transSasl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix vtable test cases
  tests/army/frame/caseBase.py.sql
  tests/army/temp_test_vtable_select_test_function.result
  tests/army/vtable/ans/test_vctable_select_test_partition.ans
  tests/army/vtable/ans/test_vctable_select_test_state.ans
  tests/army/vtable/ans/test_vstable_select_test_partition.ans
  tests/army/vtable/ans/test_vstable_select_test_state.ans
  tests/army/vtable/ans/test_vtable_select_test_partition.ans
  tests/army/vtable/ans/test_vtable_select_test_state.ans
  tests/army/vtable/in/test_vstable_select_test_partition.in
Owners: @guanshengliang, @zitsen

fix(tmq): add info for case
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td38404.py
Owners: @taosdata/merge

test: format
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td38404.py
Owners: @taosdata/merge

fix(tmq): tmq_get_json_meta return " if tag is "" (#33367)
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td38404.py
  test/ci/cases.task
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_td38404.c
Owners: @taosdata/merge, @guanshengliang

fix null with {from, to}_base64
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

rename 41-StreamProcessing/ to 18-StreamProcessing/
  test/cases/18-StreamProcessing/20-UseCase/sdny_2.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_bug1.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_bug2.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_bug3.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_case1_bug1.py
  test/cases/18-StreamProcessing/20-UseCase/test_sdny.py
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_backquote_check.py
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_taosdShell.py
  test/cases/18-StreamProcessing/99-Others/random_stream.py
  test/ci/win_ignore_cases
  test/new_test_framework/utils/compatibilityUtil.py
  test/new_test_framework/utils/streamUtil.py
Owners: @taosdata/merge

docs: optimize configuration of taosgen
  docs/doxgen/taosgen_config.md
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

fix: merge errors
  tests/system-test/7-tmq/test_tmq_td38404.py
Owners: @guanshengliang, @zitsen

test: tidy up cases on main branch(10-27) (#33381)
  test/cases/09-DataQuerying/15-Explain/test_explain.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_2.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_bug1.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_bug2.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_bug3.py
  test/cases/18-StreamProcessing/20-UseCase/sdny_case1_bug1.py
  test/cases/18-StreamProcessing/20-UseCase/test_sdny.py
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_backquote_check.py
  test/cases/18-StreamProcessing/30-OldPyCases/test_oldcase_taosdShell.py
  test/cases/18-StreamProcessing/99-Others/random_stream.py
  test/cases/80-Components/01-Taosd/test_com_config_refresh.py
  test/cases/81-Tools/03-Benchmark/test_benchmark_commandline.py
  test/ci/cases.task
  test/ci/win_ignore_cases
  test/new_test_framework/utils/compatibilityUtil.py
  test/new_test_framework/utils/sql.py
  test/new_test_framework/utils/streamUtil.py
Owners: @taosdata/merge

Deployed a3f9a791c9 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Components/Taosd/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
  main/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

fix/TS-7542-fix-use-after-free
  source/dnode/mnode/impl/src/mndSync.c
  source/dnode/vnode/src/vnd/vnodeSync.c
  source/libs/sync/src/syncMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: move case to main branch same dir
  test/cases/06-DataIngestion/01-SQL/test_write_column_value.py
  test/cases/09-DataQuerying/01-Select/cquery_basic.json
  test/cases/09-DataQuerying/01-Select/query_basic.json
  test/cases/09-DataQuerying/01-Select/test_query_select_exact.py
  test/cases/14-JoinQueries/test_join.py
Owners: @taosdata/merge

enh(stream): send multi group params in a single calc request
  include/common/streamMsg.h
  source/common/src/msg/streamMsg.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor(gpt): refactor the requirements.
  tools/tdgpt/requirements.txt
  tools/tdgpt/script/install.sh
  tools/tdgpt/script/release.sh
  tools/tdgpt/taosanalytics/test/unit_test.py
Owners: @guanshengliang, @zitsen

refactor: do some internal refactor.
  test/conftest.py
Owners: @taosdata/merge

refactor: do some internal refactor.
  tools/tdgpt/requirements_ess.txt
Owners: @guanshengliang, @zitsen

fix(gpt): update requirements.
  tools/tdgpt/requirements.txt
Owners: @guanshengliang, @zitsen

test: test start taosBenchmark
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
  test/ci/cases.task
Owners: @taosdata/merge

fix(stream): limit meta pool size in trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: optimize time strategy of taosgen (#33285)
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

docs: adujst csv configuration of taosgen (#33292)
  docs/doxgen/taosgen_config.md
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

test: modify start taosBenchmark count
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

enh(stream): do not use tag cache to save memory in stream
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: modify cases to avoid Out-of-time/performance error (#33379)
  test/cases/11-Functions/02-Aggregate/test_agg_last.py
  test/cases/11-Functions/03-Selection/test_fun_select_last.py
  test/cases/uncatalog/army/tools/benchmark/basic/test_query_main.py
  test/cases/uncatalog/system-test/2-query/test_out_of_order.py
  test/ci/cases.task
Owners: @taosdata/merge

test: modify start taosBenchmark check mem leak
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

fix: state window handles null status error (#33365)
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/operator.h
  source/libs/executor/src/anomalywindowoperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/timewindowoperator.c
  test/cases/11-TimeSeriesExtensions/04-StateWindow/test_state_window_null.py
  test/ci/cases.task
  tests/army/frame/caseBase.py.sql
  tests/army/temp_test_vtable_select_test_function.result
  tests/army/vtable/ans/test_vctable_select_test_partition.ans
  tests/army/vtable/ans/test_vctable_select_test_state.ans
  tests/army/vtable/ans/test_vstable_select_test_partition.ans
  tests/army/vtable/ans/test_vstable_select_test_state.ans
  tests/army/vtable/ans/test_vtable_select_test_partition.ans
  tests/army/vtable/ans/test_vtable_select_test_state.ans
  tests/army/vtable/in/test_vstable_select_test_partition.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

generate shell case description
  .github/scripts/generate_shell_case_md.py
  .github/workflows/deploy-case-docs.yml
Owners: @feici02

fix(stream): set read info in the calc request
  include/common/streamMsg.h
  source/common/src/msg/streamMsg.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: test old start taosBenchmark check mem leak
  test/ci/cases.task
Owners: @taosdata/merge

fix(TS-7542): fix use after free (#33387)
  source/dnode/mnode/impl/src/mndSync.c
  source/dnode/vnode/src/vnd/vnodeSync.c
  source/libs/sync/src/syncMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: test start taosBenchmark check mem leak
  test/cases/uncatalog/army/tools/benchmark/basic/test_insert_tag_order_stmt2.py
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
