Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix: some memory leak on ci.
  source/dnode/vnode/src/tsdb/tsdbCacheInt.h
  source/dnode/vnode/src/tsdb/tsdbCacheUpgrade.c
  source/dnode/vnode/src/tsdb/tsdbCacheUtil.c
  source/dnode/vnode/src/vnd/vnodeOpen.c
Owners: @guanshengliang, @hzcheng, @dapan1121

alter coverage
  test/ci/run.sh
Owners: @taosdata/merge

enh[TS-6480]: auto weight balance leader (#33030)
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/sync/sync.h
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_vnode/inc/vmInt.h
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mgmt/mgmt_vnode/src/vmWorker.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/src/inc/vnd.h
  source/dnode/vnode/src/vnd/vnodeSync.c
  source/libs/sync/src/syncMain.c
  test/cases/uncatalog/system-test/0-others/test_kill_balance_leader.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 270ee9a686 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

Revert "fix: winRowIndex"
  source/libs/executor/src/externalwindowoperator.c
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_session.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix data merge in trigger
  source/libs/new-stream/src/streamTriggerMerger.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Fix missing newline at end of CMakeLists.txt
  source/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): fix case ans
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_vehicle.py
Owners: @taosdata/merge

fix(stream): fix empty calc data pull for period trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rsma): support rollup database
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/vnode/src/tsdb/tsdbFSet2.c
  source/dnode/vnode/src/tsdb/tsdbFSet2.h
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): col index error for tsdbVirtalDataReq
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: submit agg function 16 merge to 7 case add 3 new cases
  test/cases/22-Functions/02-Aggregate/count_test.csv
  test/cases/22-Functions/02-Aggregate/count_test.sql
  test/cases/22-Functions/02-Aggregate/test_agg_apercentile.py
  test/cases/22-Functions/02-Aggregate/test_agg_avg.py
  test/cases/22-Functions/02-Aggregate/test_agg_count.py
  test/cases/22-Functions/02-Aggregate/test_agg_elapsed.py
  test/cases/22-Functions/02-Aggregate/test_agg_sum.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_apercentile.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_avg.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_count.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_elapsed.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_histogram.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_hyperloglog.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_leastsquares.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_percentile.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_stddev.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_sum.py
  test/cases/uncatalog/system-test/2-query/test_apercentile.py
  test/cases/uncatalog/system-test/2-query/test_count_interval.py
  test/cases/uncatalog/system-test/2-query/test_count_null.py
  test/cases/uncatalog/system-test/2-query/test_count_partition.py
  test/cases/uncatalog/system-test/2-query/test_distribute_agg_apercentile.py
  test/cases/uncatalog/system-test/2-query/test_distribute_agg_count.py
  test/cases/uncatalog/system-test/2-query/test_distribute_agg_stddev.py
  test/cases/uncatalog/system-test/2-query/test_distribute_agg_sum.py
  test/cases/uncatalog/system-test/2-query/test_percentile.py
  test/cases/uncatalog/system-test/2-query/test_stddev.py
  test/cases/uncatalog/system-test/2-query/test_stddev_test.py
  test/cases/uncatalog/system-test/2-query/test_sum.py
  test/ci/cases.task
Owners: @taosdata/merge

feat(query): corr in stable query.
  include/libs/function/functionMgt.h
  source/libs/function/inc/builtinsimpl.h
  source/libs/function/src/builtins.c
  source/libs/function/src/builtinsimpl.c
  source/libs/scalar/src/sclfunc.c
Owners: @guanshengliang, @hzcheng, @dapan1121

open tls on enterprice
  source/libs/transport/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: indent error for hyperloglog.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_hyperloglog.py
Owners: @taosdata/merge

fix table not exist error
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add status check on compatibility cases.
  tests/system-test/0-others/compatibility_basic.py
Owners: @guanshengliang, @zitsen

fix(stream): pTableList is NULL for vtable
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): fix case ans
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_manager.py
Owners: @taosdata/merge

feat(rsma): support rollup database
  source/dnode/mnode/impl/src/mndDb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix notification in trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc(query): add doc.
  docs/zh/14-reference/03-taos-sql/22-function.md
  source/libs/function/src/builtins.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

doc: fix error in doc.
  docs/zh/14-reference/03-taos-sql/22-function.md
Owners: @guanshengliang, @zitsen

chore: remove obsolete log
  source/dnode/mnode/impl/src/mndMount.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: indent for test_fun_agg_histogram.py
  test/cases/22-Functions/02-Aggregate/test_fun_agg_histogram.py
Owners: @taosdata/merge

chore: code format
  include/common/taosdef.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/tsdb/tsdbMigrate.c
  source/dnode/vnode/src/tsdb/tsdbRetention.c
  source/dnode/vnode/src/vnd/vnodeCommit.c
  source/dnode/vnode/src/vnd/vnodeModule.c
  source/dnode/vnode/src/vnd/vnodeOpen.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/executor/inc/executorInt.h
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add rsma test cases
  test/cases/43-RSMAs/test_rsma.py
  test/ci/cases.task
Owners: @taosdata/merge

chore: fix compile problem
  source/dnode/mnode/impl/src/mndRetention.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): memory leak
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td37436.py
  utils/test/c/tmq_td37436.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: fix compile problem
  source/dnode/mnode/impl/src/mndRetention.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix virtual data pull in trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix compile problem
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndRsma.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): fix case ans
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_meters.py
Owners: @taosdata/merge

chore: fix compile problem
  source/dnode/mnode/impl/src/mndStb.c
  source/dnode/vnode/src/meta/metaTable2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): memory leak
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/uncatalog/system-test/7-tmq/test_tmq_td37436.py
  utils/test/c/tmq_td37436.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix notification in trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(stream): fix case ans
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_meters.py
Owners: @taosdata/merge

test(stream): fix case ans
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_manager.py
Owners: @taosdata/merge

fix(stream): col index error for tsdbVirtalDataReq
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix virtual data pull in trigger
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121
