Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh/redefine-show-vnodes-restored (#33773)
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/sync/src/syncPipeline.c
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_high_availability.py
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
  tests/army/inspect-tools/taosinspect.py
  tests/system-test/0-others/information_schema.py
  tests/system-test/8-stream/checkpoint_info.py
  tests/system-test/8-stream/checkpoint_info2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

enh: optimize the usage logic of read-write locks in RPC communication (#33775)
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(query): restore the default level for print result blocks.
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): merge user/role privileges for hb
  include/common/tmsg.h
  include/util/tpriv.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add support for builtin encryption algorithm handling
  include/common/tmsgdef.h
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/src/mndEncryptAlgr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore(perf_test): change feishu notify webhook #6488868521 (#3442)
  .github/workflows/performance.yaml
Owners: @feici02

chore: mount /corefile to fit 1.45 core_pattern (#3441)
  .github/workflows/pr-ci.yaml
Owners: @feici02

fix(query): restore the default level for print result blocks. (#33813)
  source/libs/executor/src/executil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix case: test_5dnode2mnode
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci issue
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

support reload tls/ssl config
  source/libs/transport/inc/transTLS.h
  source/libs/transport/inc/transportInt.h
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
  source/libs/transport/src/transTLS.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): merge user/role privileges for hb
  source/common/src/msg/tmsg.c
  source/libs/catalog/src/ctgCache.c
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Refactor documentation for clarity and consistency across multiple files
  docs/.markdownlint-cli2.jsonc
  docs/custom-rules/space-after-punctuation-in-emphasis.js
  docs/en/01-index.md
  docs/typos.toml
  docs/zh/02-intro.md
  docs/zh/04-data-in/02-dca/02-prometheus.md
  docs/zh/04-data-in/02-dca/03-telegraf.md
  docs/zh/04-data-in/02-dca/30-schemaless-influxdb.md
  docs/zh/04-data-in/02-dca/35-schemaless-opentsdb-json.md
  docs/zh/04-data-in/02-dca/38-schemaless-opentsdb-telnet.md
  docs/zh/04-data-in/02-dca/index.md
  docs/zh/05-programming/01-connect/01-python.md
  docs/zh/05-programming/01-connect/03-go.md
  docs/zh/05-programming/01-connect/06-csharp.md
  docs/zh/05-programming/02-model.md
  docs/zh/05-programming/03-insert.md
  docs/zh/05-programming/04-query.md
  docs/zh/05-programming/06-client-libraries/01-python.md
  docs/zh/05-programming/06-client-libraries/02-java.md
  docs/zh/05-programming/06-client-libraries/04-rust.md
  docs/zh/05-programming/06-client-libraries/06-csharp.md
  docs/zh/05-programming/06-client-libraries/09-rest-api.md
  docs/zh/05-programming/06-client-libraries/index.md
  docs/zh/06-stream.md
  docs/zh/09-tools/01-cli.md
  docs/zh/09-tools/02-taosbenchmark.md
  docs/zh/09-tools/03-taosdump.md
  docs/zh/09-tools/04-grafana.md
  docs/zh/09-tools/05-seeq.md
  docs/zh/09-tools/10-prometheus.md
  docs/zh/09-tools/11-dbeaver.md
  docs/zh/16-ticket/index.md
Owners: @guanshengliang, @zitsen

docs(taosgen): support producing messages to Kafka
  docs/doxgen/taosgen_config.md
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

chore: Enhance CI workflow for documentation build and checks
  .github/workflows/tdengine-doc-build.yml
Owners: @feici02

Apply suggestion from @feici02
  tests/pytest/util/log.py
Owners: @guanshengliang, @zitsen

Apply suggestion from @feici02
  tests/army/frame/log.py
Owners: @guanshengliang, @zitsen

fix: comment out specific test cases in cases.task (#33809)
  test/ci/cases.task
Owners: @taosdata/merge

fix(log): replace distutils.log with warnings for logging (#33763)
  test/ci/pytest.sh
  tests/army/frame/log.py
  tests/army/pytest.sh
  tests/pytest/restful/restful_bind_db1.py
  tests/pytest/restful/restful_bind_db2.py
  tests/pytest/test.py
  tests/pytest/testCompress.py
  tests/pytest/testMinTablesPerVnode.py
  tests/pytest/testNoCompress.py
  tests/pytest/tsdb/tsdbComp.py
  tests/pytest/util/log.py
  tests/pytest/wal/sdbComp.py
  tests/system-test/0-others/udfTest.py
  tests/system-test/0-others/udf_cfg1.py
  tests/system-test/0-others/udf_cfg2.py
  tests/system-test/0-others/udf_create.py
  tests/system-test/0-others/udf_restart_taosd.py
  tests/system-test/7-tmq/dropDbR3ConflictTransaction.py
  tests/system-test/7-tmq/tmqSubscribeStb-r3.py
  tests/system-test/7-tmq/tmqUdf-multCtb-snapshot0.py
  tests/system-test/7-tmq/tmqUdf-multCtb-snapshot1.py
  tests/system-test/7-tmq/tmqUdf.py
  tests/system-test/pytest.sh
  tests/test_new/pytest.sh
  tests/test_new/udf/udf_create.py
Owners: @taosdata/merge, @guanshengliang, @zitsen

fix: Correct typos and improve clarity in multiple documentation files
  docs/zh/04-data-in/01-ds/05-opc-ua.md
  docs/zh/04-data-in/01-ds/08-mqtt.md
  docs/zh/04-data-in/01-ds/09-kafka.md
  docs/zh/04-data-in/01-ds/11-csv.md
  docs/zh/04-data-in/01-ds/13-mysql.md
  docs/zh/04-data-in/01-ds/14-postgres.md
  docs/zh/04-data-in/01-ds/15-oracle.md
  docs/zh/09-tools/03-taosdump.md
  docs/zh/09-tools/04-grafana.md
  docs/zh/09-tools/10-prometheus.md
Owners: @guanshengliang, @zitsen

fix: Correct typos and improve clarity in multiple documentation files
  docs/en/03-concept/index.md
  docs/en/04-data-in/01-ds/05-opc-ua.md
  docs/en/04-data-in/01-ds/index.md
  docs/en/05-programming/06-client-libraries/04-rust.md
  docs/en/09-tools/02-taosbenchmark.md
  docs/en/09-tools/05-seeq.md
  docs/en/09-tools/06-gds.md
  docs/en/09-tools/07-powerbi.md
  docs/en/10-mgmt/02-replication/index.md
  docs/en/12-user-mgmt/01-users/index.md
  docs/en/12-user-mgmt/02-usergroups/index.md
  docs/en/12-user-mgmt/index.md
  docs/en/13-orgs/index.md
  docs/en/15-profile/index.md
  docs/en/20-releases/01-20230831.md
Owners: @guanshengliang, @zitsen

fix: Correct typo in contributor license agreement section of documentation
  CONTRIBUTING.md
Owners: @taosdata/merge

docs(taosgen): correct the format
  docs/doxgen/taosgen_config.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

feat(tmq): add lock for consumer/topic/subscription to avoid race conditions & add doc
  docs/en/06-advanced/01-subscription/01-topic.md
  docs/en/14-reference/03-taos-sql/40-tmq.md
  docs/zh/06-advanced/01-subscription/01-topic.md
  docs/zh/14-reference/03-taos-sql/40-tmq.md
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndConsumer.h
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndConsumer.c
  source/dnode/mnode/impl/src/mndDef.c
  source/dnode/mnode/impl/src/mndSubscribe.c
  source/dnode/mnode/impl/src/mndTopic.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parTranslater.c
  test/cases/81-Tools/01-Check/test_check_systb_inspect.py
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts6379.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix stream notification send
  include/util/tcurl.h
  source/libs/new-stream/src/streamUtil.c
  source/util/src/tcurl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: Update links for clarity and formatting in documentation
  docs/en/05-programming/06-client-libraries/06-csharp.md
  docs/zh/05-programming/06-client-libraries/01-python.md
  docs/zh/05-programming/06-client-libraries/06-csharp.md
  docs/zh/09-tools/05-seeq.md
Owners: @guanshengliang, @zitsen

feat(rbac): merge user/role privileges for hb
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndDump.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/catalog/src/ctgCache.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(taosgen): fix markdown warning
  docs/doxgen/taosgen_config.md
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

change sql manual links
  docs/zh/01-index.md
  docs/zh/05-programming/02-model.md
  docs/zh/05-programming/index.md
  docs/zh/06-stream.md
  docs/zh/09-tools/03-taosdump.md
Owners: @guanshengliang, @zitsen

fix: Add custom rule to disallow angle bracket auto-links in documentation
  docs/.markdownlint-cli2.jsonc
  docs/custom-rules/no-angle-bracket-url.js
Owners: @guanshengliang, @zitsen

docs: add custom rule to disallow angle bracket auto-links
  docs/.markdownlint-cli2.jsonc
  docs/custom-rules/no-angle-bracket-url.js
Owners: @guanshengliang, @zitsen

docs(taosgen): compliance markdown Check
  docs/doxgen/taosgen_config.md
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

feat(rbac): merge user/role privileges for hb
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: optimize the usage logic of read-write locks in RPC communication (#33795)
  source/libs/transport/src/transComm.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: fix column number calculation for space after punctuation rule
  docs/custom-rules/space-after-punctuation-in-emphasis.js
Owners: @guanshengliang, @zitsen

fix(stream): fix stream notification send (#33815)
  include/util/tcurl.h
  source/libs/new-stream/src/streamUtil.c
  source/util/src/tcurl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update new-framework-test.yml
  .github/workflows/new-framework-test.yml
Owners: @feici02

enh: improve logging for stable and normal tag filter cache operations
  source/dnode/vnode/src/meta/metaCache.c
  source/libs/executor/src/executil.c
  test/cases/18-StreamProcessing/99-Others/test_stream_tag_cache.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(rbac): merge user/role privileges for hb
  include/util/tpriv.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: delete repetitive and unnecessary text (#33455)
  docs/en/06-advanced/03-stream.md
  docs/zh/04-get-started/_apt_get_install.mdx
  docs/zh/05-basic/01-model.md
  docs/zh/06-advanced/01-subscription/02-native.md
  docs/zh/06-advanced/03-stream.md
  docs/zh/06-advanced/05-data-in/02-tmq.md
  docs/zh/06-advanced/05-data-in/05-opcua.md
  docs/zh/06-advanced/05-data-in/06-opcda.md
  docs/zh/06-advanced/05-data-in/15-oracle.mdx
  docs/zh/06-advanced/06-TDgpt/05-forecast/03-holtwinters.md
Owners: @guanshengliang, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
