Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: code review (#34623)
  source/libs/executor/src/executor.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix fast-lzma2 build error on macos
  conan/fast-lzma2/conanfile.py
Owners: @taosdata/merge

docs: update nodejs docs
  docs/en/14-reference/05-connector/35-node.md
  docs/zh/14-reference/05-connector/35-node.mdx
Owners: @guanshengliang, @zitsen

enh(tests): add unit test cases to concurrent group
  test/cases/82-UnitTest/test.sh
Owners: @taosdata/merge

chore: fix windows build error for crashdump
  conan/crashdump/conanfile.py
Owners: @taosdata/merge

doc: Revise C compiler requirements in tutorial
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
Owners: @guanshengliang, @zitsen

fix ai review issues
  source/libs/parser/src/parAstCreater.c
  test/cases/24-Users/test_user_manager.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix indentation
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/mnode/impl/src/mndStreamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix fast-lzma2 build error in macos
  conan/fast-lzma2/conanfile.py
Owners: @taosdata/merge

fix failed test cases
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndXnode.c
  test/cases/24-Users/test_user_basic.py
  test/cases/24-Users/test_user_manager.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

add image
  docs/en/assets/data-querying-01-window.png
Owners: @guanshengliang, @zitsen

fix: stop rpc
  source/client/src/clientMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

doc: update docs.
  docs/zh/06-advanced/06-TDgpt/05-forecast/04-prophet.md
  docs/zh/06-advanced/06-TDgpt/05-forecast/05-tsfm.md
  docs/zh/06-advanced/06-TDgpt/06-anomaly-detection/index.md
Owners: @guanshengliang, @zitsen

fix: where.py nmatch [^t] empty result (#902)
  cases/Query/queryutil/where.py
Owners: @taosdata/merge

case: add show privilege case test_priv_control.py
  test/cases/25-Privileges/test_priv_control.py
Owners: @taosdata/merge

build: release ver-3.3.6.42
  cmake/version.cmake
  tools/CMakeLists.txt
Owners: @guanshengliang, @zitsen

fix: decimal ci failed
  source/client/src/clientMain.c
  test/cases/01-DataTypes/test_datatype_decimal.py
  test/cases/01-DataTypes/test_datatype_decimal64.py
  test/cases/01-DataTypes/test_datatype_decimal_last.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: bugs and add more test cases
  source/libs/executor/src/executil.c
  source/libs/executor/src/projectoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planSpliter.c
  source/libs/scalar/src/scalar.c
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query5a.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query5b.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query5c.0.csv
  test/cases/09-DataQuerying/08-SubQuery/ans/test_quantified_sub_query5d.0.csv
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub5a.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub5b.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub5c.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub5d.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub6a1.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub6a2.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub6b1.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub6b2.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub6c1.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub6c2.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub6d1.py
  test/cases/09-DataQuerying/08-SubQuery/test_quantified_sub6d2.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

remove calc scan plan freeing
  source/common/src/msg/streamMsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: SAST CHECK (void) and return 0
  source/client/src/clientMain.c
  tools/lastqps-test/taos_query_a_simple.c
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix: add cases to ci
  test/ci/cases.task
Owners: @taosdata/merge

chore: osTimerTests should be timezone agnostic
  source/os/test/osTimeTests.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix libgnurx-msvc build error on windows
  conan/libgnurx-msvc/conanfile.py
Owners: @taosdata/merge

chore: fix wcwidth-cjk build error on windows
  conan/wcwidth-cjk/conanfile.py
Owners: @taosdata/merge

fix tag file crash
  test/cases/15-TagIndices/test_index_tag_basic.py
Owners: @taosdata/merge

fix: subquery have limit invalid for show full options
  tools/shell/src/shellAuto.c
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

enh: check privilege of show tables
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  include/libs/parser/parser.h
  include/libs/planner/planner.h
  source/client/src/clientImpl.c
  source/libs/executor/src/sysscanoperator.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parser.c
  source/libs/planner/src/planPhysiCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: check privilege of show tables
  source/client/src/clientStmt2.c
  source/libs/planner/src/planPhysiCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: update query images (#34611)
  docs/en/05-basic/03-query.md
  docs/en/assets/data-querying-01-window.png
  docs/en/assets/data-querying-02-time-window.png
  docs/en/assets/data-querying-02-time-window.webp
Owners: @guanshengliang, @zitsen

docs: update product name in enterprise admonition (#34604)
  docs/en/assets/resources/_enterprise.mdx
Owners: @guanshengliang, @zitsen

docs: update tdgpt docs (#34612)
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/en/06-advanced/06-tdgpt/05-forecast/index.md
  docs/en/06-advanced/06-tdgpt/07-classification.md
  docs/en/06-advanced/06-tdgpt/07-correlation.md
  docs/en/06-advanced/06-tdgpt/08-imputation.md
  docs/en/06-advanced/06-tdgpt/11-system-requirements.md
  docs/en/assets/tdgpt-07.png
Owners: @guanshengliang, @zitsen

doc: update anode deployment requirements in tutorial (#34627)
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
Owners: @guanshengliang, @zitsen

fix(planner): disable project block merge in non-top-level subplans (#34613)
  source/libs/planner/src/planPhysiCreater.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_project_merge_resblock.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(planner): disable project block merge in non-top-level subplans (#34617)
  source/libs/planner/src/planPhysiCreater.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_project_merge_resblock.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed ee441e5a20 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

handle create user default values correctly
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: enforce agg filter for external window stream output
  source/libs/executor/src/externalwindowoperator.c
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_state_filter_agg.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(tests): refactor benchmark test methods for clarity and efficiency
  test/cases/81-Tools/03-Benchmark/test_benchmark_except.py
Owners: @taosdata/merge

feat: add function to erase delete data.
  include/libs/qcom/query.h
  source/dnode/vnode/src/inc/vnodeInt.h
  source/dnode/vnode/src/tsdb/tsdbMemTable.c
  source/dnode/vnode/src/tsdb/tsdbSecureErase.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/qcom/src/querymsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update include/libs/function/function.h
  include/libs/function/function.h
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
