Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

fix(stream): fix calc param reuse in the pool
  source/libs/new-stream/src/streamTriggerTask.c
  source/util/src/tobjpool.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: resolve conversation
  test/cases/uncatalog/system-test/2-query/test_decimal.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

enh: call stack
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

fix: resolve conversation
  test/cases/uncatalog/system-test/2-query/test_decimal.py
  test/cases/uncatalog/system-test/2-query/test_decimal2.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

test: output of show grants full
  tests/system-test/0-others/grant.py
Owners: @guanshengliang, @zitsen

fix: arbitrary modify no san check
  test/ci/cases.task
Owners: @taosdata/merge

fix: memory leakage
  source/client/src/clientStmt.c
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: log crash
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: decimal case cost time
  test/cases/01-DataTypes/test_datatype_decimal1.py
  test/cases/01-DataTypes/test_datatype_decimal2.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

fix: resolve conversation
  test/cases/01-DataTypes/test_datatype_decimal1.py
  test/cases/01-DataTypes/test_datatype_decimal2.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

fix(stream): ignore start message until orig readers are ready
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: windows taosdShell.py change posi
  test/ci/win_ignore_cases
Owners: @taosdata/merge

fix(tmq): tmq_get_json_meta return " if tag is ""
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_td38404.c
Owners: @guanshengliang

enh: grant support KingHistorian (#2383)
  enterprise/src/plugins/grant/CMakeLists.txt
  enterprise/src/plugins/grant/inc/machine.h
  enterprise/src/plugins/grant/src/grantMain.c
Owners: @taosdata/merge

enh: grant support KingHistorian (#33358)
  tests/system-test/0-others/grant.py
  tests/system-test/0-others/information_schema.py
Owners: @guanshengliang, @zitsen

enh: grant support KingHistorian (#33359)
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
Owners: @taosdata/merge

enh: grant support KingHistorian (#2382)
  enterprise/src/plugins/grant/CMakeLists.txt
  enterprise/src/plugins/grant/inc/machine.h
  enterprise/src/plugins/grant/src/grantMain.c
Owners: @taosdata/merge

Deployed 598b2da1df to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: query last failed case invalid ptr. (#33364)
  source/dnode/vnode/src/tsdb/tsdbRead2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): tsdb reader reset error (#33370)
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove used files (#2384)
  flow.puml
Owners: @taosdata/merge

Deployed 10e6a78ce1 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Databases/Query/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

fix: create empty table and send notify when calc window open but no data
  source/libs/executor/src/dataInserter.c
  source/libs/new-stream/src/streamRunner.c
  source/libs/new-stream/src/streamUtil.c
  test/cases/41-StreamProcessing/05-Notify/test_notify.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

refactor: specify file type
  packaging/tools/install_client.sh
Owners: @feici02

fix: update UDF example links to correct file paths
  docs/en/07-develop/09-udf.md
  docs/zh/07-develop/09-udf.md
Owners: @guanshengliang, @zitsen

fix: update code block language for UDF examples from C to Python
  docs/en/07-develop/09-udf.md
  docs/zh/07-develop/09-udf.md
Owners: @guanshengliang, @zitsen

fix: update UDF script paths from 23-UDFs to 12-UDFs in compilation and test files
  test/cases/12-UDFs/sh/compile_udf.sh
  test/cases/12-UDFs/test_udf_c.py
  test/cases/12-UDFs/test_udf_py.py
  test/cases/12-UDFs/test_udf_with_const.py
Owners: @taosdata/merge

fix: support no from query
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/operator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: fix transaction timeout
  test/conftest.py
Owners: @taosdata/merge

test: fix merge diff
  test/ci/cases.task
Owners: @taosdata/merge

fix(stream): reuse table schema
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(docker): remove unnecessary apt-get upgrade step in Dockerfile
  packaging/docker/Dockerfile.base
Owners: @feici02

fix(docker): correct typo in comment and format valgrind line in Dockerfile
  packaging/docker/Dockerfile-cd
  packaging/docker/Dockerfile.base
Owners: @feici02

add more comments to explain logic
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/timewindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

case: test_benchmark_commandline.py 7->1 case.
  test/cases/81-Tools/03-Benchmark/test_benchmark_commandline.py
Owners: @taosdata/merge

fix: test_explain.py ci not passed
  test/cases/09-DataQuerying/15-Explain/test_explain.py
Owners: @taosdata/merge

case: commandline combine
  test/ci/cases.task
Owners: @taosdata/merge

docs: upgrade taopy version
  docs/en/07-develop/01-connect.md
  docs/en/14-reference/05-connector/30-python.md
  docs/zh/07-develop/01-connect/index.md
  docs/zh/14-reference/05-connector/30-python.mdx
  test/ci/run_case.sh
  test/pyproject.toml
  test/requirements.txt
  test/uv.lock
  tests/ci/Dockerfile
  tests/ci/container_build_newmachine.sh
  tests/ci/dockerfile_ci
  tests/parallel_test/run_case.sh
  tools/tdgpt/requirements.txt
Owners: @guanshengliang, @zitsen, @taosdata/merge

fix(tmq): tmq_get_json_meta return " if tag is " (#33369)
  tests/parallel_test/cases.task
  tests/system-test/7-tmq/test_tmq_td38404.py
  utils/test/c/CMakeLists.txt
  utils/test/c/tmq_td38404.c
Owners: @guanshengliang, @zitsen

fix: ci case failed
  test/cases/80-Components/01-Taosd/test_com_config_refresh.py
  test/cases/81-Tools/03-Benchmark/test_benchmark_commandline.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge
