Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

enh(rbac): audit database
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parAuthenticator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore(jdbc): update jdbc version (#34157)
  docs/en/07-develop/01-connect.md
  docs/examples/JDBC/JDBCDemo/README-jdbc-windows.md
  docs/examples/JDBC/JDBCDemo/pom.xml
  docs/examples/JDBC/JDBCDemo/readme.md
  docs/examples/JDBC/SpringJdbcTemplate/pom.xml
  docs/examples/JDBC/connectionPools/pom.xml
  docs/examples/JDBC/consumer-demo/pom.xml
  docs/examples/JDBC/highvolume/pom.xml
  docs/examples/JDBC/mybatisplus-demo/pom.xml
  docs/examples/JDBC/springbootdemo/pom.xml
  docs/examples/JDBC/taosdemo/pom.xml
  docs/examples/java/pom.xml
  docs/zh/07-develop/01-connect/index.md
Owners: @guanshengliang, @zitsen

fix: add case
  test/cases/07-DataQuerying/07-SLimit/test_slimit_limit.py
Owners: @taosdata/merge

fix: test case
  source/libs/planner/src/planLogicCreater.c
  test/cases/14-JoinQueries/test_join_pk.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Update CMakeLists.txt
  CMakeLists.txt
Owners: @taosdata/merge

fix: count_window.py and stable_time_interval.py
  cases/Query/queryscript/stable_function/time/stable_time_interval.py
  cases/Query/queryscript/stable_query/count_window.py
Owners: @taosdata/merge

fix memleak 3.0
  source/client/src/clientStmt2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(udf): destory data block in the error case (#34140)
  source/libs/function/src/tudf.c
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: improve memory handling in cloneVgroups function
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: remove nested query have duplicate timestamp
  cases/Query/queryscript/stable_query/count_window.py
Owners: @taosdata/merge

fix: improve memory handling in cloneVgroups function
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): add ownerId for ntb and vntb
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
  source/dnode/vnode/src/meta/metaEntry.c
  source/dnode/vnode/src/meta/metaTable2.c
  source/dnode/vnode/src/vnd/vnodeQuery.c
  source/libs/catalog/src/ctgAsync.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: two stage compress
  tools/taosBackup/inc/bckError.h
  tools/taosBackup/inc/storageParquet.h
  tools/taosBackup/inc/storageTaos.h
  tools/taosBackup/src/backupData.c
  tools/taosBackup/src/storageParquet.c
  tools/taosBackup/src/storageTaos.c
Owners: @guanshengliang, @zitsen

fix(stream): add resetting tagScan logic & fix parse value error if value is integer & fix tmqError.py (#34124)
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
  source/libs/parser/src/parAstCreater.c
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 25c6c14490 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: add test case
  source/libs/planner/src/planLogicCreater.c
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: code optimization
  source/libs/executor/src/groupoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test case
  test/cases/07-DataQuerying/07-SLimit/test_slimit_limit.py
Owners: @taosdata/merge

fix memleak 4.0
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): add withInsertCond flag for user auth
  include/common/tmsg.h
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream/fetch): fix stream data fetching from runner
  source/common/src/msg/tmsg.c
  source/libs/executor/src/externalwindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix 6574866934
  source/libs/executor/src/dataInserter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: comment
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: update installation and removal scripts for improved directory handling
  packaging/tools/install.sh
  packaging/tools/remove.sh
Owners: @feici02

fix: update installation script for version handling and silent mode improvements
  packaging/tools/install.sh
Owners: @feici02

enh(rbac): fetch table tag only if user has insert privileges with cond
  include/libs/catalog/catalog.h
  source/common/src/tpriv.c
  source/dnode/vnode/src/vnd/vnodeQuery.c
  source/libs/catalog/inc/catalogInt.h
  source/libs/catalog/src/catalog.c
  source/libs/catalog/src/ctgUtil.c
  source/libs/catalog/test/catalogTests.cpp
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/test/mockCatalog.cpp
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Uncomment test for tmqConsFromTsdb.py
  test/ci/win_cases.task
Owners: @taosdata/merge

Update win_cases.task
  test/ci/win_cases.task
Owners: @taosdata/merge

fix stmt2 query tbname bind problem
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(rbac): check view privileges
  source/libs/catalog/src/ctgUtil.c
  test/cases/16-Views/test_view_basic.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(tmq): add waitTransactionZeroWithTsql method to check for zero transactions after database creation
  test/new_test_framework/utils/tmqUtil.py
Owners: @taosdata/merge

fix(tests): update test cases for tmq snapshot and remove commented line
  test/ci/win_cases.task
Owners: @taosdata/merge

fix review
  source/libs/parser/src/parInsertSql.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support create/drop totp_secret statement (#2462)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

feat: support create/drop totp_secret statement (#34162)
  docs/en/14-reference/03-taos-sql/60-user.md
  docs/zh/14-reference/03-taos-sql/60-user.md
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/libs/nodes/cmdnodes.h
  include/os/osRand.h
  source/client/src/clientMsgHandler.c
  source/client/test/clientTests.cpp
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndTrans.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/libs/scheduler/src/schRemote.c
  source/os/src/osRand.c
  test/cases/81-Tools/02-Taos/test_tool_taos_cli.py
  test/ci/cases.task
  tools/shell/inc/shellInt.h
  tools/shell/src/shellAuto.c
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed 56bea7d81a to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

Deployed 82fb050561 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

enh: update keyword list
  docs/en/14-reference/03-taos-sql/92-keywords.md
  source/libs/function/src/builtins.c
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

sync chinese/english keyword list
  docs/en/14-reference/03-taos-sql/92-keywords.md
  docs/zh/14-reference/03-taos-sql/92-keywords.md
Owners: @guanshengliang, @zitsen

enh(rbac): add isAudit flag for table meta
  include/common/tmsg.h
  include/libs/qcom/query.h
  source/common/src/msg/tmsg.c
  source/libs/qcom/src/querymsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121
