Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

02-concept.md
  docs/zh/02-concept.md
Owners: @guanshengliang, @zitsen

enh: support trigger original reader deploy times
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/mnode/impl/src/mndStreamMgmt.c
  source/dnode/mnode/impl/src/mndStreamUtil.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): grant privileges to role
  include/common/tmsg.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update 02-concept.md
  docs/zh/02-concept.md
Owners: @guanshengliang, @zitsen

fix(stream): fix param ignore in recalculation
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: add moment model files to Dockerfile for full TDGpt image
  packaging/docker/DockerfileTDgpt
Owners: @feici02

enh(stream): fix memory leak
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): conflicts detection for privileges
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): case error (#33648)
  utils/test/c/tmq_td37436.c
Owners: @guanshengliang

feat: add moment model support in entrypoint script
  packaging/docker/entrypoint.sh
Owners: @feici02

fix: add missing port 6062 to Dockerfile EXPOSE directive
  packaging/docker/DockerfileTDgpt
Owners: @feici02

fix: improve model file checking logic in entrypoint script
  packaging/docker/entrypoint.sh
Owners: @feici02

feat: update entrypoint script to support moment model and fix model directory handling
  packaging/docker/DockerfileTDgpt.base
  packaging/docker/entrypoint.sh
Owners: @feici02

feat: add momentfm package installation to venv_timesfm in Dockerfile
  packaging/docker/DockerfileTDgpt.base
Owners: @feici02

fix: update Dockerfile to improve package installation process and cleanup
  packaging/docker/DockerfileTDgpt
Owners: @feici02

fix: use --link option for moment model files in Dockerfile
  packaging/docker/DockerfileTDgpt
Owners: @feici02

fix: improve error handling in snapshot receiver and heartbeat logging
  source/libs/sync/src/syncSnapshot.c
  source/libs/sync/src/syncUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stream compatibility between 3.3.7 and 3.3.8 (#33599)
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/common/streamMsg.h
  include/libs/nodes/plannodes.h
  include/util/taoserror.h
  include/util/tjson.h
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/mnode/impl/src/mndDef.c
  source/dnode/mnode/impl/src/mndStream.c
  source/util/src/terror.c
  source/util/src/tjson.c
  test/cases/18-StreamProcessing/23-Compatibility/test_new_stream_compatibility.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed 0044dfecc7 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/StreamProcessing/Compatibility/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

Update docs/zh/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
Owners: @guanshengliang, @zitsen

Update docs/zh/02-concept.md
  docs/zh/02-concept.md
Owners: @guanshengliang, @zitsen

feat: check model status.
  source/common/src/systable.c
  source/common/src/tanalytics.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndAnode.c
  tools/tdgpt/taosanalytics/algo/tsfm.py
  tools/tdgpt/taosanalytics/service.py
  tools/tdgpt/taosanalytics/servicemgmt.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

fix(stream): ignore redundant mgmt msg for trigger
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/new-stream/src/streamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(tmq): modify test case
  test/cases/uncatalog/system-test/7-tmq/test_tmq_ts7662.py
  test/ci/cases.task
Owners: @taosdata/merge

fix(gpt): set correct time precision for Prophet model. (#33643)
  tools/tdgpt/taosanalytics/algo/fc/prophet.py
  tools/tdgpt/taosanalytics/algo/forecast.py
  tools/tdgpt/taosanalytics/service.py
Owners: @guanshengliang, @zitsen

account lock / unlock
  include/common/tmsg.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update create user statement
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

limit reuse of password
  include/util/taoserror.h
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

notify datetime white list change
  include/client/taos.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  source/client/inc/clientInt.h
  source/client/src/clientHb.c
  source/client/src/clientMain.c
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/dnode/mgmt/node_util/inc/dmUtil.h
  source/dnode/mnode/impl/inc/mndInt.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndSync.c
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

update sql syntax for create/alter user
  include/common/ttime.h
  include/util/taoserror.h
  include/util/tdef.h
  source/common/src/ttime.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/inc/sql.y.bak
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
  tools/shell/inc/shellInt.h
  tools/taos-tools/inc/dump.h
Owners: @guanshengliang, @hzcheng, @dapan1121, @zitsen

implement alter user statement
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

datetime white list
  include/client/taos.h
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/taoserror.h
  source/client/src/clientMain.c
  source/client/wrapper/inc/wrapper.h
  source/client/wrapper/src/wrapperDriver.c
  source/client/wrapper/src/wrapperFunc.c
  source/client/wrapper/src/wrapperVariable.c
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/util/src/terror.c
  source/util/test/errorCodeTable.ini
Owners: @guanshengliang, @hzcheng, @dapan1121

refactor code
  include/common/tmsg.h
  include/common/tmsgdef.h
  source/client/src/clientMain.c
  source/common/src/msg/tmsg.c
  source/common/test/msgTypeTable.ini
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

IP whitelist/blacklist support
  include/common/tmsg.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): optimize first/las ts interface (#33602)
  include/libs/executor/storageapi.h
  include/libs/new-stream/streamReader.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
  test/cases/18-StreamProcessing/07-SubQuery/test_subquery_vtable_change.py
  test/cases/18-StreamProcessing/20-UseCase/idmp_manager_bug8.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(rbac): privileges conflicts detection optimization
  source/common/src/tpriv.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test: add fallback check for stable tag filter cache
  test/cases/18-StreamProcessing/99-Others/test_stream_tag_cache.py
Owners: @taosdata/merge

doc: update user manual.
  docs/zh/06-advanced/06-TDgpt/07-correlation.md
  docs/zh/06-advanced/06-TDgpt/08-imputation.md
Owners: @guanshengliang, @zitsen

fix(tsdb): convert time precision for file set reader (#33644)
  source/dnode/vnode/src/tsdb/tsdbFS2.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(rhai): test rhai custom functions (#3399)
  taosx-core/src/plugins/expr/functions.rs
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
