Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(xnode): fix memory leak when use sql:drop xnode job where config='test'
  source/dnode/mnode/impl/src/mndXnode.c
  test/cases/42-Xnode/test_xnode.py
  test/cases/42-Xnode/test_xnode_lifecycle.py
  test/cases/42-Xnode/test_xnode_systables.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: fix ci problem
  test/cases/16-Views/test_view_basic.py
  test/cases/16-Views/test_view_mgmt.py
Owners: @taosdata/merge

fix: ci cases failed.
  source/dnode/mnode/impl/test/sdb/sdbTest.cpp
  test/cases/70-Cluster/test_cluster_threads.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: [6718786025] Optimize error code and error msg. (#34362)
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/util/taoserror.h
  source/client/src/clientTmq.c
  source/common/src/tdataformat.c
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndSubscribe.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/operator.c
  source/libs/parser/src/parInsertSql.c
  source/libs/parser/src/parTranslater.c
  source/libs/parser/src/parUtil.c
  source/libs/planner/src/planLogicCreater.c
  source/util/src/terror.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh: add syntax parser
  include/libs/nodes/querynodes.h
  include/util/tdef.h
  source/libs/parser/inc/sql.y.bak
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: fix ci problem
  test/cases/24-Users/test_user_privilege_db.py
  test/cases/24-Users/test_user_privilege_table.py
Owners: @taosdata/merge

fix: ip white list notification not work (#2479)
  enterprise/src/plugins/privilege/src/privilege.c
Owners: @taosdata/merge

feat/6640154608-audit-encrypt-algo-doc-test
  docs/en/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
  test/cases/02-Databases/01-Create/test_db_create_encrypt.py
  test/cases/80-Components/01-Taosd/test_com_taosd_audit.py
Owners: @guanshengliang, @zitsen, @taosdata/merge

fix: crash of time whitelist (#34351)
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transComm.c
  source/libs/transport/src/transSvr.c
  test/cases/24-Users/test_user_manager.py
  test/cases/24-Users/test_user_token.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: format spell
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 9b9808f9b5 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Users/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix(udf/setup): release udf resources when setup failed (#34333)
  source/libs/function/src/udfd.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs: mqtt data subscription link (#34253)
  docs/en/14-reference/03-taos-sql/40-tmq.md
Owners: @guanshengliang, @zitsen

docs: cpp subscribe correction (#34252)
  docs/en/14-reference/05-connector/10-cpp.md
  docs/zh/14-reference/05-connector/10-cpp.mdx
Owners: @guanshengliang, @zitsen

fix: reset cmake file.
  cmake/external.cmake
Owners: @guanshengliang

fix: rm unused file taoskLog.
  test/taoskLog.0
Owners: @taosdata/merge

fix: [6719658649] Fix wrong show create virtual table output. (#34360)
  source/libs/command/src/command.c
  test/cases/05-VirtualTables/ans/test_vtable_show_create.ans
  test/cases/05-VirtualTables/in/test_vtable_show_create.in
  test/cases/05-VirtualTables/test_vtable_show_create.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: [6719658649] Fix wrong show create virtual table output. (#34359)
  source/libs/command/src/command.c
  test/cases/05-VirtualTables/ans/test_vtable_show_create.ans
  test/cases/05-VirtualTables/in/test_vtable_show_create.in
  test/cases/05-VirtualTables/test_vtable_show_create.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): fix mgmt add new calc reader task (#34358)
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix mgmt add new calc reader task (#34357)
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add condition to skip tests for manual-only pull requests
  .github/workflows/new-framework-test.yml
Owners: @feici02

enh: add condition to skip tests for manual-only pull requests (#34369)
  .github/workflows/new-framework-test.yml
Owners: @feici02

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/zh/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

Update docs/en/08-operation/16-security.md
  docs/en/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix review
  docs/en/08-operation/16-security.md
  docs/zh/08-operation/16-security.md
Owners: @guanshengliang, @zitsen

fix: compile error in stmt2Test
  source/client/test/stmt2Test.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: case errors
  test/cases/70-Cluster/test_cluster_threads.py
Owners: @taosdata/merge

fix: grammer issue
  source/libs/function/inc/builtinsimpl.h
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/inc/sql.y.bak
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed f0be398868 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/Components/Taosd/index.html
  3.0/case_list_docs/Users/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

test: recover check
  .github/workflows/new-framework-test.yml
Owners: @feici02

Deployed b772a5d7f3 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataQuerying/SubQuery/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

chore: fix debugFlag CI related issue
  docs/en/14-reference/01-components/01-taosd.md
  docs/zh/14-reference/01-components/01-taosd.md
  include/util/tdef.h
  source/common/src/tglobal.c
  source/libs/txnode/src/txnodeMgmt.c
  test/cases/70-Cluster/test_cluster_threads.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

enh: add support for IPv6 dual-stack in transport layer and related tests
  source/libs/transport/CMakeLists.txt
  source/libs/transport/src/transCli.c
  source/libs/transport/src/transSvr.c
  source/libs/transport/test/CMakeLists.txt
  source/libs/transport/test/transUT2.cpp
  source/libs/transport/test/transUTIPv6.cpp
  source/os/src/osSocket.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update source/libs/transport/test/CMakeLists.txt
  source/libs/transport/test/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add support for IPv6 dual-stack in transport layer and related tests
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: taosk compatibility (#2485)
  enterprise/src/plugins/dnode/src/dmodule.c
  enterprise/src/plugins/taosk/CMakeLists.txt
  enterprise/src/plugins/taosk/inc/taoskInt.h
  enterprise/src/plugins/taosk/src/taoskFile.c
  enterprise/src/plugins/taosk/src/taoskKey.c
  enterprise/src/plugins/taosk/src/taoskMain.c
  enterprise/src/plugins/taosk/src/taoskView.c
Owners: @taosdata/merge

feat: taosk compatibility (#34343)
  include/common/tglobal.h
  include/common/tmsg.h
  include/dnode/mnode/mnode.h
  source/common/src/msg/tmsg.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
  source/dnode/mgmt/mgmt_dnode/src/dmWorker.c
  source/dnode/mgmt/mgmt_mnode/inc/mmInt.h
  source/dnode/mgmt/mgmt_mnode/src/mmFile.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mgmt/mgmt_snode/inc/smInt.h
  source/dnode/mgmt/mgmt_snode/src/smHandle.c
  source/dnode/mgmt/mgmt_snode/src/smInt.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mgmt/node_mgmt/src/dmMgmt.c
  source/dnode/mgmt/node_util/inc/dmUtil.h
  source/dnode/mgmt/node_util/src/dmFile.c
  source/dnode/mnode/impl/CMakeLists.txt
  source/dnode/mnode/impl/inc/mndInt.h
  source/dnode/mnode/impl/src/mndDnode.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndMnode.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/test/sdb/CMakeLists.txt
  source/dnode/mnode/impl/test/sdb/sdbTest.cpp
  source/dnode/mnode/sdb/inc/sdb.h
  source/dnode/mnode/sdb/src/sdb.c
  source/dnode/mnode/sdb/src/sdbFile.c
  source/dnode/vnode/src/vnd/vnodeCfg.c
  source/dnode/vnode/src/vnd/vnodeOpen.c
  source/dnode/vnode/test/CMakeLists.txt
  source/libs/new-stream/test/CMakeLists.txt
  source/libs/new-stream/test/checkpointEncryptionTest.cpp
  test/cases/70-Cluster/test_cluster_threads.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat(tmq): support token for tmq (#34337)
  docs/en/06-advanced/01-subscription/02-native.md
  docs/en/07-develop/07-tmq.md
  docs/zh/06-advanced/01-subscription/02-native.md
  docs/zh/07-develop/07-tmq.md
  source/client/inc/clientInt.h
  source/client/src/clientImpl.c
  source/client/src/clientTmq.c
  source/libs/wal/src/walRead.c
  test/cases/17-DataSubscription/02-Consume/test_subscribe_db3.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_bugs.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_error.py
  test/cases/17-DataSubscription/02-Consume/test_tmq_snapshot_filter.py
  test/new_test_framework/utils/common.py
  tests/pytest/util/common.py
  utils/test/c/CMakeLists.txt
  utils/test/c/tmqSim.c
  utils/test/c/tmq_token.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
