Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat: move load and save encrypt key to mndDnode.c.
  source/dnode/mnode/impl/src/mndConfig.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix ci issue
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  test/cases/81-Tools/01-Check/test_check_error_code.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

add stmt2 trace log to print bind datas
  include/libs/parser/parser.h
  source/client/inc/clientStmt2.h
  source/client/src/clientMain.c
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertStmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add stmt2 trace log to print bind datas
  include/libs/parser/parser.h
  source/client/inc/clientStmt2.h
  source/client/src/clientMain.c
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertStmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: idmp case with checkDataMemLoop checked
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_manager.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_meters.py
  test/cases/18-StreamProcessing/20-UseCase/test_idmp_vehicle.py
  test/new_test_framework/utils/sql.py
Owners: @taosdata/merge

feat: opt get key from mnode.
  include/common/tglobal.h
  source/common/src/tglobal.c
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add explain
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/nodes/src/nodesToSQLFuncs.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planPhysiCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix stmt2 query block
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: taos.cfg debugFlag 135
  tools/tsbs-tdengine/src/deployCluster.py
Owners: @guanshengliang, @zitsen

feat(taos): support dsn with user/password (#33853)
  test/cases/81-Tools/02-Taos/test_tool_taos_cli.py
  tools/shell/src/shellEngine.c
Owners: @taosdata/merge, @guanshengliang, @zitsen

feat(taos): support dsn with user/password (#33855)
  tests/army/cmdline/taosCli.py
  tools/shell/src/shellEngine.c
Owners: @guanshengliang, @zitsen

Deployed e8b25e5a60 to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix: window calc with subquery
  include/common/tcommon.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planUtil.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bug_ts5400.py
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 2767a68831 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

feat(TS-7270): openssl dep (#33833)
  include/util/tdef.h
  source/dnode/mgmt/CMakeLists.txt
  source/libs/crypt/CMakeLists.txt
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 24dab72729 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/Tables/NormalTables/index.html
  3.0/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  3.0/case_list_docs/VirtualTables/index.html
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

Merge branch '3.0' into feat/TS-7346
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: unused condition
  source/libs/planner/src/planOptimizer.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(crypto): fixes & docs for crypto funcs
  include/util/tbase64.h
  source/libs/function/src/builtins.c
  source/libs/parser/src/parInsertSql.c
  source/libs/scalar/src/sclfunc.c
  source/util/src/tbase64.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): show privileges controlled by specific privileges or owner
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/parser/src/parAuthenticator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs for crypto
  docs/en/14-reference/03-taos-sql/22-function.md
  docs/zh/14-reference/03-taos-sql/22-function.md
  test/cases/11-Functions/01-Scalar/test_scalar_crypto.py
Owners: @guanshengliang, @zitsen, @taosdata/merge

feat(rbac): show privileges controlled by specific privileges or owner
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

chore: resource release for retrieve vnodes
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: update audit configuration and improve logging for HTTP server startup
  test/cases/uncatalog/system-test/0-others/test_taosd_audit.py
Owners: @taosdata/merge

feat(rbac): privileges of show compacts
  include/util/tpriv.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndUser.c
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test wal keep version failed.
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_high_availability.py
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @taosdata/merge

stmt2 bind tag add bool data type check
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertStmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

cases: partition by 4->1 migrate
  test/cases/09-DataQuerying/16-PartitonBy/test_query_partitionby_basic.py
  test/cases/uncatalog/system-test/2-query/test_partition_by_col_agg.py
  test/cases/uncatalog/system-test/2-query/test_partition_expr.py
  test/cases/uncatalog/system-test/2-query/test_partition_limit_interval.py
  test/ci/cases.task
Owners: @taosdata/merge

fix review
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: add stmt2 trace log to print bind datas (#33863)
  include/libs/parser/parser.h
  source/client/inc/clientStmt2.h
  source/client/src/clientMain.c
  source/client/src/clientStmt2.c
  source/client/test/stmt2Test.cpp
  source/libs/parser/src/parInsertStmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix review
  source/libs/parser/src/parUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): add macro MND_SHOW_CHECK_DB_PRIVILEGE
  source/dnode/mnode/impl/inc/mndShow.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndScan.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndVgroup.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add totp enabled status to systable
  include/util/totp.h
  source/common/src/systable.c
  source/dnode/mnode/impl/inc/mndUser.h
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/libs/parser/src/parAstCreater.c
  source/util/src/totp.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(pibackfill): datasets use wrong valueField in config (#3451)
  explorer/taos-ui/components/dataIn/config/en/04-pibackfill.ts
  explorer/taos-ui/components/dataIn/config/zh/04-pibackfill.ts
Owners: @taosdata/merge

fix(explorer): fix transform extract results unexpected fields [ci skip] (#3450)
  explorer/taos-ui/components/dataIn/components/commonTransformer/extractSplit.vue
  explorer/taos-ui/components/dataIn/components/commonTransformer/type.ts
Owners: @taosdata/merge

fix: test wal keep version failed. (#33867)
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_high_availability.py
  test/cases/06-DataIngestion/05-Others/test_wal_keep_version_trim.py
Owners: @taosdata/merge

Deployed ede62305c1 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  main/objects.inv
  main/search/search_index.json
Owners: @taosdata/merge

handle time unsync (#33223)
  include/common/tglobal.h
  source/client/inc/clientInt.h
  source/client/src/clientEnv.c
  source/client/src/clientHb.c
  source/client/src/clientMsgHandler.c
  source/common/src/tglobal.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDnode.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: inner readers scan until found valid data
  include/libs/executor/storageapi.h
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/tsdb/tsdbReadUtil.h
  source/dnode/vnode/src/vnd/vnodeInitApi.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timesliceoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): add macro MND_SHOW_CHECK_DB_PRIVILEGE
  include/util/tpriv.h
  include/util/tutil.h
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndFunc.c
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndRole.c
  source/dnode/mnode/impl/src/mndScan.c
  source/dnode/mnode/impl/src/mndSsMigrate.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/libs/catalog/src/ctgUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
