Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix(gpt): do some internal refactor.
  tools/tdgpt/requirements.txt
  tools/tdgpt/taosanalytics/algo/correl/dtw.py
  tools/tdgpt/taosanalytics/app.py
Owners: @guanshengliang, @zitsen

doc(gpt): remove some typos.
  docs/zh/06-advanced/06-TDgpt/09-dev/04-tsfm/index.md
Owners: @guanshengliang, @zitsen

case: tidy up mkdocs.yml
  test/cases/10-DataIngestion/test_write_blob.py
  test/cases/22-Functions/04-Timeseries/test_fun_ts_derivative.py
  test/mkdocs.yml
Owners: @taosdata/merge

fix(gpt): fix error
  tools/tdgpt/taosanalytics/algo/correl/tlcc.py
Owners: @guanshengliang, @zitsen

enh(last): enable reading cache when select last and tags (#33204)
  source/libs/planner/src/planOptimizer.c
  test/cases/22-Functions/02-Aggregate/test_agg_last.py
  test/cases/22-Functions/resource/ans/last_tag.csv
  test/cases/22-Functions/resource/in/last_tag.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed a7e3f9b30d to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/Functions/Aggregate/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

fix(stream): fix calc request serialization
  source/common/src/msg/streamMsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

SML short title
  test/cases/10-DataIngestion/03-SML/test_write_sml_influxdb_line.py
  test/cases/10-DataIngestion/03-SML/test_write_sml_opentsdb_json.py
  test/cases/10-DataIngestion/03-SML/test_write_sml_opentsdb_telnet.py
  test/cases/10-DataIngestion/04-Import/test_write_import_csv.py
Owners: @taosdata/merge

enh: TD-38163-mnode-open-log (#33160)
  source/dnode/mnode/impl/src/mndMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: clearing user_ip in taos_options_connection does not take effect (#33229)
  docs/examples/c/connect_example.c
  source/client/test/connectOptionsTest.cpp
  source/dnode/mnode/impl/src/mndProfile.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

fix: clearing user_ip in taos_options_connection does not take effect (#33228)
  docs/examples/c/connect_example.c
  source/client/test/connectOptionsTest.cpp
  source/dnode/mnode/impl/src/mndProfile.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh: rsma docs and task monitor (#33219)
  docs/zh/14-reference/03-taos-sql/43-rsma.md
  include/util/taoserror.h
  source/dnode/mnode/impl/inc/mndCompact.h
  source/dnode/mnode/impl/inc/mndDb.h
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndRetention.h
  source/dnode/mnode/impl/src/mndCompact.c
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndRetention.c
  source/dnode/mnode/impl/src/mndScan.c
  source/libs/parser/src/parTranslater.c
  source/util/src/terror.c
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121

enh(influxdb): optimize log level from info to debug (#3322)
  plugins/influxdb/src/main/java/com/taosdata/service/impl/InfluxdbServiceImpl.java
  plugins/influxdb/src/main/java/com/taosdata/threads/BucketDataThread.java
Owners: @taosdata/merge

enh: TD-38278-print-error-code
  include/util/taoserror.h
  source/client/src/clientMonitor.c
  source/libs/monitor/src/monFramework.c
  source/libs/monitorfw/src/taos_collector_registry.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update include/util/taoserror.h
  include/util/taoserror.h
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: correct typo in error code for metric existence
  source/libs/monitorfw/src/taos_collector_registry.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

test(gpt): add restfull test cases.
  tools/tdgpt/taosanalytics/algo/correlation.py
  tools/tdgpt/taosanalytics/algo/imputation.py
  tools/tdgpt/taosanalytics/app.py
  tools/tdgpt/taosanalytics/test/restful_api_test.py
  tools/tdgpt/taosanalytics/util.py
Owners: @guanshengliang, @zitsen

test(gpt): update test cases.
  tools/tdgpt/taosanalytics/test/unit_test.py
Owners: @guanshengliang, @zitsen

enh(last): enable using cache when select last and composite key
  source/libs/planner/src/planOptimizer.c
  test/cases/22-Functions/02-Aggregate/test_agg_last.py
  test/cases/22-Functions/resource/ans/last_pk.csv
  test/cases/22-Functions/resource/in/last_pk.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(stream): reset tableScan operator
  include/libs/executor/executor.h
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/scanoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: unique getBuildPath invoke and ignore .git branch name contain binary name
  test/cases/41-StreamProcessing/23-Compatibility/test_compatibility_cross_version.py
Owners: @taosdata/merge

Update test_oldcase_taosdShell.py
  test/cases/41-StreamProcessing/30-OldPyCases/test_oldcase_taosdShell.py
Owners: @taosdata/merge

Update new-framework-test.yml
  .github/workflows/new-framework-test.yml
Owners: @feici02

fix: TS-7219-handle-status-req-timeout (#33210)
  source/dnode/mgmt/mgmt_dnode/src/dmHandle.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: support interp and percentile functions in stream (#33150)
  include/common/tdatablock.h
  include/libs/executor/executor.h
  include/libs/nodes/plannodes.h
  source/common/src/tdatablock.c
  source/dnode/snode/src/snode.c
  source/dnode/vnode/src/tsdb/tsdbRead2.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/executor/inc/executil.h
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timesliceoperator.c
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamReader.c
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planLogicCreater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/scalar/src/sclfunc.c
  test/cases/20-DataQuerying/12-Interp/ans/interp.csv
  test/cases/22-Functions/04-Timeseries/test_fun_ts_interp.py
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_count_1.py
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_count_2.py
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_event.py
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_session.py
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_sliding.py
  test/cases/41-StreamProcessing/07-SubQuery/test_subquery_state.py
  test/cases/uncatalog/army/query/function/ans/interp.csv
  test/cases/uncatalog/system-test/2-query/test_interp_extension.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh(last): enable reading cache when select last and tags
  source/libs/planner/src/planOptimizer.c
  test/cases/10-Functions/03-Selection/test_func_last_tag.py
  test/cases/10-Functions/ans/last_tag.csv
  test/cases/10-Functions/in/last_tag.in
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

add find gcda case
  test/ci/run_coverage_diff.sh
Owners: @taosdata/merge

add test
  test/37719.txt
Owners: @taosdata/merge

fix: stream interp and percentile description
  docs/en/14-reference/03-taos-sql/20-select.md
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/20-select.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

case: add 14 extern link case describe
  test/cases/22-Functions/01-Scalar/test_fun_sca_pow.py
  test/cases/22-Functions/01-Scalar/test_scalar_all.py
  test/cases/44-TDgpt/test_tdgpt.py
  test/ci/cases.task
Owners: @taosdata/merge

Update docs/en/14-reference/03-taos-sql/41-stream.md
  docs/en/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

fix: stream interp and percentile description (#33237)
  docs/en/14-reference/03-taos-sql/20-select.md
  docs/en/14-reference/03-taos-sql/41-stream.md
  docs/zh/14-reference/03-taos-sql/20-select.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

fix: add missing error code '0x80006001' to ignoreCodes list
  tests/army/whole/checkErrorCode.py
Owners: @guanshengliang, @zitsen

fix: get stream tasks list crash issue
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/mnode/impl/src/mndStreamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add blob type to show commands
  source/libs/command/src/command.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: return code issue
  source/dnode/mnode/impl/src/mndStreamUtil.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(stream): fix memory leak in vtable data merge
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamTriggerMerger.c
  test/cases/41-StreamProcessing/20-UseCase/test_idmp_meters.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Update test_subscribeStb3.py
  test/cases/uncatalog/system-test/7-tmq/test_subscribeStb3.py
Owners: @taosdata/merge

enh(stream): add max wait config for stream batch request
  include/common/tglobal.h
  source/common/src/tglobal.c
  source/libs/new-stream/src/streamTriggerTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Refactor test_subscribeDb0.py for clarity
  test/cases/uncatalog/system-test/7-tmq/test_subscribeDb0.py
Owners: @taosdata/merge

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
