Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

Potential fix for pull request finding
  source/dnode/vnode/src/vnd/vnodeSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(stream/subquery/in): support in with stream subquery (#34773)
  source/dnode/snode/src/snode.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  test/cases/18-StreamProcessing/02-Stream/stream_subq_in-mtables.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in.py
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

enh: [6616786031] Support group by in vstb agg optimization. (#34827)
  source/libs/planner/src/planOptimizer.c
  test/cases/05-VirtualTables/ans/test_vstable_plan_test_agg_group_by.ans
  test/cases/05-VirtualTables/ans/test_vstable_select_test_agg_group_by.ans
  test/cases/05-VirtualTables/in/test_vstable_plan_test_agg_group_by.in
  test/cases/05-VirtualTables/in/test_vstable_select_test_agg_group_by.in
  test/cases/05-VirtualTables/test_vtable_plan_agg_optimize.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_agg.py
  test/cases/05-VirtualTables/test_vtable_query_same_db_stb_group.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 26a3b7a512 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/StreamProcessing/Stream/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

fix memory leak
  source/dnode/vnode/src/tq/tqMeta.c
  source/libs/tdb/src/db/tdbDb.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 44433187db to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/DataQuerying/Explain/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

doc: explain (#34774)
  docs/en/14-reference/03-taos-sql/28-explain.md
  docs/zh/14-reference/03-taos-sql/28-explain.md
Owners: @guanshengliang, @zitsen

refactor: replace vtags_literal_list with tags_literal_list in CREATE VTABLE syntax
  source/libs/parser/inc/sql.y
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(grant): support data in pSpace (#2528)
  enterprise/src/plugins/grant/CMakeLists.txt
  enterprise/src/plugins/grant/inc/auth.h
  enterprise/src/plugins/grant/inc/machine.h
  enterprise/src/plugins/grant/src/authServer.c
  enterprise/src/plugins/grant/src/dbRest.c
  enterprise/src/plugins/grant/src/grantMain.c
Owners: @taosdata/merge

enh(grant): support data in pSpace (#34780)
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
Owners: @taosdata/merge

fix in vtable instability with timeouted query
  test/cases/18-StreamProcessing/02-Stream/stream_subquery_in_vtable.py
Owners: @taosdata/merge

run in vtable subquery with ci
  test/ci/cases.task
Owners: @taosdata/merge

update ci task
  test/ci/cases.task
Owners: @taosdata/merge

fix(parser): set agg in unionall to useless error
  source/libs/parser/src/parCalcConst.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planSpliter.c
  test/cases/10-Operators/04-Set/test_union_bugs.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix merging issues
  test/cases/18-StreamProcessing/02-Stream/stream_subquery.py
Owners: @taosdata/merge

subq/mtables: use batch data inserting to fix timeout
  test/cases/18-StreamProcessing/02-Stream/stream_subquery-mtables.py
  test/ci/cases.task
Owners: @taosdata/merge

fix: force no merge res block
  include/libs/planner/planner.h
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/groupoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planner.c
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/complex_agg_and_filter.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/complex_partition_and_having.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/cross_mix_and_join.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/function_matrix.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/orderby_and_alias.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/ans/path_regression.ans
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/cross_mix_and_join.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/in/function_matrix.in
  test/cases/13-TimeSeriesExt/08-ExternalWindow/test_external.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

test: ci test without stream
  test/ci/cases.task
Owners: @taosdata/merge

fix: Fixed the issue of inconsistent paths caused by different working directories between manual and automated runs. (#34843)
  test/ci/cov/tdengine_coverage_alarm.py
Owners: @taosdata/merge

docs(taosgen): add action compatibility description
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

fix(deploy): enhance image tag retrieval with fallback mechanism and add environment variables
  .github/workflows/arc-deploy-daily-tsdb-env.yml
Owners: @feici02

revert all defend code in planSpliter
  source/libs/planner/src/planSpliter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

rever all defend codes in planSpliter
  source/libs/planner/src/planSpliter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(parser): set agg in unionall to useless error
  source/libs/parser/src/parCalcConst.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/07-DataQuerying/10-Union/test_unionall_outer_count.py
  test/cases/10-Operators/04-Set/test_union_bugs.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 5b732fe8bf to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/objects.inv
  3.0/search/search_index.json
  3.0/util_funcs_docs/new_test_framework/utils/index.html
Owners: @taosdata/merge

feat: use default shard bits from 0 to -1 in tsdbCache. (#34859)
  source/dnode/vnode/src/tsdb/tsdbCache.c
Owners: @guanshengliang, @hzcheng, @dapan1121

docs(taosgen): add action compatibility description (#34878)
  docs/en/14-reference/02-tools/11-taosgen.md
  docs/zh/14-reference/02-tools/11-taosgen.md
Owners: @guanshengliang, @zitsen

feat: last cache shard-bits (#34857)
  docs/en/14-reference/03-taos-sql/02-database.md
  docs/zh/14-reference/03-taos-sql/02-database.md
  include/common/tmsg.h
  include/libs/nodes/cmdnodes.h
  include/util/tdef.h
  include/util/tlrucache.h
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mgmt/mgmt_vnode/src/vmHandle.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndDb.c
  source/dnode/mnode/impl/src/mndVgroup.c
  source/dnode/vnode/inc/vnode.h
  source/dnode/vnode/src/inc/tsdb.h
  source/dnode/vnode/src/tsdb/tsdbCache.c
  source/dnode/vnode/src/vnd/vnodeCfg.c
  source/dnode/vnode/src/vnd/vnodeSvr.c
  source/libs/command/src/command.c
  source/libs/parser/inc/parAst.h
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstCreater.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  source/util/src/tlrucache.c
  source/util/test/CMakeLists.txt
  source/util/test/lrucacheTest.cpp
  test/cases/02-Databases/01-Create/test_db_compact.py
  test/cases/02-Databases/01-Create/test_op_all.py
  test/cases/02-Databases/01-Create/test_op_table_hash.py
  test/cases/02-Databases/03-Alter/test_cache_last_shards.py
  test/cases/02-Databases/03-Alter/test_db_alter_database.py
  test/cases/02-Databases/03-Alter/test_db_alter_option.py
  test/cases/23-ShowCommands/test_show_create_db.py
  test/ci/cases.task
  test/new_test_framework/utils/compatibilityUtil.py
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed d0c6d74502 to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/Databases/Alter/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

docs: move udf examples to examples directory (#34866)
  docs/en/07-develop/09-udf.md
  docs/examples/udf/bit_and.c
  docs/examples/udf/compile_udf.sh
  docs/examples/udf/extract_avg.c
  docs/examples/udf/gpd.c
  docs/examples/udf/l2norm.c
  docs/examples/udf/max_vol.c
  docs/examples/udf/prepare_pyudf.sh
  docs/examples/udf/pybitand.py
  docs/examples/udf/pycumsum.py
  docs/examples/udf/pyl2norm.py
  docs/zh/07-develop/09-udf.md
Owners: @guanshengliang, @zitsen

docs: remove doxygen (#34829)
  .github/workflows/tdengine-docs-ci.yml
  CMakeLists.txt
  cmake/options.cmake
  docs/doxgen/CMakeLists.txt
  docs/doxgen/Doxyfile.in
  docs/doxgen/scratch.md
  docs/doxgen/user_manual/Small_Materialized_Aggrates.md
  docs/doxgen/vnode_write.md
Owners: @feici02, @taosdata/merge, @guanshengliang, @zitsen

feat: add query phase tracking for SHOW QUERIES (#34706)
  docs/zh/14-reference/03-taos-sql/51-perf.md
  include/common/tmsg.h
  include/libs/scheduler/scheduler.h
  source/client/inc/clientInt.h
  source/client/src/clientEnv.c
  source/client/src/clientHb.c
  source/client/src/clientImpl.c
  source/client/src/clientMain.c
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/libs/scheduler/inc/schInt.h
  source/libs/scheduler/src/schJob.c
  source/libs/scheduler/src/schRemote.c
  source/libs/scheduler/src/schTask.c
  source/libs/scheduler/src/scheduler.c
  test/cases/21-MetaData/test_meta_information_schema.py
  test/cases/24-Users/test_query_phase_tracking.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

Deployed a4a175df2f to 3.0 with MkDocs 1.6.1 and mike 2.1.4
  3.0/case_list_docs/Users/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

feat(taosc): optimize encoder/decoder logic for SClientHbReq
  source/common/src/msg/tmsg.c
  source/common/test/SClientHbBatchReq.cpp
  source/common/test/tmsgTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: support compatible ci test
  test/ci/container_build.sh
  test/ci/run_upgrade_compat.sh
  test/ci/run_upgrade_compat_container.sh
Owners: @taosdata/merge

fix: force upgrade user if root has no roles (#34799)
  source/dnode/mnode/impl/src/mndUser.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix data inserting perf
  test/cases/18-StreamProcessing/02-Stream/stream_subq_in-mtables.py
  test/ci/cases.task
Owners: @taosdata/merge

feat(taosc): optimize encoder/decoder logic for SClientHbReq
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(deploy): update image tag retrieval and remove fallback mechanism for TSDB deployment
  .github/workflows/arc-deploy-daily-tsdb-env.yml
Owners: @feici02

feat(taosc): optimize encoder/decoder logic for SClientHbReq
  source/common/src/msg/tmsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
