Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang

doc: Clarify Python version support for TDgpt
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
Owners: @guanshengliang, @zitsen

doc: clarify Python version requirements for TDgpt (#33668)
  docs/en/06-advanced/06-tdgpt/02-tutorial.md
  docs/zh/06-advanced/06-TDgpt/02-tutorial.md
Owners: @guanshengliang, @zitsen

fix: stream mgmt request error handling issue (#33665)
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/mnode/impl/src/mndStreamMgmt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(replica): support enable.wal.marker param (#3400)
  src/replica/mod.rs
  taosx-core/src/tmq/mod.rs
Owners: @taosdata/merge

fix CI
  include/common/tmsg.h
  source/client/test/instanceTest.cpp
Owners: @guanshengliang, @hzcheng, @dapan1121

writing with aes encryp/decrypt cbc & ecb
  source/libs/parser/src/parInsertSql.c
  source/util/src/tmd5.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat: [TS-7132] Optimize vtable window query.
  include/common/tmsg.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/executor/inc/dynqueryctrl.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/operator.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/mergeoperator.c
  source/libs/executor/src/operator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/executor/test/queryPlanTests.cpp
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix[state win]: handle end all-null blocks error
  source/libs/executor/src/timewindowoperator.c
  test/cases/13-TimeSeriesExt/04-StateWindow/json/all_null_5k.json
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_null_block.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(TS-7689): fix s3 grant update when restoring
  source/dnode/vnode/src/tsdb/tsdbReaderWriter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stream compatibility
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
  include/common/streamMsg.h
  include/libs/nodes/plannodes.h
  include/util/taoserror.h
  include/util/tjson.h
  source/common/src/msg/streamJson.c
  source/common/src/msg/streamMsg.c
  source/dnode/mnode/impl/inc/mndStream.h
  source/dnode/mnode/impl/src/mndDef.c
  source/dnode/mnode/impl/src/mndStream.c
  source/util/src/terror.c
  source/util/src/tjson.c
  test/cases/18-StreamProcessing/23-Compatibility/test_new_stream_compatibility.py
  test/ci/cases.task
Owners: @guanshengliang, @zitsen, @hzcheng, @dapan1121, @taosdata/merge

fix CI 2
  include/common/tmsg.h
  source/client/src/clientMain.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh/TD-38668-remove-incorrect-error-log (#33667)
  source/dnode/mgmt/mgmt_vnode/src/vmInt.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix typo
  source/libs/function/src/builtinsimpl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: reduce code duplication in groupConstValueFunction
  source/libs/function/src/builtinsimpl.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(state window): status is null if window data start with null
  include/libs/function/function.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/countwindowoperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/groupoperator.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/function/src/builtinsimpl.c
  test/cases/uncatalog/system-test/2-query/test_state_window.py
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed fed4fd6bbb to main with MkDocs 1.6.1 and mike 2.1.3
  main/sitemap.xml.gz
Owners: @taosdata/merge

feat: for each create new cluster
  tools/tsbs-tdengine/resource/config/diagnostics.sql
  tools/tsbs-tdengine/resource/config/readings.sql
  tools/tsbs-tdengine/src/cmdLine.py
  tools/tsbs-tdengine/src/main.py
  tools/tsbs-tdengine/tools/TDengineClusterSetup.py
Owners: @guanshengliang, @zitsen

fix: close file before rename wal dir.
  source/libs/wal/src/walMeta.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: tcurl reconnect
  include/util/tcurl.h
  source/util/src/tcurl.c
  test/cases/18-StreamProcessing/05-Notify/test_notify.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix(TS-7689): fix s3 grant update when restoring
  source/dnode/vnode/src/tsdb/tsdbReaderWriter.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): optimize reader logic
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Update build matrix to remove macOS 13
  .github/workflows/tdengine-build.yml
Owners: @feici02

fix: add output json format for metrics
  tools/tsbs-tdengine/src/outMetrics.py
Owners: @guanshengliang, @zitsen

Update 01-faq.md
  docs/zh/27-train-faq/01-faq.md
Owners: @guanshengliang, @zitsen

privilege check
  include/common/tmsg.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/dnode/mnode/impl/inc/mndPrivilege.h
  source/dnode/mnode/impl/src/mndPrivilege.c
  source/dnode/mnode/impl/src/mndProfile.c
  source/dnode/mnode/impl/src/mndUser.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh: show tag index usage in explain result
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  test/cases/09-DataQuerying/15-Explain/r/test_explain.result
  test/cases/09-DataQuerying/15-Explain/t/test_explain.sql
  test/cases/09-DataQuerying/15-Explain/test_explain.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

feat: db1 and db2 replace with db
  tools/tsbs-tdengine/resource/config/cases.yaml
  tools/tsbs-tdengine/resource/config/diagnostics.sql
  tools/tsbs-tdengine/resource/config/diagnostics.yaml
  tools/tsbs-tdengine/resource/config/readings.sql
  tools/tsbs-tdengine/resource/config/readings.yaml
Owners: @guanshengliang, @zitsen

fix: fix error and add test cases.
  tools/tdgpt/taosanalytics/algo/fc/prophet.py
  tools/tdgpt/taosanalytics/app.py
  tools/tdgpt/taosanalytics/test/restful_api_test.py
Owners: @guanshengliang, @zitsen

fix: fix error in doc.
  docs/zh/06-advanced/06-TDgpt/09-dev/02-algo/02-forecast.md
Owners: @guanshengliang, @zitsen

Simplify directory creation with exist_ok=True
  test/ci/scan_file_path.py
Owners: @taosdata/merge

Update macOS version requirement to 14.0
  docs/zh/14-reference/07-supported.md
Owners: @guanshengliang, @zitsen

fix(state window): status is null if window data start with null
  include/libs/function/function.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/aggregateoperator.c
  source/libs/executor/src/countwindowoperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/groupoperator.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/function/src/builtinsimpl.c
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window.py
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_extend.py
  test/cases/uncatalog/system-test/2-query/test_state_window_extend.py
  test/ci/cases.task
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

doc: typo
  docs/zh/14-reference/01-components/08-config-scope.md
Owners: @guanshengliang, @zitsen

fix: stream json memleak error
  source/common/src/msg/streamMsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: stream json memleak error
  source/common/src/msg/streamMsg.c
Owners: @guanshengliang, @hzcheng, @dapan1121

feat(rbac): show role privileges
  include/util/tpriv.h
  source/common/src/systable.c
  source/common/src/tpriv.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/src/mndRole.c
  source/libs/parser/src/parAstCreater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(stream): optimize reader logic
  include/libs/new-stream/streamReader.h
  source/common/src/msg/streamMsg.c
  source/dnode/vnode/src/vnd/vnodeStream.c
  source/libs/new-stream/src/streamReader.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix(docs): update Windows Server and macOS version requirements in supported platforms
  docs/en/14-reference/07-supported.md
  docs/zh/14-reference/07-supported.md
Owners: @guanshengliang, @zitsen

feat(remove): add logging for data, config, and log file removal
  packaging/tools/remove.sh
Owners: @feici02

enh(stream): optimize reader logic
  source/dnode/vnode/src/vnd/vnodeStream.c
Owners: @guanshengliang, @hzcheng, @dapan1121
