Repository taosdata/TDengine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @taosdata/merge, @feici02, @guanshengliang, @zitsen, @hzcheng, @dapan1121

feat: add min max p10 metrics
  tools/tsbs-tdengine/resource/config/json/stbd1.json
  tools/tsbs-tdengine/resource/config/stbd1.yaml
  tools/tsbs-tdengine/src/doTest.py
  tools/tsbs-tdengine/src/outMetrics.py
Owners: @guanshengliang, @zitsen

fix: interval window with unsort data
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: [TD-38729] Forbid virtual table's timestamp precision different from origin table's timestamp precision.
  source/libs/parser/src/parTranslater.c
  test/cases/05-VirtualTables/test_vtable_alter.py
  test/cases/05-VirtualTables/test_vtable_create.py
  tests/army/vtable/test_vtable_alter.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge, @zitsen

fix: crash
  source/libs/parser/src/parTranslater.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: interval windows
  include/libs/nodes/querynodes.h
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: test case
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/executil.c
  source/libs/executor/src/timewindowoperator.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: interval window with unsort data
  source/libs/executor/inc/executorInt.h
  source/libs/executor/src/timewindowoperator.c
  source/libs/parser/src/parTranslater.c
  source/libs/planner/src/planOptimizer.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

chore: fix markdown lint issue
  docs/.markdownlint-cli2.jsonc
  docs/en/14-reference/05-connector/14-java.md
  docs/zh/14-reference/05-connector/14-java.mdx
Owners: @guanshengliang, @zitsen

enh: add scalar processing
  include/libs/executor/executor.h
  include/libs/qworker/qworker.h
  include/libs/scalar/scalar.h
  source/libs/executor/inc/querytask.h
  source/libs/executor/src/executil.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/projectoperator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/test/executorTests.cpp
  source/libs/executor/test/queryPlanTests.cpp
  source/libs/new-stream/src/streamTriggerTask.c
  source/libs/qworker/src/qwMsg.c
  source/libs/qworker/src/qworker.c
  source/libs/qworker/test/qworkerTests.cpp
  source/libs/scalar/inc/sclInt.h
  source/libs/scalar/src/filter.c
  source/libs/scalar/src/scalar.c
  source/libs/scalar/src/sclfunc.c
  source/libs/scalar/test/scalar/scalarTests.cpp
  source/libs/scheduler/src/schTask.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add ip white list
  include/common/tmsg.h
  include/libs/transport/trpc.h
  source/client/src/clientEnv.c
  source/common/src/msg/tmsg.c
  source/dnode/mgmt/node_mgmt/src/dmTransport.c
  source/libs/transport/inc/transComm.h
  source/libs/transport/src/trans.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add ip white list
  source/common/src/msg/tmsg.c
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

enh(explorer): support subpath reverse proxy (#3420)
  explorer/src/api/agent.ts
  explorer/src/api/backup.ts
  explorer/src/api/common.ts
  explorer/src/api/datain.ts
  explorer/src/api/explorer.ts
  explorer/src/api/licence.ts
  explorer/src/api/login.ts
  explorer/src/api/replication.ts
  explorer/src/router/index.ts
  explorer/src/utils/pathDetector.ts
  explorer/src/utils/update.ts
  explorer/src/views/2_dataIn/index.vue
  explorer/taos-ui/config/baseViteConfig.js
  explorer/taos-ui/config/baseViteConfig.ts
  explorer/taos-ui/vite.config.ts
  explorer/vite.config.ts
Owners: @taosdata/merge

Deployed a34c5f6715 to main with MkDocs 1.6.1 and mike 2.1.3
  main/case_list_docs/NameLimits/index.html
  main/objects.inv
  main/search/search_index.json
  main/sitemap.xml.gz
Owners: @taosdata/merge

enh: support stable table count scan
  source/dnode/vnode/src/meta/metaQuery.c
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/executor/src/scanoperator.c
  source/libs/planner/src/planOptimizer.c
  test/cases/20-Metadata/test_meta_sysdb.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: alter dnode countAlwaysReturnValue error
  source/common/src/tglobal.c
Owners: @guanshengliang, @hzcheng, @dapan1121

Deployed 261cea821a to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/sitemap.xml.gz
Owners: @taosdata/merge

fix: now must with taosc interlace=1 can work
  tools/tsbs-tdengine/resource/config/json/stbd1.json
Owners: @guanshengliang, @zitsen

fix: boundary issue
  source/libs/executor/src/timewindowoperator.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: boundary issue
  source/libs/executor/src/timewindowoperator.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: boundary issue
  source/libs/executor/src/timewindowoperator.c
  test/cases/13-TimeSeriesExt/03-TimeWindow/test_interval_bugfix.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: fix audit case (#33715)
  tests/system-test/0-others/taosd_audit.py
Owners: @guanshengliang, @zitsen

feat:register instance (#33666)
  include/client/taos.h
  include/common/systable.h
  include/common/tglobal.h
  include/common/tmsg.h
  include/common/tmsgdef.h
  include/util/tdef.h
  source/client/src/clientMain.c
  source/client/test/CMakeLists.txt
  source/client/test/instanceTest.cpp
  source/common/src/msg/tmsg.c
  source/common/src/systable.c
  source/common/src/tglobal.c
  source/dnode/mgmt/mgmt_mnode/src/mmHandle.c
  source/dnode/mnode/impl/inc/mndDef.h
  source/dnode/mnode/impl/inc/mndInstance.h
  source/dnode/mnode/impl/src/mndInstance.c
  source/dnode/mnode/impl/src/mndMain.c
  source/dnode/mnode/impl/src/mndShow.c
  source/dnode/mnode/sdb/inc/sdb.h
  source/dnode/mnode/sdb/src/sdbHash.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/parser/inc/sql.y
  source/libs/parser/src/parAstParser.c
  source/libs/parser/src/parTokenizer.c
  source/libs/parser/src/parTranslater.c
  test/cases/21-MetaData/test_meta_sysdb.py
  test/cases/82-UnitTest/test.sh
  test/cases/uncatalog/develop-test/2-query/test_table_count_scan.py
  test/cases/uncatalog/system-test/0-others/test_information_schema.py
  test/cases/uncatalog/system-test/2-query/test_union.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

Deployed 25a9185ad9 to 3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.0/case_list_docs/DataTypes/index.html
  3.0/case_list_docs/StreamProcessing/TriggerMode/index.html
  3.0/case_list_docs/TimeSeriesExt/TimeWindow/index.html
  3.0/objects.inv
  3.0/search/search_index.json
Owners: @taosdata/merge

feat: add scene D2
  tools/tsbs-tdengine/resource/config/cases_delay.yaml
  tools/tsbs-tdengine/resource/config/json/stbd2.json
  tools/tsbs-tdengine/resource/config/stbd2.sql
  tools/tsbs-tdengine/resource/config/stbd2.yaml
  tools/tsbs-tdengine/src/cmdLine.py
  tools/tsbs-tdengine/src/outMetrics.py
Owners: @guanshengliang, @zitsen

add ip block list
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

add ip block list
  source/libs/transport/src/transSvr.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: float with round(2) trunk
  tools/tsbs-tdengine/resource/config/cases_delay.yaml
  tools/tsbs-tdengine/src/doTest.py
Owners: @guanshengliang, @zitsen

fix(stream): fix state window extend option in history calculation
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_extend.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: correct formatting and wording in documentation for correlation and stream SQL
  docs/zh/06-advanced/06-TDgpt/07-correlation.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

fix: update markdownlint configuration to disable ul-style prefix enforcement
  docs/.markdownlint-cli2.jsonc
  docs/en/06-advanced/01-subscription/02-native.md
  docs/en/06-advanced/01-subscription/03-mqtt.md
  docs/en/07-develop/07-tmq.md
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
Owners: @guanshengliang, @zitsen

fix: correct formatting and punctuation in error code documentation
  docs/.markdownlint-cli2.jsonc
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen

fix(docs): correct formatting and wording in documentation (#33749)
  docs/.markdownlint-cli2.jsonc
  docs/en/06-advanced/01-subscription/02-native.md
  docs/en/06-advanced/01-subscription/03-mqtt.md
  docs/en/07-develop/07-tmq.md
  docs/en/14-reference/09-error-code.md
  docs/zh/06-advanced/06-TDgpt/07-correlation.md
  docs/zh/14-reference/03-taos-sql/24-distinguished.md
  docs/zh/14-reference/03-taos-sql/41-stream.md
Owners: @guanshengliang, @zitsen

fix(explorer): extract/filter input list errors (#3421)
  crates/source-kafka/src/sample.rs
  explorer/taos-ui/components/dataIn/components/commonTransformer/extractSplit.vue
  explorer/taos-ui/components/dataIn/components/commonTransformer/filterExpression.vue
  explorer/taos-ui/components/dataIn/components/commonTransformer/index.vue
  explorer/taos-ui/components/dataIn/config/en/10-kafka.ts
  explorer/taos-ui/components/dataIn/config/zh/10-kafka.ts
Owners: @taosdata/merge

test(perf): use tempdir for csv write test (#3418)
  tests/performance/csv2td.rs
Owners: @guanshengliang, @zitsen

fix: remove trailing whitespace in error code documentation
  docs/en/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen

feat: [TS-7132] Optimize vtable window query.
  include/common/tmsg.h
  include/libs/nodes/plannodes.h
  include/libs/nodes/querynodes.h
  include/util/taoserror.h
  source/common/src/msg/tmsg.c
  source/libs/command/inc/commandInt.h
  source/libs/command/src/explain.c
  source/libs/executor/inc/dynqueryctrl.h
  source/libs/executor/inc/executorInt.h
  source/libs/executor/inc/operator.h
  source/libs/executor/src/dynqueryctrloperator.c
  source/libs/executor/src/eventwindowoperator.c
  source/libs/executor/src/exchangeoperator.c
  source/libs/executor/src/executor.c
  source/libs/executor/src/executorInt.c
  source/libs/executor/src/externalwindowoperator.c
  source/libs/executor/src/mergeoperator.c
  source/libs/executor/src/operator.c
  source/libs/executor/src/scanoperator.c
  source/libs/executor/src/timewindowoperator.c
  source/libs/executor/src/virtualtablescanoperator.c
  source/libs/executor/test/queryPlanTests.cpp
  source/libs/nodes/src/nodesCloneFuncs.c
  source/libs/nodes/src/nodesCodeFuncs.c
  source/libs/nodes/src/nodesMsgFuncs.c
  source/libs/nodes/src/nodesUtilFuncs.c
  source/libs/planner/src/planOptimizer.c
  source/libs/planner/src/planPhysiCreater.c
  source/libs/planner/src/planSpliter.c
  source/util/src/terror.c
Owners: @guanshengliang, @hzcheng, @dapan1121

fix: correct formatting and punctuation in error code documentation (#33750)
  docs/.markdownlint-cli2.jsonc
  docs/en/14-reference/09-error-code.md
  docs/zh/14-reference/09-error-code.md
Owners: @guanshengliang, @zitsen

fix(stream): fix state window extend option in history calculation (#33742)
  source/libs/new-stream/inc/streamTriggerTask.h
  source/libs/new-stream/src/streamTriggerTask.c
  test/cases/13-TimeSeriesExt/04-StateWindow/test_state_window_extend.py
Owners: @guanshengliang, @hzcheng, @dapan1121, @taosdata/merge

fix: simplify directory creation for scan result files
  test/ci/scan_file_path.py
Owners: @taosdata/merge

add xnoded
  .github/workflows/tdengine-release-build.yml
  build.bat
  build.sh
  cmake/define.cmake
  source/dnode/xnode/src/xnode.c
  tools/CMakeLists.txt
  tools/xnoded/CMakeLists.txt
  tools/xnoded/Cargo.lock
  tools/xnoded/Cargo.toml
  tools/xnoded/src/main.rs
Owners: @feici02, @taosdata/merge, @guanshengliang, @hzcheng, @dapan1121, @zitsen

.github/CODEOWNERS:

# reference
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# merge team
# @guanshengliang Shengliang Guan
# @zitsen         Linhe Huo
# @wingwing2005   Ya Qiang Li
# @feici02        WANG Xu
# @hzcheng        Hongze Cheng
# @dapan1121      Pan Wei
# @sheyanjie-qq   She Yanjie
# @pigzhou        ZacharyZhou

*                 @taosdata/merge
/.github/         @feici02
/cmake/           @guanshengliang
/contrib/         @guanshengliang
/deps/            @guanshengliang
/docs/            @guanshengliang @zitsen
/examples/        @guanshengliang @zitsen
/include/         @guanshengliang @hzcheng @dapan1121
/packaging/       @feici02
/source/          @guanshengliang @hzcheng @dapan1121
/tests/           @guanshengliang @zitsen
/tools/           @guanshengliang @zitsen
/utils/           @guanshengliang
