Repository taosdata/TDengine, pull requests merged in 2021-08, with the labels that each got.

#7114 [TD-5702]<fix>: taosdemo remove memory operation.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7119 [TD-5712]<fix>: taosdump timestamp overflow.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#7131 [TD-5733]add time out for crash_gen
  Jenkinsfile
Labels: CI

#7129 [TD-5662]<test>remove now and duplicate sim case
  tests/script/general/field/2.sim
  tests/script/general/field/3.sim
  tests/script/general/field/4.sim
  tests/script/general/field/5.sim
  tests/script/general/field/6.sim
  tests/script/general/field/bigint.sim
  tests/script/general/field/binary.sim
  tests/script/general/field/bool.sim
  tests/script/general/field/double.sim
  tests/script/general/field/float.sim
  tests/script/general/field/int.sim
  tests/script/general/field/single.sim
  tests/script/general/field/smallint.sim
  tests/script/general/field/tinyint.sim
  tests/script/general/field/unsigined_bigint.sim
  tests/script/general/rm_bak/tag/3.sim
  tests/script/general/rm_bak/tag/4.sim
  tests/script/general/rm_bak/tag/5.sim
  tests/script/general/rm_bak/tag/6.sim
  tests/script/general/rm_bak/tag/add.sim
  tests/script/general/rm_bak/tag/bigint.sim
  tests/script/general/rm_bak/tag/binary.sim
  tests/script/general/rm_bak/tag/binary_binary.sim
  tests/script/general/rm_bak/tag/bool.sim
  tests/script/general/rm_bak/tag/bool_binary.sim
  tests/script/general/rm_bak/tag/bool_int.sim
  tests/script/general/rm_bak/tag/change.sim
  tests/script/general/rm_bak/tag/column.sim
  tests/script/general/rm_bak/tag/commit.sim
  tests/script/general/rm_bak/tag/create.sim
  tests/script/general/rm_bak/tag/delete.sim
  tests/script/general/rm_bak/tag/double.sim
  tests/script/general/rm_bak/tag/filter.sim
  tests/script/general/rm_bak/tag/float.sim
  tests/script/general/rm_bak/tag/int.sim
  tests/script/general/rm_bak/tag/int_binary.sim
  tests/script/general/rm_bak/tag/int_float.sim
  tests/script/general/rm_bak/tag/set.sim
  tests/script/general/rm_bak/tag/smallint.sim
  tests/script/general/rm_bak/tag/testSuite.sim
  tests/script/general/rm_bak/tag/tinyint.sim
  tests/script/general/stream/agg_stream.sim
  tests/script/general/stream/column_stream.sim
  tests/script/general/stream/metrics_replica1_vnoden.sim
  tests/script/general/stream/restart_stream.sim
  tests/script/general/stream/stream_3.sim
  tests/script/general/stream/stream_restart.sim
  tests/script/general/stream/table_del.sim
  tests/script/general/stream/table_replica1_vnoden.sim
  tests/script/general/table/fill.sim
  tests/script/jenkins/basic.txt
Labels: CI

#7125 [TD-5733]<CI>add timeout for crash_gen
  Jenkinsfile
Labels: CI

#7117 [TD-5712]<fix>: taosdump timestamp overflow.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#7147 [TD-5725]<fix>: taosdump --help, regarding acceptable timestamp.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#7183 [TD-5811]<fix>: taosdemo use us to count delay.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7184 [TD-5811]<fix>: taosdemo use us to count delay.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7191 Hotfix/sangshuduo/td 5725 taosdump help timestamp for master
  src/kit/taosdump/taosdump.c
Labels: taosdump

#7192 Hotfix/sangshuduo/td 5725 taosdump help timestamp for 2.0
  src/kit/taosdump/taosdump.c
Labels: taosdump

#7189 [TD-5773]<CI>add some arm env in Drone
  .drone.yml
Labels: CI

#7182 [TD-5811]<fix>: taosdemo use us to count delay.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7204 Hotfix/sangshuduo/td 5811 taosdemo delay us for master
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7190 Hotfix/sangshuduo/td 5725 taosdump help timestamp
  src/kit/taosdump/taosdump.c
Labels: taosdump

#7079 [TD-3048]<feature>: support lines/stream/query_a/stop_query/ and so on.
  src/connector/python/README.md
  src/connector/python/examples/bind-multi.py
  src/connector/python/examples/bind-row.py
  src/connector/python/examples/insert-lines.py
  src/connector/python/examples/pep-249.py
  src/connector/python/examples/query-async.py
  src/connector/python/examples/query-objectively.py
  src/connector/python/examples/subscribe-async.py
  src/connector/python/examples/subscribe-sync.py
  src/connector/python/pyproject.toml
  src/connector/python/setup.py
  src/connector/python/taos/__init__.py
  src/connector/python/taos/bind.py
  src/connector/python/taos/cinterface.py
  src/connector/python/taos/connection.py
  src/connector/python/taos/constants.py
  src/connector/python/taos/cursor.py
  src/connector/python/taos/dbapi.py
  src/connector/python/taos/error.py
  src/connector/python/taos/field.py
  src/connector/python/taos/precision.py
  src/connector/python/taos/result.py
  src/connector/python/taos/statement.py
  src/connector/python/taos/stream.py
  src/connector/python/taos/subscription.py
  src/connector/python/taos/timestamp.py
  src/connector/python/tests/test_ctaos.py
  src/connector/python/tests/test_info.py
  src/connector/python/tests/test_lines.py
  src/connector/python/tests/test_query.py
  src/connector/python/tests/test_query_a.py
  src/connector/python/tests/test_stmt.py
  src/connector/python/tests/test_stream.py
  src/connector/python/tests/test_subscribe.py
  tests/pytest/insert/line_insert.py
  tests/pytest/insert/schemalessInsert.py
  tests/pytest/util/sub.py
Labels: python

#7234 [TD-5872]<fix>: taosdemo stmt performance.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7221 [TD-5773]<CI>add some arm env in Drone
  .drone.yml
Labels: CI

#7219 [TD-5773]<CI>add some arm env in Drone
  .drone.yml
Labels: CI

#7237 [TD-5872]<fix>: taosdemo stmt performance.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7236 [TD-5872]<fix>: taosdemo stmt performance.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7266 test[ci skip]
  Jenkinsfile
Labels: CI

#7264 Test/test ci skip 2.0 [ci skip]
  .drone.yml
  Jenkinsfile
Labels: CI

#7256 [TD-5909]test skip ci [ci skip]
  .drone.yml
  Jenkinsfile
Labels: CI

#7287 Test/test ci skip 2.0[ci skip]
  Jenkinsfile
  tests/pytest/crash_gen/valgrind_taos.supp
Labels: CI

#7303 add some jenkins node[ci skip]
  Jenkinsfile
  tests/pytest/crash_gen/valgrind_taos.supp
Labels: CI

#7286 [TD-5907]add some nodes[ci skip]
  Jenkinsfile
  tests/pytest/crash_gen/valgrind_taos.supp
Labels: CI

#7314 [TD-6013]<fix>: taosdemo buffer overflow.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7398 [TD-6035]add connector test in CI
  Jenkinsfile
  tests/gotest/case001/case001.sh
  tests/test-all.sh
Labels: CI

#7394 [TD-6035]add connector test in CI
  Jenkinsfile
  tests/gotest/case001/case001.sh
  tests/pytest/fulltest.sh
  tests/test-all.sh
Labels: CI

#7409 [TD-6101]reduce python case execution time
  tests/pytest/fulltest.sh
  tests/pytest/test.py
  tests/pytest/util/dnodes.py
  tests/script/jenkins/basic.txt
  tests/test-all.sh
Labels: CI

#7399 reduce python case execution time
  tests/pytest/client/client.py
  tests/pytest/fulltest.sh
  tests/pytest/test.py
  tests/pytest/util/dnodes.py
  tests/script/jenkins/basic.txt
  tests/test-all.sh
Labels: CI

#7468 [TD-6219]<fix>: remove few taosdemo macros.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7469 [TD-6219]<fix>: remove few taosdemo macros.
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7680 Hotfix/sangshuduo/td 6294 taosdemo long arg
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7679 Hotfix/sangshuduo/td 5702 taosdemo remove memop
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7682 Hotfix/sangshuduo/td 5702 taosdemo remove memop for master
  packaging/tools/make_install.sh
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7681 Hotfix/sangshuduo/td 6294 taosdemo long arg for master
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7722 Hotfix/sangshuduo/td 6294 taosdemo long arg
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo
