Repository taosdata/TDengine, pull requests merged in 2021-09, with the labels that each got.

#7881 Hotfix/sangshuduo/td 3197 fix taosdemo coverity scan
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7882 Hotfix/sangshuduo/td 3197 taosdemo coverity scan for master
  src/kit/taosdemo/taosdemo.c
Labels: taosdemo

#7896 [TD-5757]<fix>: taosdump precision.
  src/kit/taosdump/taosdump.c
  tests/pytest/fulltest.sh
  tests/pytest/tools/taosdumpTestNanoSupport.py
Labels: taosdump

#7994 Hotfix/sangshuduo/td 6479 taosdump db seq
  src/kit/taosdump/taosdump.c
Labels: taosdump

#8023 [TD-10416]<fix>: taosdump if no any arguments given.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#8022 [TD-10416]<fix>: taosdump if no any arguments given.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#8046 [TD-7790]<fix>: taosdump stb dump memory leak.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#8047 [TD-7790]<fix>: taosdump stb dump memory leak.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#8049 [TD-6473]<fix>: taosdump verify input arguments.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#8048 [TD-6473]<fix>: taosdump verify input arguments.
  src/kit/taosdump/taosdump.c
Labels: taosdump

#8064 Hotfix/sangshuduo/td 7790 taosdump stb dump
  src/kit/taosdump/taosdump.c
Labels: taosdump

#8057 Hotfix/sangshuduo/td 6280 taosdump p for develop
  src/kit/taosdump/taosdump.c
Labels: taosdump

#7861 [TD-6591]test framework on windows
  Jenkinsfile
  tests/pytest/fulltest.bat
  tests/pytest/insert/binary.py
  tests/pytest/insert/nchar.py
  tests/pytest/query/queryNormal.py
  tests/pytest/test-all.bat
  tests/pytest/test.py
  tests/pytest/update/merge_commit_data2_update0.py
  tests/pytest/util/cases.py
  tests/pytest/util/dnodes.py
Labels: CI

#7934 [TD-6591]test framework on windows
  Jenkinsfile
  tests/pytest/fulltest.bat
  tests/pytest/insert/binary.py
  tests/pytest/insert/nchar.py
  tests/pytest/query/queryNormal.py
  tests/pytest/test-all.bat
  tests/pytest/test.py
  tests/pytest/update/merge_commit_data2_update0.py
  tests/pytest/util/cases.py
  tests/pytest/util/dnodes.py
Labels: CI
